@import '../../../../variables';
@import '../../../../mixins';

#admin-top-leads-search {
  max-width: 552px;
  height: 48px;
  width: 100%;
  border-radius: 2px;
  background-color: $pp-white-alpha-01;
  display: inline-block;
  margin: 8px 8px 8px 190px;

  .search-label {
    padding: 12px 14px;
    float:left;

    i {
      height: 24px;
      line-height: 24px;
      color: $pp-white;
    }
  }

  #search-input {
    padding: 14px;
    width: 100%;
    max-width: 470px;
    border-bottom: 0;
    height: auto;
    float: left;
    margin: 0px;
    @include font($pp-white, 1.54, 13px);

    &:focus {
      border-bottom: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $pp-white;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $pp-white;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $pp-white;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $pp-white;
    }
  }
  
}