<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/console/messaging/call";
</style>

<template>
    <div class="call">
        <div class="holder">
            <div class="call-container">
                <div class="content">
                    <div class="call-end" v-if="!$parent.$parent.onCall">
                        <div class="phone circle left">
                            <i class="material-icons">&#xE0B1;</i>
                        </div>
                        <div class="end-info left-align">
                            <p class="end-host">Call with {{ fullName }} ended</p>
                            <p class="end-time">Duration: {{ callDuration }}</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="call-start" v-else>
                        <div class="lead-name">{{ leadInitials }}</div>
                        <p class="calling">
                            {{ callingText }}
                        </p>
                        <p class="timer">{{ timer }}</p>
                        <div class="controls">
                            <div class="mic circle" @click="toggleMic">
                                <i v-if="mute" class="material-icons">&#xE02B;</i>
                                <i v-else class="material-icons">&#xE029;</i>
                            </div>
                            <div class="phone circle" @click="finishCall">
                                <i class="material-icons">&#xE0B1;</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="call-notes left">
            <p>Call Notes</p>
            <textarea placeholder="Type Note Here" v-model="notes"></textarea>
            <button :disabled="!isEmptyNotes()"
                    class="waves-effect waves-light btn right"
                    v-if="!$parent.$parent.onCall"
                    @click="save">Save</button>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import moment from 'moment';
    import Note from '../../../objects/note';

    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      startTime: (number|null),
         *      endTime: (number|null),
         *      timer: string,
         *      notes: string,
         *      intervalActivity: (function|null),
         *      mute: boolean,
         *      callDuration: string,
         *      status: (string|null),
         * }} - Component Data
         */
        data() {
            return {
                // Milliseconds timestamp
                startTime: null,
                // Milliseconds timestamp
                endTime: null,
                // Calculated timer string
                timer: '',
                notes: '',
                intervalActivity: null,
                mute: false,
                callDuration: '00:00',
                status: null,
            };
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['activeLeadId'],
        /**
         * Computed properties.
         * @link https://vuejs.org/v2/guide/computed.html
         */
        computed: {
            /**
             * Get lead full name.
             *
             * @returns {string} - FirstName + LastName of active lead
             */
            fullName() {
                const lead = this.$parent.$parent.leads.getLead(this.activeLeadId);

                return `${lead.firstName } ${ lead.lastName}`;
            },
            /**
             * Get lead initials.
             *
             * @returns {string} Lead initials
             */
            leadInitials() {
                const lead = this.$parent.$parent.leads.getLead(this.activeLeadId);

                if (lead.firstName && lead.lastName) {
                    const initials = lead.firstName[0] + lead.lastName[0];

                    return initials.toUpperCase();
                }

                return '';
            },
            /**
             * Return call text.
             *
             * @returns {string} call header text
             */
            callingText() {
                return this.status === 'started' ? this.fullName : `Calling ${ this.fullName }...`;
            },
        },
        /**
         * Watchers.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            /**
             * Set callNotesFilled.
             *
             * @returns {void}
             */
            notes() {
                this.$parent.$parent.callNotesFilled = this.isEmptyNotes();
            },
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         *
         * @returns {void}
         */
        mounted() {
            this.updateTimer();
        },
        /**
         * Before destroy hook (unmounted).
         * @link https://vuejs.org/v2/api/#beforeDestroy
         *
         * @returns {void}
         */
        beforeDestroy() {
            clearInterval(this.intervalActivity);
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Check that notes filled or not.
             *
             * @returns {boolean} true if notes not empty
             */
            isEmptyNotes() {
                return !!this.notes.replace(/\s+/g, '');
            },
            /**
             * Mute microphone.
             *
             * @returns {void}
             */
            toggleMic() {
                this.mute = !this.mute;
                twilioConnection.mute(this.mute);
            },
            /**
             * Finish call send notification.
             *
             * @returns {void}
             */
            finishCall() {
                if (!this.$parent.$parent.onCall) {
                    return;
                }

                Twilio.Device.disconnectAll();

                clearInterval(this.intervalActivity);

                this.$parent.$parent.onCall = false;

                this.endTime = moment().format('YYYY-MM-DD HH:mm:ss');
                this.callDuration = this.calculateCallDuration();
            },
            /**
             * Recalc timer string.
             *
             * @returns {void} true if start time is null
             */
            updateTimer() {
                if (this.startTime === null) {
                    this.timer = '00:00';

                    return;
                }

                const diffDate = moment().diff(this.startTime);

                this.timer = moment(diffDate).format('mm:ss');
            },
            /**
             * Start timer.
             *
             * @returns {void}
             */
            startTimer() {
                clearInterval(this.intervalActivity);

                this.intervalActivity = setInterval(() => {
                    this.updateTimer();
                }, 1000);

                this.status = 'started';
                this.startTime = moment().format('YYYY-MM-DD HH:mm:ss');
            },
            /**
             * Calculate call duration.
             *
             * @returns {string} timer value
             */
            calculateCallDuration() {
                if (this.startTime === null) {
                    return '0secs';
                }

                const diffDate = moment(this.endTime).diff(this.startTime);

                return `${moment(diffDate).format('mm') }min ${ moment(diffDate).format('ss') }secs`;
            },
            /**
             * Save call.
             *
             * @returns {void}
             */
            save() {
                this.$parent.$parent.$refs.callNotesConfirm.close();
                this.$parent.$parent.callNotesFilled = false;
                this.$parent.toggleTab('call');
                this.$parent.toggleTab('messages');

                const note = new Note();

                note.addDataRecursively({
                    type: 'Call note',
                    note: this.notes,
                    conciergeId: this.$root.id,
                    leadId: this.activeLeadId,
                    createdAt: null,
                });
                note.createdAt = moment().format('MMM D, hh:mm A');

                this.$parent.$parent.leads.leads[this.activeLeadId].notes.addNote(note);
                this.$parent.$parent.leads.leads[this.activeLeadId].notes.updateCollection();
                this.$parent.$parent.$refs.leadInfo.$refs.notes.refreshNotes();

                this.$socket.emit(
                    'messagingCallNotes',
                    this.$root.id,
                    this.$root.token,
                    this.activeLeadId,
                    this.$parent.$parent.currentCall.id,
                    this.notes
                );
                this.notes = '';
                this.$parent.$parent.$refs.chat.$refs.messages.chatAutoScroll();
            },
            /**
             * Reset call data.
             *
             * @returns {void}
             */
            resetCallData() {
                this.status = null;
                this.timer = '00:00';
            },
        },
    };
</script>