<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/console/messaging/channels";
</style>

<template>
    <div id="channels" class="channels col l3 white">
        <ul>
            <li id="paused-status" style="display: none">
                <div class="paused-status-desc">
                    Your status is paused<br>
                    <span>Return to active to receive leads</span>
                </div>
                <div class="paused-status-button">
                    <a href="#" class="waves-effect waves-light btn" @click.prevent="activateConcierge()">
                        GO ACTIVE
                    </a>
                </div>
            </li>
            <router-link tag="li"
                         :to="{name: 'chat', params: {id: lead.id}}"
                         v-for="lead in collection.computedList"
                         :class="{active: lead.id == activeLeadId}">
                <channel-lead :lead="lead"
                              @tag="tag($event)"
                              @hide="$refs.tag.hide()"
                              :ref="'channelLead-' + lead.id"></channel-lead>
            </router-link>
        </ul>
        <tooltip :message="leadTag" :style="styles" ref="tag"></tooltip>
    </div>
</template>

<script type="text/ecmascript-6">
    import IScroll from 'iscroll';
    import iscroll from '../../../mixins/iscroll';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [iscroll],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     scroll: null,
         *     leadTag: string,
         *     styles: {
         *         top: number,
         *         left: number
         *     }
         * }} - Component Data
         */
        data() {
            return {
                scroll: null,
                leadTag: '',
                styles: {
                    top: 0,
                    left: 0,
                },
            };
        },
        /**
         * Watch
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            '$route'() {
                this.activate();
            },
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['collection', 'activeLeadId'],
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Activate concierge.
             *
             * @returns {void}
             */
            activateConcierge() {
                this.$root.$emit('conciergeIsPaused', false);
            },
            /**
             * Mount IScroll.
             *
             * @returns {void}
             */
            mountIScroll() {
                this.scroll = new IScroll('#channels', {
                    scrollbars: true,
                    mouseWheel: true,
                    interactiveScrollbars: true,
                    shrinkScrollbars: 'scale',
                    fadeScrollbars: true,
                });
            },
            /**
             * Show lead tag.
             *
             * @param {MouseEvent} event - Click event
             *
             * @returns {void}
             */
            tag(event) {
                const yFactor = 40;
                const xFactor = 15;

                this.leadTag = event.leadTag;
                this.$refs.tag.show(false);
                this.styles.top = `${event.$event.clientY - yFactor }px`;
                this.styles.left = `${event.$event.clientX - xFactor }px`;
            },
            /**
             * Activate channel with lead.
             *
             * @returns {void}
             */
            activate() {
                if (this.$parent.onCall) {
                    return;
                }

                if (this.$parent.callNotesFilled) {
                    this.$parent.$refs.callNotesConfirm.open();
                    this.$parent.pathTo = '';

                    return;
                }

                let leadId = this.$route.params.id;

                if (!leadId) {
                    leadId = this.$parent.activeLeadId;
                }

                if (this.$parent.$refs.chat.tabs.call) {
                    this.$parent.$refs.chat.$refs.chatTabs.toggleMessages();
                }

                this.$parent.$refs.chat.hideEmailOriginal();
                this.$parent.$refs.chat.$refs.scripts.$refs.messageInput.clearInput();

                this.$parent.activeLeadId = leadId;

                if (this.$parent.shouldBeUnassigned) {
                    this.$socket.emit('leadUnassignRep', this.$root.id, this.$root.token, this.$parent.shouldBeUnassigned);
                    this.$parent.removeLeadFromConsole(this.$parent.shouldBeUnassigned);
                    this.$parent.shouldBeUnassigned = null;
                }

                if (this.$parent.$refs.chat.tabs.messages) {
                    this.readActivities('messages', leadId);
                    this.$socket.emit('messageReadAll', this.$root.id, this.$root.token, leadId);
                } else if (this.$parent.$refs.chat.tabs.emails) {
                    this.readActivities('emails', leadId);
                    this.$socket.emit('emailReadAll', this.$root.id, this.$root.token, leadId);
                }

                setTimeout(() => {
                    this.$parent.$refs.chat.$refs.messages.refreshIScroll();
                    this.$parent.$refs.chat.$refs.messages.scrollDown();
                }, 200);
            },
            /**
             * Read activities of activated lead
             *
             * @param {String} activities - type of activity
             * @param {String} leadId - lead id
             *
             * @returns {void}
             */
            readActivities(activities, leadId) {
                const leadActivities = this.$parent.leads.leads[leadId][activities];

                for (const index in leadActivities[activities]) {
                    leadActivities[activities][index].isRead = true;
                }

                leadActivities.unread = 0;
                leadActivities.unreadMessagesIds = [];
                leadActivities.updateCollection();
            },
        },
    };
</script>
