<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/console/messaging/channel.lead";
</style>

<template>
    <div class="card horizontal" :class="classByTag">
            <span class="mainSpan" @mousemove="$emit('tag', { $event: $event, leadTag: lead.tag })"
                  @mouseout="$emit('hide')">
                <span class="iconClass" v-if="lead.countUnreadItems()" v-text="lead.countUnreadItems()"></span>
                <i class="material-icons" v-html="icon"></i>
            </span>
        <div class="card-stacked">
            <p class="title grey-text text-darken-4" v-text="leadName"></p>
            <p class="truncate" v-text="leadMessage"></p>
        </div>
        <p class="time" v-if="lead.showTimer && !this.isAdmin()">{{ lead.timeLeftForResponse }}</p>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['lead'],
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         *
         * @returns {void}
         */
        mounted() {
            this.updateLeadClassAndTag();
        },
        /**
         * Updated hook.
         *
         * @link https://vuejs.org/v2/api/#updated
         *
         * @returns {void}
         */
        updated() {
            this.updateLeadClassAndTag();
        },
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      icon: string,
         *      classByTag: string
         * }} - Component Data
         */
        data() {
            return {
                icon: '&#xE645',
                classByTag: 'ongoingChat',
            };
        },
        /**
         * Computed properties & methods.
         * @link https://vuejs.org/v2/api/#computed
         */
        computed: {
            /**
             * Get full name of lead with space.
             *
             * @returns {string} - full name
             */
            leadName() {
                return `${this.lead.firstName} ${this.lead.lastName}`;
            },
            /**
             * Get text of last message/email.
             *
             * @returns {string} - text
             */
            leadMessage() {
                return this.stripTags(this.lead.lastMessage);
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Update lead class name and tag
             *
             * @returns {void}
             */
            updateLeadClassAndTag() {
                this.classByTag = this.lead.tag.replace(' ', '-').toLowerCase();
                this.icon = this.getLeadIcon(this.lead.icon);
            },
            /**
             * Get icon for current lead.
             *
             * @param {string} icon - icon name
             *
             * @returns {string} - icon html code
             */
            getLeadIcon(icon) {
                switch (icon) {
                    case 'email':
                        return '&#xE0BE';
                    case 'sms':
                        return '&#xE8AF';
                    case 'call':
                        return '&#xE0B0';
                    case 'archive':
                        return '&#xE149';
                    case 'auto':
                        return '&#xE863';
                    default:
                        return '&#xE645';
                }
            },
            /**
             * Check if Rep is admin
             *
             * @returns {boolean} - True if current Rep is admin
             */
            isAdmin() {
                return this.$root.role === this.$role.ADMIN;
            },
            /**
             * Strip HTML and PHP tags from a string.
             *
             * @param {String} str - Value for strip.
             *
             * @returns {string} - Striped value.
             */
            stripTags(str) {
                return typeof str == 'undefined' ? '' : str.replace(/<\/?[^>]+>/gi, '');
            },
        },
    };
</script>
