<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/console/messaging/channel";
</style>

<template>
    <div id="channel" class="channel col l3 white">
        <ul>
            <li class="active">
                <channel-lead :lead="lead"
                              @tag="tag($event)"
                              @hide="$refs.tag.hide()"
                              :ref="'channelLead-' + lead.id"></channel-lead>
            </li>
        </ul>
        <tooltip :message="leadTag" :style="styles" ref="tag"></tooltip>
        <lead-history v-if="false"></lead-history>
    </div>
</template>

<script type="text/ecmascript-6">
    import IScroll from 'iscroll';
    import iscroll from '../../../mixins/iscroll';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [iscroll],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     scroll: null,
         *     styles: {
         *         top: number,
         *         left: number
         *     }
         * }} - Component Data
         */
        data() {
            return {
                scroll: null,
                leadTag: '',
                styles: {
                    top: 0,
                    left: 0,
                },
            };
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['lead', 'activeLeadId'],
        /**
         * Updated hook.
         *
         * @link https://vuejs.org/v2/api/#updated
         *
         * @returns {void}
         */
        updated() {
            if (this.lead.messages.unread) {
                this.readMessages();
            }
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Mount IScroll.
             *
             * @returns {void}
             */
            mountIScroll() {
                this.scroll = new IScroll('#channel', {
                    scrollbars: true,
                    mouseWheel: true,
                    interactiveScrollbars: true,
                    shrinkScrollbars: 'scale',
                    fadeScrollbars: true,
                });
            },
            /**
             * Show lead tag.
             *
             * @param {MouseEvent} event - Click event
             *
             * @returns {void}
             */
            tag(event) {
                const yFactor = 40;
                const xFactor = 15;

                this.leadTag = event.leadTag;

                this.$refs.tag.show(false);

                this.styles.top = `${event.$event.clientY - yFactor }px`;
                this.styles.left = `${event.$event.clientX - xFactor }px`;
            },
            /**
             * Read all sms messages
             *
             * @returns {void}
             */
            readMessages() {
                this.lead.messages.unread = 0;
                this.lead.messages.unreadMessagesIds = [];
                this.lead.messages.updateCollection();
                this.$socket.emit('messageReadAll', this.$root.id, this.$root.token, this.lead.id);
            },
        },
    };
</script>
