<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/console/messaging/chat";
</style>

<template>
    <div class="chat col l6">
        <div class="chat-container row">
            <div class="messaging col l12">
                <div class="navs row col l12 white">
                    <div class="left">
                        <ul>
                            <li class="grey-text text-darken-4">{{ leadFullName }}</li>
                            <li v-if="leadLocation">{{ leadLocation }}</li>
                            <li>{{ leadLocalTime }}</li>
                        </ul>
                    </div>
                    <button type="button"
                            class="btn-flat"
                            v-show="!shown.email && canViewOriginalEmail()"
                            @click="showEmailOriginal">
                        view email
                    </button>
                    <button type="button"
                            class="btn-flat"
                            v-show="shown.email && canViewOriginalEmail()"
                            @click="hideEmailOriginal">
                        hide email
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="messaging-container">
                    <chat-tabs ref="chatTabs"></chat-tabs>
                    <messages v-show="!shown.email && !tabs.call" ref="messages"
                              :activeLeadId="activeLeadId"
                              :lead="activeLead"></messages>
                    <scripts v-show="!shown.email && !tabs.call"
                             ref="scripts"
                             :activeLeadId="activeLeadId"
                             :activeLead="activeLead"></scripts>
                    <email-original v-show="shown.email"
                                    ref="emailOriginal"
                                    :emails="originalEmailContents"></email-original>
                    <call v-if="tabs.call" ref="call" :activeLeadId="activeLeadId"></call>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import Lead from '../../../objects/lead';

    export default {

        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     shown: {
         *         email: boolean,
          *        scripts: boolean
         *     },
         *     tabs: {
         *         messages: boolean,
         *         emails: boolean,
         *         call: boolean
         *     },
         *     originalEmailContents: Array,
         *     showUnreadEmailNotification: boolean,
         *     showUnreadMessageNotification: boolean,
         *     lead: object
         * }} - Component Data
         */
        data() {
            return {
                shown: {
                    email: false,
                    scripts: false,
                },
                tabs: {
                    messages: true,
                    emails: false,
                    call: false,
                },
                originalEmailContents: [],
                showUnreadEmailNotification: false,
                showUnreadMessageNotification: false,
                lead: new Lead(),
            };
        },
        /**
         * Watch.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            /**
             * Refresh styles for #messages.
             *
             * @returns {void}
             */
            'shown.scripts'() {
                this.$refs.messages.refreshStyles();
            },
            'tabs.emails'(val) {
                if (val && this.$parent.leads.leads[this.activeLeadId].emails.unread) {
                    this.emailsReadFromTab();
                }
            },
            'tabs.messages'(val) {
                if (val && this.$parent.leads.leads[this.activeLeadId].messages.unread) {
                    this.messagesReadFromTab();
                }
            },
            /**
             * Fetch active lead data.
             *
             * @returns {void}
             */
            activeLeadId: {
                handler() {
                    this.lead = this.$parent.leads.getLead(this.activeLeadId);
                },
            },
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['activeLead', 'activeLeadId', 'concierge'],
        /**
         * Computed properties.
         * @link https://vuejs.org/v2/guide/computed.html
         */
        computed: {
            /**
             * Return local time
             *
             * @returns {string} Lead local time
             */
            leadLocalTime() {
                // TODO: set appropriate lead timezone offset
                const date = new Date();
                const minute = 60000;
                const utc = date.getTime() + date.getTimezoneOffset() * minute;
                const hour = 3600000;
                const nd = new Date(utc + hour * -7);

                let hours = nd.getHours();

                const maxHours = 12;

                hours %= maxHours;
                hours = hours ? hours : maxHours;

                let minutes = nd.getMinutes();

                minutes = minutes < 10 ? `0${ minutes}` : minutes;

                const ampm = hours >= maxHours ? 'pm' : 'am';

                return `${hours }:${ minutes }${ampm}`;
            },
            /**
             * Lead location
             *
             * @returns {string} Lead location
             */
            leadLocation() {
                const city = this.lead.city ? this.lead.city : '';
                const state = this.lead.state ? `, ${ this.lead.state}` : '';

                return city + state;
            },
            /**
             * Lead full name
             *
             * @returns {string} Lead location
             */
            leadFullName() {
                return `${this.lead.firstName} ${this.lead.lastName}`;
            },
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            this.$refs.messages.refreshIScroll();
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Toggle shown properties.
             *
             * @param {string} key - Show group
             *
             * @returns {void}
             */
            toggleShow(key) {
                for (const prop in this.shown) {
                    if (this.shown.hasOwnProperty(prop)) {
                        this.shown[prop] = key === prop ? !this.shown[prop] : false;
                    }
                }
            },
            /**
             * Toggle tabs properties.
             *
             * @param {string} key - Tab group
             *
             * @returns {void}
             */
            toggleTab(key) {
                for (const prop in this.tabs) {
                    if (this.tabs.hasOwnProperty(prop)) {
                        this.tabs[prop] = key === prop;
                    }
                }
            },
            /**
             * Show original email.
             *
             * @returns {void}
             */
            showEmailOriginal() {
                this.originalEmailContents = [];

                this.toggleShow('email');

                this.$refs.emailOriginal.refreshIScroll();

                this.lead.attachments.computedList.forEach(attachment => {
                    this.originalEmailContents.push(attachment.content);
                });

                this.$refs.messages.refreshIScroll();
            },
            /**
             * Check if original email(attachments) can be shown.
             *
             * @returns {boolean} can be shown or not
             */
            canViewOriginalEmail() {
                return Object.keys(this.lead.attachments.attachments).length > 0;
            },

            /**
             * Hide original email.
             *
             * @returns {void}
             */
            hideEmailOriginal() {
                if (this.shown.email) {
                    this.toggleShow('email');
                    this.$refs.messages.refreshIScroll();
                }
            },
            /**
             * Update emails collection to set isRead to true.
             *
             * @param {integer} leadId - lead id
             * @param {Array} emailsIdArray - array of emails that were not read
             *
             * @returns {void}
             */
            processEmailsReading(leadId, emailsIdArray) {
                if (typeof this.$parent.leads.leads[leadId] !== 'undefined') {
                    const emails = this.$parent.leads.leads[leadId].emails;

                    emails.unread = 0;
                    emails.readEmails(emailsIdArray);
                }
            },
            /**
             * Emit emailReadAll command.
             *
             * @returns {void}
             */
            emitEmailsReading() {
                this.$socket.emit('emailReadAll', this.$root.id, this.$root.token, this.activeLeadId);
            },
            /**
             * Update messages collection to set isRead to true.
             *
             * @param {integer} leadId - lead id
             * @param {Array} messagesIdArray - array of messages that were not read
             *
             * @returns {void}
             */
            processMessagesReading(leadId, messagesIdArray) {
                const messages = this.$parent.leads.leads[leadId].messages;

                messages.unread = 0;
                messages.readMessages(messagesIdArray);
            },
            /**
             * Emit emailReadAll command.
             *
             * @returns {void}
             */
            emitMessagesReading() {
                this.$socket.emit('messageReadAll', this.$root.id, this.$root.token, this.activeLeadId);
            },
            /**
             * Process message reading process when switch to tab messages.
             *
             * @returns {void}
             */
            messagesReadFromTab() {
                const unreadMessagesIds = this.$parent.leads.leads[this.activeLeadId].messages.unreadMessagesIds;

                this.processMessagesReading(this.activeLeadId, unreadMessagesIds);
                this.emitMessagesReading();
            },
            /**
             * Process email reading process when switch to tab email.
             *
             * @returns {void}
             */
            emailsReadFromTab() {
                const unreadEmailsIds = this.$parent.leads.leads[this.activeLeadId].emails.unreadEmailsIds;

                this.processEmailsReading(this.activeLeadId, unreadEmailsIds);
                this.emitEmailsReading();
            },
            /**
             * Sync cloned object via actual object.
             *
             * @returns {void}
             */
            refreshLead() {
                const activeLead = this.$parent.leads.getLead(this.lead.id);

                this.updateLeadNow = true;

                for (const property in activeLead) {
                    if (typeof this.lead[property] == 'function') {
                        continue;
                    }

                    this.lead[property] = activeLead[property];
                }
            },
        },
    };
</script>