<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/console/messaging/chat.tabs";
    @import "../../../../sass/components/common/spinner";
</style>

<template>
    <div class="tab">
        <ul>
            <li :class="{active: !$parent.shown.email && $parent.tabs.call}" @click="toggleCall">
                <div v-if="validatingPhone" class="spinner-holder spinner-holder-call">
                    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                                r="30"></circle>
                    </svg>
                </div>
                <i class="material-icons">&#xE0B0;</i>
            </li>
            <li :class="{active: !$parent.shown.email && $parent.tabs.messages}" @click="toggleMessages">
                <div v-if="$parent.showUnreadMessageNotification" class="red-circle"></div>
                <i class="material-icons">&#xE8AF;</i>
            </li>
            <li :class="{active: !$parent.shown.email && $parent.tabs.emails}" @click="toggleEmails">
                <div v-if="$parent.showUnreadEmailNotification" class="red-circle"></div>
                <i class="material-icons">&#xE0BE;</i>
            </li>
        </ul>
    </div>
</template>

<script type="text/ecmascript-6">
    import { isNational } from '../../../helpers/phone';

    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{}} - Component Data
         */
        data() {
            return {
                validatingPhone: false,
            };
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Toggle call tab.
             *
             * @returns {void}
             */
            toggleCall() {
                if (this.$parent.lead.id !== null && !this.validatingPhone) {
                    this.validatingPhone = true;

                    if (this.$parent.$parent.onCall) {
                        return;
                    }

                    if (this.checkCallNotes()) {
                        return;
                    }

                    if (this.$parent.lead.agentId === null) {
                        this.$parent.$parent.$refs.callError.open();
                        this.validatingPhone = false;
                    } else if (!this.$parent.lead.agent.twilioNumber) {
                        this.$parent.$parent.$refs.callError.open();
                        this.validatingPhone = false;
                    } else if (!isNational(this.$parent.$parent.$refs.leadInfo.lead.phone)) {
                        this.$parent.$parent.$refs.leadPhoneError.open();
                        this.validatingPhone = false;
                    } else {
                        this.$parent.$parent.isCurrentLeadPhoneNumberReal();
                    }
                }
            },
            /**
             * Toggle messages tab.
             *
             * @returns {void}
             */
            toggleMessages() {
                if (this.$parent.$parent.onCall || this.$parent.lead.id === null || this.checkCallNotes()) {
                    return;
                }

                this.$parent.toggleTab('messages');
                this.refreshMessages();
            },
            /**
             * Toggle emails tab.
             *
             * @returns {void}
             */
            toggleEmails() {
                if (this.$parent.$parent.onCall || this.$parent.lead.id === null || this.checkCallNotes()) {
                    return;
                }

                this.$parent.toggleTab('emails');
                this.refreshMessages();
            },
            /**
             * Refresh #messages field.
             *
             * @returns {void}
             */
            refreshMessages() {
                setTimeout(() => {
                    this.$parent.shown.scripts = false;
                    this.$parent.$refs.scripts.$refs.messageInput.toggleType();
                    this.$parent.$refs.scripts.$refs.messageInput.checkLeadData();
                    this.$parent.$refs.scripts.$refs.messageInput.clearInput();
                    this.$parent.$refs.messages.refreshIScroll();
                    this.$parent.$refs.messages.scrollDown();
                }, 0);
            },
            /**
             * Check call notes.
             *
             * @returns {boolean} true if call notes filled
             */
            checkCallNotes() {
                const callNotesFilled = this.$parent.$parent.callNotesFilled;
                if (callNotesFilled) {
                    this.$parent.$parent.$refs.callNotesConfirm.open();
                    this.$parent.$parent.pathTo = '';
                }

                return !!callNotesFilled;
            },
        },
    };
</script>
