<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/console/messaging/email.original";
</style>

<template>
    <div id="email-original" class="email-original">
        <div class="email-original-container">
            <div class="letter" v-for="email in emails">
                <div v-html="email"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import IScroll from 'iscroll';
    import iscroll from '../../../mixins/iscroll';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [iscroll],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     scroll: null
         * }} - Component Data
         */
        data() {
            return {
                scroll: null,
            };
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['emails'],
        watch: {
            /**
             * Refresh styles for #messages.
             * @returns {void}
             */
            emails() {
                this.refreshIScroll();
            },
        },
        methods: {
            /**
             * Mount IScroll.
             *
             * @returns {void}
             */
            mountIScroll() {
                this.scroll = new IScroll('#email-original', {
                    scrollbars: true,
                    mouseWheel: true,
                    interactiveScrollbars: true,
                    shrinkScrollbars: 'scale',
                    fadeScrollbars: true,
                });
            },
        },
    };
</script>
