<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/console/messaging/lead.history";
</style>

<template>
    <div class="history">
        <p class="title left-align grey-text text-darken-4">Lead History</p>
        <div class="node" v-for="node in history">
            <p class="head left-align">{{ node.head }}</p>
            <p class="log left-align grey-text text-darken-4">
                <i>Changed to <b>{{ node.to }}</b> from <b>{{ node.from }}</b></i>
            </p>
            <p class="meta grey-text text-lighten-1">{{ node.author }} &bullet; {{ node.date }}</p>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     history: [*,*]
         * }} - Component Data
         */
        data() {
            return {
                history: [
                    {
                        head: 'First Name',
                        to: 'Leila',
                        form: 'Lella',
                        author: 'Feliz Laymand',
                        date: 'Feb 12, 6:08 AM',
                    },
                    {
                        head: 'Address',
                        to: '401 Libby Divide Suite 070, San Diego, CA 92101',
                        form: '940 Broadway, San Diego, CA 92101',
                        author: 'Feliz Laymand',
                        date: 'Feb 12, 6:08 AM',
                    },
                ],
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            this.$parent.refreshIScroll();
        },
    };
</script>
