<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/console/messaging/lead.info";
</style>
<style lang="scss" rel="stylesheet/scss">
    .lead-info {
        .navs {
            #tabs-swipe-lead-info {
                .indicator {
                    display: none;
                }
            }
        }
    }
</style>

<template>
    <div class="lead-info col l3">
        <div class="navs">
            <ul id="tabs-swipe-lead-info" class="tabs">
                <li class="tab col s6">
                    <a href="#lead-info" class="active left-tab" @click="openInfo">
                        <i class="material-icons">&#xE853;</i> Lead Info
                    </a>
                </li>
                <li class="tab col s6">
                    <a href="#lead-notes" class="right-tab" @click="openNotes">
                        <i class="material-icons">&#xE0C9;</i> notes
                    </a>
                </li>
            </ul>
        </div>
        <div class="info-container">
            <div id="info-wrap" class="info-wrap">
                <div class="info">
                    <div id="lead-info">
                        <concierge-identity></concierge-identity>
                        <contact-info></contact-info>
                        <lead-content ref="content"></lead-content>
                    </div>
                    <div id="lead-notes">
                        <notes-panel ref="notes" :activeLeadId="activeLeadId"></notes-panel>
                    </div>
                </div>
            </div>
        </div>
        <transition name="slide-vertical">
            <div class="update-status" v-show="panelShowStatus">
                <div class="update-wrapper">
                    <div class="valign-wrapper">
                        <button type="button"
                                class="waves-effect waves-light btn"
                                @click="openModal"
                                :disabled="isButtonDisabled()">Update status</button>
                        <p>Current: <b>{{ currentLeadStatus }}</b></p>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script type="text/ecmascript-6">
    import Vue from 'vue';
    import moment from 'moment';
    import IScroll from 'iscroll';
    import iscroll from '../../../mixins/iscroll';
    import Lead from '../../../objects/lead';
    import Note from '../../../objects/note';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [iscroll],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     lead: Lead,
         *     updateLeadNow: boolean,
         *     panelShowStatus: boolean,
         *     status: string,
         *     scroll: null
         * }} - Component Data
         */
        data() {
            return {
                lead: new Lead(),
                updateLeadNow: false,
                panelShowStatus: true,
                status: 'New Lead',
                scroll: null,
            };
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['concierge', 'agent', 'activeLeadId'],
        /**
         * Computed properties & methods.
         * @link https://vuejs.org/v2/api/#computed
         */
        computed: {
            /**
             * Return current lead status.
             *
             * @returns {string} - status
             */
            currentLeadStatus() {
                return this.$parent.leads.getLead(this.activeLeadId).status;
            },
        },
        /**
         * Updated hook.
         * @link https://vuejs.org/v2/api/#updated
         * @returns {void}
         */
        updated() {
            $('ul.tabs').tabs();
        },
        /**
         * Watch.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            /**
             * Lead phone watcher.
             *
             * @param {string} val - New phone number
             *
             * @returns {void}
             */
            'lead.phone'(val) {
                this.fixPhoneBracket(val);
            },
            /**
             * Active lead id watcher.
             *
             * @returns {void}
             */
            activeLeadId() {
                this.refreshLead();
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Mount IScroll.
             *
             * @returns {void}
             */
            mountIScroll() {
                this.scroll = new IScroll('#info-wrap', {
                    scrollbars: true,
                    mouseWheel: true,
                    interactiveScrollbars: true,
                    shrinkScrollbars: 'scale',
                    fadeScrollbars: true,
                });
            },
            /**
             * Sync cloned object via actual object.
             *
             * @returns {void}
             */
            refreshLead() {
                this.updateLeadNow = true;

                const activeLead = this.$parent.leads.getLead(this.activeLeadId);

                for (const property in activeLead) {
                    if (typeof this.lead[property] == 'function') {
                        continue;
                    }

                    this.lead[property] = activeLead[property];
                }

                this.lead.id = this.activeLeadId;
                this.updateLeadNow = false;

                $(document).ready(() => {
                    Materialize.updateTextFields();
                });
            },
            /**
             * Update lead status.
             *
             * @param {string} action - Selected action in Update status drop-down
             * @param {string} note - Update note
             * @param {string} date - date for delay status
             * @param {string} timezone - delay timezone
             *
             * @returns {void}
             */
            updateStatus(action, note, date, timezone) {
                if (typeof action == 'undefined') {
                    return;
                }

                this.$socket.emit(
                    'leadUpdateStatus',
                    this.$root.id,
                    this.$root.token,
                    this.activeLeadId,
                    action,
                    note,
                    date,
                    timezone
                );

                if (note !== '') {
                    const noteObj = new Note();

                    noteObj.addDataRecursively({
                        type: action,
                        note,
                        conciergeId: this.$root.id,
                        leadId: this.activeLeadId,
                        createdAt: null,
                    });
                    noteObj.createdAt = moment().format('MMM D, hh:mm A');

                    this.$parent.leads.leads[this.activeLeadId].notes.addNote(noteObj);
                    this.$parent.leads.leads[this.activeLeadId].notes.updateCollection();

                    this.$refs.notes.refreshNotes();

                    this.refreshIScroll();
                }

                this.refreshLead();
                this.$parent.leads.updateCollection();
            },
            /**
             * Open info panel.
             *
             * @returns {void}
             */
            openInfo() {
                this.refreshIScroll();
                this.showPanel();
            },
            /**
             * Open note panel.
             *
             * @returns {void}
             */
            openNotes() {
                this.refreshIScroll();
                this.hidePanel();
            },
            /**
             * Hide `Update Status` panel.
             *
             * @returns {void}
             */
            hidePanel() {
                this.panelShowStatus = false;
            },
            /**
             * Show `Update Status` panel.
             *
             * @returns {void}
             */
            showPanel() {
                this.panelShowStatus = true;
            },
            /**
             * Open `Update status` modal.
             *
             * @returns {void}
             */
            openModal() {
                // Update options in 'Update status' drop-down
                this.$parent.updateOptionsList();
                this.$parent.$refs.update.open();
            },
            /**
             * Disabling or enabling change status button.
             *
             * @returns {boolean} button visibility
             */
            isButtonDisabled() {
                if (this.$root.role === 3) {
                    return !this.activeLeadId;
                }

                return !this.lead.conciergeId;
            },
            /**
             * Lead update handler.
             *
             * @returns {void}
             */
            updateLead() {
                if (this.updateLeadNow) {
                    return;
                }

                this.updateLeadNow = true;

                const activeLead = this.$parent.leads.getLead(this.activeLeadId);
                const excludeKeys = [
                    'agent',
                    'notes',
                    'messages',
                    'emails',
                    'attachments',
                    'fromViking',
                    'tag',
                    'conciergeId',
                    'finalTimeForResponse',
                    'timeLeftForResponse',
                    'lastMessage',
                    'icon',
                    'showTimer',
                    'source',
                ];

                let haveChanges = false;

                for (const key in this.lead) {
                    if (typeof this.lead[key] == 'function' || excludeKeys.indexOf(key) !== -1) {
                        continue;
                    }

                    if (this.lead[key] !== activeLead[key]) {
                        haveChanges = true;
                        break;
                    }
                }

                if (haveChanges) {
                    const data = Vue.util.extend({}, this.lead);

                    excludeKeys.forEach(key => {
                        delete data[key];
                    });

                    this.$socket.emit('leadUpdate', this.$root.id, this.$root.token, data);
                }
            },
            /**
             * Fix phone number render view from single bracket.
             *
             * @param {string} phone - Lead phone number
             *
             * @returns {void}
             */
            fixPhoneBracket(phone) {
                if (phone === '(') {
                    this.lead.phone = '';
                }
            },
        },
    };
</script>