<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/console/messaging/message.input";
</style>

<template>
    <div class="input">
        <form @submit.prevent="send" v-bind:data-active-lead-id="activeLeadId" v-bind:data-update-flag="updateFlag">
            <div id="chatInputContainer">
                <span v-if="disabled" class="error">
                    <i class="material-icons">&#xE645;</i>
                    <span class="error-text">{{ errorMessage }}</span>
                </span>
                <div class="input-field">
                    <textarea id="chatInput"
                              class="materialize-textarea"
                              :disabled="disabled"
                              :placeholder="placeholderText"
                              v-model="message"
                              @keyup="resizeInput"
                              data-original-height="0">
                    </textarea>
                </div>
            </div>
            <button type="submit" :disabled="disabled" class="btn-flat right"><i class="material-icons">&#xE163;</i>
            </button>
            <div class="clearfix"></div>
        </form>
    </div>
</template>

<script type="text/ecmascript-6">
    import socket from '../../../mixins/socket';
    import { isNational } from '../../../helpers/phone';
    import { isEmail } from '../../../helpers/link';
    import Message from '../../../objects/message';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     message: string,
         *     errorMessage: string,
         *     disabled: boolean,
         *     type: string,
         *     messageInstance: Message
         * }} - Component Data
         */
        data() {
            return {
                message: '',
                errorMessage: '',
                disabled: false,
                type: 'a message',
                messageInstance: Message,
            };
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['activeLead', 'activeLeadId', 'tabs'],
        /**
         * Watch.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            /**
             * Check active lead data.
             *
             * @returns {void}
             */
            'activeLead'() {
                this.checkLeadData();
            },
            /**
             * Check active lead data.
             *
             * @returns {void}
             */
            'activeLeadId'() {
                this.checkLeadData();
            },
        },
        /**
         * Computed properties.
         * @link https://vuejs.org/v2/api/#computed
         */
        computed: {
            /**
             * Update flag for triggering updated hook
             *
             * @returns {string|null} - Merged phone and email string
             */
            updateFlag() {
                const lead = this.$parent.$parent.$parent.leads.leads[this.activeLeadId];

                return typeof lead == 'undefined' ? null : lead.email + lead.phone;
            },
            /**
             * Recipient property.
             *
             * @returns {string} - Host full name
             */
            recipient() {
                const recipient = this.$parent.$parent.$parent.leads.getLead(this.activeLeadId);

                return `${recipient.firstName } ${ recipient.lastName}`;
            },
            /**
             * Placeholder text.
             *
             * @returns {string} - return text
             */
            placeholderText() {
                return this.disabled ? '' : `Send ${ this.type } to ${ this.recipient}`;
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Send message.
             *
             * @returns {void}
             */
            send() {
                this.message = this.message.trim();
                this.autoResizeInput();

                if (!this.message) {
                    return;
                }

                switch (this.currentTab()) {
                    case 'messages':
                        this.sendSMSMessage();
                        break;
                    case 'emails':
                        this.sendEmailMessage();
                        break;
                    default:
                        break;
                }

                this.clearInput();
            },
            /**
             * Remove any data from input field.
             *
             * @returns {void}
             */
            clearInput() {
                this.message = '';
                this.autoResizeInput();
            },
            /**
             * Auto resize input field.
             *
             * @returns {void}
             */
            autoResizeInput() {
                setTimeout(() => {
                    $('#chatInput').trigger('autoresize');
                });
            },
            /**
             * Send sms message from chat console (from concierge to lead).
             *
             * @returns {void}
             */
            sendSMSMessage() {
                const activLead = this.$parent.$parent.$parent.leads.getLead(this.activeLeadId);
                const from = activLead.agent.twilioNumber;

                if (from) {
                    this.$socket.emit('messageCreate', this.$root.id, this.$root.token, {
                        conciergeId: this.$root.id,
                        leadId: this.activeLeadId,
                        incoming: 0,
                        isRead: 1,
                        isAutomatic: 0,
                        to: activLead.phone,
                        from,
                        text: this.message,
                        twilioMessageSid: null,
                        twilioMessageStatus: null,
                    });
                }
            },
            /**
             * Send email message from chat console (from concierge to lead).
             *
             * @returns {void}
             */
            sendEmailMessage() {
                const currentLead = this.$parent.$parent.$parent.leads.getLead(this.activeLeadId);
                const subject = 'I\'m here if you need me...';
                const text = `<span style='font-family: Helvetica, Arial;'>${ this.message }</span>`;

                this.$socket.emit('emailCreate', this.$root.id, this.$root.token, {
                    to: currentLead.email,
                    from: currentLead.agent.sendGridEmail,
                    incoming: 0,
                    isRead: 1,
                    leadId: this.activeLeadId,
                    agentId: currentLead.agentId,
                    conciergeId: this.$root.id,
                    subject,
                    text,
                    senderFullName: `${currentLead.agent.firstName } ${ currentLead.agent.lastName}`,
                });

                this.autoResizeInput();
            },
            /**
             * Paste message and resize chat input.
             *
             * @param {string} message - Chat message
             *
             * @returns {void}
             */
            pasteMessage(message) {
                this.message = message;

                const $chatInput = $('#chatInput');

                $chatInput.val(message);
                $chatInput.trigger('autoresize');
            },
            /**
             * Toggle type.
             *
             * @returns {void}
             */
            toggleType() {
                this.type = this.$parent.$parent.tabs.messages ? 'a message' : 'an email';
            },
            /**
             * Resize message input handler.
             * Update bottom `offset` fro scripts panel & `show scripts` button.
             *
             * @returns {void}
             */
            resizeInput() {
                const height = $('#chatInput')
                    .css('height')
                    .slice(0, -2);

                const btnOffset = 8;
                const minHeight = 24;
                const scriptsOffset = 56;

                if (height < 320) {
                    this.$parent.$parent.$refs.messages.offset = btnOffset + (height - minHeight);
                    this.$parent.offset = scriptsOffset + (height - minHeight);
                }
            },
            /**
             * Get current tab.
             *
             * @returns {string} - tab name
             */
            currentTab() {
                let tabName = '';

                if (this.tabs.messages) {
                    tabName = 'messages';
                } else if (this.tabs.emails) {
                    tabName = 'emails';
                }

                return tabName;
            },
            /**
             * Check lead data.
             *
             * @returns {void}
             */
            checkLeadData() {
                const activeLead = this.$parent.$parent.$parent.leads.getLead(this.activeLeadId);

                switch (this.currentTab()) {
                    case 'messages':
                        if (!activeLead.agent.twilioNumber) {
                            this.disabled = true;
                            this.errorMessage = 'Agent doesn\'t have a Twilio number.';
                        } else if (!isNational(activeLead.phone)) {
                            this.disabled = true;
                            this.errorMessage = 'Lead phone number is not valid.';
                        } else if (activeLead.phoneCarrierType === 'landline') {
                            this.disabled = true;
                            this.errorMessage = 'Lead phone type is not valid.';
                        } else {
                            this.disabled = false;
                            this.errorMessage = '';
                        }
                        break;
                    case 'emails':
                        if (!activeLead.agent.sendGridEmail) {
                            this.disabled = true;
                            this.errorMessage = 'Agent doesn\'t have a sendgrid email.';
                        } else if (!isEmail(activeLead.email)) {
                            this.disabled = true;
                            this.errorMessage = 'Lead email is not valid.';
                        } else {
                            this.disabled = false;
                            this.errorMessage = '';
                        }
                        break;
                    default:
                        break;
                }
            },
        },
    };
</script>
