<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/console/messaging/messages";
</style>
<template>
<div id="messages" class="messages" :style="styles">
    <ul v-if="$parent.tabs.messages">
        <li v-for="object in chatCollection.computedList">
            <chat-message  v-if="object instanceof messageInstance"
                           :message="object"
                           :conciergeName="getConciergeFullName(object.conciergeId)">
            </chat-message>
            <chat-call v-if="object instanceof callInstance"
                       :call="object"
                       :lead="lead"
                       :conciergeName="getConciergeFullName(object.conciergeId)">
            </chat-call>
            <div class="clearfix"></div>
        </li>
        <div class="clearfix"></div>
    </ul>
    <ul v-else-if="$parent.tabs.emails">
        <li v-for="email in emails.computedList">
            <email :email="email"></email>
        </li>
        <div class="clearfix"></div>
    </ul>
    <ul v-else>
        <li>
            <div class="email col l12 right">
                <p class="client">
                    Hi Eric,
                    <br><br>
                    It’s Iva, I work for James L. and I see you recently reached out for a
                    veiwing of 401 Libby Divide Suite 070. I would love to set this up for
                    you!
                    <br><br>
                    Can you please answer a few questions to help me understand exactly what
                    you are looking for;
                    <br><br>
                    Have you been searching for a home for long?
                    <br><br>
                    Is this property in an area you prefer?
                    <br><br>
                    What's your schedule like in the next few days? Would you like to set a
                    time to see the inside of a few homes to get a better idea of what's out
                    there?
                    <br><br>
                    What other specifics about a home are important to you? Like number of
                    bedrooms or bathrooms? Schools?
                    <br><br>
                    Thank you for answering these questions, Enjoy the rest of your day!
                    <br><br>
                    Iva Lane
                </p>
                <p class="meta right-align">
                    To Leilapowell@gmail.com &bullet; Feliz Laymand • Jan 1, 8:09 AM
                </p>
            </div>
        </li>
        <li>
            <div class="email col l12 left">
                <p class="host">
                    Hi Iva,<br><br>
                    Thanks for the email: I am going to pause on the house hunt for a while
                    until I have more information on what I am exactly looking for Leila
                    Powell
                </p>
                <p class="meta left-align">From Leilapowell@gmail.com &bullet; 10:05 AM </p>
            </div>
        </li>
        <div class="clearfix"></div>
    </ul>
    <button type="button"
            class="btn-floating btn-large orange"
            :style="{bottom: offset + 'px'}"
            @click="list"
            v-show="!$parent.shown.scripts">
        <i class="large material-icons">&#xE896;</i>
    </button>
</div>
</template>

<script type="text/ecmascript-6">
    import IScroll from 'iscroll';
    import iscroll from '../../../mixins/iscroll';
    import socket from '../../../mixins/socket';
    import Lead from '../../../objects/lead';
    import Message from '../../../objects/message';
    import Call from '../../../objects/call';
    import MessageCollection from '../../../collections/messageCollection';
    import Email from '../../../objects/email';
    import EmailCollection from '../../../collections/emailCollection';
    import ChatCollection from '../../../collections/chatCollection';
    import laroute from '../../../router/laroute';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [iscroll, socket],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     chatCollection: ChatCollection,
         *     messages: MessageCollection,
         *     emails: EmailCollection,
         *     scroll: null,
         *     styles: {
         *         height: string
         *     },
         *     offset: number,
         *     messageInstance: Message,
         *     callInstance: Call
         * }} - Component Data
         */
        data() {
            return {
                chatCollection: new ChatCollection(),
                messages: new MessageCollection(),
                emails: new EmailCollection(),
                scroll: null,
                styles: {
                    height: 'auto',
                },
                offset: 8,
                messageInstance: Message,
                callInstance: Call,
            };
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['activeLeadId', 'lead'],
        /**
         * Watch.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            /**
             * Make first subscription for active lead channel.
             *
             * @param {integer} activeLeadId - Current active lead id
             * @param {integer} previousLeadId - Previous active lead id
             *
             * @returns {void}
             */
            activeLeadId(activeLeadId, previousLeadId) {
                if (previousLeadId === null) {
                    this.$router.push(laroute.route('messaging', { id: activeLeadId }));
                }

                setTimeout(() => {
                    this.refreshEmails();
                    this.refreshChatCollection();
                }, 200);
            },
            'emails.unread'(value) {
                let indicatesEmails = false;

                if (this.$parent.tabs.emails && value > 0) {
                    this.$parent.emitEmailsReading();
                } else {
                    indicatesEmails = true;
                }

                this.indicateUnreadEmails(indicatesEmails);
            },
            'messages.unread'(value) {
                let indicatesMessages = false;

                if (this.$parent.tabs.messages && value > 0) {
                    this.$parent.emitMessagesReading();
                } else {
                    indicatesMessages = true;
                }

                this.indicateUnreadMessages(indicatesMessages);
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Mount IScroll.
             *
             * @returns {void}
             */
            mountIScroll() {
                this.scroll = new IScroll('#messages', {
                    scrollbars: true,
                    mouseWheel: true,
                    interactiveScrollbars: true,
                    shrinkScrollbars: 'scale',
                    fadeScrollbars: true,
                });
            },
            /**
             * Get concierge name by concierge id.
             *
             * @param {integer} conciergeId - Concierge id
             *
             * @returns {string} - Concierge full name
             */
            getConciergeFullName(conciergeId) {
                return this.$parent.$parent.concierges.getConcierge(conciergeId).name;
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {{}} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                switch (message) {
                    case 'messageCreate':
                        this.listenMessageCreate(data);
                        break;
                    case 'messageCreateReport':
                        this.listenMessageCreateReport(data);
                        break;
                    case 'messageReadAll':
                        this.listenMessageReadAll(data);
                        break;
                    case 'emailCreate':
                        this.listenEmailCreate(data);
                        break;
                    case 'emailCreateReport':
                        this.listenEmailCreateReport(data);
                        break;
                    case 'emailReadAll':
                        this.listenEmailReadAll(data);
                        break;
                    case 'messageUpdateStatus':
                        this.listenMessageUpdateStatus(data);
                        break;
                    case 'emailUpdateStatus':
                        this.listenEmailUpdateStatus(data);
                        break;
                    default:
                        break;
                }
            },
            /**
             * Listen email update status.
             *
             * @param {object} data - Actual data
             *
             * @returns {void}
             */
            listenEmailUpdateStatus(data) {
                const lead = this.$parent.$parent.leads.leads[data.leadId];

                lead.emails.setEmailStatus(data.emailId, data.status);
            },
            /**
             * Listen message update status.
             *
             * @param {Object} data - Actual data
             *
             * @return {void}
             */
            listenMessageUpdateStatus(data) {
                const lead = this.$parent.$parent.leads.leads[data.leadId];

                lead.messages.setMessageStatus(data.messageId, data.twilioMessageStatus);

                const message = this.chatCollection.getObject(data.messageId, this.messageInstance);

                if (message) {
                    message.twilioMessageStatus = data.twilioMessageStatus;
                }
            },
            /**
             * Listen message create.
             *
             * @param {Object} data - Message
             *
             * @returns {void}
             */
            listenMessageCreate(data) {
                let lead = this.$parent.$parent.leads.leads[data.leadId];

                if (typeof lead == 'undefined') {
                    lead = new Lead();
                }

                if (this.activeLeadId === lead.id && this.$parent.tabs.messages) {
                    data.message.isRead = true;
                }
                const message = new Message();

                message.addDataRecursively(data.message);

                if (message.twilioMessageSid === null) {
                    /* Wrong agent number */
                    message.twilioMessageStatus = 'failed';
                }

                lead.messages.addMessage(message);
                lead.messages.updateCollection();
                lead.tag = data.tag;
                lead.icon = data.icon;
                lead.finalTimeForResponse = data.finalTimeForResponse;
                lead.lastMessage = message.text;
                lead.showTimer = !!message.incoming;

                this.$parent.$parent.leads.updateCollection();

                if (data.leadId === this.activeLeadId) {
                    this.addOrUpdateMessageInChatCollecion(data.message);
                }
            },
            /**
             * Listen message create report.
             *
             * @param {{}} data - Message
             *
             * @returns {void}
             */
            listenMessageCreateReport(data) {
                let lead = this.$parent.$parent.leads.leads[data.leadId];

                if (typeof lead == 'undefined') {
                    lead = new Lead();
                }

                if (this.activeLeadId === lead.id && this.$parent.tabs.messages) {
                    data.message.isRead = true;
                }
                // TODO: update only id in messages collection for current message
                const message = new Message();

                message.addDataRecursively(data.message);

                lead.messages.addMessage(message);
                lead.messages.updateCollection();
                lead.tag = data.tag;
                lead.icon = data.icon;
                lead.finalTimeForResponse = data.finalTimeForResponse;
                lead.lastMessage = message.text;
                lead.showTimer = !!message.incoming;

                this.$parent.$parent.leads.updateCollection();
                if (data.leadId === this.activeLeadId) {
                    this.addOrUpdateMessageInChatCollecion(data.message);
                }
            },
            /**
             * Listen read all leads messages.
             *
             * @param {Array[]} data - Read messages id
             *
             * @return {void}
             */
            listenMessageReadAll(data) {
                this.$parent.processMessagesReading(data.leadId, data.readMessagesIds);
                this.refreshChatCollection();
            },
            /**
             * Listen message create.
             *
             * @param {Array[]} data - Email
             *
             * @return {void}
             */
            listenEmailCreate(data) {
                let lead = this.$parent.$parent.leads.leads[data.leadId];

                if (typeof lead == 'undefined') {
                    lead = new Lead();
                }

                if (this.activeLeadId === lead.id && this.$parent.tabs.emails) {
                    data.email.isRead = true;
                }
                const email = new Email();

                email.addDataRecursively(data.email);

                lead.emails.addEmail(email);
                lead.emails.updateCollection();
                lead.tag = data.tag;
                lead.icon = data.icon;
                lead.finalTimeForResponse = data.finalTimeForResponse;
                lead.lastMessage = email.text;
                lead.showTimer = !!email.incoming;

                this.$parent.$parent.leads.updateCollection();

                this.refreshEmails();
            },
            /**
             * Listen email create report.
             *
             * @param {Array[]} data - Email
             *
             * @return {void}
             */
            listenEmailCreateReport(data) {
                let lead = this.$parent.$parent.leads.leads[data.leadId];

                if (typeof lead == 'undefined') {
                    lead = new Lead();
                }

                if (this.activeLeadId === lead.id && this.$parent.tabs.emails) {
                    data.email.isRead = true;
                }
                // TODO: update only id in email collection for current email
                const email = new Email();

                email.addDataRecursively(data.email);

                lead.emails.addEmail(email);
                lead.emails.updateCollection();
                lead.tag = data.tag;
                lead.icon = data.icon;
                lead.finalTimeForResponse = data.finalTimeForResponse;
                lead.lastMessage = email.text;
                lead.showTimer = !!email.incoming;

                this.$parent.$parent.leads.updateCollection();

                this.refreshEmails();
            },
            /**
             * Listen read all lead emails.
             *
             * @param {Array[]} data - Read emails id
             *
             * @return {void}
             */
            listenEmailReadAll(data) {
                this.$parent.processEmailsReading(data.leadId, data.readEmailsIds);
                this.refreshEmails();
            },
            /**
             * Move scroll down.
             *
             * @returns {void}
             */
            scrollDown() {
                setTimeout(() => {
                    this.scroll.scrollTo(0, this.scroll.maxScrollY, 0);
                }, 0);
            },
            /**
             * Refresh styles for #messages.
             *
             * @returns {void}
             */
            refreshStyles() {
                const scrollHeightFactor = 0.48;
                const newHeightFactor = 56;
                const messageHeight = document.getElementById('messages').clientHeight;
                const scrollHeight = messageHeight * scrollHeightFactor;
                const newHeight = messageHeight - scrollHeight - newHeightFactor;

                this.styles.height = this.styles.height === 'auto' ? `${newHeight }px` : 'auto';
            },
            /**
             * Open #scripts panel.
             *
             * @returns {void}
             */
            list() {
                this.$parent.toggleShow('scripts');

                setTimeout(() => {
                    this.refreshIScroll();
                    this.$parent.$refs.scripts.refreshIScroll();
                }, 0);
            },
            /**
             * Open notes panel.
             *
             * @returns {void}
             */
            notes() {
                this.$parent.$parent.$refs.leadInfo.toggleNotes();
            },
            /**
             * Indicates unread emails
             *
             * @param {boolean} data - param to display or hide red dot
             *
             * @returns {void}
             */
            indicateUnreadEmails(data) {
                this.$parent.showUnreadEmailNotification = data;
            },
            /**
             * Indicates unread messages
             *
             * @param {boolean} data - param to display or hide red dot
             *
             * @returns {void}
             */
            indicateUnreadMessages(data) {
                this.$parent.showUnreadMessageNotification = data;
            },
            /**
             * Refresh chat records and move scroll down.
             *
             * @returns {void}
             */
            refreshChatCollection() {
                if (this.activeLeadId === null) {
                    return;
                }

                const calls = this.$parent.$parent.leads.leads[this.activeLeadId].calls;
                const messages = this.$parent.$parent.leads.leads[this.activeLeadId].messages;

                this.chatCollection.objects = messages.computedList.concat(calls.computedList);
                this.chatCollection.updateCollection();

                this.chatAutoScroll();
            },
            /**
             * Refresh messages list and move scroll down.
             *
             * @returns {void}
             */
            refreshEmails() {
                if (this.activeLeadId === null) {
                    return;
                }

                this.emails = this.$parent.$parent.leads.leads[this.activeLeadId].emails;

                this.chatAutoScroll();
            },
            /**
             * Chat auto-scroll
             *
             * @returns {void}
             */
            chatAutoScroll() {
                this.refreshIScroll();
                this.scrollDown();
            },
            /**
             * Add or update message in chat collection
             *
             * @param {Object} message - message data
             *
             * @returns {void}
             */
            addOrUpdateMessageInChatCollecion(message) {
                const newMessage = this.chatCollection.getObject(message.id, this.messageInstance);

                if (newMessage) {
                    newMessage.addDataRecursively(message);
                } else {
                    this.chatCollection.addObject(message, this.messageInstance);
                }

                this.chatCollection.updateCollection();
                this.chatAutoScroll();
            },
        },
    };
</script>
