<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/console/messaging/scripts";
</style>

<template>
    <div>
        <transition name="slide-vertical">
            <div id="scripts" class="scripts" v-show="$parent.shown.scripts" :style="{bottom: offset + 'px'}">
                <div class="scripts-container">
                    <div v-if="$parent.tabs.emails && lead.leadType === 'buyer'">
                        <div class="head">
                            <div class="options left">
                                <a class="dropdown-button"
                                   href="#"
                                   data-activates="buyer-email-templates"
                                   @click.prevent>
                                    {{ buyerEmailOption }} <i class="material-icons">&#xE5C5;</i>
                                </a>
                                <ul id="buyer-email-templates" class="dropdown-content">
                                    <li>
                                        <a href="#" @click.prevent>
                                            {{ buyerEmailOption }} <i class="material-icons">&#xE5C7;</i>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li @click="toggleOption('buyerEmail1', 'AA Buyer Qual Email 1', 'buyer')">
                                        <a href="#" @click.prevent>AA Buyer Qual Email 1</a>
                                    </li>
                                    <li @click="toggleOption('buyerEmail2', 'AA Buyer Qual Email 2', 'buyer')">
                                        <a href="#" @click.prevent>AA Buyer Qual Email 2</a>
                                    </li>
                                    <li @click="toggleOption('buyerEmail3', 'AA Buyer Qual Email 3', 'buyer')">
                                        <a href="#" @click.prevent>AA Buyer Qual Email 3</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="close right">
                                <i class="material-icons orange-text" @click="close">&#xE5CD;</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="content" v-if="options.buyerEmail2">
                            <div class="script">
                                <p class="head">AA Buyer Qual Email 2</p>
                                <p class="message" @click="paste">
                                    Hi {{ leadFirstName ? leadFirstName : 'there' }},<br><br>

                                    How are things? I tried calling again a little earlier and wasn't able to reach you<br>
                                    - I assume you’re busy doing something important so it’s totally understandable how<br>
                                    getting back to me falls a little low on the “to-do” list.<br><br>

                                    I mostly just wanted to let you know that I'm always available if you decide you'd<br>
                                    still like me to introduce you to a great agent - I can tell you,<br>
                                    <span class="indent"></span>{{ lead.agent.personaTeamName }} is ready to make your home-buying dreams come<br>
                                    true (so you have that going for you... which is nice).<br><br>

                                    Please don't hesitate to touch base by responding to this email or giving me a call<br>
                                    at the number below.<br><br>

                                    We’re excited to help you get started on finding your future new home!<br><br>

                                    Kind regards,<br><br>

                                    <span class="indent"></span>{{ lead.agent.personaName }}<br>
                                    <span class="indent"></span>{{ lead.agent.personaTeamName }}<br>
                                    <span class="indent"></span>{{ lead.agent.personaTitle }}<br>
                                    <span class="indent"></span>Phone: {{ lead.agent.phone }}
                                </p>
                            </div>
                        </div>
                        <div class="content" v-else-if="options.buyerEmail3">
                            <div class="script">
                                <p class="head">AA Buyer Qual Email 3</p>
                                <p class="message" @click="paste">
                                    Ahoy, {{ leadFirstName ? leadFirstName : 'there' }}!<br><br>

                                    <span class="indent"></span>{{ lead.agent.personaName }} here from {{ lead.agent.personaTeamName }} again. Since I haven’t<br>
                                    heard back, I assume my last email must have gotten lost at sea and never reached you.<br>
                                    Don’t worry, it happens.<br><br>

                                    The fact of the matter is you’re embarking upon an exciting journey, and we want to start<br>
                                    you off sailing in the right direction toward homeownership ASAP (see what I did there?).<br>
                                    <span class="indent"></span>{{ lead.agent.personaTeamName }} is happy to be your captain when it comes to finding your<br>
                                    dream home in {{ leadCity ? leadCity : 'your area' }}.<br><br>

                                    Simply reply to this email to let me know when you’re free to talk more about the<br>
                                    details of your search, or give me a call anytime at the number below.<br><br>

                                    Thanks again and have a fantastic day!<br><br>

                                    <span class="indent"></span>{{ lead.agent.personaName }}<br>
                                    <span class="indent"></span>{{ lead.agent.personaTeamName }}<br>
                                    <span class="indent"></span>{{ lead.agent.personaTitle }}<br>
                                    <span class="indent"></span>Phone: {{ lead.agent.phone }}
                                </p>
                            </div>
                        </div>
                        <div class="content" v-else>
                            <div class="script">
                                <p class="head">AA Buyer Qual Email 1</p>
                                <p class="message" @click="paste">
                                    Hi {{ leadFirstName ? leadFirstName : 'there' }},<br><br>

                                    Greetings from {{ lead.agent.personaTeamName }} - we’re absolutely THRILLED you
                                    found us!<br><br>

                                    I see that you’re looking to buy a home in {{ leadCity ? leadCity : 'your area' }}.
                                    Awesome! Before I connect you to your agent, I have a few quick questions to help us
                                    better understand your wants and needs when it comes to buying a home:<br><br>

                                    Is there a specific neighborhood you're interested in?<br>
                                    When are you available to meet with an agent?<br>
                                    Are you prequalified or pre-approved for a mortgage yet?<br>
                                    Do you want to add any other details to your search criteria?<br><br>

                                    Are you free anytime today or this week to talk? If not, you can always email me<br>
                                    back the answers and I'll try giving you a call tomorrow to follow up.<br><br>

                                    Thanks and I look forward to working with you!<br>
                                    Kind regards,<br><br>

                                    <span class="indent"></span>{{ lead.agent.personaName }}<br>
                                    <span class="indent"></span>{{ lead.agent.personaTeamName }}<br>
                                    <span class="indent"></span>{{ lead.agent.personaTitle }}<br>
                                    <span class="indent"></span>Phone: {{ lead.agent.phone }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="$parent.tabs.emails && lead.leadType === 'seller'">
                        <div class="head">
                            <div class="options left">
                                <a class="dropdown-button"
                                   href="#"
                                   data-activates="seller-email-templates"
                                   @click.prevent>
                                    {{ sellerEmailOption }} <i class="material-icons">&#xE5C5;</i>
                                </a>
                                <ul id="seller-email-templates" class="dropdown-content">
                                    <li>
                                        <a href="#" @click.prevent>
                                            {{ sellerEmailOption }} <i class="material-icons">&#xE5C7;</i>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li @click="toggleOption('sellerEmail1', 'AA Seller Qual Email 1', 'seller')">
                                        <a href="#" @click.prevent>AA Seller Qual Email 1</a>
                                    </li>
                                    <li @click="toggleOption('sellerEmail2', 'AA Seller Qual Email 2', 'seller')">
                                        <a href="#" @click.prevent>AA Seller Qual Email 2</a>
                                    </li>
                                    <li @click="toggleOption('sellerEmail3', 'AA Seller Qual Email 3', 'seller')">
                                        <a href="#" @click.prevent>AA Seller Qual Email 3</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="close right"><i class="material-icons orange-text" @click="close">&#xE5CD;</i></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="content" v-if="options.sellerEmail2">
                            <div class="script">
                                <p class="head">AA Seller Qual Email 2</p>
                                <p class="message" @click="paste">
                                    Hi {{ leadFirstName ? leadFirstName : 'there' }},<br><br>

                                    You are one tough cookie to get a hold of! I assume you’re busy doing something<br>
                                    productive like researching tips on how to sell your home or sprucing up the paint<br>
                                    job in the master bathroom (or something adult like that) - so I understand how<br>
                                    things like getting back to me can fall behind on the priority list.<br><br>

                                    I just wanted to let you know that I'm always available if you decide you'd like to<br>
                                    work with {{ lead.agent.personaTeamName }} to sell your home in {{ leadCity ? leadCity : 'your area' }}.<br><br>

                                    Please don't hesitate to touch base by responding to this email or giving me a<br>
                                    call at the number below.<br><br>

                                    Thanks for letting me know either way and have a great day!<br><br>

                                    Kind regards,<br><br>

                                    <span class="indent"></span>{{ lead.agent.personaName }}<br>
                                    <span class="indent"></span>{{ lead.agent.personaTeamName }}<br>
                                    <span class="indent"></span>{{ lead.agent.personaTitle }}<br>
                                    <span class="indent"></span>Phone: {{ lead.agent.phone }}
                                </p>
                            </div>
                        </div>
                        <div class="content" v-else-if="options.sellerEmail3">
                            <div class="script">
                                <p class="head">AA Seller Qual Email 3</p>
                                <p class="message" @click="paste">
                                    Ahoy, {{ leadFirstName ? leadFirstName : 'there' }}!<br><br>

                                    <span class="indent"></span>{{ lead.agent.personaName }} here from {{ lead.agent.personaTeamName }} again. Since I haven’t<br>
                                    heard back, I assume my last email must have gotten intercepted by a band of<br>
                                    internet pirates and never reached you (we’ll have to be more careful next time).<br><br>

                                    The fact of the matter is if you’re going to embark upon an important journey,<br>
                                    you’re going to want to work with an agent who can navigate through sunny skies<br>
                                    & stormy weather (at {{ lead.agent.personaTeamName }} the only time we ever jump ship<br>
                                    is when we get a low-ball offer). In short: we want to give you a selling experience<br>
                                    that you can really treasure.<br><br>

                                    So if you’d like to chat, give us a call at {{ lead.agent.phone }}. If not, we'll start<br>
                                    prepping ourselves to walk the plank.<br><br>

                                    Best,<br><br>

                                    <span class="indent"></span>{{ lead.agent.personaName }}<br>
                                    <span class="indent"></span>{{ lead.agent.personaTeamName }}<br>
                                    <span class="indent"></span>{{ lead.agent.personaTitle }}<br>
                                    <span class="indent"></span>Phone: {{ lead.agent.phone }}
                                </p>
                            </div>
                        </div>
                        <div class="content" v-else>
                            <div class="script">
                                <p class="head">AA Seller Qual Email 1</p>
                                <p class="message" @click="paste">
                                    Hi {{ leadFirstName ? leadFirstName : 'there' }},<br><br>

                                    Greetings from {{ lead.agent.personaTeamName }} - we're glad you found us!<br><br>

                                    I see you’re looking for a personalized home valuation for the property on<br>
                                    {{ leadStreet ? leadStreet : 'a great street' }}. Good news... I can help!<br>

                                    I'd love to set up an appointment with our team - do you have any time available in<br>
                                    the next few days to meet with one of our listing specialists?<br><br>

                                    Also, it would be super helpful if you could send back any other details that make<br>
                                    your home unique. This way we can begin prepping the most accurate comparative<br>
                                    market analysis possible to help us figure out the best listing price for your home.<br><br>

                                    I look forward to connecting with you!<br><br>

                                    Best,<br><br>

                                    <span class="indent"></span>{{ lead.agent.personaName }}<br>
                                    <span class="indent"></span>{{ lead.agent.personaTeamName }}<br>
                                    <span class="indent"></span>{{ lead.agent.personaTitle }}<br>
                                    <span class="indent"></span>Phone: {{ lead.agent.phone }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="head">
                            <div class="options left">
                                <a class="dropdown-button" href="#" data-activates="message-options" @click.prevent>
                                    {{ option }} <i class="material-icons">&#xE5C5;</i>
                                </a>
                                <ul id="message-options" class="dropdown-content">
                                    <li>
                                        <a href="#" @click.prevent>
                                            {{ option }} <i class="material-icons">&#xE5C7;</i>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li @click="toggleOption('buyerSpecificProperties', 'Buyer Specific Properties')">
                                        <a href="#" @click.prevent>Buyer Specific Properties</a>
                                    </li>
                                    <li @click="toggleOption('buyerGeneral', 'Buyer General')">
                                        <a href="#" @click.prevent>Buyer General</a>
                                    </li>
                                    <li @click="toggleOption('sellerGeneral', 'Seller General')">
                                        <a href="#" @click.prevent>Seller General</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="close right">
                                <i class="material-icons orange-text" @click="close">&#xE5CD;</i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="content" v-if="options.buyerGeneral">
                            <div class="script">
                                <p class="head">Greeting</p>
                                <p class="message" @click="paste">
                                    Hi {{ lead.firstName ? 'there' : '' }}, this is {{ lead.agent.personaName }} with
                                    {{ lead.agent.personaTeamName }}. We just received your inquiry online.
                                    We specialize in helping buyers find their ideal property. Would you prefer
                                    to chat via text message or should I give you a quick call so that I can assist you?
                                </p>
                            </div>
                            <div class="script">
                                <p class="head">Questions</p>
                                <p class="message" @click="paste">
                                    Awesome! It looks like you were interested in the property at
                                    {{ lead.street ? lead.street : 'your area' }}. That is a great area! What are some
                                    of the other neighborhoods that you are interested in?
                                </p>
                                <p class="message" @click="paste">
                                    Thanks {{ lead.firstName ? lead.firstName : '' }}! That sounds great. Let me ask
                                    you, how soon would you like to be living in your new home?
                                </p>
                                <p class="message" @click="paste">
                                    How exciting! Our team would love to assist you in finding the home of your dreams!
                                    What is the budget that you are working with? And, are you currently working with
                                    any other Agents?
                                </p>
                                <p class="message" @click="paste">
                                    Excellent! It's an incredible time to be looking! Have you been working with a
                                    lender already and/or are you preapproved for a loan?
                                </p>
                                <p class="message" @click="paste">
                                    Sounds good. We can always refer a lender to you if you need one. So tell me, what
                                    are the most important features in your new home? # Bedrooms, bathrooms, yard space,
                                    kitchen, style, etc?
                                </p>
                                <p class="message" @click="paste">
                                    Looking good! Sounds like a great place. :) Is there anything that would be a
                                    dealbreaker for you on a home?
                                </p>
                                <p class="message" @click="paste">
                                    I totally get it. Just for fun, what are the circumstances around wanting to find
                                    a new home?
                                </p>
                                <p class="message" @click="paste">
                                    Awesome! I have all the information I need to get things moving for you! I will be
                                    having {{ lead.agent.firstName }} {{ lead.agent.lastName }} reach out to you to
                                    confirm a time to see this property. When would be the best time for you to see it?
                                </p>

                            </div>
                            <div class="script">
                                <p class="head">Conclusion</p>
                                <p class="message" @click="paste">
                                    Perfect!! {{ lead.agent.firstName }} will be in touch at/after/on ....
                                    Have a great day! :)
                                </p>
                            </div>
                        </div>
                        <div class="content" v-else-if="options.sellerGeneral">
                            <div class="script">
                                <p class="head">Greeting</p>
                                <p class="message" @click="paste">
                                    Hi {{ lead.firstName ? lead.firstName : 'there' }}, this is
                                    {{ lead.agent.personaName }} with {{ lead.agent.personaTeamName }}. We received
                                    your inquiry about your home. Would you prefer to chat via text message or should
                                    I give you a quick call so that I can assist you?
                                </p>
                            </div>
                            <div class="script">
                                <p class="head">Questions</p>
                                <p class="message" @click="paste">
                                    Awesome! I imagine you were looking into the value of your home. What neighborhood
                                    is your property in?
                                </p>
                                <p class="message" @click="paste">
                                    Thanks {{ lead.firstName ? lead.firstName : '' }}! What are your reasons for wanting
                                    to sell this property? And ideally, how quickly did you want to sell it?
                                </p>
                                <p class="message" @click="paste">
                                    How exciting! Our team specializes in listings in this market. Are you working with
                                    any other Agents on this?
                                </p>
                                <p class="message" @click="paste">
                                    Excellent! It's an incredible time to be selling property! Just to give us a head
                                    start, what are the most important features in your current property? # Bedrooms,
                                    bathrooms, yard space, kitchen, style, etc?
                                </p>
                                <p class="message" @click="paste">
                                    Looking good! Sounds like a great place. :) In a perfect world, what price were you
                                    hoping to get for the property?
                                </p>
                                <p class="message" @click="paste">
                                    Gotcha. Have you found a new home for yourself or would you like us to start a
                                    search for you?
                                </p>
                                <p class="message" @click="paste">
                                    I totally get it. If you had to guess, are there any improvements that need
                                    to be handled ahead of the sale of this property?
                                </p>
                                <p class="message" @click="paste">
                                    Awesome! I know that {{ lead.agent.firstName }} {{ lead.agent.lastName }} has some
                                    openings over the next couple days. When would be the best time to stop by and
                                    check out the property?
                                </p>
                            </div>
                            <div class="script">
                                <p class="head">Conclusion</p>
                                <p class="message" @click="paste">
                                    Perfect. {{ lead.agent.firstName }} will be over at/after/on ......
                                    Have a great day! :)
                                </p>
                            </div>
                        </div>
                        <div class="content" v-else>
                            <div class="script">
                                <p class="head">Greeting</p>
                                <p class="message" @click="paste">
                                    Hi {{ lead.firstName ? lead.firstName : 'there' }}, this is
                                    {{ lead.agent.personaName }} with {{ lead.agent.personaTeamName }}. Thanks for
                                    contacting us about {{ lead.street ? lead.street : 'your area' }}. Would you prefer
                                    to chat via text message or should I give you a quick call so that I can assist you?
                                </p>
                            </div>
                            <div class="script">
                                <p class="head">Questions</p>
                                <p class="message" @click="paste">
                                    Awesome! It looks like you were interested in the property at
                                    {{ lead.street ? lead.street : 'your area' }}. That is a great area! What are some
                                    of the other neighborhoods that you are interested in?
                                </p>
                                <p class="message" @click="paste">

                                    Thanks {{ lead.firstName ? lead.firstName : '' }}! That sounds great. Let me ask
                                    you, how soon would you like to be living in your new home?
                                </p>
                                <p class="message" @click="paste">
                                    How exciting! Our team would love to assist you in finding the home of your dreams!
                                    What is the budget that you are working with? And, are you currently working with
                                    any other Agents?
                                </p>
                                <p class="message" @click="paste">
                                    Excellent! It's an incredible time to be looking! Have you been working
                                    with a lender already and/or are you preapproved for a loan?
                                </p>
                                <p class="message" @click="paste">
                                    Sounds good. We can always refer a lender to you if you need one. So tell me, what
                                    are the most important features in your new home? # Bedrooms, bathrooms, yard space,
                                    kitchen, style, etc?
                                </p>
                                <p class="message" @click="paste">
                                    Looking good! Sounds like a great place. :) Is there anything that would be a
                                    dealbreaker for you on a home?
                                </p>
                                <p class="message" @click="paste">
                                    I totally get it. Just for fun, what are the circumstances around wanting to find
                                    a new home?
                                </p>
                                <p class="message" @click="paste">
                                    Awesome! I have all the information I need to get things moving for you! I will be
                                    having {{ lead.agent.firstName }} {{ lead.agent.lastName }} reach out to you to
                                    confirm a time to see this property. When would be the best time for you to see it?
                                </p>
                            </div>
                            <div class="script">
                                <p class="head">Conclusion</p>
                                <p class="message" @click="paste">
                                    Perfect!! {{ lead.agent.firstName }} will be in touch at/after/on ....
                                    Have a great day! :)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <message-input v-show="!$parent.shown.email && !$parent.tabs.call"
                       ref="messageInput"
                       :activeLeadId="activeLeadId"
                       :activeLead="activeLead"
                       :tabs="$parent.tabs">
        </message-input>
    </div>
</template>

<script type="text/ecmascript-6">
    import IScroll from 'iscroll';
    import iscroll from '../../../mixins/iscroll';
    import dropdown from '../../../mixins/dropdown';
    import Lead from '../../../objects/lead';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [iscroll, dropdown],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     scroll: null,
         *     option: string,
         *     buyerEmailOption: string,
         *     sellerEmailOption: string,
         *     options: {
         *         buyerSpecificProperties: boolean,
         *         buyerGeneral: boolean,
         *         sellerGeneral: boolean,
         *         buyerEmail1: boolean,
         *         buyerEmail2: boolean,
         *         buyerEmail3: boolean,
         *         sellerEmail1: boolean,
         *         sellerEmail2: boolean,
         *         sellerEmail3: boolean
         *     },
         *     offset: number
         * }} - Component Data
         */
        data() {
            return {
                scroll: null,
                option: 'Buyer Specific Properties',
                buyerEmailOption: 'AA Buyer Qual Email 1',
                sellerEmailOption: 'AA Seller Qual Email 1',
                options: {
                    buyerSpecificProperties: true,
                    buyerGeneral: false,
                    sellerGeneral: false,
                    buyerEmail1: true,
                    buyerEmail2: false,
                    buyerEmail3: false,
                    sellerEmail1: true,
                    sellerEmail2: false,
                    sellerEmail3: false,
                },
                offset: 56,
                lead: new Lead(),
            };
        },
        /**
         * Computed properties & methods.
         * @link https://vuejs.org/v2/api/#computed
         */
        computed: {
            /**
             * Concatenate agent first name & last name.
             * @returns {String} - Agent full name
             */
            agentFullName() {
                const firstName = this.lead.agent.firstName;
                const lastName = this.lead.agent.lastName;

                return `${firstName } ${ lastName}`;
            },
            /**
             * Get lead first name or placeholder.
             * @returns {String} - Lead firstName or 'there'
             */
            leadFirstName() {
                const firstName = this.lead.firstName;
                let result = 'there';

                if (firstName && firstName.toLowerCase() !== 'unknown') {
                    result = firstName;
                }

                return result;
            },
            /**
             * Get lead city name or placeholder.
             * @returns {String} - Lead city or 'your area'
             */
            leadCity() {
                const city = this.lead.city;
                let result = 'your area';

                if (city && city.toLowerCase() !== 'unknown') {
                    result = city;
                }

                return result;
            },
            /**
             * Get lead street name or placeholder.
             * @returns {String} - Lead street or ''
             */
            leadStreet() {
                const street = this.lead.street;
                let result = 'a great street';

                if (street && street.toLowerCase() !== 'unknown') {
                    result = street;
                }

                return result;
            },
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['activeLead', 'activeLeadId'],
        /**
         * Updated hook.
         * @link https://ru.vuejs.org/v2/api/#updated
         *
         * @returns {void}
         */
        updated() {
            this.initDropDown();
        },
        /**
         * Watch.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            activeLeadId: {
                /**
                 * Fetch active lead data.
                 *
                 * @returns {void}
                 */
                handler() {
                    this.lead = this.$parent.$parent.leads.getLead(this.activeLeadId);
                    this.setDefaultScript();
                },
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Mount IScroll.
             *
             * @returns {void}
             */
            mountIScroll() {
                this.scroll = new IScroll('#scripts', {
                    scrollbars: true,
                    mouseWheel: true,
                    interactiveScrollbars: true,
                    shrinkScrollbars: 'scale',
                    fadeScrollbars: true,
                });
            },
            /**
             * Toggle #scripts panel option.
             *
             * @param {string} key - Option group
             * @param {string} value - Option value
             * @param {string} leadType - Lead type
             *
             * @returns {void}
             */
            toggleOption(key, value, leadType) {
                for (const option in this.options) {
                    if (this.options.hasOwnProperty(option)) {
                        this.options[option] = key === option;
                    }
                }

                switch (leadType) {
                    case 'buyer':
                        this.buyerEmailOption = value;
                        this.option = 'Buyer Specific Properties';

                        break;
                    case 'seller':
                        this.sellerEmailOption = value;
                        this.option = 'Buyer Specific Properties';

                        break;
                    default:
                        this.option = value;
                        this.buyerEmailOption = 'AA Buyer Qual Email 1';
                        this.sellerEmailOption = 'AA Seller Qual Email 1';

                        break;
                }

                this.refreshIScroll();
            },
            /**
             * Paste pre-defined script to message input.
             * @param {MouseEvent} event - Click event
             * @returns {void}
             */
            paste(event) {
                this.$refs.messageInput.pasteMessage(event.target.innerText);
                this.close();
            },
            /**
             * Close #scripts panel.
             *
             * @returns {void}
             */
            close() {
                this.$parent.toggleShow('scripts');

                setTimeout(() => {
                    this.$parent.$refs.messages.refreshIScroll();
                }, 0);
            },
            /**
             * Set default script based on the lead details.
             *
             * @returns {void}
             */
            setDefaultScript() {
                if (this.lead.leadType === 'buyer' && this.lead.street) {
                    this.toggleOption('buyerSpecificProperties', 'Buyer Specific Properties');
                } else if (this.lead.leadType === 'buyer') {
                    this.toggleOption('buyerGeneral', 'Buyer General');
                } else {
                    this.toggleOption('sellerGeneral', 'Seller General');
                }
            },
        },
    };
</script>
