@import '../../../variables';
@import '../../../mixins';

.page-billing {
  background: $pp-grey-lighten;

  .custom-card {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 32px 64px;
    margin-bottom: 40px;
  }

  h5 {
    @include font($pp-dark, 1.2, 15px, null);
    font-family: 'Roboto';
    margin-top: 24px;
    margin-bottom: 16px;
  }

  h6 {
    @include font(#444444, null, 20px, null);
    font-family: 'Roboto';
  }

  .progress {
    border-radius: 50px;
    border: solid 2px $pp-green-portal;
    background: none;
    @include size(100%, 24px);

    .now {
      background-color: $pp-green-portal;
      display: block;
      @include size(37%, 24px);
    }
  }

  .quotas {
    @include font($pp-dark, 1.54, 13px, 500);
    color: $pp-grey-light;
    font-family: 'Roboto';
    text-align: right;
  }

  .btn-container {
    text-align: right;
    margin-top: 20px;

    .btn {
      @include font(#ffffff, null, 14px, 500);
      font-family: 'Roboto';
      letter-spacing: 0.5px;
      text-align: center;

      &.btn-cancel {
        color: $pp-grey;
        background: transparent;
        box-shadow: none;
      }

      &.btn-upgrade {
        background-color: #4990e2;
      }
    }

  }

  table {
    thead {
      border-bottom: none;
    }
    th {
      @include font($pp-grey, null, 12px, null);
      font-family: 'Roboto';
      padding-bottom: 0;
    }
    td {
      @include font($pp-dark, null, 15px, null);
      font-family: 'Roboto';
      letter-spacing: 0px;
    }
  }

  .link {
    @include font(#4a90e2, 1.14, 14px, 500);
    font-family: 'Roboto';
    letter-spacing: 0.5px;
    text-align: center;
    cursor: pointer;
  }

  .fpo {
    @include font($pp-dark, 1.17, 112px, 300);
    font-family: 'Roboto';
    letter-spacing: 0px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .invoices {
    padding-left: 0;
    padding-right: 0;

    h6 {
      padding-left: 64px;
      padding-right: 64px;
    }
    table {
      th {
        @include font($pp-grey, null, 12px, null);
        padding-bottom: 12px;
        font-family: 'Roboto';

        &:first-child,
        &:first-child {
          padding-left: 64px;
        }
        &:last-child,
        &:last-child {
          padding-right: 64px;
        }
      }
    }
  }
}