@import '../../../variables';
@import '../../../mixins';

.page-layout {
  background: #edecec;
  height: 100%;

  & > ul {
    background-color: $pp-grey-lighten;
    display: inline-block;
    vertical-align: top;
    @include size(256px, 100%);
    position: absolute;
    margin-top: 0;
    padding-top: 79px;
    margin-bottom: 0;

    & > li {
      padding-left: 24px;
      cursor: pointer;

      span {
        &.button-text {
          @include font($pp-dark, 3.6, 15px);
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0;
          text-align: left;
          vertical-align: top;
        }
      }

      .material-icons {
        margin-top: 17px;
        margin-right: 24px;
      }

      &.active {
        & > .material-icons {
          color: $pp-green;
        }
        & > span {
          &.button-text {
            color: $pp-green;
          }
        }
      }

      &.active,
      &:hover {
        background-color: #e8e8e8;
      }

      & > ul {

        & > li {
          height: 56px;
          padding-left: 48px;

          &.active {
            & > span {
              &.button-text {
                color: $pp-green;
              }
            }
          }
        }
      }
    }
  }

  .content-container {
    display: inline-block;
    vertical-align: top;
    @include size(100%);

    .content {
      margin-left: 320px;
      margin-right: 64px;
      margin-top: 96px;
      padding-top: 24px;
      background-color: $pp-white;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);

      table {

        span.container-icon i.material-icons {
          cursor: pointer;
          border-radius: 50%;
          padding: 8px;
          transition: background-color 200ms linear;

          &:active {
            background-color: $pp-call-alert;
          }
        }

        tr td {
          white-space: nowrap;
        }

        th,
        td {
          padding-left: 40px;
          padding-top: 0;
          padding-bottom: 0;
          height: 48px;

          input,
          select {
            height: 27px;
          }
        }

        input {
          margin-bottom: 0;
          text-overflow: ellipsis;
        }

        .action-item {
          @include font($pp-green, 1.14, 14px, 500);
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.5px;
          text-align: center;
          margin-left: 27px;
          cursor: pointer;


          &.disallow-update {
            color: $pp-grey-light;
          }

          &.create {
            margin-left: 12px;

            &.disallow-create {
              color: $pp-grey-light;
            }
          }
        }
      }

      .content-navigation {
        margin-left: 40px;
        margin-right: 40px;

        input[name=search] {
          @include size(320px, 40px);
          border: solid 1px rgba(0, 0, 0, 0.1);
          padding-left: 40px;

          & + a {
            float: right;
            padding: 0 1rem;
          }
        }

        label[for=search] i.material-icons {
          position: absolute;
          margin-top: 10px;
          margin-left: 10px;
          color: $pp-black;
          cursor: text;

          &:last-child {
            cursor: pointer;
          }
        }
      }

      .btn {
        @include font($pp-white, 2.64, 14px, 500);
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: none;
      }

      h2 {
        @include font($pp-grey-darken, 1.2, 20px);
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        margin-top: 0;
        margin-bottom: 16px;
      }
    }
  }

  .modal {

    .modal-footer {
      height: 90px;
      padding: 24px;

      .modal-action {
        @include font($pp-grey, null, 14px, 500);
        margin-left: 24px;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.5px;
        text-align: center;

        &.custom-green {
          color: $pp-white;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .logo {
    position: fixed;
    padding: 24px;
    display: block;
    bottom: 0;
  }

  .custom-green {
    background-color: $pp-green;
  }
}