@import '../../../variables';
@import '../../../mixins';

.page-leads {

  #search {
    display: inline-block;
    vertical-align: top;
  }

  .select-wrapper.filterStatus {
    width: 200px;
    display: inline-block;
  }

  .select-wrapper.filterRep {
    width: 200px;
    display: inline-block;
  }

  .sortable, .lead-name {
    cursor: pointer;
  }

  .sortable.direction img {
    transform: rotate(180deg);
  }


  div#leads-content-navigation {
    margin-left: 0px;
    margin-right: 0px;

    .title-row {
      padding-left: 40px;
      padding-right: 40px;

      .title {
        float:left;
      }
    }

    .submitted-filters-wrapper {
      float: right;
      margin-top: 0;

      .submitted-filter-label {
        float: left;
        color: $pp-white-nine;
        margin-right: 24px;
      }

      .submitted-filter-from, .submitted-filter-to {
        float: left;
        margin-top: 0;
        color: $pp-grey;
        padding-top: 3px;

        input {
          color: $pp-grey;
          border-bottom: $pp-form-border;
          margin-bottom: 0;
          height: 24px;
          width: 104px;
          margin-right: 16px;
          cursor: pointer;
        }

        label {
          top: 0px;
          left: 31px;
          cursor: pointer;

          &.active {
            top: 13px;
          }
        }
      }

      .popup-calendar {
        float: left;
        margin-top: 0;
      }

      td {
        text-align: center;
      }

      .icon {
        float: left;
        margin-right: 8px;
      }

      .datepicker-span {
        float: left;
      }
    }

    .filters-row-wrapper {
      border-top: 1px solid $pp-grey-light;
      border-bottom: 1px solid $pp-grey-light;

      .filters-row {
        color: $pp-dark;

        .filters-result-row {
          cursor: pointer;

          .filters-result {
            float: left;
            padding: 24px 40px;
            width: 100%;

            .filters-label {
              margin-right: 32px;
            }

            .filter-result {
              margin-right: 24px;

              .filter-label {
                font-size: 13px;
              }

              .filter-value {
                margin-left: 10px;
                font-size: 13px;
                color: $pp-grey;
              }
            }
          }

          .action-buttons {
            padding: 24px 40px;
            width: 260px;
            position: absolute;
            right: 21px;
            z-index: 100;
            cursor: auto;

            .clear-all {
              float: left;
              margin-right: 24px;
              font-size: 14px;
              color: $pp-blue;
              font-weight: 500;
              padding-top: 2px;
              letter-spacing: 0.5px;
              cursor: pointer;
            }

            .arrow {
              float: left;
              background: url(/assets/images/down-arrow.png) no-repeat center right;
              width: 24px;
              height: 24px;
              padding: 12px;
              cursor: pointer;

              &.reverse {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
              }
            }
          }
        }

        .filters-selectors-row {

          &.filters-show {
            display: block;
          }

          &.filters-hide {
            display: none;
          }

          .filterRep {
            border-radius: 0;

            .search {
              cursor: pointer;
            }

            .text {
              cursor: pointer;
            }
          }

          .ui.selection.dropdown {
            border: none;
            border-bottom: 1px solid $pp-white-nine;
            color: $pp-grey;

            .icon {
              color: $pp-black;
            }
          }

          .ui.search.selection.dropdown > input.search {
            padding: 0 10px;
            margin-top: -3px;
          }

          border-top: 1px solid $pp-grey-light;
          padding: 0px 14px;
        }



      }
    }


    #search {
      width: 248px;
    }

    .select-wrapper {
      margin-left: 24px;
      margin-right: 24px;
      width: 240px;
      display: inline-block;

      input {
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0;
        text-align: left;
        color: $pp-grey;
      }

      .caret {
        bottom: 40px;
        right: 8px;
      }
    }

    label[for="search"] {
      position: relative;
    }
  }

  table {
    margin-top: 10px;

    .leads-table-header {
      text-transform: uppercase;
    }

    .select-wrapper {
      width: 192px;

      input {
        border-bottom: none;
        margin-bottom: 0;
      }

      .caret {
        bottom: 16px;
        right: 8px;
      }
    }

    .sortable {
      background: url(/assets/images/none.png) no-repeat center right;
      @media (min-resolution: 192dpi) {
        background-image: url("/assets/images/none@3x.png");
      }

      @media (min-resolution: 144dpi) {
        background-image: url("/assets/images/none@2x.png");
      }

      &.asc {
        background-image: url(/assets/images/up.png);
        @media (min-resolution: 192dpi) {
          background-image: url("/assets/images/up@3x.png");
        }

        @media (min-resolution: 144dpi) {
          background-image: url("/assets/images/up@2x.png");
        }
      }

      &.desc {
        background-image: url(/assets/images/down.png);
        @media (min-resolution: 192dpi) {
          background-image: url("/assets/images/down@3x.png");
        }

        @media (min-resolution: 144dpi) {
          background-image: url("/assets/images/down@2x.png");
        }
      }
    }

    .dropdown-content {
      margin-top: -3px;
      margin-left: -16px;
      width: 192px;
    }
  }

  .dropdown-content {
    padding-bottom: 6px;

    li {
      min-height: 32px;

      & > span {
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: $pp-dark-alpha;

        padding-top: 6px;
        padding-bottom: 6px;
      }

      &:first-child {
        min-height: 50px;

        & > span {
          font-family: 'Roboto';
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: $pp-dark-alpha;
          border-bottom: 1px solid $pp-grey-lighten;
          padding-top: 16px;
          padding-bottom: 16px;
        }
      }
    }
  }

  .content-container {
    overflow-y: auto;
  }

  .pagination {
    text-align: center;
    span {
      @include size(40px);
      background-color: $pp-grey-lighten;
      border-radius: 50%;
      display: inline-block;
      vertical-align: top;
      margin-top: 32px;
      margin-bottom: 32px;
      color: $pp-grey;
      line-height: 40px;
      cursor: pointer;

      i.material-icons {
        color: $pp-grey;
        margin-top: 8px;
      }

      &.active {
        background-color: $pp-blue;
        color: $pp-white;
        cursor: default;
      }

      &.disabled {
        cursor: default;

        i.material-icons {
          color: $pp-grey-light;
        }
      }
    }
  }
}