@import '../../../variables';
@import '../../../mixins';

.page-permission {

  .select-dropdown {
    margin-left: -20px;
    margin-top: -20px;
    padding-top: 20px;
  }

  .select-wrapper {
    input.select-dropdown {
      margin-bottom: 0;
      height: 27px;
      border-bottom: none;
    }
  }

  .dropdown-content {
    padding-bottom: 6px;

    ul {
      border-radius: 2px;
      background-color: $pp-white;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);

      li {
        min-height: 32px;
        height: 32px;

        &:first-child {
          border-bottom: 1px solid $pp-grey-lighten;
          padding-bottom: 16px;
          height: 40px;

          span {
            padding-bottom: 8px;
            color: rgba(0, 0, 0, 0.3);
          }
        }

        span {
          @include font($pp-grey-darken, 1.54);
          padding: 8px 20px 0;
          text-align: left;
        }
      }
    }

    li {
      min-height: 32px;

      & > span {
        @include font(rgba(0, 0, 0, 0.87), 1.33, 15px, normal);
        font-family: 'Roboto';
        text-align: left;

        padding-top: 6px;
        padding-bottom: 6px;
      }

      &:first-child {
        min-height: 50px;

        & > span {
          @include font(rgba(0, 0, 0, 0.87), 1.33, 15px, normal);
          font-family: 'Roboto';
          text-align: left;
          border-bottom: 1px solid #eeeeee;
          padding-top: 16px;
          padding-bottom: 16px;
        }
      }
    }
  }

  .content-container {
    overflow-y: auto;

    label[for="search"] {
      position: relative;
    }
  }

  .concierges-table {

    .new-concierge-td {
      height: 70px !important;
      label {
        position: relative;
        top: -36px;
      }
    }

    thead {
      border-bottom: none;

      th {
        @include font($pp-dark, 1, 13px, 500);
        text-transform: uppercase;
        vertical-align: middle;
        position: relative;

        &.sortable {
          cursor: pointer;

          span {
            position: relative;
            top: 5px;
          }
          &:after {
            content: '';
            display: inline-block;
            float: right;
            @include size(24px);
            background-image: url('/assets/images/none.png');
            background-size: 24px 24px;

            @media (min-resolution: 192dpi) {
              background-image: url("/assets/images/none@3x.png");
            }
            @media (min-resolution: 144dpi) {
              background-image: url("/assets/images/none@2x.png");
            }
          }
          &.asc {
            &:after {
              background-image: url('/assets/images/down.png');
              transform: rotate(180deg);

              @media (min-resolution: 192dpi) {
                background-image: url("/assets/images/down@3x.png");
              }
              @media (min-resolution: 144dpi) {
                background-image: url("/assets/images/down@2x.png");
              }
            }
          }
          &.desc {
            &:after {
              background-image: url('/assets/images/down.png');

              @media (min-resolution: 192dpi) {
                background-image: url("/assets/images/grey@3x.png");
              }
              @media (min-resolution: 144dpi) {
                background-image: url("/assets/images/grey@2x.png");
              }
            }
          }
        }

        &:first-child {
          padding-left: 32px;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: $pp-gray-table;
        }

        td {
          @include font($pp-dark, 1.54, 13px);

          &:first-child {
            padding-left: 32px;
          }
        }
      }
    }
  }
  .content-navigation {
    button {
      float: right;
      padding: 0 1rem;
    }
  }
}