<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../../sass/components/console/messaging/email/email";
</style>

<template>
    <div class="email col l12">
    <i v-if="showFailIcon(email)" class="material-icons failed" title="Failed!">&#xE645;</i>
    <spinner v-if="showSpinner(email)" :isEmail="true"></spinner>
    <pre>
        <p :class="emailClass" v-html="emailText"></p>
    </pre>
    <p class="meta left-align">
        To {{email.to}} &bullet; {{email.senderFullName}} • {{email.createdAt}}
    </p>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['email'],
        /**
         * Computed properties.
         * @link https://vuejs.org/v2/api/#computed
         */
        computed: {
            /**
             * Get class for email by incoming param.
             *
             * @returns {string} - email class name
             */
            emailClass() {
                return this.email.incoming ? 'client' : 'host';
            },
            /**
             * Return email text with replaced new line tags
             *
             * @returns {string} - email text
             */
            emailText() {
                return this.email.text.replace(/(?:\r\n|\n)/g, '<br>');
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Show spinner
             *
             * @param {Email} email - email
             *
             * @returns {boolean} - Return true if must view spinner
             */
            showSpinner(email) {
                return email.incoming === 0 && email.statusId === 1;
            },
            /**
             * Show fail icon
             *
             * @param {Email} email - email
             *
             * @returns {boolean} - Return true if must view spinner
             */
            showFailIcon(email) {
                return email.incoming === 0 && email.statusId === 2;
            },
        },
    };
</script>