<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../../sass/components/console/admin/leads/navbar.search";
</style>

<template>
    <div id="admin-top-leads-search">
        <label for="search-input" class="search-label">
            <i class="material-icons" v-show="leadsComponent.leadCollections.search === ''">&#xE8B6;</i>
            <i class="material-icons"
               v-show="leadsComponent.leadCollections.search != ''"
               @click="leadsComponent.leadCollections.search = ''; leadsComponent.sendUpdateCollectionRequest();">&#xE14C;</i>
        </label>
        <input type="text"
               :placeholder="subPage === 'active' ? 'Search Active Leads' : 'Search Archive Leads'"
               name="search"
               id="search-input"
               v-model="leadsComponent.leadCollections.search"
               @keyup="leadsComponent.sendUpdateCollectionRequest();">
        <div class="clearfix"></div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            subPage: String,
        },
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     leadsComponent: object
         * }} - Component data
         */
        data() {
            return {
                leadsComponent: this.$parent.$parent.$parent,
            };
        },
    };
</script>