<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../../sass/components/portal/lead/lead.page";
</style>

<template>
    <div class="lead-page">
        <portalNavbar>
            <div slot="subContent" class="nav-content">
                <div class="container">
                    <div class="left">
                        <span class="location-name">
                            <router-link :to="allLeadsRoute">
                                My Leads
                            </router-link>
                        </span>
                        <span class="separator">
                            &gt;
                        </span>
                        <span class="user-name">
                            {{ leadFullName }}
                        </span>
                    </div>
                    <div class="right menu-actions">
                        <a class="refer" v-if="canSeeReferLink()" @click="showReferModal()">
                            <span>
                                <i class="material-icons">&#xE8D4;</i>refer
                            </span>
                        </a>
                        <a href="#send-modal" class="send-to" @click.prevent>
                            <span>
                                <i class="material-icons">&#xE0BE;</i>send to
                            </span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </portalNavbar>
        <div class="portal-page-wrapper">
            <transition name="fade">
                <div v-if="loading" class="loading-placeholder">
                    <div class="preloader-section">
                        <div class="progress">
                            <div class="indeterminate"></div>
                        </div>
                    </div>
                    <div>
                        <div class="base-placeholder basic-info-section"></div>
                        <div class="base-placeholder chat-section"></div>
                    </div>
                    <div class="base-placeholder lead-details-section"></div>
                    <div class="base-placeholder notes-section"></div>
                </div>
            </transition>
            <transition name="data-fade">
                <div v-show="!loading" class="row description-text">
                    <div class="col s6">Basic Info</div>
                    <div class="col s6">Chat History</div>
                </div>
            </transition>
            <transition name="data-fade">
                <div v-show="!loading" class="row lead-data">
                    <div class="col s6">
                        <portalSingleLeadCard :userData="lead" ref="leadCard"></portalSingleLeadCard>
                        <portalLeadDetails :userDetails="lead" ref="leadDetails"></portalLeadDetails>
                        <portalLeadNotes :notes="notes"></portalLeadNotes>
                    </div>
                    <div class="col s6">
                        <portalLeadChat :lead="lead" :chat="chatCollection" ref="leadChat"></portalLeadChat>
                    </div>
                </div>
            </transition>
        </div>
        <div id="refer-modal" class="modal">
            <div class="modal-content">
                <div class="header">
                    <div class="refer-image">
                        <i class="material-icons">&#xE8D4;</i>
                    </div>
                    Refer Lead
                </div>
                <div class="main-content">
                    <p>
                        Are you sure you want to refer {{ leadFullName }}?
                        After refering this lead you will be able to track its status from the referrals tab
                        in "My Leads".
                    </p>
                    <p>
                         Remember if you refer this lead you get 25% of the receiving agent's commission.
                        <a href="https://www.agentology.com/agent2agent/">LEARN MORE</a>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#"
                   @click.prevent="referLead"
                   class="refer modal-button modal-close modal-action waves-effect waves-green btn-flat">Refer</a>
                <a href="#"
                   class="cancel modal-button modal-action modal-close waves-effect waves-green btn-flat"
                   @click.prevent>Cancel</a>
            </div>
        </div>
        <div id="send-modal" class="modal">
            <div class="modal-content">
                <div class="header">
                    <div class="send-to-image">
                        <i class="material-icons">&#xE0BE;</i>
                    </div>
                    Send To
                </div>
                <div class="main-content">
                    <p>
                        Please type the email address(s) you would like to send this lead to.
                        Separate multiple email addresses using a comma (,).
                    </p>
                    <div class="input-field">
                        <input id="emails"
                               type="text"
                               placeholder="Email Address"
                               v-model="emails"
                               class="validate">
                        <label for="emails"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#"
                   class="refer modal-button modal-action waves-effect waves-green btn-flat"
                   @click.prevent="sendTo">Send</a>
                <a href="#"
                   class="cancel modal-button modal-action modal-close waves-effect waves-green btn-flat"
                   @click.prevent>Cancel</a>
            </div>
        </div>
        <div id="save-and-exit-modal" class="modal">
            <div class="modal-content">
                <div class="header">
                    Unsaved Edits!
                </div>
                <div class="main-content">
                    <p>
                        You have unsaved edits made to this lead!
                        Are you sure you want to exit without saving? These will be lost forever!
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#"
                   @click.prevent="saveAndExit"
                   class="refer modal-button modal-action modal-close waves-effect waves-green btn-flat">
                    SAVE AND EXIT
                </a>
                <a href="#"
                   @click.prevent="exit"
                   class="cancel modal-button modal-action modal-close waves-effect waves-green btn-flat">EXIT</a>
            </div>
        </div>
        <div id="show-call-notes" class="modal">
            <div class="modal-content">
                <div class="header">
                    Call Notes
                </div>
                <div class="main-content">
                    <p v-for="callNote in callNotes" v-html="messageText(callNote.note)"></p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#"
                   class="cancel modal-button modal-action modal-close waves-effect waves-green btn-flat"
                   @click.prevent>Close</a>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import Vue from 'vue';
    import moment from 'moment';
    import socket from '../../../mixins/socket';
    import leadFullName from '../../../mixins/lead-full-name';
    import NoteCollection from '../../../collections/noteCollection';
    import laroute from '../../../router/laroute';
    import Lead from '../../../objects/lead';
    import Note from '../../../objects/note';
    import Message from '../../../objects/message';
    import Email from '../../../objects/email';
    import Call from '../../../objects/call';
    import ChatCollection from '../../../collections/chatCollection';
    import { isEmail } from '../../../helpers/link';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket, leadFullName],
        /**
         * Data.
         *
         * @link https://vuejs.org/v2/api/#data
         *
         * @returns {{
         *     loading: boolean,
         *     lead: Lead,
         *     emails: string,
         *     allLeadsRoute,
         *     editMode: boolean,
         *     pathTo: string,
         *     tabTo: string,
         *     leadId: string,
         *     notes: NoteCollection,
         *     callNotes: Array
         * }} - Component data
         */
        data() {
            return {
                loading: true,
                lead: new Lead(),
                emails: '',
                allLeadsRoute: laroute.route('portal_myleads', { tab: 'all' }),
                editMode: false,
                pathTo: '',
                tabTo: '',
                leadId: this.$route.params.id,
                notes: new NoteCollection(),
                chatCollection: new ChatCollection(),
                callNotes: [],
                referInProgress: false,
            };
        },
        /**
         * Watch.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            editMode: {
                /**
                 * Watcher handler.
                 *
                 * @param {string} val - New value
                 * @param {string} oldVal - Old value
                 *
                 * @returns {void}
                 */
                handler(val, oldVal) {
                    if (val === false) {
                        this.cloneParentToChild();
                        this.saveLead();
                    }

                    $(document).ready(() => {
                        $('select').material_select();
                        $('.resizable-input').each((index, elem) => {
                            $(elem).attr('size', $(elem).val().length);
                        });
                    });
                },
            },
        },
        /**
         * Mounted hook.
         * Modal initialization and websocket initialization and subscribe.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            const vm = this;

            $(document).ready(() => {
                $('.modal').modal();
                vm.tryInitWebSocket(() => {
                    vm.$socket.emit('subscribeLead', vm.$root.id, vm.$root.token, vm.leadId);
                });

                clearInterval(vm.intervalActivity);

                vm.intervalActivity = setInterval(() => {
                    vm.updateActivity();
                }, 1000);
            });
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Send lead to emails.
             *
             * @returns {void}
             */
            sendTo() {
                if (this.validateEmails(this.emails)) {
                    $('#send-modal').modal('close');

                    this.$socket.emit('leadSendTo', this.$root.id, this.$root.token, this.leadId, this.emails);

                    // 3 seconds toast
                    Materialize.toast(`${this.lead.firstName }’s details were sent to: ${ this.emails}`, 3000);
                    $('#emails').val('');
                } else {
                    $('#emails').addClass('invalid');
                }
            },
            /**
             * Method for cloning lead data from here to child components.
             * It is needed for checking changed data in form.
             *
             * @returns {void}
             */
            cloneParentToChild() {
                this.$refs.leadDetails.clonedDetails = Vue.util.extend({}, this.lead);
                this.$refs.leadCard.clonedUser = Vue.util.extend({}, this.lead);
            },
            /**
             * Validate string as email.
             *
             * @param {string} field - Expect email string
             *
             * @returns {boolean} - True if field is valid email
             */
            validateEmail(field) {
                return isEmail(field);
            },
            /**
             * Validate list of emails.
             *
             * @param {string} emailsList - Expect list of comma separated emails
             *
             * @returns {boolean} - True if field is valid email
             */
            validateEmails(emailsList) {
                const $emailsEl = $('label[for="emails"]');

                if (emailsList === '') {
                    $emailsEl.attr('data-error', 'Please enter list of emails');

                    return false;
                }

                const result = emailsList.split(',');

                for (let index = 0; index < result.length; index++) {
                    if (result[index] !== '' && !this.validateEmail(result[index])) {
                        $emailsEl.attr(
                            'data-error',
                            `Please check, \`${ result[index] }\` email address not valid!`
                        );

                        return false;
                    }
                }

                $emailsEl.removeAttr('data-error');

                return true;
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {Array} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                switch (message) {
                    case 'leadGet':
                        this.listenLeadGet(data);
                        break;
                    case 'leadRefer':
                        this.listenLeadRefer();
                        break;
                    case 'leadReferFailed':
                        this.listenLeadReferFailed();
                        break;
                    case 'leadUpdate':
                        this.listenLeadUpdate(data);
                        break;
                    case 'leadUpdateStatus':
                        this.listenLeadUpdateStatus(data);
                        break;
                    case 'leadUpdateTime':
                        this.listenLeadUpdateTime(data);
                        break;
                    case 'leadDelete':
                        this.listenLeadDelete(data);
                        break;
                    case 'leadCall':
                        this.listenLeadCall(data);
                        break;
                    case 'leadCallEnd':
                        this.listenLeadCallEnd(data);
                        break;
                    case 'leadCallNotes':
                        this.listenLeadCallNotes(data);
                        break;
                    case 'noteAll':
                        this.listenLeadNotes(data);
                        break;
                    case 'noteCreate':
                        this.listenNoteCreate(data);
                        break;
                    case 'messageAll':
                        this.listenMessages(data);
                        break;
                    case 'allCalls':
                        this.listenCalls(data);
                        break;
                    case 'emailAll':
                        this.listenEmails(data);
                        break;
                    case 'emailCreate':
                        this.listenEmailCreate(data);
                        break;
                    case 'messageCreateReport':
                        this.listenMessageCreate(data);
                        break;
                    default:
                        break;
                }
            },
            /**
             * Listen calls event.
             *
             * @param {Array} data - call event data
             *
             * @returns {void}
             */
            listenCalls(data) {
                this.chatCollection.addObject(data.calls, Call);
                this.chatCollection.updateCollection();
                this.refreshIScrollInLeadChat();
            },
            /**
             * Listen message create event.
             *
             * @param {Array} data - message event data
             *
             * @returns {void}
             */
            listenMessageCreate(data) {
                this.chatCollection.addObject(data.message, Message);
                this.chatCollection.updateCollection();
                this.refreshIScrollInLeadChat();
            },
            /**
             * Listen email create event
             *
             * @param {Array} data - message data
             *
             * @returns {void}
             */
            listenEmailCreate(data) {
                this.chatCollection.addObject(data.email, Email);
                this.chatCollection.updateCollection();
                this.refreshIScrollInLeadChat();
            },
            /**
             * Listen emails data.
             *
             * @param {Array} data - leadId and emails array
             *
             * @returns {void}
             */
            listenEmails(data) {
                this.chatCollection.addObject(data.emails, Email);
                this.chatCollection.updateCollection();
                this.refreshIScrollInLeadChat();
            },
            /**
             * Listen emails data.
             *
             * @param {Object} data - leadId and messages array
             *
             * @returns {void}
             */
            listenMessages(data) {
                this.chatCollection.addObject(data.messages, Message);
                this.chatCollection.updateCollection();
                this.refreshIScrollInLeadChat();
            },
            /**
             * Listen lead data.
             *
             * @param {Array} data - Lead
             *
             * @returns {void}
             */
            listenLeadGet(data) {
                if (data === null) {
                    this.$router.push(laroute.route('portal_myleads', { tab: 'all' }));

                    return;
                }

                this.lead.addDataRecursively(data);
                this.lead.createdAt = moment(this.lead.createdAt).format('MM/DD/YYYY');

                this.cloneParentToChild();

                this.loading = false;

                this.refreshIScrollInLeadChat();
            },
            /**
             * Listen note create.
             *
             * @param {Object} data - Notes
             *
             * @returns {void}
             */
            listenNoteCreate(data) {
                if (data.note.type !== 'Admin Note') {
                    const note = new Note();

                    note.addDataRecursively(data.note);
                    note.createdAt = moment(note.createdAt).format('MM/DD/YY');

                    const call = this.chatCollection.getObject(note.callId, Call);

                    if (call) {
                        call.notes.addNote(note);
                        call.notes.updateCollection();

                        this.chatCollection.updateObject(call, Call);
                    }

                    this.notes.addNote(note);
                    this.notes.updateCollection();

                    this.refreshIScrollInLeadChat();
                }
            },
            /**
             * Listen notes for notes.
             *
             * @param {Array} data - Notes
             *
             * @returns {void}
             */
            listenLeadNotes(data) {
                data.notes.forEach((elem, index) => {
                    const note = new Note();

                    note.addDataRecursively(elem);
                    note.createdAt = moment(note.createdAt).format('MM/DD/YY');

                    this.notes.addNote(note);
                });

                this.notes.updateCollection();
            },
            /**
             * Listen lead update status.
             *
             * @param {Object} data - {leadId: int, note:null|Note, status: string}
             *
             * @returns {void}
             */
            listenLeadUpdateStatus(data) {
                this.lead.status = data.status;
            },
            /**
             * Last activity update method.
             *
             * @returns {void}
             */
            updateActivity() {
                // This code need to make lead updatedAt change for activity functionality
                // Fix this if you will find better solution
                this.lead.updatedAt = `${this.lead.updatedAt }!`;
                this.lead.updatedAt = this.lead.updatedAt.replace(/!/, '');
            },
            /**
             * Listen update lead time.
             *
             * @param {Array} data - Lead
             *
             * @returns {void}
             */
            listenLeadUpdateTime(data) {
                this.lead.updatedAt = data.updatedAt.date;
            },
            /**
             * Listen delete lead.
             *
             * @param {number} leadId - Lead Id
             *
             * @returns {void}
             */
            listenLeadDelete(leadId) {
                // TODO: implement lead delete action
            },
            /**
             * Listen call start.
             *
             * @param {array} data - Call data
             *
             * @returns {void}
             */
            listenLeadCall(data) {
                this.chatCollection.addObject(data.leadCall, Call);
                this.chatCollection.updateCollection();

                this.refreshIScrollInLeadChat();
            },
            /**
             * Update scroll position and content height.
             *
             * @returns {void}
             */
            refreshIScrollInLeadChat() {
                this.$refs.leadChat.refreshIScroll();
            },
            /**
             * Listen call end.
             *
             * @param {array} data - End call data
             *
             * @returns {void}
             */
            listenLeadCallEnd(data) {
                const callComponent = this.$refs.leadChat.$refs[`callEnd${ data.leadCallId}`];

                if (typeof callComponent != 'undefined') {
                    callComponent[0].stopTimer();
                    callComponent[0].setFinishedAtTime(data.finishedAt);
                }
            },
            /**
             * Listen call notes.
             *
             * @param {array} data - Call notes data
             *
             * @returns {void}
             */
            listenLeadCallNotes(data) {
                // TODO: implements it
            },
            /**
             * Listen lead update.
             *
             * @param {Array} data - Lead
             *
             * @returns {void}
             */
            listenLeadUpdate(data) {
                if (data === null) {
                    return;
                }

                this.lead.addDataRecursively(data);
                this.lead.createdAt = moment(this.lead.createdAt).format('MM/DD/YYYY');
            },
            /**
             * Listen lead refer data.
             *
             * @returns {void}
             */
            listenLeadRefer() {
                const text = `${this.leadFullName} was referred to the Agentology Referral Network`;
                // 10 seconds delayed toast
                Materialize.toast(text, 10000);
                this.referInProgress = false;
            },

            listenLeadReferFailed() {
                let text = 'Sorry! We encountered an error and are unable to refer lead at this time.';
                text += '</br>';
                text += 'Please contact support@agentology.com';
                // 10 seconds delayed toast
                Materialize.toast(text, 10000);
                this.referInProgress = false;
            },
            /**
             * Redirect to another route without saving data.
             *
             * @returns {void}
             */
            exit() {
                this.editMode = false;
                this.$router.push(this.pathTo);
            },
            /**
             * Save lead via websocket and update updatedAt property in lead object.
             *
             * @returns {void}
             */
            saveLead() {
                this.$socket.emit('leadUpdateByAgent', this.$root.id, this.$root.token, this.lead);
                this.lead.updatedAt = moment.utc().format('YYYY-MM-DD hh:mm:ss');
            },
            /**
             * Save data and go to another route.
             *
             * @returns {void}
             */
            saveAndExit() {
                this.saveLead();
                this.exit();
            },
            /**
             * Check if user can se refer link.
             *
             * @returns {Boolean} - If user can see refer link
             */
            canSeeReferLink() {
                return this.lead.status === 'New lead' || this.lead.status === 'Qualified';
            },
            /**
             * Refer lead and redirect to referred tab.
             *
             * @returns {void}
             */
            referLead() {
                if (!this.referInProgress) {
                    this.$socket.emit('leadRefer', this.$root.id, this.$root.token, this.$route.params.id);
                    this.referInProgress = true;
                }
            },
            /**
             * Show refer modal.
             *
             * @returns {void}
             */
            showReferModal() {
                if (this.checkFieldsForRefer()) {
                    if (this.referInProgress) {
                        const text = 'Previos referring process still running. Please wait.';
                        // 5 seconds delayed toast
                        Materialize.toast(text, 5000);
                    } else {
                        $('#refer-modal').modal('open');
                    }
                } else {
                    const text = 'Please fill all fields required for referring. (First name and last name)';
                    // 5 seconds delayed toast
                    Materialize.toast(text, 5000);
                }
            },
            /**
             * Check fields for refer.
             *
             * @returns {boolean} is all refer leads filled
             */
            checkFieldsForRefer() {
                return this.lead.firstName && this.lead.lastName;
            },
            /**
             * Return message text with correct line break
             *
             * @param {string} message - text
             *
             * @returns {string} - message text
             */
            messageText(message) {
                return message.replace(/\n/g, '<br>');
            },
        },
        /**
         * Before route leave guard.
         *
         * @link https://router.vuejs.org/en/advanced/navigation-guards.html
         *
         * @param {Route} to - The target Route Object being navigated to
         * @param {Route} from - The current route being navigated away from
         * @param {Function} next - Callback resolver. Depends on next provided args
         *
         * @returns {void}
         */
        beforeRouteLeave(to, from, next) {
            this.pathTo = to.path;
            if (this.editMode) {
                $('#save-and-exit-modal').modal('open');
            } else {
                next();
            }
        },
        /**
         * Before route update guard.
         *
         * @link https://router.vuejs.org/en/advanced/navigation-guards.html
         *
         * @param {Route} to - The target Route Object being navigated to
         * @param {Route} from - The current route being navigated away from
         * @param {Function} next - Callback resolver. Depends on next provided args
         *
         * @returns {void}
         */
        beforeRouteUpdate(to, from, next) {
            this.pathTo = to.path;
            this.tabTo = to.params.tab;
            if (this.editMode) {
                $('#save-and-exit-modal').modal('open');
            } else {
                next();
            }
        },
    };
</script>
