<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/portal/lead/lead.details";
</style>

<template>
    <div class="lead-details">
        <div class="title">
            Lead Details
        </div>
        <div class="details-data">
            <div class="row">
                <div class="lead-details-col col s12 m12">
                    <div class="card">
                        <div v-if="!$parent.editMode">
                            <div class="card-content">
                                <div class="details-row">
                                    <div class="detail-name left">
                                        Last Activity:
                                    </div>
                                    <div class="detail-value right">
                                        {{ userDetails.activity() }}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="details-row">
                                    <div class="detail-name left">
                                        Target Price:
                                    </div>
                                    <div class="detail-value right">
                                        {{ userDetails.priceRange }}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="details-row">
                                    <div class="detail-name left">
                                        Time Frame:
                                    </div>
                                    <div class="detail-value right">
                                        {{ userDetails.timeFrame }}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="details-row">
                                    <div class="detail-name left">
                                        Beds:
                                    </div>
                                    <div class="detail-value right">
                                        {{ userDetails.bedrooms }}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="details-row">
                                    <div class="detail-name left">
                                        Baths:
                                    </div>
                                    <div class="detail-value right">
                                        {{ userDetails.bathrooms }}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="details-row">
                                    <div class="detail-name left">
                                        Mortgage Status:
                                    </div>
                                    <div class="detail-value right">
                                        {{ userDetails.mortgage }}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div v-else class="editable-content">
                            <div class="card-content">
                                <div class="details-row">
                                    <div class="detail-name left">
                                        Last Activity:
                                    </div>
                                    <div class="detail-value right">
                                        {{ userDetails.activity() }}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div :class="checkInputChange('priceRange', true) + 'details-row'">
                                    <div class="detail-name left">
                                        Target Price:
                                    </div>
                                    <div class="detail-value right">
                                        <select v-select="userDetails.priceRange" class="initialized">
                                            <option value="" disabled="" selected="">Target Price</option>
                                            <option v-for="option in priceOptions"
                                                    :value="option"
                                                    :selected="option === userDetails.priceRange">{{ option }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div :class="checkInputChange('timeFrame', true) + 'details-row'">
                                    <div class="detail-name left">
                                        Time Frame:
                                    </div>
                                    <div class="detail-value right">
                                        <select v-select="userDetails.timeFrame" class="initialized">
                                            <option value="" disabled="" selected="">Time Frame</option>
                                            <option v-for="option in timeOptions"
                                                    :value="option"
                                                    :selected="option === userDetails.timeFrame">{{ option }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="details-row">
                                    <div class="detail-name left">
                                        Beds:
                                    </div>
                                    <div class="detail-value right">
                                        <input type="text"
                                               v-model="userDetails.bedrooms"
                                               size="3"
                                               :class="checkInputChange('bedrooms')">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="details-row">
                                    <div class="detail-name left">
                                        Baths:
                                    </div>
                                    <div class="detail-value right">
                                        <input type="text"
                                               v-model="userDetails.bathrooms"
                                               size="3"
                                               :class="checkInputChange('bathrooms')">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div :class="checkInputChange('mortgage', true) + 'details-row'">
                                    <div class="detail-name left">
                                        Mortgage Status:
                                    </div>
                                    <div class="detail-value right">
                                        <select v-select="userDetails.mortgage" class="initialized">
                                            <option value="" disabled="" selected="">Mortgage Status</option>
                                            <option v-for="option in statusOptions"
                                                    :value="option"
                                                    :selected="option === userDetails.mortgage">{{ option }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import Vue from 'vue';

    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            userDetails: Object,
        },
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     priceOptions: [
         *         string,
         *         string,
         *         string,
         *         string,
         *         string,
         *         string
         *     ],
         *     timeOptions: [
         *         string,
         *         string,
         *         string,
         *         string
         *     ],
         *     statusOptions: [
         *         string,
         *         string,
         *         string,
         *         string,
         *         string,
         *         string
         *     ],
         *     clonedDetails
         * }} - Component data
         */
        data() {
            return {
                priceOptions: [
                    'Under $200,000',
                    '$200,000 - $400,000',
                    '$400,000 - $600,000',
                    '$600,000 - $800,000',
                    '$800,000 - $1,000,000',
                    'Over $1,000,000',

                ],
                timeOptions: [
                    'Within 3 months',
                    '3-6 months',
                    '6 months or longer',
                    'I\'m not sure',
                ],
                statusOptions: [
                    'Pre-Qualified',
                    'Pre-Approved',
                    'Haven\'t Applied Yet',
                    'Cash Buyer',
                    'I don\'t know',
                    'Not Applicable',
                ],
                clonedDetails: Vue.util.extend({}, this.userDetails),
            };
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * This method resize input text by content.
             *
             * @param {KeyboardEvent} event - Key-up event
             *
             * @returns {void}
             */
            resizeInput(event) {
                const element = event.target;

                $(element).attr('size', $(element).val().length);
            },
            /**
             * Checks input change.
             *
             * @param {string} property - Object property name
             * @param {boolean|null} select - Select or input field check
             *
             * @returns {string} - Class name
             */
            checkInputChange(property, select) {
                if (this.userDetails[property] !== this.clonedDetails[property]) {
                    return select ? 'select-changed ' : 'changed-field ';
                }

                return '';
            },
        },
    };
</script>
