<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/portal/lead/lead.notes";
</style>

<template>
    <div class="notes-wrapper">
        <div class="title">
            Notes
        </div>
        <div class="notes-content">
            <div class="row">
                <div class="lead-notes col s12 m12">
                    <div :class="{card: true, 'empty-notes': !notes.computedList.length}">
                        <div class="card-content">
                            <div v-if="!notes.computedList.length" class="empty-notes-content">
                                No notes have been made
                            </div>
                            <div class="note" v-for="note in notes.computedList">
                                <div class="note-info">
                                    <span class="note-source">
                                        {{ note.type === 'Note for Agent' ? 'Concierge Note' : note.type }}
                                    </span>
                                    <span class="note-date">
                                        {{ note.createdAt }}
                                    </span>
                                </div>
                                <div class="note-text">
                                    <div>
                                        <p class="text" v-html="messageText(note.note)"></p>
                                    </div>
                                    <div class="show-more">
                                        <a href="#" @click.prevent="showMore">SHOW NOTE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import NoteCollection from '../../../collections/noteCollection';

    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            notes: NoteCollection,
        },
        /**
         * Watch.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            notes: {
                /**
                 * Watcher handler.
                 *
                 * @returns {void}
                 */
                handler() {
                    this.checkShowMore();
                },
                deep: true,
            },
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            this.checkShowMore();
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Calculates height and if height more than needed show button "show note".
             *
             * @returns {void}
             */
            checkShowMore() {
                $(document).ready(() => {
                    $('.note-text .text').each((index, elem) => {
                        const $clone = $(elem)
                            .clone()
                            .css({
                                width: 'auto',
                                visibility: 'hidden',
                                height: 'auto',
                            })
                            .appendTo($(elem).parent());

                        $clone.remove();
                        if ($clone.height() > $(elem).height()) {
                            $(elem).next('.show-more')
                                .show();
                        }
                    });
                });
            },
            /**
             * Show or hide note method.
             *
             * @param {Event} event - Event data
             *
             * @returns {void}
             */
            showMore(event) {
                const $showButton = $(event.target);

                if ($showButton.text() === 'SHOW NOTE') {
                    $showButton.text('HIDE NOTE');
                } else {
                    $showButton.text('SHOW NOTE');
                }

                $showButton.parent()
                    .prev()
                    .toggleClass('text');
            },
            /**
             * Return message text with correct line break
             *
             * @param {string} message - text
             *
             * @returns {string} - message text
             */
            messageText(message) {
                return message.replace(/\n/g, '<br>');
            },
        },
    };
</script>
