<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/portal/lead/single.lead.card";
</style>

<template>
    <div class="lead-card">
        <div class="lead-address-map">
            <img :src="'https://maps.googleapis.com/maps/api/staticmap?center='
                + leadAddress
                + '&zoom=14&size=448x160&key='
                + googleStaticMapsKey
                + '&' + googleMapsStyle"
                @error="getDefaultImage">
        </div>
        <div class="edit-button">
            <a v-if="!$parent.editMode"
               @click="enableEditMode"
               class="btn-floating btn-large waves-effect waves-light edit-disabled">
                <i class="material-icons">&#xE254;</i>
            </a>
            <a v-else @click="disableEditMode" class="btn-floating btn-large waves-effect waves-light edit-enabled">
                <i class="material-icons">&#xE876;</i>
            </a>
        </div>
        <div v-if="!$parent.editMode">
            <div class="lead-name">
                {{ leadName }}
                <img v-if="userData.status === 'Qualified'"
                     class="qualified-image"
                     src="/assets/images/qualified.png"
                     srcset="/assets/images/qualified@2x.png 2x, /assets/images/qualified@3x.png 3x">
            </div>
            <div :class="userData.status === 'Qualified' ? 'lead-status green-status': 'lead-status'">
                {{ userData.status }}
            </div>
            <div class="lead-type">
                {{ userData.leadType }}
            </div>
            <div class="lead-email blue-text">
                <a :href="'mailto:' + userData.email">{{ userData.email }}</a>
            </div>
            <div class="lead-phone blue-text">
                {{ userData.phone }}
            </div>
            <div class="lead-address blue-text">
                {{ leadAddress }}
            </div>
            <div class="lead-source gray-text">
                Source: {{ userData.source.name }}
            </div>
            <div class="lead-date gray-text">
                Date: {{ userData.createdAt }}
            </div>
        </div>
        <div v-else class="editable-content">
            <div class="lead-name">
                <input type="text"
                       placeholder="First name"
                       v-model="userData.firstName"
                       @keyup="resizeInput"
                       :class="checkInputChange('firstName') + 'resizable-input'">
                <input type="text"
                       placeholder="Last name"
                       v-model="userData.lastName"
                       @keyup="resizeInput"
                       :class="checkInputChange('lastName') + 'resizable-input'">
            </div>
            <div :class="userData.status === 'Qualified' ? 'lead-status green-status': 'lead-status'">
                {{ userData.status }}
            </div>
            <div class="lead-type">
                <div :class="checkInputChange('leadType', true) + 'input-field'">
                    <select v-select="userData.leadType" class="initialized">
                        <option v-for="option in userTypeOptions"
                                :value="option"
                                :selected="option === userData.leadType">{{ option }}</option>
                    </select>
                </div>
            </div>
            <div class="lead-email blue-text">
                <input type="text"
                       placeholder="Email"
                       v-model="userData.email"
                       @keyup="resizeInput"
                       :class="checkInputChange('email') + 'resizable-input'">
            </div>
            <div class="lead-phone blue-text">
                <input type="text"
                       placeholder="Phone"
                       v-mask="'(###) ###-####'"
                       v-model="userData.phone"
                       @keyup="resizeInput"
                       :class="checkInputChange('phone') + 'resizable-input'">
            </div>
            <div class="lead-address blue-text">
                <input type="text"
                       placeholder="Street"
                       v-model="userData.street"
                       @keyup="resizeInput"
                       :class="checkInputChange('street') + 'resizable-input'">
                <input type="text"
                       placeholder="City"
                       v-model="userData.city"
                       @keyup="resizeInput"
                       :class="checkInputChange('city') + 'resizable-input'">
                <input type="text"
                       placeholder="State"
                       v-model="userData.state"
                       @keyup="resizeInput"
                       :class="checkInputChange('state') + 'resizable-input'">
                <input type="text"
                       placeholder="Postal code"
                       v-model="userData.postalcode"
                       @keyup="resizeInput"
                       :class="checkInputChange('postalcode') + 'resizable-input'">
            </div>
            <div class="lead-source gray-text">
                Source: {{ userData.source.name }}
            </div>
            <div class="lead-date gray-text">
                Date: {{ userData.createdAt }}
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import Vue from 'vue';

    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            /**
             * @example {
             *      firstName: 'Test test',
             *      status: 'Qualified',
             *      role: 'Seller',
             *      email: 'test@test.com',
             *      phone: '(858) 653-1329',
             *      street: '1549 El Prado',
             *      city: 'San Diego',
             *      state: 'CA',
             *      postalcode: '92101',
             *      source: 'Zillow'
             *      date: '10/20/2017'
             * }
             */
            userData: Object,
        },
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      googleStaticMapsKey: string,
         *      googleMapsStyle: string,
         *      userTypeOptions: [],
         *      clonedUser: {}
         * }} - Component Data
         */
        data() {
            return {
                googleStaticMapsKey,
                googleMapsStyle: vueData.googleStyles,
                userTypeOptions: [
                    'buyer',
                    'seller',
                ],
                clonedUser: Vue.util.extend({}, this.userData),
            };
        },
        /**
         * Watch.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            'userData.postalcode'(val) {
                if (val) {
                    const replacedVal = val.replace(/[^0-9]/gim, '');

                    this.userData.postalcode = replacedVal.substring(0, 3);
                }
            },
        },
        /**
         * Computed properties & methods.
         * @link https://vuejs.org/v2/api/#computed
         */
        computed: {
            /**
             * Return lead name.
             *
             * @returns {string} - lead name
             */
            leadName() {
                return `${this.userData.firstName } ${ this.userData.lastName}`;
            },
            /**
             * Returns userData address.
             *
             * @returns {string} address string
             */
            leadAddress() {
                let result = '';

                if (this.userData.street) {
                    result += `${this.userData.street }, `;
                }
                if (this.userData.city) {
                    result += `${this.userData.city }, `;
                }
                if (this.userData.state) {
                    result += `${this.userData.state }, `;
                }
                if (this.userData.postalcode) {
                    result += this.userData.postalcode;
                }

                return result;
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Enable edit mode.
             *
             * @returns {void}
             */
            enableEditMode() {
                this.$parent.editMode = true;
            },
            /**
             * Disable edit mode.
             *
             * @returns {void}
             */
            disableEditMode() {
                this.$parent.editMode = false;
            },
            /**
             * Checks input change.
             *
             * @param {string} property - Object property name
             * @param {boolean|null} select - Select or input field check
             *
             * @returns {string} - Returns class name
             */
            checkInputChange(property, select) {
                if (this.userData[property] !== this.clonedUser[property]) {
                    return select ? 'select-changed ' : 'changed-field ';
                }

                return '';
            },
            /**
             * This method to make input text resize by content.
             *
             * @param {KeyboardEvent} event - Resize input key-up event
             *
             * @returns {void}
             */
            resizeInput(event) {
                const element = event.target;

                $(element).attr('size', $(element).val().length);
            },
            /**
             * Method for default image in case if google maps return an error.
             *
             * @param {Event} event - On error event
             *
             * @returns {void}
             */
            getDefaultImage(event) {
                const $that = $(event.target);

                $that.attr('src', '/assets/images/map.png');
                $that.attr('srcset', '/assets/images/map@2x.png 2x, /assets/images/map@3x.png 3x');
            },
        },
    };
</script>