@import '../../../variables';
@import '../../../mixins';

.page-profile {
  background: $pp-grey-lighten;

  .custom-card {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 32px 64px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  h6 {
    @include font($pp-grey-darken, null, 20px, null);
  }

  .btn-container {
    text-align: right;
    margin-top: 20px;

    .btn {
      @include font($pp-white, null, 14px, 500);
      letter-spacing: 0.5px;
      text-align: center;
      background-color: $pp-grey-light;
      color: $pp-grey;

      &.btn-active {
        background-color: $pp-blue;
        color: $pp-white;
      }
    }
  }

  label.input-field {
    @include font($pp-grey, null, 15px, null);
    letter-spacing: 0px;
  }
}