@import '../../../../variables';
@import '../../../../mixins';

.card-panel {
  padding: 8px 8px 15px 16px;
  margin-top: 16px;

  p {
    margin: 0;
  }

  .card-wrap {
    position: relative;

    i {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    .concierge-identity {
      @include font(null, 1.23);

      .title {
        @include font($pp-grey-darken, 1.07, 15px);
        padding: 8px 0;
      }

      p {
        color: $pp-dark;
        padding-bottom: 6px;

        &:last-child {
          padding-bottom: 0;
        }

        &.notes {
          .col {
            padding: 0;

            &.s3 {
              width: auto;
            }

            &.s9 {
              width: 50%;
              padding-left: 5px;
            }
          }

          .clipboard {
            font-style: italic;
            line-height: 1.38;
            letter-spacing: 0;
            color: $pp-dark;
          }
        }
      }

      span {
        color: $pp-grey;
      }
    }
  }
}