@import '../../../../variables';
@import '../../../../mixins';

.card-panel {
  padding: 8px 8px 15px 16px;
  margin-top: 16px;

  p {
    margin: 0;
  }

  .card-wrap {
    position: relative;

    i {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    .agent-contact-info {
      @include font(null, 1.23);

      .title {
        @include font($pp-grey-darken, 1.07, 15px);
        padding: 8px 0;
      }

      p {
        @include font($pp-blue, 1.54);
        padding-bottom: 6px;

        &:last-child {
          padding-bottom: 0;
        }
      }

      span {
        &.head {
          color: $pp-grey;
        }

        &.dark-text {
          color: $pp-dark;
        }
      }

      .clipboard {
        cursor: default;
      }

      .agent-info-exclamation{
        color: $pp-error;
        position: relative;
      }
    }
  }
}