@import '../../../../variables';
@import '../../../../mixins';

.lead-info-content {
  margin-bottom: 8.5em;

  .title {
    color: $pp-grey-darken;
  }

  form {
    .sub-title {
      @include font($pp-grey-darken, 1.07, 13px, 500);
      margin-bottom: 0;
    }

    p {
      margin-bottom: 8px;
    }

    .source {
      margin: 0;
    }

    .col {
      border-bottom: $pp-form-border;
      padding: 0;
      margin-top: 16px;
    }

    input {
      border-bottom: none;
      box-shadow: none;
      margin: 5px 0;
      height: 1.6rem;

      &.valid {
        background: $pp-green-alpha;
      }

      &.invalid {
        background: $pp-urgent-alpha;
      }

      &:focus {
        border-bottom: none;
        box-shadow: none;
      }
    }

    label {
      left: 0;
      line-height: 1.26rem;

      &.active {
        background: transparent;
        color: $pp-grey;
      }
    }

    .select-wrapper {
      border-bottom: none;
      margin-top: 10px;

      label {
        top: 5px;
        background-color: transparent;
      }
    }

    .select-wrapper span.caret {
      margin: 0;

      i {
        color: #000;
        cursor: pointer;
      }
    }

    .select-wrapper label {
      margin-bottom: 5px;
    }

    .select-wrapper input.select-dropdown {
      height: 20px;
      padding: 1px 0;
      background: $pp-urgent-alpha;
      border-bottom: none;
      margin-bottom: 5px;

      &.valid {
        background: $pp-green-alpha;
        color: $pp-black;
      }
    }

    .dropdown-content {
      min-width: 100%;
      top: 0;
      left: 0;
      opacity: 1;
      margin-top: -4%;

      li {
        min-height: 28px;

        span {
          font-size: 14px;
          padding: 6px 16px;
        }
      }
    }
  }
}