@import '../../../../variables';
@import '../../../../mixins';

.notes-panel {
  padding: 0 15px 10em 8px;

  .note-type {
    p {
      @include font($pp-grey-darken);
      margin: 0;

      &.head {
        @include font(null, 1.07, 15px);
        padding-top: 16px;
        padding-bottom: 10px;
      }

      &.text {
        @include font(null, 1.54, 13px);
        padding-top: 6px;
        padding-bottom: 0;
      }

      &.author {
        @include font($pp-grey-light, 1.33, 12px);
        padding-top: 8px;
        padding-bottom: 0;
      }
    }

    textarea {
      @include font($pp-dark, 1.54);
      border: $pp-form-border;
      height: 160px;
      resize: none;
      padding: 16px;
    }

    button {
      @include font($pp-white, 1.14, 14px, 500);
      letter-spacing: 0.5px;
      padding: 0 30px;
      text-align: center;

      &.btn-flat {
        color: $pp-green;
        margin-right: 15px;
        padding: 0;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .note {
    @extend .note-type;

    p {
      &.head {
        padding-bottom: 0;
      }
    }
  }
}