<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../../sass/components/console/messaging/info/concierge.identity";
</style>

<template>
    <div class="card-panel">
        <div class="card-wrap">
            <i class="material-icons" @click="toggle" v-if="shown">&#xE15C;</i>
            <i class="material-icons" @click="toggle" v-else>&#xE147;</i>
            <div class="concierge-identity">
                <p class="title">Concierge Identity</p>
                <p><span>Name: </span>{{ $parent.agent.personaName }}</p>
                <div v-show="shown">
                    <p><span>Title: </span>{{ $parent.agent.personaTitle }}</p>
                    <p><span>Team Name: </span>{{ $parent.agent.personaTeamName }}</p>
                    <p class="notes">
                        <span class="head col s3">Agent Notes: </span>
                        <span class="clipboard col s9"
                              :data-clipboard-text="$parent.agent.extraNoteForRep"
                              @click="tooltip">
                            {{ $parent.agent.extraNoteForRep }}
                        </span>
                        <div class="clearfix"></div>
                    </p>
                </div>
            </div>
            <tooltip message="Copied" ref="tooltip" :style="styles"></tooltip>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     shown: boolean,
         *     styles: {
         *         top: number,
         *         left: number
         *     }
         * }} - Component Data
         */
        data() {
            return {
                shown: true,
                styles: {
                    top: 0,
                    left: 0,
                },
            };
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Toggle card visibility.
             *
             * @returns {void}
             */
            toggle() {
                this.shown = !this.shown;
            },
            /**
             * Show tooltip with `Copied` message.
             *
             * @param {MouseEvent} event - Click event
             *
             * @returns {void}
             */
            tooltip(event) {
                const posY = Math.abs(this.$parent.scroll.y + Math.abs(event.layerY));
                const factor = 20;

                this.styles.top = `${posY + factor }px`;
                this.styles.left = `${event.layerX - factor }px`;

                this.$refs.tooltip.show();
            },
        },
    };
</script>
