<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../../sass/components/console/messaging/info/contact.info";
</style>

<template>
    <div class="card-panel">
        <div class="card-wrap">
            <i class="material-icons" @click="toggle" v-if="shown">&#xE15C;</i>
            <i class="material-icons" @click="toggle" v-else>&#xE147;</i>
            <div class="agent-contact-info">
                <p class="title">
                    Agent Contact Info
                    <span v-if="agentError"
                          @click="noAgentTooltip">
                        <i class="material-icons agent-info-exclamation">&#xE645;</i>
                    </span>
                </p>
                <p>
                    <span class="head">Agent Name: </span>
                        <span class="clipboard dark-text"
                              :data-clipboard-text="agentName"
                              @click="tooltip">
                            {{ agentName }}
                        </span>
                </p>
                <p>
                    <span class="head">Phone Number: </span>
                    <span class="clipboard" :data-clipboard-text="$parent.agent.phone" @click="tooltip">
                        {{ $parent.agent.phone }}
                    </span>
                </p>
                <div v-show="shown">
                    <p>
                        <span class="head">Email: </span>
                        <span class="clipboard" :data-clipboard-text="$parent.agent.email" @click="tooltip">
                            {{ $parent.agent.email }}
                        </span>
                    </p>
                    <p>
                        <span class="head">Website Link: </span>
                        <span class="clipboard" :data-clipboard-text="$parent.agent.website" @click="tooltip">
                            {{ $parent.agent.website }}
                        </span>
                    </p>
                    <p>
                        <span class="head">Calendly Link: </span>
                        <span class="clipboard" :data-clipboard-text="$parent.agent.calendly" @click="tooltip">
                            {{ $parent.agent.calendly }}
                        </span>
                    </p>
                    <p>
                        <span class="head">City/State: </span>
                        <span class="clipboard dark-text" :data-clipboard-text="agentCityAndState"
                              @click="tooltip">
                            {{ agentCityAndState }}
                        </span>
                    </p>
                    <div class="clearfix"></div>
                </div>
                <tooltip message="Copied" ref="tooltip" :style="styles"></tooltip>
                <tooltip message="You are not able to send sms/email because this lead is not assigned to any agent"
                         ref="tooltipNoAgent"
                         :style="styles">
                </tooltip>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import Clipboard from 'clipboard';

    export default {
        /**
         * Data
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     shown: boolean,
         *     styles: {
         *         top: number,
         *         left: number
         *     }
         * }} - Component Data
         */
        data() {
            return {
                shown: true,
                styles: {
                    top: 0,
                    left: 0,
                },
            };
        },
        /**
         * Computed properties & methods.
         * @link https://vuejs.org/v2/api/#computed
         */
        computed: {
            /**
             * Get agent name
             *
             * @returns {String} - Agent full name
             */
            agentName() {
                return this.$parent.lead.getAgentName();
            },
            /**
             * Get agent location info
             *
             * @returns {String} - Agent city and state
             */
            agentCityAndState() {
                return this.$parent.agent.getCityAndState();
            },
            /**
             * Check lead agent exist and show error
             *
             * @returns {boolean} - flag
             */
            agentError() {
                return this.$parent.lead.id !== null && this.$parent.lead.agent.id === null;
            },
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            this.mountClipboards();
        },
        /**
         * Updated hook.
         * @link https://vuejs.org/v2/api/#updated
         * @returns {void}
         */
        updated() {
            this.$parent.refreshIScroll();
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Mount clipboards.
             *
             * @returns {void}
             */
            mountClipboards() {
                const data = document.getElementsByClassName('clipboard');
                const clipboard = new Clipboard(data);

                clipboard.on('error', () => {
                    console.error('Copy to clipboard failed');
                });
            },
            /**
             * Toggle card visibility.
             *
             * @returns {void}
             */
            toggle() {
                this.shown = !this.shown;
            },
            /**
             * Show tooltip with `Copied` message.
             *
             * @param {MouseEvent} event - Click event
             *
             * @returns {void}
             */
            tooltip(event) {
                const posY = Math.abs(this.$parent.scroll.y + Math.abs(event.layerY));
                const factor = 20;

                this.styles.top = `${posY + factor }px`;
                this.styles.left = `${event.layerX - factor }px`;

                this.$refs.tooltip.show();
            },
            /**
             * Show tooltip for no agent assigned exclamation.
             *
             * @param {MouseEvent} event - Click event
             *
             * @returns {void}
             */
            noAgentTooltip(event) {
                const posY = Math.abs(this.$parent.scroll.y + Math.abs(event.layerY));
                const factor = 20;

                this.styles.top = `${posY + factor }px`;
                this.styles.left = `${event.layerX - factor }px`;

                this.$refs.tooltipNoAgent.show();
            },
        },
    };
</script>