<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../../sass/components/console/messaging/info/lead.content";
</style>

<template>
    <div class="lead-info-content">
        <p class="title">Lead Info</p>
        <form autocomplete="off" @change.prevent="$parent.updateLead" @submit.prevent>
            <p class="sub-title">Basic</p>
            <div class="input-field col s12">
                <input id="first-name"
                       type="text"
                       :class="[$parent.lead.firstName ? 'valid' : 'invalid']"
                       v-model="$parent.lead.firstName"
                       :disabled="$parent.updateLeadNow">
                <label for="first-name">First Name</label>
            </div>
            <div class="input-field col s12">
                <input id="last-name"
                       type="text"
                       :class="[$parent.lead.lastName ? 'valid' : 'invalid']"
                       v-model="$parent.lead.lastName"
                       :disabled="$parent.updateLeadNow">
                <label for="last-name">Last Name</label>
            </div>
            <div class="input-field col s12">
                <input id="phone"
                       type="text"
                       :class="[validatePhoneNumber($parent.lead.phone) ? 'valid' : 'invalid']"
                       maxlength="14"
                       v-mask="'(###) ###-####'"
                       v-model="$parent.lead.phone"
                       :disabled="$parent.updateLeadNow">
                <label for="phone" class="active">
                    Phone <strong v-show="isShowPhoneType()">({{ $parent.lead.phoneCarrierType }})</strong>
                </label>
            </div>
            <div class="input-field col s12">
                <input id="email"
                       type="email"
                       :class="[validateEmail($parent.lead.email) ? 'valid' : 'invalid']"
                       v-model="$parent.lead.email"
                       :disabled="$parent.updateLeadNow">
                <label for="email" class="active">Email</label>
            </div>
            <div class="clearfix"></div>
            <p>Current Status: {{ $parent.lead.status }}</p>
            <p class="source">Lead Source: {{ $parent.lead.source.name }}</p>
            <br>
            <p class="sub-title">Detailed</p>
            <div class="input-field col s12">
                <input id="address"
                       type="text"
                       :class="[$parent.lead.street ? 'valid' : 'invalid']"
                       v-model="$parent.lead.street"
                       :disabled="$parent.updateLeadNow">
                <label for="address" class="active">Address</label>
            </div>
            <div class="input-field col s12">
                <input id="city"
                       type="text"
                       :class="[$parent.lead.city ? 'valid' : 'invalid']"
                       v-model="$parent.lead.city"
                       :disabled="$parent.updateLeadNow">
                <label for="city" class="active">City</label>
            </div>
            <div class="input-field col s12">
                <input id="state"
                       type="text"
                       :class="[$parent.lead.state ? 'valid' : 'invalid']"
                       v-model="$parent.lead.state"
                       :disabled="$parent.updateLeadNow">
                <label for="state" class="active">State/Province/Region</label>
            </div>
            <div class="input-field col s12">
                <input id="postalcode"
                       maxlength="3"
                       :class="[$parent.lead.postalcode ? 'valid' : 'invalid']"
                       v-model="$parent.lead.postalcode"
                       :disabled="$parent.updateLeadNow">
                <label for="postalcode" class="active">Zip</label>
            </div>
            <div class="input-field col s12">
                <div class="select-wrapper">
                    <input id="lead-type-input"
                           type="text"
                           :class="[selects.leadType.isValid ? 'valid' : 'invalid', 'select-dropdown']"
                           readonly
                           data-activates="leadType"
                           :value="$parent.lead.leadType"
                           :disabled="$parent.updateLeadNow">
                    <label for="lead-type-input" class="active">Lead Type</label>
                    <input type="hidden" v-model="$parent.lead.leadType">
                    <span class="caret" @click="openDropdown('lead-type-input')">
                        <i class="material-icons">&#xE5C5;</i>
                    </span>
                    <ul id="leadType" class="dropdown-content select-dropdown">
                        <li @click="toggle('leadType', false, true)"><span>{{ selects.leadType.def[0] }}</span></li>
                        <li v-for="(val, key) in selects.leadType.list" @click="toggle('leadType', key)">
                            <span>{{ val }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- TODO: Think about make both variants of field below (text-field & dropdown) -->
            <div class="input-field col s12">
                <div class="select-wrapper">
                    <input id="price-range-input"
                           type="text"
                           :class="[selects.priceRange.isValid ? 'valid' : 'invalid', 'select-dropdown']"
                           readonly
                           data-activates="priceRange"
                           :value="$parent.lead.priceRange"
                           :disabled="$parent.updateLeadNow">
                    <label for="price-range-input" class="active">Price Range</label>
                    <input type="hidden" v-model="selects.priceRange.selected">
                    <span class="caret" @click="openDropdown('price-range-input')">
                        <i class="material-icons">&#xE5C5;</i>
                    </span>
                    <ul id="priceRange" class="dropdown-content select-dropdown">
                        <li @click="toggle('priceRange', false, true)"><span>{{ selects.priceRange.def[0] }}</span></li>
                        <li v-for="(val, key) in selects.priceRange.list" @click="toggle('priceRange', key)">
                            <span>{{ val }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="select-wrapper">
                    <input id="mortgage-input" type="text"
                           :class="[selects.mortgage.isValid ? 'valid' : 'invalid', 'select-dropdown']"
                           readonly
                           data-activates="mortgage"
                           :value="$parent.lead.mortgage"
                           :disabled="$parent.updateLeadNow">
                    <label for="mortgage-input" class="active">Mortgage</label>
                    <input type="hidden" v-model="selects.mortgage.selected">
                    <span class="caret" @click="openDropdown('mortgage-input')">
                        <i class="material-icons">&#xE5C5;</i>
                    </span>
                    <ul id="mortgage" class="dropdown-content select-dropdown">
                        <li @click="toggle('mortgage', false, true)"><span>{{ selects.mortgage.def[0] }}</span></li>
                        <li v-for="(val, key) in selects.mortgage.list" @click="toggle('mortgage', key)">
                            <span>{{ val }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="input-field col s12">
                <input id="bathrooms"
                       type="number"
                       min="0"
                       step="1"
                       :class="[$parent.lead.bathrooms ? 'valid' : 'invalid']"
                       v-model="$parent.lead.bathrooms"
                       :disabled="$parent.updateLeadNow">
                <label for="bathrooms" class="active">Bathrooms</label>
            </div>
            <div class="input-field col s12">
                <input id="bedrooms"
                       type="number"
                       min="0"
                       step="1"
                       :class="[$parent.lead.bedrooms ? 'valid' : 'invalid']"
                       v-model="$parent.lead.bedrooms"
                       :disabled="$parent.updateLeadNow">
                <label for="bedrooms" class="active">Bedrooms</label>
            </div>
            <div class="input-field col s12">
                <div class="select-wrapper">
                    <input id="time-frame-input"
                           type="text"
                           :class="[selects.timeFrame.isValid ? 'valid' : 'invalid', 'select-dropdown']"
                           readonly
                           data-activates="timeframe"
                           :value="$parent.lead.timeFrame"
                           :disabled="$parent.updateLeadNow">
                    <label for="time-frame-input">Timeframe</label>
                    <input type="hidden" v-model="$parent.lead.timeFrame">
                    <span class="caret" @click="openDropdown('time-frame-input')">
                        <i class="material-icons">&#xE5C5;</i>
                    </span>
                    <ul id="timeframe" class="dropdown-content select-dropdown">
                        <li @click="toggle('timeFrame', false, true)"><span>{{ selects.timeFrame.def[0] }}</span></li>
                        <li v-for="(val, key) in selects.timeFrame.list" @click="toggle('timeFrame', key)">
                            <span>{{ val }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</template>

<script type="text/ecmascript-6">
    import { isEmail } from '../../../../helpers/link';
    import { isNational } from '../../../../helpers/phone';

    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     selects: {
         *         leadType: {
         *             isValid: boolean,
         *             selected: string,
         *             label: string,
         *             def: [string,string],
         *             list: {
         *                 buyer: string,
         *                 seller: string
         *             }
         *         },
         *         priceRange: {
         *             isValid: boolean,
         *             selected: string,
         *             label: string,
         *             def: [string,string],
         *             list: {
         *                 under2: string,
         *                 to4: string,
         *                 to6: string,
         *                 to8: string,
         *                 to10: string,
         *                 over10: string
         *             }
         *         },
         *         mortgage: {
         *             isValid: boolean,
         *             selected: string,
         *             label: string,
         *             def: [string,string],
         *             list: {
         *                 preQualified: string,
         *                 preApproved: string,
         *                 haventAppliedYet: string,
         *                 cashBuyer: string,
         *                 iDontKnow: string,
         *                 notApplicable: string
         *             }
         *         },
         *         timeFrame: {
         *             isValid: boolean,
         *             selected: string,
         *             label: string,
         *             def: [string,string],
         *             list: {
         *                 within3: string,
         *                 to6: string,
         *                 over6: string,
         *                 asap: string
         *             }
         *         }
         *     }
         * }} - Component Data
         */
        data() {
            return {
                selects: {
                    leadType: {
                        isValid: false,
                        selected: 'Select Lead Type',
                        label: 'Select Lead Type',
                        def: ['Select Lead Type', ''],
                        list: {
                            buyer: 'buyer',
                            seller: 'seller',
                        },
                    },
                    priceRange: {
                        isValid: false,
                        selected: 'Price Range',
                        label: 'Price Range',
                        def: ['Price Range', ''],
                        list: {
                            under2: 'Under $200,000',
                            to4: '$200,000 - $400,000',
                            to6: '$400,000 - $600,000',
                            to8: '$600,000 - $800,000',
                            to10: '$800,000 - $1,000,000',
                            over10: 'Over $1,000,000',
                        },
                    },
                    mortgage: {
                        isValid: false,
                        selected: 'Mortgage',
                        label: 'Mortgage',
                        def: ['Mortgage', ''],
                        list: {
                            preQualified: 'Pre-Qualified',
                            preApproved: 'Pre-Approved',
                            haventAppliedYet: 'Haven`t Applied Yet',
                            cashBuyer: 'Cash Buyer',
                            iDontKnow: 'I don`t know',
                            notApplicable: 'Not Applicable',
                        },
                    },
                    timeFrame: {
                        isValid: false,
                        selected: 'Select Timeframe',
                        label: 'Select Timeframe',
                        def: ['Select Timeframe', ''],
                        list: {
                            asap: 'Asap',
                            within3: 'Within 3 months',
                            to6: '3-6 months',
                            over6: '6 months or longer',
                        },
                    },
                },
            };
        },
        /**
         * Watch.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            /**
             * Set isValid to true for lead type if val not empty.
             *
             * @param {string} val - Lead type value
             *
             * @returns {void}
             */
            '$parent.lead.leadType'(val) {
                if (val) {
                    this.selects.leadType.isValid = true;
                }
            },
            /**
             * Set isValid to true for price range if val not empty.
             *
             * @param {string} val - Price range value
             *
             * @returns {void}
             */
            '$parent.lead.priceRange'(val) {
                if (val) {
                    this.selects.priceRange.isValid = true;
                }
            },
            /**
             * Set isValid to true for mortgage if val not empty.
             *
             * @param {string} val - Mortgage value
             *
             * @returns {void}
             */
            '$parent.lead.mortgage'(val) {
                if (val) {
                    this.selects.mortgage.isValid = true;
                }
            },
            /**
             * Set isValid to true for time frame if val not empty.
             *
             * @param {string} val - Time frame value
             *
             * @returns {void}
             */
            '$parent.lead.timeFrame'(val) {
                if (val) {
                    this.selects.timeFrame.isValid = true;
                }
            },
            /**
             * Leave only numbers and hyphen in postalcode
             *
             * @param {string} val - Postalcode value
             *
             * @returns {void}
             */
            '$parent.lead.postalcode'(val) {
                if (val) {
                    const replacedVal = val.replace(/[^0-9]/gim, '');

                    this.$parent.lead.postalcode = replacedVal.substring(0, 3);
                }
            },
        },
        /**
         * Mounted hook.
         *
         * @link https://vuejs.org/v2/api/#mounted
         *
         * @returns {void}
         */
        mounted() {
            this.$parent.$parent.mountSelects();

            this.blurUnClicked();
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Show phone type or not.
             *
             * @returns {boolean} - True if phone number is valid
             */
            isShowPhoneType() {
                const isNotEmptyType = this.$parent.lead.phoneCarrierType !== null;
                const isNationalPhone = isNational(this.$parent.lead.phone);

                return isNotEmptyType && isNationalPhone;
            },
            /**
             * Toggle select values & labels.
             *
             * @param {string} key - Select group
             * @param {string} value - Select value
             * @param {boolean} isDefault - Set default value
             *
             * @returns {void}
             */
            toggle(key, value, isDefault = false) {
                this.selects[key].isValid = true;
                if (isDefault) {
                    this.selects[key].label = this.selects[key].def[0];
                    this.selects[key].selected = this.selects[key].def[1];
                } else {
                    this.selects[key].selected = value;
                    this.selects[key].label = this.selects[key].list[value];
                    this.$parent.lead[key] = this.selects[key].list[value];
                }
                this.$parent.updateLead();
            },
            /**
             * Validate email address.
             *
             * @param {string} email - Email address
             *
             * @returns {boolean} true if email address is valid
             */
            validateEmail(email) {
                return isEmail(email);
            },
            /**
             * Validate phone number.
             *
             * @param {string} phone - Phone number
             *
             * @returns {boolean} true if phone is valid phone number
             */
            validatePhoneNumber(phone) {
                return isNational(phone);
            },
            /**
             * Open dropdown select box.
             *
             * @param {string} id - input id
             *
             * @returns {void}
             */
            openDropdown(id) {
                $(`#${id}`).dropdown('open');
            },
            /**
             * Blur on items which hadn't been clicked.
             *
             * @returns {void}
             */
            blurUnClicked() {
                $('body').on('click', event => {
                    $('*').blur();
                    $(event.target).focus();
                });
            },
        },
    };
</script>
