<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../../sass/components/console/messaging/info/notes.panel";
</style>

<template>
    <div class="notes-panel">
        <div class="note-type">
            <p class="head">Notes For Agent</p>
            <textarea id="agent-note" class="lg12" placeholder="Type Note Here" v-model="note"></textarea>
            <button type="button" class="btn right" @click="save(false)" :disabled="!activeLeadId">
                save
            </button>
            <button type="button" :class="(!activeLeadId ? 'disabled ' : '') + 'btn btn-flat right'" @click="send">
                send to agent
            </button>
            <div class="clearfix"></div>
        </div>
        <div class="note-type">
            <p class="head">Admin Notes</p>
            <textarea id="admin-note" class="lg12" placeholder="Type Note Here" v-model="noteAdmin"></textarea>
            <button type="button" class="btn right" @click="saveAdmin" :disabled="!activeLeadId">
                save
            </button>
            <div class="clearfix"></div>
        </div>
        <div class="note" v-for="note in notes.computedList">
            <p class="head">{{ note.type }}</p>
            <p class="text"><i>{{ note.note }}</i></p>
            <p class="author">{{ noteAuthor(note) }} &bullet; {{ note.createdAt }}</p>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import moment from 'moment';
    import Note from '../../../../objects/note';
    import NoteCollection from '../../../../collections/noteCollection';

    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     notes: NoteCollection,
         *     note: string,
         *     noteAdmin: string,
         *     delay: number
         * }} - Component Data
         */
        data() {
            return {
                notes: new NoteCollection(),
                note: '',
                noteAdmin: '',
                delay: 5000,
            };
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['activeLeadId'],
        /**
         * Watch.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            /**
             * Refresh notes each time when activeLeadId is changed.
             * @returns {void}
             */
            activeLeadId() {
                this.refreshNotes();
            },
        },
        /**
         * Updated hook.
         * @link https://vuejs.org/v2/api/#updated
         * @returns {void}
         */
        updated() {
            this.$parent.refreshIScroll();
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Add note.
             *
             * @param {Note} note - Note object
             * @param {boolean} sendToAgent - send To Agent or not
             *
             * @returns {void}
             */
            add(note, sendToAgent) {
                this.$socket.emit('noteCreate', this.$root.id, this.$root.token, {
                    type: note.type,
                    note: note.note,
                    leadId: note.leadId,
                    conciergeId: this.$root.id,
                }, sendToAgent);

                this.$parent.$parent.leads.leads[this.activeLeadId].notes.addNote(note);
                this.$parent.$parent.leads.leads[this.activeLeadId].notes.updateCollection();
                this.refreshNotes();

                this.$parent.refreshIScroll();
            },
            /**
             * Refresh notes.
             *
             * @returns {void}
             */
            refreshNotes() {
                if (this.activeLeadId === null) {
                    return;
                }

                this.notes = this.$parent.$parent.leads.getLead(this.activeLeadId).notes;
            },
            /**
             * Save note for agent.
             *
             * @param {boolean} sendToAgent - send To Agent or not
             *
             * @returns {void}
             */
            save(sendToAgent) {
                if (this.note.trim() === '') {
                    Materialize.toast('Your note is empty', this.delay);

                    return;
                }

                const note = new Note();

                note.addDataRecursively({
                    type: 'Note for Agent',
                    note: this.note,
                    conciergeId: this.$root.id,
                    leadId: this.activeLeadId,
                    createdAt: null,
                });
                note.createdAt = moment().format('MMM D, hh:mm A');

                this.add(note, sendToAgent);
                this.note = '';
            },
            /**
             * Save admin note.
             *
             * @returns {void}
             */
            saveAdmin() {
                if (this.noteAdmin.trim() === '') {
                    Materialize.toast('Your note is empty', this.delay);

                    return;
                }

                const note = new Note();

                note.addDataRecursively({
                    type: 'Admin Note',
                    note: this.noteAdmin,
                    conciergeId: this.$root.id,
                    leadId: this.activeLeadId,
                    createdAt: null,
                });
                note.createdAt = moment().format('MMM D, hh:mm A');

                this.add(note, false);
                this.noteAdmin = '';
            },
            /**
             * Send note to agent.
             *
             * @returns {void}
             */
            send() {
                this.$parent.$parent.$refs.noteConfirm.open();
            },
            /**
             * Return note author
             *
             * @param {Object} note - note
             *
             * @returns {string} - author(concierge) name
             */
            noteAuthor(note) {
                return note.getConciergeName(this.$parent.$parent.concierges);
            },
        },
    };
</script>
