<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../sass/components/login";
</style>

<template>
    <!-- Login Panel -->
    <div class="login">
        <div class="valign-wrapper">
            <div class="card-panel white z-depth-4">
                <div class="card-content white-text">
                    <template v-if="laraError.authError">
                        <h1 class="center black-text sign-in-error">Sign In Error</h1>
                        <p class="center grey-text text-darken-3">{{ laraError.authError[0][0] }}</p>
                    </template>
                    <template v-else>
                        <h1 class="center black-text">Hello!</h1>
                        <p class="center grey-text text-darken-3">Sign in below</p>
                    </template>
                </div>
                <div class="card-action">
                    <p class="auth center">
                        <a href="/console/login/google" class="waves-effect waves-light">
                            <img src="/assets/images/google-signin-button.png">
                        </a>
                    </p>
                    <p class="logo center">
                        <img src="/assets/images/agt-logo-test.png"
                             srcset="/assets/images/agt-logo-test@2x.png 2x, /assets/images/agt-logo-test@3x.png 3x">
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @return {{laraError}} - Component data
         */
        data() {
            return {
                laraError: laraErrors,
            };
        },
    };
</script>
