<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../../sass/components/portal/settings/connection";
</style>

<template>
    <div class="page-settings">
        <form class="card custom-card col s12">
            <h6>Follow Up Boss</h6>
            <div class="row">
                <div class="input-field col s6">
                    <input id="follow-up-api"
                           name="followUpApi"
                           type="text"
                           class="validate"
                           v-model="followUpApi"
                           @input="onInput">
                    <label for="follow-up-api"
                           :class="{active: this.followUpApi}">Follow Up Boss API</label>
                </div>
                <div class="col s6">
                    <p>Your Follow Up Boss API key can be found in your settings page at followupboss.com.
                        Enabling this API will allow Agentology to push notes and details of your leads to
                        Follow up Boss.</p>
                </div>
            </div>
            <div class="checkbox-container">
                <input type="checkbox"
                       class="filled-in"
                       id="enable-follow-up-boss"
                       :checked="this.followUpApi"/>
                <label for="enable-follow-up-boss">Enable Follow Up Boss</label>
            </div>
            <h6>Firepoint</h6>
            <div class="row">
                <div class="col s6">
                    <div class="input-field">
                        <input id="firepoint-api-key"
                               name="firepointApiKey"
                               type="text"
                               class="validate"
                               v-model="firePointApiKey"
                               @input="onInput">
                        <label for="firepoint-api-key"
                               :class="{active: this.firePointApiKey}">Firepoint API key</label>
                    </div>
                </div>
                <div class="col s6">
                    <p>Your Firepoint API key can be found in your settings page at firepoint.net.
                        Enabling this API will allow Agentology to push notes and details of your
                        leads to Firepoint.</p>
                </div>
            </div>
            <div class="checkbox-container">
                <input type="checkbox"
                       class="filled-in"
                       id="enable-firepoint"
                       :checked="this.firePointApiKey"/>
                <label for="enable-firepoint">Enable Firepoint</label>
            </div>
            <div class="btn-container">
                <button class="btn" :disabled="!this.$parent.dataChanged" @click.prevent="save">Save</button>
            </div>
        </form>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      followUpApi: string,
         *      firePointApiKey: string
         * }} - Component Data
         */
        data() {
            return {
                followUpApi: '123123',
                firePointApiKey: '123123',
            };
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Tracking input data changes.
             * @returns {void}
             */
            onInput() {
                this.$parent.dataChanged = true;
            },
            /**
             * Save form.
             * @returns {void}
             */
            save() {
                $('.input-field > input').attr('class', 'validate');
                this.$parent.dataChanged = false;
            },
        },
    };
</script>