<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../../sass/components/portal/settings/layout";
</style>

<template>
    <div>
        <portalNavbar ref="portalSettingsPersona">
            <div slot="subContent" class="nav-content">
                <div class="container">
                    <ul class="low-level-menu tabs tabs-transparent" v-show="subMenu.length > 0">
                        <li class="tab" v-for="elem in subMenu" @click="updateSubMenu()" v-if="elem.show">
                            <router-link :to="{ name: 'portalSettingsLayout', params: { tab: elem.tab} }"
                                         :class="{active: (elem.tab === tab)}"
                                         :id="elem.tab" replace>
                                {{ elem.text }}
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </portalNavbar>
        <div class="container">
            <portalSettingsPersona v-show="tab === 'persona'" ref="portalSettingsPersona"></portalSettingsPersona>
            <portalSettingsNotification v-show="tab === 'notifications'"
                                        ref="portalSettingsNotification"
                                        :agent="agent"></portalSettingsNotification>
            <portalSettingsConnection v-show="tab === 'connection'"
                                      ref="portalSettingsConnection"></portalSettingsConnection>
        </div>
        <modal :title="modalTitle" class="modal-save-confirm" ref="saveConfirm">
            <p>You have unsaved edits in your {{ title }}. Are you sure you want to exit without saving?</p>
            <button v-if="!formValidationErrors" slot="footer" type="button" class="btn" @click="saveAndExit">
                Save and exit
            </button>
            <button slot="footer" type="button" class="btn-flat" @click="exit">Exit</button>
        </modal>
    </div>
</template>

<script type="text/ecmascript-6">
    import socket from '../../../mixins/socket';
    import laroute from '../../../router/laroute';
    import { toDashes } from '../../../helpers/phone';
    import Agent from '../../../objects/agent';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      subMenu: [
         *          {
         *              text: string,
         *              tab: string,
         *              link: string
         *          }
         *      ],
         *      agent: Agent,
         *      dataChanged: boolean,
         *      pathTo: string,
         *      tabTo: string,
         *      tab: string,
         *      title: string,
         *      modalTitle: string
         *
         * }} - Component Data
         */
        data() {
            return {
                subMenu: [
                    {
                        text: 'Concierge',
                        tab: 'persona',
                        link: laroute.route('settings_portal', { tab: 'persona' }),
                        show: true,
                    },
                    {
                        text: 'Notifications',
                        tab: 'notifications',
                        link: laroute.route('settings_portal', { tab: 'notifications' }),
                        show: true,
                    },
                    {
                        text: 'Connect CRM',
                        tab: 'connection',
                        link: laroute.route('settings_portal', { tab: 'connection' }),
                        show: false,
                    },
                ],
                agent: new Agent(),
                dataChanged: false,
                formValidationErrors: false,
                pathTo: '',
                tabTo: '',
                tab: 'persona',
                title: 'Persona',
                modalTitle: 'Unsaved Edits!',
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            const vm = this;

            this.updateSubMenu();

            $(document).ready(() => {
                $('ul.tabs').tabs();

                vm.tryInitWebSocket(() => {
                    vm.$socket.emit('subscribeSettings', vm.$root.id, vm.$root.token);
                });
            });
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Set animation of underscore sub-menu.
             * Update main content of tab.
             * @returns {void}
             */
            updateSubMenu() {
                if (!this.checkDataChanges()) {
                    return;
                }

                for (const index in this.subMenu) {
                    const item = this.subMenu[index];

                    if (item.link === this.$route.fullPath) {
                        this.tab = item.tab;
                        this.title = item.text;
                    }
                }

                const vm = this;

                $(document).ready(() => {
                    $('ul.tabs').tabs('select_tab', vm.tab);
                });
            },
            /**
             * Show modal prompting if any data changed in forms.
             * @returns {boolean} - True if data in forms was not changed
             */
            checkDataChanges() {
                if (this.dataChanged) {
                    this.$refs.saveConfirm.open();
                }

                return !this.dataChanged;
            },
            /**
             * Redirect to another route without saving data.
             * @returns {void}
             */
            exit() {
                this.dataChanged = false;
                this.$refs.saveConfirm.close();
                this.$router.push(this.pathTo);
                this.tab = this.tabTo;
            },
            /**
             * Save form data and redirect to another route.
             * @returns {void}
             */
            saveAndExit() {
                switch (this.tab) {
                    case 'persona':
                        this.$refs.portalSettingsPersona.save();
                        break;
                    case 'notification':
                        this.$refs.portalSettingsNotification.save();
                        break;
                    case 'connection':
                        this.$refs.portalSettingsConnection.save();
                        break;
                    default:
                        break;
                }

                this.exit();
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {Array} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                switch (message) {
                    case 'agentSettings':
                        this.listenAgentSettings(data);
                        break;
                    case 'agentGet':
                        this.listenAgentGet(data);
                        break;
                    case 'agentPersonaUpdate':
                        this.listenAgentPersonaUpdate(data);
                        break;
                    case 'agentNotificationUpdate':
                        this.listenAgentNotificationUpdate(data);
                        break;
                    default:
                        break;
                }
            },
            /**
             * Listen persona update data.
             * @param {Object} data persona values
             * @return {void}
             */
            listenAgentPersonaUpdate(data) {
                this.agent.personaName = data.personaName;
                this.agent.personaTeamName = data.personaTeamName;
                this.agent.personaTitle = data.personaTitle;

                this.$refs.portalSettingsPersona.checkChanges();
            },
            /**
             * Listen agent notification settings update data.
             * @param {Object} data notification settings values
             * @return {void}
             */
            listenAgentNotificationUpdate(data) {
                this.agent.notificationPhone = data.notificationPhone;
                this.agent.notificationEmail = data.notificationEmail;
                this.agent.callForwardingNumber = data.callForwardingNumber;
            },
            /**
             * Listen settings data.
             * @param {Array[]} data - Settings values
             * @returns {void}
             */
            listenAgentSettings(data) {
                // TODO implement this
            },
            /**
             * Listen agent data.
             * @param {Object} data - Agent data
             * @returns {void}
             */
            listenAgentGet(data) {
                this.agent.addDataRecursively(data);
                this.agent.phone = toDashes(this.agent.phone);

                this.$refs.portalSettingsPersona.cloneAgent();
            },
        },
        /**
         * In-component 'beforeRouteLeave' guard.
         *
         * @link https://router.vuejs.org/en/advanced/navigation-guards.html
         *
         * @param {Route} to - The target Route Object being navigated to
         * @param {Route} from - The current route being navigated away from
         * @param {Function} next - Callback resolver. Depends on next provided args
         *
         * @returns {void}
         */
        beforeRouteLeave(to, from, next) {
            this.pathTo = to.path;
            if (this.dataChanged) {
                this.$refs.saveConfirm.open();
                next(false);
            } else {
                next();
            }
        },
        /**
         * In-component 'beforeRouteUpdate' guard.
         *
         * @link https://router.vuejs.org/en/advanced/navigation-guards.html
         *
         * @param {Route} to - The target Route Object being navigated to
         * @param {Route} from - The current route being navigated away from
         * @param {Function} next - Callback resolver. Depends on next provided args
         *
         * @returns {void}
         */
        beforeRouteUpdate(to, from, next) {
            this.pathTo = to.path;
            this.tabTo = to.params.tab;
            if (this.dataChanged) {
                this.$refs.saveConfirm.open();
                next(false);
            } else {
                next();
            }
        },
    };
</script>
