<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../../sass/components/portal/settings/notification";
</style>

<style lang="scss" rel="stylesheet/scss">
    @import '../../../../sass/_variables.scss';
    @import '../../../../sass/_mixins.scss';

    .page-settings {
        div.invalid {
            @include font($pp-red-light, null, 12px, null);
            position: absolute;
            margin-top: -17px;
        }
    }
</style>

<template>
    <div class="page-settings">
        <form class="card custom-card col s12" id="notification-form">
            <h6>Notification Settings</h6>
            <div class="row">
                <div class="input-field col s6">
                    <input id="mobile-number"
                           name="mobileNumber"
                           type="text"
                           v-model="mobileNumber = agent.notificationPhone"
                           @keyup="onInput">
                    <label for="mobile-number"
                           :class="{active: agent.notificationPhone}">Mobile number</label>
                </div>
                <div class="input-field col s6">
                    <input id="call-forwarding-number"
                           name="callForwardingNumber"
                           type="text"
                           v-model="callForwardingNumber = agent.callForwardingNumber"
                           @keyup="onInput($event, callForwardingNumber)">
                    <label for="call-forwarding-number"
                           :class="{active: agent.callForwardingNumber}">Call Forwarding Number</label>
                    <span class="explain-text" v-show="isValideCallForwardNumber">
                        When a lead calls your Agentology number, it's forwarded here.
                    </span>
                </div>
            </div>
            <div class="checkbox-container">
                <input type="checkbox"
                       class="filled-in"
                       id="sms-notifications"
                       :checked="agent.phone"/>
                <label for="sms-notifications">Receive SMS Notifications</label>
            </div>
            <div class="row">
                <div class="col s6">
                    <p>Email Notifications</p>
                    <div class="input-field">
                        <input id="main-email"
                               name="email"
                               type="text"
                               v-model="email = agent.notificationEmail"
                               @input="onInput">
                        <label for="main-email"
                               :class="{active: agent.notificationEmail}">Main Email Address</label>
                    </div>
                </div>
                <div class="col s6">
                    <p>Receive Additional Email Notifications</p>
                    <div class="input-field">
                        <div class="textarea-container">
                            <textarea class="materialize-textarea"
                                      name="additionalEmails"
                                      v-model="additionalEmails"
                                      placeholder="Enter additional email addresses that notifications will be sent to separated by a comma(,)"
                                      @input="onInput($event, additionalEmails)"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <button class="btn" :disabled="isDisabled()" @click.prevent="save">Save</button>
            </div>
        </form>
    </div>
</template>

<script type="text/ecmascript-6">
    import { toDashes } from '../../../helpers/phone';

    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['agent'],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      defaultFormData: {
         *          mobileNumber: string,
         *          email: string,
         *          callForwardingNumber: string,
         *          additionalEmails: string,
         *      },
         *      additionalEmails: string,
         *      isValideCallForwardNumber: boolean,
         * }} - Component Data
         */
        data() {
            return {
                defaultFormData: {
                    mobileNumber: '',
                    email: '',
                    callForwardingNumber: '',
                    additionalEmails: '',
                },
                additionalEmails: '',
                isValideCallForwardNumber: true,
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            $(document).ready(() => {
                $('#notification-form').validate({
                    rules: {
                        mobileNumber: {
                            required: true,
                            patPhone: true,
                        },
                        callForwardingNumber: {
                            patPhone: true,
                        },
                        email: {
                            required: true,
                            email: true,
                        },
                    },
                    messages: {
                        phone: {
                            patPhone: 'Please enter valid phone',
                        },
                    },
                    validClass: 'valid',
                    errorClass: 'invalid',
                    errorElement: 'div',
                    errorPlacement(error, element) {
                        const placement = $(element).data('error');

                        placement ? $(placement).append(error) : error.insertAfter(element);
                    },
                });
            });

            this.defaultFormData.additionalEmails = this.additionalEmails;
        },
        /**
         * Watchers.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            agent: {
                /**
                 * Set defaultFormData.
                 * @param {Agent} agent - Agent value
                 * @returns {void}
                 */
                handler(agent) {
                    // Change format for agent mobile number
                    agent.notificationPhone = toDashes(agent.notificationPhone);
                    // Change format for agent call forwarding number
                    agent.callForwardingNumber = toDashes(agent.callForwardingNumber);

                    if (!this.defaultFormData.mobileNumber) {
                        this.defaultFormData.mobileNumber = agent.notificationPhone;
                    }

                    if (!this.defaultFormData.email) {
                        this.defaultFormData.email = agent.notificationEmail;
                    }

                    if (!this.defaultFormData.callForwardingNumber) {
                        this.defaultFormData.callForwardingNumber = agent.callForwardingNumber;
                    }
                },
                deep: true,
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Disable submit button on any validation error and if default form data not changed.
             * @returns {boolean} - True if any validation error
             */
            isDisabled() {
                if (this.$parent.formValidationErrors) {
                    return true;
                }

                return !this.$parent.dataChanged;
            },
            /**
             * Tracking input data changes.
             * @param {KeyboardEvent} event - KeyUp event
             * @param {string} value - Input value
             * @returns {void}
             */
            onInput(event, value) {
                const prop = event.target.name;

                this.$parent.formValidationErrors = !$('#notification-form').valid();

                if (typeof value !== 'undefined') {
                    this.$parent.dataChanged = this.defaultFormData[prop] !== value;
                } else {
                    this.$parent.dataChanged = this.defaultFormData[prop] !== this[prop];
                }

                this.isValideCallForwardNumber = !!this.$el.querySelector('#call-forwarding-number')
                    .className
                    .indexOf('invalid');
            },
            /**
             * Save form.
             * @returns {void}
             */
            save() {
                const notifications = {
                    notificationPhone: this.mobileNumber,
                    notificationEmail: this.email,
                    callForwardingNumber: this.callForwardingNumber,
                };

                this.$socket.emit('agentNotificationUpdate', this.$parent.agent.id, this.$root.token, notifications);

                $('.input-field > input').attr('class', 'validate');

                this.$parent.dataChanged = false;
            },
        },
    };
</script>
