<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../../sass/components/portal/settings/persona";
</style>

<template>
    <div class="page-settings">
        <form class="card custom-card col s12">
            <h6>Concierge Identity</h6>
            <div class="row">
                <div class="input-field col s6">
                    <input id="name"
                           name="name"
                           type="text"
                           class="validate"
                           v-model="clonedAgent.personaName">
                    <label for="name" :class="{active: clonedAgent.personaName}">Concierge Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="title"
                           name="title"
                           type="text"
                           class="validate"
                           v-model="clonedAgent.personaTitle">
                    <label for="title" :class="{active: clonedAgent.personaTitle}">Concierge Title</label>
                </div>
                <div class="input-field col s6">
                    <input id="team-name"
                           name="teamName"
                           type="text"
                           class="validate"
                           v-model="clonedAgent.personaTeamName">
                    <label for="team-name" :class="{active: clonedAgent.personaTeamName}">Team Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="extra-note-for-rep"
                           name="extraNoteForRep"
                           type="text"
                           class="validate"
                           v-model="clonedAgent.extraNoteForRep">
                    <label for="extra-note-for-rep" :class="{active: clonedAgent.extraNoteForRep}">
                        Extra Note For Rep
                    </label>
                </div>
            </div>
            <div class="example-container">
                <h6>Example: </h6>
                <p>“Hi Sue! This is {{ clonedAgent.personaName }}, the {{ clonedAgent.personaTitle }} with
                    The {{ clonedAgent.personaTeamName }}...”</p>
            </div>
            <div class="assistant-contact-info">
                <h6>Assigned Contact Info</h6>
                <p class="subheader">
                    This is the unique contact info assigned to your Concierge.
                    It is the phone # and email we will use to contact your leads.
                </p>
                <p>
                    <span class="title">Phone Number</span>
                    <span class="contact">{{ twilioNumber }}</span>
                </p>
                <p>
                    <span class="title">Email</span>
                    <span class="contact">{{ $parent.agent.sendGridEmail }}</span>
                </p>
            </div>
            <div class="btn-container">
                <button class="btn" :disabled="!this.$parent.dataChanged" @click.prevent="save">Save</button>
            </div>
        </form>
    </div>
</template>

<script type="text/ecmascript-6">
    import Vue from 'vue';
    import { toNational } from '../../../helpers/phone';
    import Agent from '../../../objects/agent';

    export default {
        /**
         * @return {{
         *      clonedAgent: Agent
         * }} - Vue data
         */
        data() {
            return {
                clonedAgent: new Agent(),
            };
        },
        /**
         * Computed.
         * @link https://vuejs.org/v2/api/#computed
         */
        computed: {
            /**
             * @return {string} - Formatted twilio number
             */
            twilioNumber() {
                if (!this.$parent.agent.twilioNumber) {
                    return '';
                }

                return toNational(this.$parent.agent.twilioNumber.slice(2));
            },
        },
        /**
         * Watch.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            clonedAgent: {
                /**
                 * Check if agent persona data change
                 *
                 * @return {void}
                 */
                handler() {
                    this.checkChanges();
                },
                deep: true,
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Method to clone agent
             *
             * @return {void}
             */
            cloneAgent() {
                Vue.util.extend(this.clonedAgent, this.$parent.agent);
            },
            /**
             * Method to check persona data changes
             *
             * @return {void}
             */
            checkChanges() {
                let changed = false;

                const agent = this.$parent.agent;

                for (const prop in this.clonedAgent) {
                    if (agent.hasOwnProperty(prop) && agent[prop] !== this.clonedAgent[prop]) {
                        changed = true;
                    }
                }

                this.$parent.dataChanged = changed;
            },

            /**
             * Save form
             *
             * @return {void}
             */
            save() {
                Vue.util.extend(this.$parent.agent, this.clonedAgent);

                const agentPersona = {
                    personaName: this.$parent.agent.personaName,
                    personaTeamName: this.$parent.agent.personaTeamName,
                    personaTitle: this.$parent.agent.personaTitle,
                    extraNoteForRep: this.$parent.agent.extraNoteForRep,
                };

                this.$socket.emit('agentPersonaUpdate', this.$parent.agent.id, this.$root.token, agentPersona);

                $('.input-field > input').attr('class', 'validate');

                this.$parent.dataChanged = false;
            },
        },
    };
</script>
