p {
  margin: 0;
}

.login {
  width: 100%;
}

.login,
.valign-wrapper {
  height: 100%;
}

.valign-wrapper {
  justify-content: center;
}

.card-panel {
  padding: 16px;
}

.card-panel h1 {
  margin: 69px 119px 0;
  font-size: 56px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
}

.card-panel h1.sign-in-error {
  margin: 69px 38px 0;
}

.auth {
  margin-top: 14px;
}

.logo {
  margin-top: 110px;
}

.logo img{
  width: 135px;
  height: 24px;
}