<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../../sass/components/portal/leadsources/layout";
</style>

<template>
    <div class="lead-sources-page">
        <portalNavbar :linkTo="linkTo" :showTriangle="false">
        </portalNavbar>
        <div class="container">
            <div class="card custom-card">
                <div class="card-title">
                    Lead Sources
                </div>
                <div class="switch">
                    <label>
                        <span :class="{enabled: parseStatus, switcher: true}">ON</span>
                        <input :disabled="parseDisabled" v-model="parseStatus" type="checkbox">
                        <span class="lever"></span>
                        <span :class="{disabled: !parseStatus, switcher: true}">OFF</span>
                    </label>
                </div>
                <div class="standard-text" v-show="parseStatus">
                    Your lead sources are turned ON. Agentology will recieve a
                    lead as soon as you do and will notify you when it’s qualified.
                </div>
                <div class="standard-text" v-show="!parseStatus">
                    Your lead sources are turned OFF. Agentology will not recieve leads sent to you by email.
                    Please turn Lead Sources ON if you want us to receive leads, we only receive newly sent leads.
                </div>
                <div class="text-title connected-lead-sources">Connected Lead Sources</div>
                <div class="standard-text">
                    These are lead sources that we have recieved a lead from, if you don’t see a lead source
                    you have linked below, make sure you have properly set it up and have recieved a lead.
                    We only recieve leads when you do.
                </div>
                <div v-if="!sources.length" class="no-leads-sources">
                    No Connected Lead Sources
                </div>
                <div v-if="sources.length" class="leads-sources-list">
                    <span v-for="sourceName in sources" v-if="sourceName" class="source">
                        <i class="material-icons">&#xE876;</i>
                        {{ sourceName }}
                    </span>
                    <div class="notice-message">
                        Disconnect any lead source by removing your Agentology
                        forwarding email address from the vendors site.
                    </div>
                </div>
                <div class="text-title easy-to-connect">
                    It’s easy to connect what you already use
                </div>
                <div class="standard-text">
                    Use Gmail to instantly sync all your lead sources (recommended):
                </div>
                <gmailButton class="gmail-button"
                             :successMessage="'Your Gmail is connected'"
                             :tokenEmailScopeProvided="checkTokenReceived()"
                             :agentEmail="agent.email"
                             :showDisconnectButton="true">
                </gmailButton>
                <hr class="horizontal-line">
                <div class="text-title not-using-gmail">
                    Not using Gmail? Send leads directly to Agentology
                </div>
                <div class="standard-text">
                    Add this unique Agentology email address to your account with any of our supported
                    vendors to automatically forward leads directly to us:
                    <a :href="'mailto:' + forwardingEmail">{{ forwardingEmail }}</a>
                </div>
                <sourcesRow class="source-row"></sourcesRow>
                <div class="standard-text">
                    For easy set up instructions and a complete list of our supported resources,
                    <a href="http://support.agentology.com/how-to-get-setup-with-your-lead-sources-crm" target="_blank">
                        click here.
                    </a>
                </div>
                <div class="text-title all-lead-sources">
                    All Lead Sources
                </div>
                <div class="standard-text">
                    Below are the lead sources that are avaible for you to connect, we are always adding new ones.
                    Please check documentation via:
                    <a href="http://agentology.com/support#leadsources" target="_blank">
                        agentology.com/support#leadsources
                    </a>
                    for more information on each lead source.
                </div>
                <div class="source-lists">
                    <div class="first-col">
                        <span>Anchor Wave</span>
                        <span>Bold Leads</span>
                        <span>Bomb Bomb</span>
                        <span>Boomtown</span>
                        <span>Commissions Inc.</span>
                        <span>Diverse Solutions</span>
                        <span>Ez Lead Pages</span>
                        <span>Firepoint</span>
                        <span>FiveStreet</span>
                        <span>Follow Up Boss</span>
                        <span>Geographic Farm</span>
                        <span>Homes.com</span>
                        <span>House Hunt</span>
                        <span>HUDEx/USAHud/allhud</span>
                        <span>iHome Finder</span>
                        <span>Instapage</span>
                        <span>iVortex</span>
                        <span>Kunversion Zapier</span>
                        <span>KWKLY</span>
                        <span>Listing Booster</span>
                        <span>Listings to Leads</span>
                    </div>
                    <div class="second-col">
                        <span>Market Leader</span>
                        <span>Perfect Storm</span>
                        <span>Precise Home Pricing</span>
                        <span>Prime Seller Leads</span>
                        <span>Pro Agent Websites</span>
                        <span>Properties Online</span>
                        <span>Real Esales</span>
                        <span>Real Estate Pals</span>
                        <span>Real Estate Webmasters</span>
                        <span>RealGeeks</span>
                        <span>Realtor.com</span>
                        <span>Realty Now</span>
                        <span>Realty Store</span>
                        <span>Smart Zip</span>
                        <span>Success Website</span>
                        <span>Tiger Leads</span>
                        <span>Top Agent Connection</span>
                        <span>Top Producer</span>
                        <span>TORCHx</span>
                        <span>Trulia</span>
                        <span>Zillow</span>
                    </div>
                </div>
                <div class="additional-message">
                    Don’t see your lead source in the list above? Reach out to us at
                    <a href="mailto:support@agentology.com">support@agentology.com</a>
                </div>
            </div>
        </div>
        <div id="disable-gmail-modal" class="modal">
            <div class="modal-content">
                <div class="header">
                    Turn Off Lead Sources
                </div>
                <div class="main-content">
                    Are you sure you want to turn lead sources off?
                    This will stop all leads from being sent to Agentology.
                </div>
                <div class="modal-footer">
                    <a href="#"
                       class="modal-button modal-action waves-effect waves-green btn-flat"
                       @click.prevent="updateParseStatus">
                        TURN OFF
                    </a>
                    <a href="#"
                       class="cancel modal-button modal-action modal-close waves-effect waves-green btn-flat"
                       @click.prevent="cancelParseStatus">
                        CANCEL
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import socket from '../../../mixins/socket';
    import laroute from '../../../router/laroute';
    import { toDashes } from '../../../helpers/phone';
    import Agent from '../../../objects/agent';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket],
        /**
         * Data.
         *
         * @link https://vuejs.org/v2/api/#data
         *
         * @returns {{
         *     agent: Agent,
         *     forwardingEmail: String,
         *     parseStatus: Boolean,
         *     showConnected: Boolean,
         *     sources: Array,
         *     parseDisabled: Boolean,
         * }} - Component data
         */
        data() {
            return {
                agent: new Agent(),
                forwardingEmail: '',
                parseStatus: false,
                showConnected: false,
                linkTo: laroute.route('index_portal'),
                sources: [],
                parseDisabled: false,
            };
        },
        /**
         * Watch.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            /**
             * Watch toggle button(on/off) and update parse status on viking.
             *
             * @returns {void}
             */
            parseStatus() {
                if (!this.parseStatus) {
                    $('#disable-gmail-modal').modal('open');
                } else {
                    this.updateParseStatus();
                }
            },
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            const vm = this;

            $(document).ready(() => {
                vm.tryInitWebSocket(() => {
                    vm.$socket.emit('subscribeSettings', vm.$root.id, vm.$root.token);
                });
                $('.modal').modal({
                    dismissible: false,
                });
            });
        },
        methods: {
            /**
             * Send toggle button(on/off) state on change.
             *
             * @returns {void}
             */
            updateParseStatus() {
                if (this.agent.vikingGmailParse !== this.parseStatus) {
                    this.parseDisabled = true;
                    this.agent.vikingGmailParse = this.parseStatus;
                    this.$socket.emit('profileUpdate', this.$root.id, this.$root.token, this.agent);
                    $('#disable-gmail-modal').modal('close');
                }
            },
            /**
             * Check if user connected to viking google app.
             *
             * @returns {boolean} - Connected or not
             */
            checkTokenReceived() {
                const onBoarding = this.agent.agentOnBoarding;

                return onBoarding && onBoarding.tokenReceived;
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {Array} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                switch (message) {
                    case 'agentGet':
                        this.listenAgentGet(data);
                        break;
                    case 'agentUpdate':
                        this.listenAgentUpdate(data);
                        break;
                    case 'leadCreate':
                        this.listenLeadCreate(data);
                        break;
                    default:
                        break;
                }
            },
            /**
             * Listen agent update channel.
             *
             * @param {!Array} data - Agent data.
             *
             * @returns {void}
             */
            listenAgentUpdate(data) {
                this.agent.addDataRecursively(data);
                this.agent.phone = toDashes(this.agent.phone);
                this.parseStatus = this.agent.vikingGmailParse;

                if (this.agent.emailForwarding) {
                    this.forwardingEmail = this.agent.emailForwarding;
                }

                this.parseDisabled = false;
                this.updateSources(data.leads);
            },
            /**
             * Listen agent data.
             *
             * @param {Object} data - Agent data
             *
             * @returns {void}
             */
            listenAgentGet(data) {
                this.agent.addDataRecursively(data);
                this.agent.phone = toDashes(this.agent.phone);
                this.parseStatus = this.agent.vikingGmailParse;

                if (this.agent.emailForwarding) {
                    this.forwardingEmail = this.agent.emailForwarding;
                }

                this.updateSources(data.leads);
            },
            /**
             * Listen lead create event.
             *
             * @param {Object} data - New lead data
             *
             * @returns {void}
             */
            listenLeadCreate(data) {
                const leadSource = data.channelwebsite;

                if (leadSource !== null && this.sources.indexOf(leadSource) === -1) {
                    this.sources.push(leadSource);
                }
            },
            /**
             * Method to update lead sources and sort.
             *
             * @param {Object} leads - lead id with some lead data(status and leadSource)
             *
             * @returns {void}
             */
            updateSources(leads) {
                for (const index in leads) {
                    const leadSource = leads[index].leadSource;

                    if (leadSource !== null && this.sources.indexOf(leadSource) === -1) {
                        this.sources.push(leadSource);
                    }
                }
            },
            /**
             * Returns parseStatus variable statement to previous statement when user cancel turn off modal.
             *
             * @returns {void}
             */
            cancelParseStatus() {
                this.parseStatus = !this.parseStatus;
            },
        },
    };
</script>
