<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../sass/components/console/messaging";
</style>
<style lang="scss" rel="stylesheet/scss">
    .date-picker-background {
        background: none !important;
    }

    .page-chat .modal-update-status input {
        color: black !important;
    }

    .calendar td {
        text-align: center;
    }

    .time-picker .dropdown ul li.active, .time-picker .dropdown ul li.active:hover {
        background-color: #0082ca !important;
    }

    .time-picker input.display-time {
        border: none !important;
        padding: 0 !important;
        color: black;
        height: 3.5em !important;
        cursor: pointer;
    }
</style>

<template>
    <div class="page-chat">
        <navbar :isAdmin="nav.admin"
                :title="nav.title"
                :linkTo="nav.link"
                :navs="nav.list"
                :navStyle="nav.styles"
                :logoStyles="nav.logoStyles"
                :onCall="onCall"
                :parentPageName="pageName"></navbar>
        <div class="chat-container row">
            <channel v-if="isConciergeAdmin()" ref="channel" :lead="lead"></channel>
            <channels v-else ref="channels" :collection="leads" :activeLeadId="activeLeadId"></channels>
            <chat ref="chat" :concierge="concierge" :activeLead="lead" :activeLeadId="activeLeadId"></chat>
            <lead-info ref="leadInfo"
                       :concierge="concierge"
                       :agent="lead.agent"
                       :activeLeadId="activeLeadId"></lead-info>
        </div>
        <modal title="Update Status" ref="update" class="modal-update-status" :styles="updateStyles">
            <p>Change the new status for {{ leadFirstName() }}</p>
            <div class="select-wrapper">
                <input type="text"
                       :value="selects.update.label"
                       class="select-dropdown"
                       id="update-status"
                       readonly
                       data-activates="updateStatus">
                <input type="hidden" v-model="selects.update.selected">
                <span class="caret" @click="openDropdown('update-status')"><i class="material-icons">&#xE5C5;</i></span>
                <ul id="updateStatus" class="dropdown-content select-dropdown">
                    <li @click="toggleSelect('update', false, true)"><span>{{ selects.update.def[0] }}</span></li>
                    <li v-for="(value, key) in selects.update.list"
                        @click="toggleSelect('update', key)">
                        <span>{{ value }}</span>
                    </li>
                </ul>
            </div>
            <div class="shedule" v-show="showSheduleDiv">
                <span class="immediately-span">
                    <input name="shedule-group" class="with-gap" type="radio" id="immediately"
                           v-model="scheduleCallRadio" value="immediately">
                    <label for="immediately">Schedule Immediately</label>
                </span>
                <span class="future-span">
                    <input name="shedule-group" class="with-gap" type="radio" id="future"
                           v-model="scheduleCallRadio" value="future">
                    <label for="future">Schedule For Future</label>
                </span>
            </div>
            <div class="calendar row" v-show="showCalendarDiv">
                    <span class="col s1 icon"><i class="material-icons">event</i></span>
                    <span class="datepicker-span col s3" @click="show=true">
                        <input type="text" id="regular-date" readonly @focus="showDatePicker = true" v-model="dateValue">
                            <date-picker @close="showDatePicker = false" color="#0082ca"
                                     v-if="showDatePicker"
                                     v-model="dateValue"
                                     :format="formatDate"></date-picker>
                    </span>
                    <span class="timepicker-span col s3">
                        <time-picker format="hh:mm A"
                                     v-model="timeValue"
                                     :hide-clear-button="true"
                        ></time-picker>
                    </span>
                    <span class="timezone-span col s4">
                        <div class="select-wrapper">
                            <input type="text"
                                   :value="selects.timeZone.label"
                                   class="select-dropdown"
                                   readonly
                                   data-activates="selectTimeZone">
                            <input type="hidden" v-model="selects.timeZone.selected">
                            <span class="caret" @click="openDropdown('select-time-zone')"><i class="material-icons">&#xE5C5;</i></span>
                            <ul id="selectTimeZone" class="dropdown-content">
                                <li @click="toggleSelect('timeZone', false, true)">
                                    <a href="#" @click.prevent>{{ selects.timeZone.def[0] }}<i class="right material-icons">&#xE5C7;</i></a>
                                </li>
                                <li v-for="(value, key) in options.timeZone"
                                    @click="toggleSelect('timeZone', key)">
                                    <span>{{ value }}</span>
                                </li>
                            </ul>
                        </div>
                    </span>
            </div>
            <div class="note-type">
                <p class="head">Notes</p>
                <textarea placeholder="Type Note Here" v-model="updateNote"></textarea>
            </div>
            <button slot="footer" type="button" class="btn" @click="update">Update</button>
            <button slot="footer" type="button" class="btn-flat" @click="closeUpdateModal()">Cancel</button>
        </modal>
        <modal :title="'Call ' + leadFullName()" ref="callConfirm" class="modal-call-confirm">
            <p>
                Are you sure you want to call {{ leadFullName() }} at
                {{ lead.phone }} as
                {{ personaName }}?
            </p>
            <button slot="footer" type="button" class="btn" @click="call">Call</button>
            <button slot="footer" type="button" class="btn-flat" @click="$refs.callConfirm.close()">Cancel</button>
        </modal>
        <modal title="Error" ref="callError" class="modal-call-error">
            <p v-if="lead.agentId === null">
                Agent is not assigned for this lead.
                Please assign an agent and try again.
            </p>
            <p v-else="lead.agentId !== null">
                {{ agentFullName }} doesn't have a Twilio number specified.
                Please add the number and try again.
            </p>
            <button slot="footer" type="button" class="btn-flat" @click="$refs.callError.close()">OK</button>
        </modal>
        <modal title="Error" ref="foreignLeadError" class="modal-call-error">
            Sorry, you can't make calls to a lead that doesn't belong to you.
            <button slot="footer" type="button" class="btn-flat" @click="$refs.foreignLeadError.close()">OK</button>
        </modal>
        <modal title="Error" ref="leadPhoneError" class="modal-call-error">
            Lead phone number is not valid.
            <button slot="footer" type="button" class="btn-flat" @click="$refs.leadPhoneError.close()">OK</button>
        </modal>
        <modal title="Send Note" ref="noteConfirm">
            <p>
                Are you sure you want to send your note about {{ leadFullName() }} to
                {{ agentFullName }}?
            </p>
            <p><i>{{ getNote() }}</i></p>
            <button slot="footer" type="button" class="btn" @click="sendAgentNote">Send</button>
            <button slot="footer" type="button" class="btn-flat" @click="$refs.noteConfirm.close()">Cancel</button>
        </modal>
        <modal title="Unsaved call notes!" class="modal-save-confirm" ref="callNotesConfirm">
            <p>You have unsaved call notes. Are you sure you want to exit without saving?</p>
            <button slot="footer" type="button" class="btn" @click="$refs.chat.$refs.call.save()">Save</button>
            <button slot="footer" type="button" class="btn-flat" @click="exit">Exit</button>
        </modal>
        <div id="conciergeUpdateRoleNotification" class="concierge-remove-notification modal">
            <div class="modal-content">
                <h4>{{ conciergeUpdateRoleMessage }}</h4>
            </div>
            <div class="modal-footer">
                <a href="#"
                   class="modal-action modal-close waves-effect waves-green btn-flat custom-green"
                   @click.prevent="logout">OK</a>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import Vue from 'vue';
    import moment from 'moment';
    import DatePicker from 'vue-md-date-picker';
    import VueTimePicker from 'vue2-timepicker';
    import socket from '../../mixins/socket';
    import laroute from '../../router/laroute';
    import Concierge from '../../objects/concierge';
    import ConciergeCollection from '../../collections/conciergeCollection';
    import Lead from '../../objects/lead';
    import LeadCollection from '../../collections/leadCollection';
    import Attachment from '../../objects/attachment';
    import Message from '../../objects/message';
    import Email from '../../objects/email';
    import Call from '../../objects/call';
    import Note from '../../objects/note';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket],
        /**
         * Components.
         * @link https://vuejs.org/v2/guide/components.html
         */
        components: {
            'date-picker': DatePicker,
            'time-picker': VueTimePicker,
        },
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      nav: {
         *          admin: boolean,
         *          title: string,
         *          link: *,
         *          list: *[],
         *          styles: {
         *              padding: number
         *          },
         *          logoStyles: {
         *              margin: string
         *          }
         *      },
         *      selects: {
         *          update: {
         *              selected: string,
         *              label: string,
         *              def: string[],
         *              list: {}
         *          }
         *      },
         *      options: {},
         *      updateStyles: {
         *          height: string
         *      },
         *      updateNote: string,
         *      activeLeadId: (string|null),
         *      leads: LeadCollection,
         *      concierges: ConciergeCollection,
         *      concierge: Concierge,
         *      onCall: boolean,
         *      callNotesFilled: boolean,
         *      pathTo: string,
         *      receivingLeads: boolean,
         *      haveEscalatedLeads: boolean,
         *      currentCall: Call,
         *      interval: (number|null),
         *      shouldBeUnassigned: (string|null),
         *      callInstance: Call,
         *      currentLead: String,
         *      showCalendar: boolean,
         *      showDatePicker: boolean,
         *      dateValue: string,
         *      timeValue: string,
         *      pageName: string,
         *      conciergeUpdateRoleMessage: String
         * }} - Component Data
         */
        data() {
            let link = laroute.route('permission');

            if (this.$root.role < this.$role.ADMIN) {
                link = laroute.route('messaging');
            }

            return {
                nav: {
                    admin: false,
                    title: 'Active Chats',
                    link,
                    list: [
                        {
                            type: 'status-link',
                        },
                        {
                            type: 'profile-text',
                        },
                    ],
                    styles: {
                        padding: 0,
                    },
                    logoStyles: {
                        margin: '0 0 0 24px',
                    },
                },
                selects: {
                    update: {
                        selected: 'Choose Status',
                        label: 'Choose Status',
                        def: ['Choose Status', ''],
                        list: {},
                    },
                    timeZone: {
                        selected: 'Time Zone',
                        label: 'Time Zone',
                        def: ['Time Zone', ''],
                        list: {},
                    },
                },
                scheduleCallRadio: 'immediately',
                options: {
                    statusQualified: {
                        unqualify: 'Unqualify',
                        callRequested: 'Call Requested',
                        noResponseNeeded: 'No Response Needed',
                    },
                    statusUnqualified: {
                        qualify: 'Qualify',
                        callRequested: 'Call Requested',
                        noResponseNeeded: 'No Response Needed',
                    },
                    statusReferred: {
                        callRequested: 'Call Requested',
                        noResponseNeeded: 'No Response Needed',
                    },
                    statusNotLead: {
                        noResponseNeeded: 'No Response Needed',
                    },
                    statusNewLead: {
                        phoneLandline: {
                            qualify: 'Qualify',
                            unqualify: 'Unqualify',
                            callRequested: 'Call Requested',
                            notLead: 'Not a lead',
                            goodEmailBadPhone: 'Good email / bad phone',
                            continueLandlineAutomation: 'Continue Landline Automation',
                        },
                        phoneNotLandline: {
                            tagUrgent: {
                                qualify: 'Qualify',
                                unqualify: 'Unqualify',
                                callRequested: 'Call Requested',
                                notLead: 'Not a lead',
                                goodEmailBadPhone: 'Good email / bad phone',
                            },
                            tagNotUrgent: {
                                qualify: 'Qualify',
                                unqualify: 'Unqualify',
                                callRequested: 'Call Requested',
                                notLead: 'Not a lead',
                                goodEmailBadPhone: 'Good email / bad phone',
                                continueSMSAutomation: 'Continue SMS Automation',
                            },
                        },
                        phoneNull: {
                            emailNotNull: {
                                qualify: 'Qualify',
                                unqualify: 'Unqualify',
                                notLead: 'Not a lead',
                                goodEmailBadPhone: 'Good email / bad phone',
                            },
                            emailNull: {
                                qualify: 'Qualify',
                                unqualify: 'Unqualify',
                                notLead: 'Not a lead',
                            },
                        },
                    },
                    timeZone: {
                        pacific: 'Pacific',
                        mountain: 'Mountain',
                        central: 'Central',
                        eastern: 'Eastern',
                    },
                },
                updateStyles: {
                    height: '50%',
                },
                alreadyClickedCall: false,
                updateNote: '',
                activeLeadId: null,
                leads: new LeadCollection(),
                concierges: new ConciergeCollection(),
                concierge: new Concierge(),
                onCall: false,
                callNotesFilled: false,
                pathTo: '',
                currentCall: new Call(),
                interval: null,
                shouldBeUnassigned: null,
                callInstance: Call,
                currentLead: '',
                pageName: 'Messaging',
                showCalendar: false,
                showDatePicker: false,
                dateValue: moment().format('MM/DD/YYYY'),
                timeValue: {
                    hh: '01',
                    mm: '00',
                    ss: '00',
                    /* eslint-disable id-length */
                    A: 'PM',
                    /* eslint-enable id-length */
                },
                conciergeUpdateRoleMessage: '',
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         *
         * @returns {void}
         */
        mounted() {
            this.mountSelects();

            // Web-socket
            this.tryInitWebSocket(() => {
                const leadId = this.$route.params.id;

                this.$socket.emit('subscribeMessaging', this.$root.id, this.$root.token, leadId);
            });

            // Twilio
            this.initTwilioConnection();

            clearInterval(this.intervalActivity);

            this.interval = setInterval(() => {
                this.leads.updateTimers();
            }, 1000);

            this.selects.timeZone.list = this.options.timeZone;
        },
        /**
         * Updated hook.
         *
         * @link https://vuejs.org/v2/api/#updated
         *
         * @returns {void}
         */
        updated() {
            this.mountNavBar();
        },
        /**
         * Before destroy hook (unmounted).
         * @link https://vuejs.org/v2/api/#beforeDestroy
         *
         * @returns {void}
         */
        beforeDestroy() {
            if (this.shouldBeUnassigned) {
                this.$socket.emit('leadUnassignRep', this.$root.id, this.$root.token, this.shouldBeUnassigned);
                this.removeLeadFromConsole(this.shouldBeUnassigned);
                this.shouldBeUnassigned = null;
            }
        },
        /**
         * Created hook.
         * @link https://vuejs.org/v2/api/#created
         *
         * @returns {void}
         */
        created() {
            window.addEventListener('beforeunload', this.handler);
        },
        /**
         * Computed properties & methods.
         * @link https://vuejs.org/v2/api/#computed
         */
        computed: {
            /**
             * Concatenate agent first name & last name.
             *
             * @returns {String} - Lead full name
             */
            agentFullName() {
                let agentFullName = '';
                const agent = this.leads.getLead(this.activeLeadId).agent;

                if (agent.firstName) {
                    agentFullName += agent.firstName;
                }

                if (agent.lastName) {
                    agentFullName += ` ${ agent.lastName}`;
                }

                return agentFullName;
            },
            /**
             * Get persona name.
             *
             * @returns {String} - Agent persona name
             */
            personaName() {
                return this.leads.getLead(this.activeLeadId).agent.personaName;
            },
            /**
             *  Get lead object.
             *
             * @returns {Object} - Lead object
             */
            lead() {
                return this.currentLead === '' ? this.leads.getLead(this.activeLeadId) : this.currentLead;
            },
            /**
             * Twilio number.
             *
             * @returns {String} - Agent twilio number
             */
            agentTwilioNumber() {
                return this.leads.leads[this.activeLeadId].agent.twilioNumber;
            },
            /**
             * Stopple for real lead calls in safe mode.
             *
             * @returns {Boolean} - Should be stopped status
             */
            stopple() {
                const leadUndefined = typeof this.leads.leads[this.activeLeadId] == 'undefined';

                return leadUndefined ? false : safeMode && this.leads.leads[this.activeLeadId].fromViking;
            },
            /**
             * Return flag show or not radio buttons panel
             *
             * @returns {Boolean} - flag
             */
            showSheduleDiv() {
                const tier1 = 1;

                return this.selects.update.selected === 'callRequested' && this.$root.role === tier1;
            },
            /**
             * Return flag show or not calendar panel
             *
             * @returns {Boolean} - flag
             */
            showCalendarDiv() {
                const tier2 = 2;

                return this.showCalendar || this.$root.role === tier2 && this.selects.update.selected === 'callRequested';
            },
        },
        /**
         * Watch.
         *
         * @link https://vuejs.org/v2/api/#watch22
         */
        watch: {
            /**
             * Watcher handler.
             *
             * @param {string} val - New value
             *
             * @returns {void}
             */
            scheduleCallRadio(val) {
                switch (val) {
                    case 'immediately':
                        this.showCalendar = false;
                        break;
                    case 'future':
                        this.showCalendar = true;
                        break;
                    default:
                        break;
                }
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Concatenate lead first & last name.
             *
             * @returns {String} - Lead full name
             */
            leadFullName() {
                const lead = this.leads.getLead(this.activeLeadId);

                return `${lead.firstName } ${ lead.lastName}`;
            },
            /**
             * Return lead first name.
             *
             * @returns {String} - lead first name
             */
            leadFirstName() {
                const lead = this.leads.getLead(this.activeLeadId);

                return lead.firstName;
            },
            /**
             * Lead phone number.
             *
             * @returns {String} - Lead phone number
             */
            leadPhoneNumber() {
                return this.leads.getLead(this.activeLeadId).phone;
            },
            /**
             * Validates phone number with help of Twilio.
             *
             * @returns {void}
             */
            isCurrentLeadPhoneNumberReal() {
                this.$socket.emit(
                    'leadValidatePhone',
                    this.$root.id,
                    this.$root.token,
                    this.$refs.leadInfo.lead.phone,
                    this.activeLeadId
                );
            },
            /**
             * Filter statuses list.
             *
             * @param {boolean} statuses - Statuses list
             *
             * @returns {{}} - Filtered statuses list
             */
            filterStatusesList(statuses) {
                const statusesCopy = Vue.util.extend({}, statuses);

                for (const index in statusesCopy) {
                    if (index === 'noResponseNeeded' && this.isActiveStatus()) {
                        delete statusesCopy[index];
                    }
                }

                return statusesCopy;
            },
            /**
             * Update options list
             *
             * @returns {void}
             */
            updateOptionsList() {
                const activeLead = this.leads.getLead(this.activeLeadId);

                if (!activeLead) {
                    return;
                }

                switch (activeLead.status) {
                    case 'Qualified':
                        this.selects.update.list = this.options.statusQualified;
                        break;
                    case 'Unqualified':
                        this.selects.update.list = this.options.statusUnqualified;
                        break;
                    case 'Referred':
                        this.selects.update.list = this.options.statusReferred;
                        break;
                    case 'Not a lead':
                        this.selects.update.list = this.options.statusNotLead;
                        break;
                    case 'New lead':
                        switch (activeLead.phoneCarrierType) {
                            case '':
                                this.selects.update.list = activeLead.email
                                    ? this.options.statusNewLead.phoneNull.emailNotNull
                                    : this.options.statusNewLead.phoneNull.emailNull;
                                break;
                            case 'landline':
                                this.selects.update.list = this.options.statusNewLead.phoneLandline;
                                break;
                            default:
                                if (activeLead.tag === 'Urgent') {
                                    this.selects.update.list = this.options.statusNewLead.phoneNotLandline.tagUrgent;
                                } else {
                                    const nextSmsFlowStep = 4;
                                    const optionsList = Object.assign({},
                                        this.options.statusNewLead.phoneNotLandline.tagNotUrgent);

                                    if (activeLead.smsFlowStep !== nextSmsFlowStep) {
                                        delete optionsList.continueSMSAutomation;
                                    }
                                    this.selects.update.list = optionsList;
                                }
                                break;
                        }
                        break;
                    default:
                        this.selects.update.list = {};
                        break;
                }
            },
            /**
             * Trigger on browser page refresh or close
             *
             * @returns {void}
             */
            handler() {
                if (this.shouldBeUnassigned) {
                    this.$socket.emit('leadUnassignRep', this.$root.id, this.$root.token, this.shouldBeUnassigned);
                    this.removeLeadFromConsole(this.shouldBeUnassigned);
                    this.shouldBeUnassigned = null;
                }
            },
            /**
             * Check if lead has Active status
             *
             * @returns {boolean} - True if status is Active
             */
            isActiveStatus() {
                const activeStatuses = ['New lead'];
                const leadStatus = this.leads.getLead(this.activeLeadId).status;

                return activeStatuses.indexOf(leadStatus) !== -1;
            },
            /**
             * Mount select dropdowns.
             *
             * @returns {void}
             */
            mountSelects() {
                window.$(document).ready(() => {
                    window.$('.select-dropdown').dropdown();
                });
            },
            /**
             * Gets note.
             *
             * @returns {string} - Note from text-area
             */
            getNote() {
                const leadInfo = this.$refs.leadInfo;

                if (typeof leadInfo == 'undefined' || typeof leadInfo.$refs.notes == 'undefined') {
                    return '';
                }

                return leadInfo.$refs.notes.note;
            },
            /**
             * Mount nav-bar attributes.
             *
             * @returns {void}
             */
            mountNavBar() {
                if (this.isConciergeAdmin()) {
                    this.nav.admin = true;
                    this.nav.title = this.leadFullName();
                    this.nav.link = laroute.route('leads');
                    this.nav.styles.padding = '0 0 0 15px';
                    this.nav.logoStyles.margin = '0 0 0 40px';
                }
            },
            /**
             * Toggle select values & labels.
             *
             * @param {string} key - Which select in selects group (update)
             * @param {string} value - Which value to select
             * @param {boolean} isDefault - Set default values or not
             *
             * @returns {void}
             */
            toggleSelect(key, value, isDefault = false) {
                if (isDefault) {
                    this.selects[key].label = this.selects[key].def[0];
                    this.selects[key].selected = this.selects[key].def[1];
                    window.$(`input[data-activates="${ key }"]`).removeClass('valid');
                } else {
                    this.selects[key].selected = value;
                    this.selects[key].label = this.selects[key].list[value];
                    window.$(`input[data-activates="${ key }"]`).addClass('valid');
                }
            },
            /**
             * Update lead info.
             *
             * @returns {void}
             */
            update() {
                const action = this.selects.update.list[this.selects.update.selected];
                const timeValue = `${ this.timeValue.hh }:${ this.timeValue.mm } ${ this.timeValue.A }`;
                const timezone = this.selects.timeZone.selected;
                let date = `${ this.dateValue } ${ timeValue }`;

                if (!this.showCalendarDiv) {
                    date = '';
                }


                this.$refs.leadInfo.updateStatus(action, this.updateNote, date, timezone);

                this.closeUpdateModal();
            },
            /**
             * Init connection to Twilio.
             *
             * @returns {void}
             */
            initTwilioConnection() {
                Twilio.Device.setup(twilioToken);

                Twilio.Device.ready(device => {
                    // TODO processing call ready
                });

                Twilio.Device.error(error => {
                    // TODO processing call error
                });

                Twilio.Device.incoming(conn => {
                    // TODO processing incoming call
                });

                const vm = this;

                window.twilioConnection = Twilio.Device.connect(conn => {
                    setTimeout(() => {
                        if (typeof vm.$refs.callConfirm !== 'undefined') {
                            vm.$refs.callConfirm.close();
                        }

                        if (typeof vm.$refs.chat !== 'undefined') {
                            vm.$refs.chat.toggleTab('call');
                            vm.stopTimerOnCallStart();
                        }

                        vm.onCall = true;
                    });
                });

                Twilio.Device.disconnect(conn => {
                    const validChatComponent = typeof vm.$refs.chat !== 'undefined';
                    const validCallComponent = typeof vm.$refs.chat.$refs.call !== 'undefined';

                    if (validChatComponent && validCallComponent && window.twilioConnection) {
                        vm.$socket.emit(
                            'messagingCallEnd',
                            vm.$root.id,
                            vm.$root.token,
                            vm.activeLeadId,
                            window.twilioConnection.parameters.CallSid
                        );
                    }
                });
            },
            /**
             * Call to lead.
             *
             * @returns {void}
             */
            call() {
                if (this.alreadyClickedCall || this.stopple || !this.leadPhoneNumber() || !this.agentTwilioNumber) {
                    return;
                }

                this.alreadyClickedCall = true;
                this.currentCall = new Call();

                const twilioPhone = this.leadPhoneNumber().replace(/\(|\)|\s|-/g, '');

                window.twilioConnection = Twilio.Device.connect({
                    phoneNumber: `+1${ twilioPhone.replace(/\+1/, '')}`,
                    twilioNumber: this.agentTwilioNumber,
                });
            },
            /**
             * Stop timer on Call start
             *
             * @returns {void}
             */
            stopTimerOnCallStart() {
                this.stopTimer();
                this.$socket.emit('stopTimer', this.activeLeadId);
            },
            /**
             * Stop timer for active lead
             *
             * @returns {void}
             */
            stopTimer() {
                const lead = this.leads.getLead(this.activeLeadId);

                lead.showTimer = false;
                lead.finalTimeForResponse = null;

                this.leads.updateCollection();
            },
            /**
             * Send agent note.
             *
             * @returns {void}
             */
            sendAgentNote() {
                this.$refs.noteConfirm.close();
                this.$refs.leadInfo.$refs.notes.save(true);
            },
            /**
             * Check if concierge is admin.
             *
             * @returns {boolean} if concierge admin
             */
            isConciergeAdmin() {
                return this.$root.role === this.$role.ADMIN;
            },
            /**
             * Update title link for admin.
             *
             * @returns {void}
             */
            updateLeadTitle() {
                if (this.isConciergeAdmin()) {
                    this.nav.title = this.leadFullName();
                }
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {Array} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                switch (message) {
                    case 'subscribeMessaging':
                        this.listenSubscribeMessaging(data);
                        break;
                    case 'leadCreate':
                        this.listenLeadCreate(data);
                        break;
                    case 'leadRemove':
                        this.listenLeadRemove(data);
                        break;
                    case 'leadUpdate':
                        this.listenLeadUpdate(data);
                        break;
                    case 'leadGet':
                        this.listenLeadGet(data);
                        break;
                    case 'leadUpdateRep':
                        this.listenLeadUpdateRep(data);
                        break;
                    case 'leadUnassignRep':
                        this.listenLeadUnassignRep(data.leadId);
                        break;
                    case 'leadUpdateStatus':
                        this.listenLeadUpdateStatus(data);
                        break;
                    case 'leadRefer':
                        this.listenLeadRefer(data);
                        break;
                    case 'leadCall':
                        this.listenLeadCall(data);
                        break;
                    case 'leadCallEnd':
                        this.listenLeadCallEnd(data);
                        break;
                    case 'leadCallStatusUpdate':
                        this.listenLeadCallStatusUpdate(data);
                        break;
                    case 'leadCallNotes':
                        this.listenLeadCallNotes(data);
                        break;
                    case 'leadCallNotesReport':
                        this.listenLeadCallNotesReport(data);
                        break;
                    case 'noteCreate':
                        this.listenNoteCreate(data);
                        break;
                    case 'noteCreateReport':
                        this.listenNoteCreateReport(data);
                        break;
                    case 'conciergeCreate':
                        this.listenConciergeCreate(data);
                        break;
                    case 'conciergeUpdate':
                        this.listenConciergeUpdate(data);
                        break;
                    case 'conciergeDelete':
                        this.listenConciergeDelete(data);
                        break;
                    case 'agentPersonaUpdate':
                        this.listenAgentPersonaUpdate(data);
                        break;
                    case 'agentGetPersonaData':
                        this.listenAgentPersonaUpdate(data);
                        break;
                    case 'conciergeLogout':
                        this.listenConciergeLogout(data);
                        break;
                    case 'LeadPhoneIsValid':
                        this.listenLeadPhoneIsValid(data);
                        break;
                    case 'LeadPhoneIsInvalid':
                        this.listenLeadPhoneIsInvalid(data);
                        break;
                    case 'leadPauseSmsFlow':
                        this.listenLeadPauseSmsFlow(data);
                        break;
                    default:
                        break;
                }
            },
            /**
             * Listen LeadPhoneIsValid event.
             *
             * @param {Array[]} data validation results
             *
             * @return {void}
             */
            listenLeadPhoneIsValid(data) {
                this.$refs.callConfirm.open();

                this.$refs.chat.$refs.chatTabs.validatingPhone = false;
            },
            /**
             * Listen LeadPhoneIsInvalid event.
             *
             * @param {Object} data validation results
             *
             * @return {void}
             */
            listenLeadPhoneIsInvalid(data) {
                this.$refs.leadPhoneError.open();

                this.$refs.chat.$refs.chatTabs.validatingPhone = false;
            },
            /**
             * Listen concierge logout.
             *
             * @param {Object} data - Log out data
             *
             * @return {void}
             */
            listenConciergeLogout(data) {
                this.$socket.off('message', this.onMessageWebSocket);

                const modalLogout = $('#conciergeUpdateRoleNotification');
                const vm = this;

                this.conciergeUpdateRoleMessage = data.text;

                modalLogout.modal({
                    complete() {
                        vm.logout();
                    },
                });

                modalLogout.modal('open');
            },
            /**
             * Listen persona update data.
             *
             * @param {Object} data persona values
             *
             * @return {void}
             */
            listenAgentPersonaUpdate(data) {
                const agent = this.leads.getLead(this.activeLeadId).agent;
                // TODO: upgrade it. This is not safe code.
                // TODO: here should be foreach all leads. And update all related agents.

                agent.personaName = data.personaName;
                agent.personaTeamName = data.personaTeamName;
                agent.personaTitle = data.personaTitle;

                this.leads.updateCollection();
            },
            /**
             * Listen concierge create.
             *
             * @param {Object} data - Concierge
             *
             * @returns {void}
             */
            listenConciergeCreate(data) {
                const concierge = new Concierge(data.id, data.name, data.email, `${data.permission }`);

                this.concierges.addConcierge(concierge);
                this.concierges.updateCollection();
            },
            /**
             * Listen concierge update.
             *
             * @param {Object} data - Concierge
             *
             * @returns {void}
             */
            listenConciergeUpdate(data) {
                const concierge = this.concierges.getConcierge(data.id);

                concierge.name = data.name;
                concierge.email = data.email;
                concierge.permission = `${data.permission }`;

                this.concierges.updateCollection();
            },
            /**
             * Listen concierge delete.
             *
             * @param {Number} data - Concierge id
             *
             * @returns {void}
             */
            listenConciergeDelete(data) {
                if (data !== this.$root.id) {
                    this.concierges.deleteConcierge(data);
                    this.concierges.updateCollection();
                }
            },
            /**
             * Listen `noteCreate` WebSocket channel.
             *
             * @param {Object} data - Note object
             *
             * @returns {void}
             */
            listenNoteCreate(data) {
                const note = new Note();

                note.addDataRecursively(data.note);

                if (typeof this.leads.leads[data.leadId] == 'undefined') {
                    this.leads.leads[data.leadId] = new Lead();
                }

                this.leads.leads[data.leadId].notes.addNote(note);
                this.leads.leads[data.leadId].notes.updateCollection();

                this.$refs.leadInfo.$refs.notes.refreshNotes();
                this.$refs.leadInfo.refreshIScroll();
            },
            /**
             * Listen `noteCreateReport` WebSocket channel.
             *
             * @param {{}} data - Created note
             *
             * @returns {void}
             */
            listenNoteCreateReport(data) {
                this.leads.leads[data.leadId].notes.syncNote(data.id);
                this.leads.leads[data.leadId].notes.updateCollection();
            },
            /**
             * Listen leads.
             *
             * @param {{
             *      leads: Array,
             *      messages: Array,
             *      emails: Array,
             *      attachments: Array,
             *      leadCalls: Array,
             *      notes: Array,
             *      concierges: Array
             * }} data - income data
             *
             * @returns {void}
             */
            listenSubscribeMessaging(data) {
                this.activeLeadId = typeof this.$route.params.id === 'undefined' ? null : this.$route.params.id;

                const activeLeadIsNull = this.activeLeadId === null;
                const routeIsUndefined = typeof this.$route.params.id != 'undefined';
                const routeIsNull = this.$route.params.id !== null;

                let leadId = null;

                if (activeLeadIsNull && routeIsUndefined && routeIsNull) {
                    leadId = this.$route.params.id;
                }

                const leads = data.leads;

                let newActiveLeadIdAny = null;
                let newActiveLeadId = this.activeLeadId;

                for (const key in leads) {
                    const lead = new Lead();

                    lead.addDataRecursively(leads[key]);

                    if (typeof this.leads.leads[lead.id] != 'undefined') {
                        this.leads.leads[lead.id].addDataRecursively(leads[key]);
                    } else {
                        this.leads.addLead(lead);
                    }

                    if (this.activeLeadId === null) {
                        newActiveLeadIdAny = lead.id;
                        newActiveLeadId = leadId === null || leadId === lead.id ? lead.id : this.activeLeadId;
                    }
                }

                for (const index in this.leads.leads) {
                    if (this.leads.leads[index].id === null) {
                        delete this.leads.leads[index];
                    }
                }

                this.leads.orderColumn = 'tag';
                this.leads.orderDirectionUp = true;

                this.leads.updateCollection();

                const concierges = data.concierges;
                const notes = data.notes;
                const messages = data.messages;
                const emails = data.emails;
                const attachments = data.attachments;
                const leadCalls = data.leadCalls;

                this.updateConcierges(concierges);
                this.updateLeadNotes(leadId, notes, true);
                this.updateLeadMessages(leadId, messages, true);
                this.updateLeadEmails(leadId, emails, true);
                this.updateLeadAttachments(leadId, attachments, true);
                this.updateLeadCalls(leadId, leadCalls, true);

                setTimeout(() => {
                    if (newActiveLeadId !== this.activeLeadId) {
                        this.activeLeadId = newActiveLeadId;

                        return;
                    }

                    if (this.activeLeadId === null && newActiveLeadIdAny !== null) {
                        this.activeLeadId = newActiveLeadIdAny;
                    }
                }, 0);

                const agent = this.leads.getLead(leadId).agent;

                if (agent.id !== null) {
                    this.$socket.emit('subscribeAgentPersona', this.$root.id, this.$root.token, agent.id);
                }

                this.isConciergeAdmin() ? this.$refs.channel.refreshIScroll() : this.$refs.channels.refreshIScroll();
            },
            /**
             * Listen create lead.
             *
             * @param {Array[]} data - Lead
             *
             * @returns {void}
             */
            listenLeadCreate(data) {
                const newLead = new Lead();

                newLead.addDataRecursively(data);
                if (newLead.conciergeId !== this.$root.id) {
                    return;
                }

                this.leads.leads[newLead.id] = newLead;
                this.leads.updateCollection();

                this.$refs.channels.refreshIScroll();
            },
            /**
             * Listen remove lead.
             *
             * @param {Lead} lead - Lead
             *
             * @returns {void}
             */
            listenLeadRemove(lead) {
                if (lead.conciergeId === this.$root.id) {
                    return;
                }

                this.removeLeadFromConsole(lead.id);
            },
            /**
             * Listen update lead.
             *
             * @param {Lead} data - Lead
             *
             * @returns {void}
             */
            listenLeadUpdate(data) {
                if (data === null) {
                    return;
                }

                const newLead = new Lead();
                const oldLead = this.leads.leads[data.id];

                newLead.addDataRecursively(data);
                if (typeof data.agent == 'undefined' && newLead.agentId && newLead.agentId === oldLead.agentId) {
                    newLead.agent = oldLead.agent;
                }

                const mustHaveFieldsForLead = [
                    'messages',
                    'emails',
                    'calls',
                    'timeLeftForResponse',
                    'finalTimeForResponse',
                    'showTimer',
                ];

                for (const index in mustHaveFieldsForLead) {
                    newLead[mustHaveFieldsForLead[index]] = oldLead[mustHaveFieldsForLead[index]];
                }

                const newLeadIdUndefined = typeof newLead.id == 'undefined';

                if (newLeadIdUndefined && newLead.conciergeId !== this.$root.id) {
                    return;
                }

                this.leads.leads[newLead.id] = newLead;

                if (!newLeadIdUndefined) {
                    this.$refs.leadInfo.refreshLead();
                    this.$refs.chat.refreshLead();
                }

                this.leads.updateCollection();
                this.currentLead = this.leads.getLead(this.activeLeadId);
                this.updateLeadTitle();
            },
            /**
             * Listen get lead.
             *
             * @param {Lead} data - Lead
             *
             * @returns {void}
             */
            listenLeadGet(data) {
                const newLead = new Lead();

                newLead.addDataRecursively(data);
                if (typeof this.leads.leads[newLead.id] != 'undefined') {
                    newLead.emails = this.leads.leads[newLead.id].emails;
                    newLead.messages = this.leads.leads[newLead.id].messages;
                    newLead.notes = this.leads.leads[newLead.id].notes;
                    newLead.calls = this.leads.leads[newLead.id].calls;
                }

                this.leads.addLead(newLead);
                this.leads.updateCollection();

                this.$refs.leadInfo.refreshLead();
                this.activeLeadId = newLead.id;

                this.updateLeadTitle();
            },
            /**
             * Listen update lead status.
             *
             * @param {{}} data - Update status data
             *
             * @returns {void}
             */
            listenLeadUpdateStatus(data) {
                const leadId = data.leadId;

                if (typeof this.leads.leads[leadId] == 'undefined') {
                    return;
                }

                const status = data.status;
                const noteData = data.note;
                const tag = data.tag;
                const lastAction = data.lastAction;
                const icon = data.icon;

                if (!this.isConciergeAdmin()) {
                    switch (lastAction) {
                        case 'Qualify':
                        case 'Unqualify':
                            this.shouldBeUnassigned = leadId;

                            break;
                        case 'Call Requested':
                            if (this.$root.role === this.$role.TIER1) {
                                this.removeLeadFromConsole(leadId);

                                return;
                            }

                            break;
                        case 'Not a lead':
                        case 'No Response Needed':
                            this.removeLeadFromConsole(leadId);

                            return;
                        default:
                            break;
                    }
                }

                this.leads.leads[leadId].status = status;
                this.leads.leads[leadId].tag = tag;
                this.leads.leads[leadId].icon = icon;
                this.leads.updateCollection();

                if (tag === 'Ongoing Chat') {
                    this.stopTimer();
                }

                if (noteData && noteData !== null) {
                    const note = new Note();

                    note.addDataRecursively(noteData);

                    this.leads.leads[leadId].notes.addNote(note);
                    this.leads.leads[leadId].notes.updateCollection();

                    this.$refs.leadInfo.$refs.notes.refreshNotes();
                    this.$refs.leadInfo.refreshIScroll();
                }

                if (leadId === this.activeLeadId) {
                    this.$refs.leadInfo.refreshLead();
                }
            },
            /**
             * Listen update lead Rep (Concierge).
             *
             * @param {Object} data - Lead update Rep data
             *
             * @returns {void}
             */
            listenLeadUpdateRep(data) {
                if (data.repId === data.oldRepId) {
                    return;
                } else if (this.$root.id === data.repId) {
                    const newLead = new Lead();

                    newLead.addDataRecursively(data.lead);

                    if (typeof this.leads.leads[newLead.id] != 'undefined') {
                        this.leads.leads[newLead.id].addDataRecursively(data.lead);
                    } else {
                        this.leads.addLead(newLead);
                    }

                    if (this.activeLeadId === null) {
                        this.activeLeadId = newLead.id;
                        this.$router.push(laroute.route('messaging', { id: this.activeLeadId }));
                    }
                    this.leads.updateCollection();

                    const notes = data.notes;
                    const messages = data.messages;
                    const emails = data.emails;
                    const leadCalls = data.leadCalls;

                    this.updateLeadNotes(newLead.id, notes, false);
                    this.updateLeadMessages(newLead.id, messages, false);
                    this.updateLeadEmails(newLead.id, emails, false);
                    this.updateLeadCalls(newLead.id, leadCalls, false);

                    this.$refs.channels.refreshIScroll();

                    return;
                }

                if (this.$root.id === data.oldRepId) {
                    this.removeLeadFromConsole(data.leadId);
                }
            },
            /**
             * Listen lead unassign Rep (Concierge).
             *
             * @param {string} leadId - Lead id
             *
             * @returns {void}
             */
            listenLeadUnassignRep(leadId) {
                if (typeof this.leads.leads[leadId] == 'undefined') {
                    return;
                }

                if (this.$root.role < this.$role.ADMIN) {
                    this.removeLeadFromConsole(leadId);
                }
            },
            /**
             * Listen refer lead.
             *
             * @param {Number} leadId - LeadId
             *
             * @returns {void}
             */
            listenLeadRefer(leadId) {
                // TODO: add lead refer processing
            },
            /**
             * Listen call start.
             *
             * @param {Object} data - Call data
             *
             * @returns {void}
             */
            listenLeadCall(data) {
                this.currentCall.addDataRecursively(data.leadCall);

                this.leads.leads[data.leadId].calls.addCall(this.currentCall);
                this.leads.leads[data.leadId].calls.updateCollection();

                this.updateOrCreateCallRecord(data.leadCall);
            },
            /**
             * Listen call end.
             *
             * @param {Object} data - Call data
             *
             * @returns {void}
             */
            listenLeadCallEnd(data) {
                data.id = data.leadCallId;

                this.currentCall.addDataRecursively(data);

                this.leads.leads[data.leadId].calls.addCall(this.currentCall);
                this.leads.leads[data.leadId].calls.updateCollection();

                if (typeof this.$refs.chat.$refs.call != 'undefined') {
                    this.$refs.chat.$refs.call.resetCallData();
                    this.alreadyClickedCall = false;
                }

                this.updateOrCreateCallRecord(data);
            },
            /**
             * Update or create call record
             *
             * @param {Object} data - Call data
             *
             * @returns {void}
             */
            updateOrCreateCallRecord(data) {
                const messagesComponent = this.$refs.chat.$refs.messages;
                const newCall = messagesComponent.chatCollection.getObject(data.id, this.callInstance);

                if (newCall) {
                    newCall.addDataRecursively(data);
                } else {
                    messagesComponent.chatCollection.addObject(data, this.callInstance);
                }

                messagesComponent.chatCollection.updateCollection();
                messagesComponent.chatAutoScroll();
            },
            /**
             * Listen call status update.
             *
             * @param {Object} data - Data
             *
             * @returns {void} - If incorrect call sid returns void
             */
            listenLeadCallStatusUpdate(data) {
                if (window.twilioConnection === null || window.twilioConnection.parameters.CallSid !== data.callSid) {
                    return;
                }

                switch (data.status) {
                    case 'ringing':
                        this.$refs.chat.$refs.call.startTimer();
                        this.$socket.emit(
                            'messagingCall',
                            this.$root.id,
                            this.$root.token,
                            this.activeLeadId,
                            data.callSid,
                            this.leadPhoneNumber()
                        );
                        break;
                    case 'initiated':
                    case 'in-progress':
                    case 'completed':
                        break;
                    default:
                        break;
                }
            },
            /**
             * Listen call notes.
             *
             * @param {array} data - Call notes data
             *
             * @returns {void}
             */
            listenLeadCallNotes(data) {
                // TODO: implements it
            },
            /**
             * Listen call notes (report).
             *
             * @param {array} data - Notes report data
             *
             * @returns {void}
             */
            listenLeadCallNotesReport(data) {
                // TODO: implements it
            },
            /**
             * Listen lead pause sms flow.
             *
             * @param {array} data - Lead pause sms flow data
             *
             * @returns {void}
             */
            listenLeadPauseSmsFlow(data) {
                const lead = this.leads.getLead(data.leadId);

                lead.isPaused = data.isPaused;
                lead.smsFlowStep = data.smsFlowStep;
                this.leads.updateCollection();
            },
            /**
             * Redirect to another route or switch challes, tab without saving call notes.
             *
             * @returns {void}
             */
            exit() {
                this.callNotesFilled = false;
                this.$refs.callNotesConfirm.close();

                if (this.pathTo) {
                    this.$router.push(this.pathTo);
                }

                this.$refs.chat.toggleTab('messages');
            },
            /**
             * Update concierges collection
             *
             * @param {Array[]} concierges - Concierges
             *
             * @returns {void}
             */
            updateConcierges(concierges) {
                this.concierges.cleanCollection();

                for (const index in concierges) {
                    const rep = concierges[index];

                    if (rep === null) {
                        continue;
                    }

                    const concierge = new Concierge(rep.id, rep.name, rep.email, `${rep.role }`);

                    this.concierges.addConcierge(concierge);
                }

                this.concierges.updateCollection();
            },
            /**
             * Update Lead notes
             *
             * @param {string} leadId - Lead id
             * @param {Array[]} notes - Lead notes
             * @param {boolean} needDeferredUpdate true if need update collection later
             *
             * @returns {void}
             */
            updateLeadNotes(leadId, notes, needDeferredUpdate) {
                const willUpdate = {};

                for (const index in notes) {
                    const note = new Note();

                    note.addDataRecursively(notes[index]);

                    this.leads.leads[notes[index].leadId].notes.addNote(note);

                    if (needDeferredUpdate) {
                        willUpdate[notes[index].leadId] = true;
                    }
                }

                if (!needDeferredUpdate) {
                    this.leads.leads[leadId].notes.updateCollection();
                    this.$refs.leadInfo.$refs.notes.refreshNotes();

                    return;
                }

                for (const leadId in willUpdate) {
                    this.leads.leads[leadId].notes.updateCollection();
                    this.$refs.leadInfo.$refs.notes.refreshNotes();
                }
            },
            /**
             * Update Lead messages
             *
             * @param {string} leadId - Lead id
             * @param {Array[]} messages - Lead messages
             * @param {boolean} needDeferredUpdate true if need update collection later
             *
             * @returns {void}
             */
            updateLeadMessages(leadId, messages, needDeferredUpdate) {
                const willUpdate = {};

                for (const index in messages) {
                    const message = new Message();
                    /** @type {Object} */
                    const row = messages[index];

                    message.addDataRecursively(row);

                    this.leads.leads[row.leadId].messages.addMessage(message);

                    if (needDeferredUpdate) {
                        willUpdate[row.leadId] = true;
                    }
                }

                if (!needDeferredUpdate) {
                    this.leads.leads[leadId].messages.updateCollection();

                    return;
                }

                for (const leadId in willUpdate) {
                    this.leads.leads[leadId].messages.updateCollection();
                }
            },
            /**
             * Update Lead emails
             *
             * @param {string} leadId - Lead id
             * @param {Array[]} emails - Lead emails
             * @param {boolean} needDeferredUpdate true if need update collection later
             *
             * @returns {void}
             */
            updateLeadEmails(leadId, emails, needDeferredUpdate) {
                const willUpdate = {};

                for (const index in emails) {
                    const email = new Email();
                    /** @type {Object} */
                    const row = emails[index];

                    email.addDataRecursively(row);

                    this.leads.leads[row.leadId].emails.addEmail(email);

                    if (needDeferredUpdate) {
                        willUpdate[row.leadId] = true;
                    }
                }

                if (!needDeferredUpdate) {
                    this.leads.leads[leadId].emails.updateCollection();

                    return;
                }

                for (const leadId in willUpdate) {
                    this.leads.leads[leadId].emails.updateCollection();
                }
            },
            /**
             * Update Lead calls
             *
             * @param {string} leadId - Lead id
             * @param {Array[]} calls - Lead calls
             * @param {boolean} needDeferredUpdate true if need update collection later
             *
             * @returns {void}
             */
            updateLeadCalls(leadId, calls, needDeferredUpdate) {
                const willUpdate = {};

                for (const index in calls) {
                    const call = new Call();
                    /** @type {Object} */
                    const row = calls[index];

                    call.addDataRecursively(row);

                    this.leads.leads[row.leadId].calls.addCall(call);

                    if (needDeferredUpdate) {
                        willUpdate[row.leadId] = true;
                    }
                }

                if (!needDeferredUpdate) {
                    this.leads.leads[leadId].calls.updateCollection();

                    return;
                }

                for (const leadId in willUpdate) {
                    this.leads.leads[leadId].calls.updateCollection();
                }
            },
            /**
             * Update Lead attachments
             *
             * @param {string} leadId - Lead id
             * @param {Array[]} attachments - Lead attachments
             * @param {boolean} needDeferredUpdate true if need update collection later
             *
             * @returns {void}
             */
            updateLeadAttachments(leadId, attachments, needDeferredUpdate) {
                const willUpdate = {};

                for (const index in attachments) {
                    const attachment = new Attachment();
                    /** @type {Object} */
                    const row = attachments[index];

                    attachment.addDataRecursively(row);

                    this.leads.leads[row.leadId].attachments.addEmail(attachment);

                    if (needDeferredUpdate) {
                        willUpdate[row.leadId] = true;
                    }
                }

                if (!needDeferredUpdate) {
                    this.leads.leads[leadId].attachments.updateCollection();

                    return;
                }

                for (const leadId in willUpdate) {
                    this.leads.leads[leadId].attachments.updateCollection();
                }
            },
            /**
             * Remove lead from console and activate another one,
             *
             * @param {string} leadId - Lead id
             *
             * @returns {void}
             */
            removeLeadFromConsole(leadId) {
                if (this.activeLeadId === leadId) {
                    this.activeLeadId = null;
                }

                this.leads.deleteLead(leadId);
                this.leads.updateCollection();

                if (this.activeLeadId) {
                    this.$router.push(laroute.route('messaging', { id: this.activeLeadId }));
                } else {
                    this.$refs.chat.$refs.messages.messages.cleanCollection();
                    this.$refs.chat.$refs.messages.emails.cleanCollection();
                    this.$refs.chat.$refs.messages.chatCollection.cleanCollection();
                }

                this.$refs.channels.refreshIScroll();
            },
            /**
             * Makes sign out.
             * @returns {void}
             */
            logout() {
                window.location.href = laroute.route('logout');
            },
            /**
             * Open select box dropdown.
             *
             * @param {string} id - input id
             *
             * @returns {void}
             */
            openDropdown(id) {
                $(`#${ id}`).dropdown('open');
            },
            /**
             * Format date for date-picker
             *
             * @param {string} date - date
             *
             * @returns {string} - formatted date
             */
            formatDate(date) {
                return moment(date, 'YYYY-MM-DD').format('MM/DD/YYYY');
            },
            /**
             * Close Update Status modal window
             *
             * @returns {void}
             */
            closeUpdateModal() {
                this.updateNote = '';
                this.selects.update.label = 'Choose Status';
                this.selects.update.selected = 'Choose Status';
                this.showCalendar = false;
                this.showDatePicker = false;
                this.$refs.update.close();
                this.scheduleCallRadio = 'immediately';
            },
        },
        /**
         * In-component 'beforeRouteLeave' guard.
         *
         * @link https://router.vuejs.org/en/advanced/navigation-guards.html
         *
         * @param {Route} to - The target Route Object being navigated to
         * @param {Route} from - The current route being navigated away from
         * @param {Function} next - Callback resolver. Depends on next provided args
         *
         * @returns {void}
         */
        beforeRouteLeave(to, from, next) {
            this.pathTo = to.path;

            if (this.callNotesFilled) {
                this.$refs.callNotesConfirm.open();

                next(false);
            } else if (this.onCall) {
                next(false);
            } else {
                if (this.shouldBeUnassigned) {
                    this.$socket.emit('leadUnassignRep', this.$root.id, this.$root.token, this.shouldBeUnassigned);
                    this.shouldBeUnassigned = null;
                }

                next();
            }
        },
    };
</script>
