@import '../../variables';
@import '../../mixins.scss';

.page-chat {
  padding-top: 64px;
  height: 100%;

  .chat-container {
    height: 100%;
  }

  .modal-update-status {
    input {
      border-bottom: none;
      margin-bottom: 0;
      height: 3.5rem;

      &.valid, &.invalid {
        color: $pp-dark;
        border-bottom: none;
        box-shadow: none;
        margin: 5px 0;
        height: 1.6rem;
      }

      &:focus {
        box-shadow: none;
      }
    }

    label {
      background: $pp-urgent-alpha;
      left: 0;

      &.active {
        background: transparent;
        color: $pp-grey;
      }
    }

    .select-wrapper {
      border-bottom: $pp-form-border;
      margin-top: 10px;
    }

    input.select-dropdown {
      height: 20px;
      padding: 1px 0;
      border-bottom: none;
      margin-bottom: 5px;
    }

    span {
      &.caret {
        margin: 0;
        cursor: pointer;
      }

      i {
        color: #000;
      }
    }

    .dropdown-content {
      min-width: 100%;
      top: 0;
      left: 0;
      opacity: 1;

      li {
        min-height: 38px;

        &:first-child {
          border-bottom: $pp-form-border;
        }

        span {
          color: $pp-dark;
          font-size: 14px;
          padding: 6px 16px;
        }
      }
    }

    .note-type {
      p {
        @include font($pp-grey-darken);
        margin: 0;

        &.head {
          @include font(null, 1.07, 15px);
          padding-top: 16px;
          padding-bottom: 10px;
        }

        &.text {
          @include font(null, 1.54, 13px);
          padding-top: 6px;
          padding-bottom: 0;
        }

        &.author {
          @include font($pp-grey-light, 1.33, 12px);
          padding-top: 8px;
          padding-bottom: 0;
        }
      }

      textarea {
        @include font($pp-dark, 1.54);
        border: $pp-form-border;
        padding: 16px;
        height: 9rem;
        resize: none;
      }
    }

    button {
      @include font($pp-green, 1.14, 14px, 500);
      margin-right: 24px;
      padding: 0 1.2rem;

      &.btn {
        color: $pp-white;
      }
    }

    .modal-call-confirm {
      @extend .modal-update-status;
    }

    .modal-call-error {
      @extend .modal-update-status;
    }

    .concierge-remove-notification {
      h4 {
        padding: 20px;
        text-align: center;
      }
    }

    .shedule {
      margin-top: 10px;

      label {
        background-color: inherit;
        color: $pp-black;
        font-size: 14px;
      }

      [type="radio"]:checked + label:after,
      [type="radio"].with-gap:checked + label:after {
        background-color: $pp-blue;
      }

      [type="radio"]:checked + label:after,
      [type="radio"].with-gap:checked + label:before,
      [type="radio"].with-gap:checked + label:after {
        border: 2px solid $pp-blue;
      }

      .future-span {
        margin-left: 30px;
      }
    }

    .calendar {
      margin-top: 15px;

      .icon {
        padding-top: 14px;
      }

      input:hover {
        cursor: pointer;
      }

      .datepicker-span {
        height: 40px;
        display: inline-block;
        margin-left: 10px;
        border-bottom: $pp-form-border;
      }

      .timepicker-span {
        height: 40px;
        display: inline-block;
        margin-left: 10px;
        border-bottom: $pp-form-border;
      }

      .timezone-span {
        display: inline-block;
        margin-left: 10px;
        padding-top: 6px
      }

      input.select-dropdown {
        color: $pp-black;
        width: 140px;
        margin-bottom: 1px;
      }

      .dropdown-content li a {
        display: initial;
        color: $pp-black;
        font-size: 14px;
        line-height: 36px;
      }
    }
  }
}