@import '../../../mixins';
@import '../../../variables';

.lead-details {
  .title {
    margin-top: 24px;
    @include font($pp-dark, 1.07, 15px);
  }

  .details-data {
    .lead-details-col {
      padding: 0 5px 0 0;

      .card {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        margin-top: 16px;
        margin-bottom: 0;

        .card-content {
          padding-top: 28px;
          padding-bottom: 29px;

          .details-row {
            margin-bottom: 15px;

            .detail-name {
              @include font($pp-grey, 1.07, 15px);
            }

            .detail-value {
              @include font($pp-dark, 1.07, 15px);
            }
          }
        }
        .editable-content {
          input {
            @include size(auto);
            border-bottom: 2px dotted $pp-grey-light;
            min-width: 50px;
            max-width: 400px;
            margin-bottom: 0;

            &.changed-field {
              border-color: $pp-blue;
            }

            &:focus:not([readonly]) {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}