@import '../../../mixins';
@import '../../../variables';

.notes-wrapper {
  .notes-content {
    .lead-notes {
      padding: 0 5px 0 0;

      .card {
        margin-top: 16px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        margin-bottom: 0;

        &.empty-notes {
          height: 240px;

          .empty-notes-content {
            @include font($pp-white-nine, 1.6, 15px, 500);
            margin: 84px auto;
            width: 180px;
            text-align: center;
          }
        }

        .card-content {
          .note {
            &:not(:last-child) {
              margin-bottom: 12px;
            }

            .note-info {
              @include font($pp-grey, 1.07, 15px);
              margin-bottom: 6px;

              .note-source {
                &:after {
                  @include size(4px);
                  content: '';
                  display: inline-block;
                  border-radius: 50%;
                  background: $pp-grey;
                  vertical-align: middle;
                  margin: 0 4px 4px 4px;
                }
              }
            }

            .note-text {
              $font-size: 15px;
              $line-height: 1.33;
              $lines-to-show: 2;
              @include font($pp-dark, $line-height, $font-size);

              .text {
                height: $font-size*$line-height*$lines-to-show;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: $lines-to-show;
              }
              .show-more {
                display: none;

                a {
                  @include font($pp-blue, 1.23, 13px, 500);
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
}