@import '../../../mixins';
@import '../../../variables';

.lead-page {
  .portal-page-wrapper {
    max-width: 1280px; /* TODO: change this to 'container' */
    margin-left: auto;
    margin-right: auto;
  }

  .description-text {
    margin-top: 24px;
    margin-left: 164.75px;
    margin-right: 164.75px;
    @include font($pp-dark, 1.07, 15px);
  }

  .lead-data {
    margin-left: 164.75px;
    margin-right: 164.75px;
  }

  .nav-content {
    color: $pp-black;
    padding-top: 16px;
    padding-bottom: 16px;

    .location-name {
      a {
        @include font($pp-black, null, 14px, 500);
        letter-spacing: 0.5px;
      }
    }

    .user-name, .separator {
      @include font($pp-grey-menu, null, 14px, 500);
      letter-spacing: 0.5px;
    }

    .separator {
      padding-left: 5px;
      padding-right: 5px;
    }

    .menu-actions {
      text-transform: uppercase;

      a {
        @include font($pp-dark, 1.14, 14px);
        letter-spacing: 0.5px;

        &.refer {
          margin-right: 32px;
          cursor: pointer;
          i {
            color: $pp-orange;
          }
        }

        &.send-to {
          i {
            color: $pp-blue;
          }
        }

        span {
          i {
            font-size: 24px;
            display: inline-block;
            vertical-align: middle;
            height: auto;
            line-height: 1;
            margin-right: 8px
          }
        }
      }
    }
  }

  #refer-modal,
  #save-and-exit-modal,
  #show-call-notes,
  #send-modal {
    width: 432px;
    .header {
      @include font($pp-dark, null, 34px);

      .refer-image {
        @include size(40px);
        background-color: $pp-orange;
        display: inline-block;
        margin-right: 16px;

        i {
          color: $pp-white;
          font-size: 24px;
          padding: 8px;
          display: block;
        }
      }
    }

    .main-content {
      @include font($pp-dark, 1.33, 15px);
      letter-spacing: 0;
    }

    .modal-footer {
      .modal-button {
        @include font($pp-grey, null, 14px, 500);
        letter-spacing: 0.5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 8px;

        &.refer {
          margin-right: 16px;
          color: $pp-blue
        }
      }
    }
  }

  #save-and-exit-modal {
    .modal-content {
      padding-bottom: 0;
    }

    .modal-footer {
      margin-bottom: 20px;
    }
  }

  #send-modal {
    .send-to-image {
      @include size(40px);
      background-color: $pp-blue;
      display: inline-block;
      margin-right: 16px;

      i {
        color: $pp-white;
        font-size: 24px;
        padding: 8px;
        display: block;
      }
    }

    input {
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $pp-grey;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $pp-grey;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $pp-grey;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $pp-grey;
      }
    }
  }

  /* Start placeholders styles */
  .loading-placeholder {
    position: relative;
    width: 928px;
    margin: 0 auto;

    .base-placeholder {
      background-color: $pp-white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
      border-radius: 2px;
    }

    .basic-info-section {
      @include size(448px, 438px);
      display: inline-block;
      vertical-align: top;
    }

    .chat-section {
      @include size(448px, 480px);
      display: inline-block;
      margin-left: 23px;
    }

    .lead-details-section {
      @include size(448px, 236px);
      margin-top: 8px;
    }

    .notes-section {
      @include size(448px, 240px);
      margin-top: 64px;
      margin-bottom: 94px;
    }

    .preloader-section {
      margin-top: 32px;

      .progress {
        background-color: $pp-white;

        .indeterminate {
          background-color: $pp-blue;
        }
      }
    }
  }

  .fade-enter-active, .fade-leave-active {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transition: opacity 1s
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .data-fade-enter-active {
    transition: opacity 1s;
  }

  .data-fade-enter, .data-fade-leave-to {
    opacity: 0
  }
  /* End placeholders styles */
}