@import '../../../mixins';
@import '../../../variables';

.lead-card {
  width: 448px;
  min-height: 438px;
  border-radius: 2px;
  background-color: $pp-white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  position: relative;

  .lead-address-map {
    img {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }

  .edit-button {
    a {
      position: absolute;
      top: 132px;
      right: 24px;

      &.edit-disabled {
        background-color: $pp-orange;
      }

      &.edit-enabled {
        background-color: $pp-green-portal;
      }
    }
  }

  .lead-name {
    @include font($pp-dark, 1.18, 34px, 300);
    margin-top: 16px;
    margin-left: 24px;

    .qualified-image {
      height: 24px;
      width: 24px;
    }
  }

  .lead-status {
    @include font($pp-grey-light, 1.07, 16px, 500);
    margin-left: 24px;

    &.green-status {
      color: $pp-green-portal;
    }
  }

  .lead-type {
    @include font($pp-dark, 1.07, 16px);
    margin-left: 24px;
    margin-top: 16px;
    text-transform: capitalize;
  }

  .blue-text {
    @include font($pp-blue, 1.07, 15px);
    margin-left: 24px;
    margin-top: 12px;
  }

  .gray-text {
    @include font($pp-white-nine, 1.07, 15px);
    margin-left: 24px;
  }

  .lead-source {
    margin-top: 24px;
  }

  .lead-date {
    margin-top: 8px;
    margin-bottom: 24px
  }

  .editable-content {
    input {
      @include size(auto);
      border-bottom: 2px dotted $pp-grey-light;
      min-width: 50px;
      max-width: 400px;
      margin-bottom: 0;
      &::-webkit-input-placeholder {
        color: $pp-grey-light;
      }
      &::-moz-placeholder {
        color: $pp-grey-light;
      }
      &:-moz-placeholder {
        color:$pp-grey-light;
      }
      &:-ms-input-placeholder {
        color:$pp-grey-light;
      }

      &.changed-field {
        border-color: $pp-blue;
      }

      &:focus:not([readonly]) {
        box-shadow: none;
      }
    }

    .lead-name {
      input {
        @include font($pp-dark, 1.18, 34px, 300);
        margin-bottom: 0;
        max-width: 45%;
      }
    }

    .lead-type {
      margin-top: 14px;

      &.changed-field {
        border-color: $pp-blue;
      }

      .input-field {
        width: auto;
        max-width: 100px;
      }
    }

    .blue-text {
      margin-top: 9px;

      &.lead-phone, &.lead-address {
        margin-top: 8px;
      }
    }

    .lead-source {
      margin-top: 21px;
    }
  }
}