<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../../sass/components/portal/billing/layout";
</style>

<template>
    <div class="page-billing">
        <portalNavbar :linkTo="linkTo"></portalNavbar>
        <div class="container">
            <h5>Billing</h5>
            <div class="card custom-card">
                <h6>Overview</h6>
                <div class="progress">
                    <span class="now"></span>
                </div>
                <div class="quotas">USAGE: 18/50 LEADS</div>
                <table>
                    <thead>
                    <tr>
                        <th>Your Current Plan</th>
                        <th>Leads Per Month</th>
                        <th>Overage Fee</th>
                        <th>Your Credit Card</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Starter</td>
                        <td>50 Leads</td>
                        <td>$6/Lead</td>
                        <td>Visa ••• 1111</td>
                        <td><span class="link">Edit</span></td>
                    </tr>
                    </tbody>
                </table>
                <div class="btn-container">
                    <a class="btn btn-cancel">Cancel Plan</a>
                    <a class="btn btn-upgrade">Upgrade</a>
                </div>
            </div>
            <div class="card custom-card">
                <h6>Plans</h6>
                <div class="fpo">FPO</div>
            </div>
            <div class="card custom-card invoices">
                <h6>Invoices</h6>
                <table class="striped">
                    <thead>
                    <tr>
                        <th>MONTH</th>
                        <th>PLAN</th>
                        <th>COST</th>
                        <th>PDF</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>April - 17</td>
                        <td>Starter(Month)</td>
                        <td>$295</td>
                        <td><span class="link">View</span></td>
                    </tr>
                    <tr>
                        <td>April - 17</td>
                        <td>Starter(Month)</td>
                        <td>$295</td>
                        <td><span class="link">View</span></td>
                    </tr>
                    <tr>
                        <td>April - 17</td>
                        <td>Starter(Month)</td>
                        <td>$295</td>
                        <td><span class="link">View</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import socket from '../../../mixins/socket';
    import laroute from '../../../router/laroute';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      linkTo: *,
         *      user: {
         *          name: string,
         *          status: string,
         *          role: string,
         *          email: string,
         *          phone: string,
         *          address: string,
         *          source: string,
         *          date: string
         *      }
         * }} - Component data
         */
        data() {
            return {
                linkTo: laroute.route('billing_portal'),
                user: {
                    name: 'Julian R.',
                    status: 'Qualified',
                    role: 'Seller',
                    email: 'JulianRod@gmail.com',
                    phone: '(858) 653-1329',
                    address: '1549 El Prado, San Diego, CA 92101',
                    source: 'Zillow',
                    date: '10/20/2017',
                },
            };
        },
        /**
         * Processing messages from web socket.
         *
         * @param {string} message - Type
         * @param {Array} data - Actual data
         *
         * @returns {void}
         */
        onMessageWebSocket(message, data) {
            // TODO: implements this
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            const vm = this;

            $(document).ready(() => {
                vm.tryInitWebSocket(() => {
                    vm.$socket.emit('subscribeBilling', vm.$root.id, vm.$root.token);
                });
            });
        },
    };
</script>
