<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../../../sass/_variables.scss';

    .tab {
        .active {
            border-bottom: 2px solid $pp-blue;
        }
    }
</style>
<template>
    <div>
        <portalNavbar>
            <div slot="subContent" class="nav-content">
                <div class="container">
                    <ul class="low-level-menu tabs tabs-transparent" v-show="subMenu.length > 0">
                        <li class="tab" v-for="elem in subMenu" v-on:click.stop="updateSubMenu()">
                            <router-link :to="{ name: 'portalProfileLayout', params: { tab: elem.tab} }"
                                         :class="{active: (elem.tab === tab)}"
                                         :id="elem.tab"
                                         replace>
                                {{ elem.text }}
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </portalNavbar>
        <div class="container">
            <portalProfileContent v-show="tab === 'view'" ref="portalProfileContent"></portalProfileContent>
            <portalProfilePassword v-show="tab === 'password'" ref="portalProfilePassword"></portalProfilePassword>
        </div>
        <modal :title="modalTitle" class="modal-save-confirm" ref="saveConfirm">
            <p>You have unsaved edits in your {{ title }}. Are you sure you want to exit without saving?</p>
            <button slot="footer" type="button" class="btn" @click="saveAndExit">Save and exit</button>
            <button slot="footer" type="button" class="btn-flat" @click="resetExit">Exit</button>
        </modal>
    </div>
</template>
<script type="text/ecmascript-6">
    import laroute from '../../../router/laroute';

    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      subMenu: [
         *          {
         *              text: string,
         *              tab: string,
         *              link: string,
         *          }
         *      ],
         *      dataChanged: boolean,
         *      tabTo: string,
         *      tab: string,
         *      title: string,
         *      modalTitle: string
         *
         * }} - Component data
         */
        data() {
            return {
                subMenu: [
                    {
                        text: 'Profile',
                        tab: 'view',
                        link: laroute.route('profile_portal', { tab: 'view' }),
                    },
                    {
                        text: 'Password',
                        tab: 'password',
                        link: laroute.route('profile_portal', { tab: 'password' }),
                    },
                ],
                dataChanged: false,
                tabTo: '',
                title: 'Profile',
                modalTitle: 'Unsaved Edits!',
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            this.updateSubMenu();

            $(document).ready(() => {
                $('ul.tabs').tabs();
                $('ul.tabs .indicator').hide();
            });
        },
        computed: {
            tab: {
                /**
                 * Return current tab value.
                 *
                 * @returns {string} - current tab
                 */
                get() {
                    return typeof this.$route == 'undefined' ? 'view' : this.$route.params.tab;
                },
                /**
                 * Set tab value.
                 *
                 * @param {string} value - tab
                 * @returns {void}
                 */
                set(value) {
                    this.$route.params.tab = value;
                },
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Show modal prompting if any data changed in forms.
             *
             * @returns {boolean} - True if data in forms was not changed
             */
            checkDataChanges() {
                if (this.dataChanged) {
                    this.$refs.saveConfirm.open();
                }

                return !this.dataChanged;
            },
            /**
             * Reset data and redirect to another route.
             *
             * @returns {void}
             */
            resetExit() {
                this.$refs.portalProfileContent.reset();
                this.exit();
            },
            /**
             * Redirect to another route without saving data.
             *
             * @returns {void}
             */
            exit() {
                this.dataChanged = false;
                this.$refs.saveConfirm.close();
                this.$router.push(this.pathTo);
                this.tab = this.tabTo;
            },
            /**
             * Save form data and redirect to another route.
             *
             * @returns {void}
             */
            saveAndExit() {
                switch (this.tab) {
                    case 'view':
                        this.$refs.portalProfileContent.save();
                        break;
                    case 'password':
                        this.$refs.portalProfilePassword.save();
                        break;
                    default:
                        break;
                }

                this.exit();
            },
            /**
             * Set animation of underscore submenu.
             * Update main content of tab.
             *
             * @returns {void}
             */
            updateSubMenu() {
                if (!this.checkDataChanges()) {
                    return;
                }

                for (const index in this.subMenu) {
                    const item = this.subMenu[index];

                    if (item.link === this.$route.fullPath) {
                        this.tab = item.tab;
                    }
                }

                const vm = this;

                $(document).ready(() => {
                    $('ul.tabs').tabs('select_tab', vm.tab);
                });
            },
        },
        /**
         * In-component 'beforeRouteLeave' guard.
         *
         * @link https://router.vuejs.org/en/advanced/navigation-guards.html
         *
         * @param {Route} to - The target Route Object being navigated to
         * @param {Route} from - The current route being navigated away from
         * @param {Function} next - Callback resolver. Depends on next provided args
         *
         * @returns {void}
         */
        beforeRouteLeave(to, from, next) {
            this.pathTo = to.path;
            if (this.dataChanged) {
                this.$refs.saveConfirm.open();
                next(false);
            } else {
                next();
            }
        },
        /**
         * In-component 'beforeRouteUpdate' guard.
         *
         * @link https://router.vuejs.org/en/advanced/navigation-guards.html
         *
         * @param {Route} to - The target Route Object being navigated to
         * @param {Route} from - The current route being navigated away from
         * @param {Function} next - Callback resolver. Depends on next provided args
         *
         * @returns {void}
         */
        beforeRouteUpdate(to, from, next) {
            this.pathTo = to.path;
            this.tabTo = to.params.tab;
            if (this.dataChanged) {
                this.$refs.saveConfirm.open();
                next(false);
            } else {
                next();
            }
        },
    };
</script>
