<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../../sass/components/portal/profile/password";
</style>
<style lang="scss" rel="stylesheet/scss">
    @import '../../../../sass/_variables.scss';
    @import '../../../../sass/_mixins.scss';

    .page-profile-password {
        div.invalid {
            @include font($pp-red-light, null, 12px, null);
            position: absolute;
            margin-top: -17px;
        }
    }

    ::-webkit-input-placeholder {
        color: $pp-input-placeholder;
    }
    ::-moz-placeholder {
        color: $pp-input-placeholder;
    }
    :-moz-placeholder {
        color: $pp-input-placeholder;
    }
    :-ms-input-placeholder {
        color: $pp-input-placeholder;
    }

    .vfl-label {
        width: auto !important;
    }
</style>
<template>
    <div class="page-profile-password">
        <form class="card custom-card col s12" id="update-password-form">
            <h6>Update Password</h6>
            <div class="row">
                <div class="input-field col s6">
                    <float-label>
                        <input :placeholder="currentPasswordPlaceholder"
                               v-on:click="passwordOnClick"
                               v-on:blur="passwordOnBlur"
                               v-on:input="passwordOnInput"
                               id="current-password"
                               name="currentPassword"
                               type="password"
                               v-model="currentPassword">
                        <label for="current-password" :class="{ 'active': currentPassword }"></label>
                    </float-label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <float-label>
                        <input :placeholder="newPasswordPlaceholder"
                               v-on:click="passwordOnClick"
                               v-on:blur="passwordOnBlur"
                               v-on:input="passwordOnInput"
                               id="new-password"
                               name="newPassword"
                               type="password"
                               v-model="newPassword">
                        <label for="new-password" :class="{ 'active': newPassword }"></label>
                    </float-label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <float-label>
                        <input :placeholder="newPasswordAgainPlaceholder"
                               v-on:click="passwordOnClick"
                               v-on:blur="passwordOnBlur"
                               v-on:input="passwordOnInput"
                               id="new-password-again"
                               name="newPasswordAgain"
                               type="password"
                               v-model="newPasswordAgain">
                        <label for="new-password-again"></label>
                    </float-label>
                </div>
            </div>
            <div class="btn-container">
                <button class="btn" @click.prevent="update">Update</button>
            </div>
        </form>
    </div>
</template>
<script type="text/ecmascript-6">
    import socket from '../../../mixins/socket';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     currentPassword: string,
         *     newPassword: string,
         *     newPasswordAgain: string
         * }} - Form data
         */
        data() {
            return {
                currentPassword: '',
                newPassword: '',
                newPasswordAgain: '',
                currentPasswordPlaceholder: 'Confirm current password',
                newPasswordPlaceholder: 'New password',
                newPasswordAgainPlaceholder: 'New password, again please',
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            const vm = this;

            $(document).ready(() => {
                vm.validator = $('#update-password-form').validate({
                    rules: {
                        currentPassword: {
                            required: true,
                            minlength: 6,
                        },
                        newPassword: {
                            required: true,
                            minlength: 6,
                            notEqual: '#current-password',
                        },
                        newPasswordAgain: {
                            required: true,
                            minlength: 6,
                            equalTo: '#new-password',
                        },
                    },
                    messages: {
                        newPasswordAgain: {
                            equalTo: 'Passwords do not match',
                        },
                    },
                    validClass: 'valid',
                    errorClass: 'invalid',
                    errorElement: 'div',
                    errorPlacement(error, element) {
                        const placement = $(element).data('error');

                        placement ? $(placement).append(error) : error.insertAfter(element);
                    },
                });
            });
        },
        /**
         * Watchers.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            /**
             * New pass again.
             *
             * @returns {void}
             */
            newPasswordAgain() {
                const className = $('#new-password-again').valid() ? 'valid' : 'invalid';

                $('#new-password').removeClass()
                    .addClass(className);
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * On click password DOM event listener.
             *
             * @param {object} event - Dom event
             *
             * @returns {void}
             */
            passwordOnClick(event) {
                $(event.target).prev()
                    .addClass('vfl-label-on-input');
                $(event.target).removeAttr('placeholder');
            },
            /**
             * On blur password DOM event listener.
             *
             * @param {object} event - DOM event
             *
             * @returns {void}
             */
            passwordOnBlur(event) {
                this.removeActiveLabels(event);

                switch (event.target.id) {
                    case 'current-password':
                        $(event.target).attr('placeholder', this.currentPasswordPlaceholder);
                        break;
                    case 'new-password':
                        $(event.target).attr('placeholder', this.newPasswordPlaceholder);
                        break;
                    case 'new-password-again':
                        $(event.target).attr('placeholder', this.newPasswordAgainPlaceholder);
                        break;
                    default:
                        break;
                }
            },
            /**
             * On input password DOM event listener.
             *
             * @param {object} event - DOM event
             *
             * @returns {void}
             */
            passwordOnInput(event) {
                if ($(event.target).val().length === 0) {
                    this.passwordOnBlur(event);
                }
            },
            /**
             * Remove active labels.
             *
             * @param {object} event - DOM event
             *
             * @returns {void}
             */
            removeActiveLabels(event) {
                setTimeout(() => {
                    if (event) {
                        if ($(event.target).val().length === 0) {
                            $(event.target).prev()
                                .removeClass('vfl-label-on-input')
                                .removeClass('vfl-label-on-focus');
                        }
                    } else {
                        $('.vfl-label').each(function () {
                            $(this).removeClass('vfl-label-on-input')
                                .removeClass('vfl-label-on-focus');
                        });
                    }
                });
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {{}} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                switch (message) {
                    case 'agentPasswordUpdate':
                        this.listenAgentPasswordUpdate(data);
                        break;
                    default:
                        break;
                }
            },
            /**
             * Listen agent password update data.
             *
             * @param {{}} data - Status value
             *
             * @returns {void}
             */
            listenAgentPasswordUpdate(data) {
                const delay = 5000;

                switch (data.status) {
                    case 'success':
                        this.clearForm();
                        Materialize.toast('Your password is updated', delay);
                        break;
                    case 'invalid':
                        this.validator.showErrors({
                            currentPassword: 'Incorrect current password!',
                        });
                        break;
                    case 'error':
                        Materialize.toast('Server error', delay);
                        break;
                    case 'googleAuth':
                        Materialize.toast('Your can`t update password because you are using google auth', delay);
                        break;
                    default:
                        break;
                }

                this.removeActiveLabels();
            },
            /**
             * Clear form inputs.
             *
             * @returns {void}
             */
            clearForm() {
                Materialize.updateTextFields();
                this.validator.resetForm();
            },
            /**
             * Update agent password.
             *
             * @returns {void}
             */
            update() {
                if (!$('#update-password-form').valid()) {
                    return;
                }

                this.$socket.emit(
                    'agentPasswordUpdate',
                    this.$root.id,
                    this.$root.token,
                    this.currentPassword,
                    this.newPassword,
                    sessionId
                );

                this.currentPassword = '';
                this.newPassword = '';
                this.newPasswordAgain = '';
            },
        },
    };
</script>
