<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../../sass/components/portal/profile/profile";
</style>
<style lang="scss" rel="stylesheet/scss">
    @import '../../../../sass/_variables.scss';
    @import '../../../../sass/_mixins.scss';

    .page-profile {
        div.invalid {
            @include font($pp-red-light, null, 12px, null);
            position: absolute;
            margin-top: -17px;
        }
    }
</style>

<template>
    <div class="page-profile">
        <form class="card custom-card col s12" id="profile">
            <h6>Basic Info</h6>
            <div class="row">
                <div class="input-field col s6">
                    <input id="first-name"
                           name="firstName"
                           type="text"
                           v-model="editAgent.firstName"
                           :class="{invalid: !editAgent.firstName}">
                    <label for="first-name" :class="{ 'active': (editAgent.firstName) }">First name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last-name"
                           name="lastName"
                           type="text"
                           v-model="editAgent.lastName"
                           :class="{invalid: !editAgent.lastName}">
                    <label for="last-name" :class="{ 'active': (editAgent.lastName) }">Last name</label>
                </div>
                <div class="input-field col s6">
                    <input id="email"
                           name="email"
                           type="email"
                           v-model="editAgent.email"
                           :class="{invalid: !validateEmail()}">
                    <label for="email" :class="{ 'active': (editAgent.email) }">Email</label>
                </div>
                <div class="input-field col s6">
                    <input id="phone"
                           name="phone"
                           type="text"
                           v-model="editAgent.phone"
                           :class="{invalid: !validatePhone()}">
                    <label for="phone" :class="{ 'active': (editAgent.phone) }">Phone number</label>
                </div>
            </div>
            <h6>Company Info</h6>
            <div class="row">
                <div class="input-field col s6">
                    <input id="company"
                           name="company"
                           type="text"
                           v-model="editAgent.company">
                    <label for="company" :class="{ 'active': (editAgent.company) }">Company</label>
                </div>
                <div class="input-field col s6">
                    <input id="city"
                           name="city"
                           type="text"
                           v-model="editAgent.city">
                    <label for="city" :class="{ 'active': (editAgent.city) }">City, State</label>
                </div>
                <div class="input-field col s6">
                    <input id="website"
                           name="website"
                           type="text"
                           v-model="editAgent.website">
                    <label for="website" :class="{ 'active': (editAgent.website) }">Website link</label>
                </div>
                <div class="input-field col s6">
                    <input id="calendly-link"
                           name="calendlyLink"
                           type="text"
                           v-model="editAgent.calendly">
                    <label for="calendly-link" :class="{ 'active': (editAgent.calendly) }">Calendly Link</label>
                </div>
            </div>
            <div class="btn-container">
                <a class="btn" :class="{ 'btn-active': haveChanges }" @click.prevent="save()">Save</a>
            </div>
        </form>
    </div>
</template>

<script type="text/ecmascript-6">
    import socket from '../../../mixins/socket';
    import { isNational, toNational } from '../../../helpers/phone';
    import { isEmail } from '../../../helpers/link';
    import Agent from '../../../objects/agent';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     agent: Agent,
         *     editAgent: Agent,
         *     haveChanges: boolean,
         *     alertDelay: number
         * }} - Component data
         */
        data() {
            return {
                agent: new Agent(),
                editAgent: new Agent(),
                haveChanges: false,
                alertDelay: 5000,
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            this.tryInitWebSocket(() => {
                this.$socket.emit('subscribeProfile', this.$root.id, this.$root.token);
            });
        },
        /**
         * Watchers.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            editAgent: {
                /**
                 * Update Materialize styles.
                 *
                 * @param {Agent} val - Agent value
                 *
                 * @returns {void}
                 */
                handler(val) {
                    this.updateHaveChanges(val);

                    $(document).ready(() => {
                        Materialize.updateTextFields();
                    });
                },
                deep: true,
            },
            /**
             * Validate mobile number.
             *
             * @param {string} val - New value
             *
             * @returns {void}
             */
            'editAgent.phone'(val) {
                this.editAgent.phone = toNational(val);
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Update flag 'haveChanges'.
             *
             * @param {Agent} newValue - Agent value
             *
             * @returns {void}
             */
            updateHaveChanges(newValue) {
                let newHaveChanges = false;

                for (const index in this.agent) {
                    if (typeof this.agent[index] == 'function') {
                        continue;
                    }

                    if (index === 'agentOnBoarding') {
                        continue;
                    }

                    if (this.agent[index] !== newValue[index]) {
                        newHaveChanges = true;
                        break;
                    }
                }

                this.haveChanges = newHaveChanges;
                this.$parent.dataChanged = newHaveChanges;
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {Array} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                switch (message) {
                    case 'agentGet':
                        this.listenAgentGet(data);
                        break;
                    case 'agentUpdate':
                        this.listenAgentUpdate(data);
                        break;
                    case 'agentUpdateFailed':
                        this.listenAgentUpdateFailed(data);
                        break;
                    default:
                        break;
                }
            },
            /**
             * Listen agent data.
             *
             * @param {Array[]} data - Leads
             *
             * @returns {void}
             */
            listenAgentGet(data) {
                /**
                 * NOTE: actually here can make optimization.
                 * Do not use "this.agent" and use "$root.navbar.agent".
                 * But for copy-paste reason "this.agent" is here.
                 */
                this.agent.addDataRecursively(data);
                this.editAgent.addDataRecursively(data);
            },
            /**
             * Listen agent data.
             *
             * @param {Array[]} data - Leads
             *
             * @returns {void}
             */
            listenAgentUpdate(data) {
                this.agent.addDataRecursively(data);
                this.updateHaveChanges(this.editAgent);
                Materialize.toast('Succesfully updated!', this.alertDelay);
            },
            /**
             * Listen agent failed data.
             *
             * @param {{id: string, failedFields: Array}} data - id and failedFields
             *
             * @returns {void}
             */
            listenAgentUpdateFailed(data) {
                for (const field in data.failedFields) {
                    if (field === 'email') {
                        $('form#profile input[name=email]').attr('emailDuplicate', this.editAgent.email);
                        $('form#profile').valid();
                    }
                }
                Materialize.toast('Update is failed', this.alertDelay);
            },
            /**
             * Save event callback.
             *
             * @returns {void}
             */
            save() {
                if (!$('#profile').valid()) {
                    return;
                }

                this.$socket.emit('profileUpdate', this.$root.id, this.$root.token, this.editAgent);
                this.$parent.dataChanged = false;

                $('form#profile input[name=email]').attr('emailDuplicate', '');
            },
            /**
             * Validate agent email.
             *
             * @returns {boolean} - flag
             */
            validateEmail() {
                return isEmail(this.editAgent.email);
            },
            /**
             * Validate agent phone.
             *
             * @returns {boolean} - flag
             */
            validatePhone() {
                return isNational(this.editAgent.phone);
            },
            /**
             * Reset agent data.
             * @returns {void}
             */
            reset() {
                this.editAgent = Object.assign({}, this.agent);
            },
        },
    };
</script>
