<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/console/admin/layout";
</style>

<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="page-layout">
        <div id="modalRevokePermission" class="modal">
            <div class="modal-content">
                <h4>Your permissions have been revoked</h4>
                <p>Please see an Admin.</p>
            </div>
            <div class="modal-footer">
                <a href="#"
                   class="modal-action modal-close waves-effect waves-green btn-flat custom-green"
                   @click.prevent="logout">OK</a>
            </div>
        </div>
        <div id="modalLogout" class="modal">
            <div class="modal-content">
                <h4>Your token has been expired</h4>
                <p>Please refresh page.</p>
            </div>
            <div class="modal-footer">
                <a href="#"
                   class="modal-action modal-close waves-effect waves-green btn-flat custom-green"
                   @click.prevent="logout">OK</a>
            </div>
        </div>
        <navbar :title="title"
                :navs="navbar"
                :isAdmin="this.$root.role === this.$role.ADMIN"
                :linkTo="links.permission.name"
                :parentPageName="page"
                :parentSubPageName="subPage"></navbar>
        <ul>
            <router-link :class="{ active: page === 'leads' }"
                         tag="li"
                         :to="links.leads.name">
                <i class="material-icons">&#xE8AF;</i>
                <span class="button-text">Leads</span>
                <ul v-show="page === 'leads'">
                    <router-link :class="{ active: subPage === 'active' }"
                                 tag="li"
                                 @click.native="setSubPage('active')"
                                 :to="links.leads.sub.active">
                        <span class="button-text">Active</span>
                    </router-link>
                    <router-link :class="{ active: subPage === 'archive' }"
                                 tag="li"
                                 @click.native="setSubPage('archive')"
                                 :to="links.leads.sub.archive">
                        <span class="button-text">Archive</span>
                    </router-link>
                </ul>
            </router-link>
            <router-link :class="{ active: page === 'permission' }"
                    tag="li"
                    :to="links.permission.name">
                    <i class="material-icons">&#xE153;</i>
                    <span class="button-text">Permissions</span>
            </router-link>
        </ul>
        <div class="content-container">
            <div class="content">
                <slot name="content"></slot>
            </div>
        </div>
        <img class="logo"
             src="/assets/images/agt-logo-test.png"
             srcset="/assets/images/agt-logo-test@2x.png 2x, /assets/images/agt-logo-test@3x.png 3x">
    </div>
</template>

<script type="text/ecmascript-6">
    import socket from '../../../mixins/socket';
    import laroute from '../../../router/laroute';
    import ConciergeCollection from '../../../collections/conciergeCollection';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     navbar: [*,*],
         *     links: {
         *         leads: {
         *             name,
         *             sub: {
         *                 active,
         *                 archive
         *             }
         *         },
         *         permission: {name}
         *     },
         *     subPage: string,
         *     selectedConciergeId: null,
         *     conciergeCollections: ConciergeCollection,
         *     permissionOptions: [*,*,*,*,*]
         * }} - Component Data
         */
        data() {
            let subPage = 'active';

            if (this.$route.name === 'leads_active') {
                subPage = 'active';
            }

            if (this.$route.name === 'leads_archive') {
                subPage = 'archive';
            }

            const conciergeCollections = new ConciergeCollection();

            return {
                navbar: [
                    {
                        type: 'status-link',
                    },
                    {
                        type: 'profile-text',
                    },
                ],
                links: {
                    leads: {
                        name: laroute.route('leads'),
                        sub: {
                            active: laroute.route('leads_active'),
                            archive: laroute.route('leads_archive'),
                        },
                    },
                    permission: {
                        name: laroute.route('permission'),
                    },
                },
                subPage,
                selectedConciergeId: null,
                conciergeCollections,
                permissionOptions: [
                    {
                        text: 'Select Tier',
                        value: '-',
                        disabled: true,
                    },
                    {
                        text: 'Suspended',
                        value: '0',
                    },
                    {
                        text: 'Tier 1',
                        value: '1',
                    },
                    {
                        text: 'Tier 2',
                        value: '2',
                    },
                    {
                        text: 'Admin',
                        value: '3',
                    },
                ],
            };
        },
        /**
         * Properties.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            page: String,
            title: String,
        },
        /**
         * BeforeCreate hook.
         *
         * @link https://vuejs.org/v2/api/#beforeCreate
         *
         * @returns {void}
         */
        beforeCreate() {
            // Redirect user to main console page if not admin
            if (this.$root.role !== this.$role.ADMIN) {
                window.location.href = laroute.route('index');
            }
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            $(document).ready(() => {
                $('.modal').modal();
                $(document).ready(() => {
                    $('select').material_select();
                });
            });
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Set sub page.
             * @param {string} newSubPage - Sub page
             * @returns {void}
             */
            setSubPage(newSubPage) {
                this.subPage = newSubPage;
                this.$slots.content[0].context.updateSubPage(newSubPage);
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {Object} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                const vm = this;

                switch (message) {
                    case 'conciergeLogout':
                        $('#modalLogout').modal({
                            complete() {
                                vm.logout();
                            },
                        });
                        $('#modalLogout').modal('open');
                        break;
                    case 'conciergeUpdate':
                        if (parseInt(data.id, 10) === vm.$root.id && parseInt(data.permission, 10) !== this.$role.ADMIN) {
                            $('#modalRevokePermission').modal({
                                complete() {
                                    vm.logout();
                                },
                            });
                            $('#modalRevokePermission').modal('open');
                            vm.$root.role = parseInt(`${data.permission }`, 10);
                        }
                        break;
                    case 'conciergeDelete':
                        if (parseInt(data, 10) === vm.$root.id) {
                            vm.$root.id = 0;
                            vm.$root.role = 0;
                            $('#modalRevokePermission').modal({
                                complete() {
                                    vm.logout();
                                },
                            });
                            $('#modalRevokePermission').modal('open');
                        }
                        break;
                    default:
                        break;
                }
            },
            /**
             * Makes sign out.
             * @returns {void}
             */
            logout() {
                window.location.href = laroute.route('logout');
            },
        },
    };
</script>