<style lang="scss" rel="stylesheet/scss">
    @import "../../../../sass/components/console/admin/leads";
</style>

<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <layout class="page-leads" page="leads" title="Lead Chats">
        <div slot="content">
            <div id="leads-content-navigation" class="content-navigation">
                <div class="title-row">
                    <div class="title">
                        <h2 v-show="subPage === 'active'">Active Leads</h2>
                        <h2 v-show="subPage === 'archive'">Archived Leads</h2>
                    </div>
                    <div class="submitted-filters-wrapper">
                        <div class="submitted-filter-label">
                            Lead Submitted Range
                        </div>
                        <div class="input-field submitted-filter-from">
                            <span class="col s1 icon"><i class="material-icons">event</i></span>
                            <span class="datepicker-span col s3" @click="show=true">
                            <input id="filter-submitted-from"
                                   type="text"
                                   readonly
                                   @focus="showDatePickerFrom = true"
                                   v-model="leadCollections.filterCreatedAtFrom"/>
                            <label for="filter-submitted-from"
                                   v-bind:class="[ leadCollections.filterCreatedAtFrom != '' ? 'active' : '']">From</label>
                            </span>
                            <div class="popup-calendar">
                                <date-picker @close="showDatePickerFrom = false"
                                             color="#0082ca"
                                             v-if="showDatePickerFrom"
                                             v-model="leadCollections.filterCreatedAtFrom"
                                             :format="formatDate"></date-picker>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="input-field submitted-filter-to">
                            <span class="col s1 icon"><i class="material-icons">event</i></span>
                            <span class="datepicker-span col s3" @click="show=true">
                            <input id="filter-submitted-to"
                                   type="text"
                                   readonly
                                   @focus="showDatePickerTo = true"
                                   v-model="leadCollections.filterCreatedAtTo"/>
                            <label for="filter-submitted-to"
                                   v-bind:class="[ leadCollections.filterCreatedAtTo != '' ? 'active' : '']">To</label>
                            </span>
                            <div class="popup-calendar">
                                <date-picker @close="showDatePickerTo = false"
                                             color="#0082ca"
                                             v-if="showDatePickerTo"
                                             v-model="leadCollections.filterCreatedAtTo"
                                             :format="formatDate"></date-picker>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="filters-row-wrapper">
                    <div class="filters-row">
                        <div class="filters-result-row">
                            <div class="filters-result" @click="showFilters = !showFilters">
                                <span class="filters-label">
                                    Filters
                                </span>
                                <span class="filter-status filter-result">
                                    <span class="filter-label">
                                        Status:
                                    </span>
                                    <span class="filter-value">
                                        {{filtersSumUp.status}}
                                    </span>
                                </span>
                                <span class="filter-rep filter-result">
                                    <span class="filter-label">
                                        Rep:
                                    </span>
                                    <span class="filter-value">
                                         {{filtersSumUp.rep}}
                                    </span>
                                </span>
                                <span class="filter-agent filter-result">
                                    <span class="filter-label">
                                        Agent:
                                    </span>
                                    <span class="filter-value">
                                         {{filtersSumUp.agent}}
                                    </span>
                                </span>
                                <span class="filter-tag filter-result">
                                    <span class="filter-label">
                                        Lead Tag:
                                    </span>
                                    <span class="filter-value">
                                         {{filtersSumUp.tag}}
                                    </span>
                                </span>
                                <span class="filter-role filter-result">
                                    <span class="filter-label">
                                        Rep Tier:
                                    </span>
                                    <span class="filter-value">
                                         {{filtersSumUp.tier}}
                                    </span>
                                </span>
                            </div>
                            <div class="action-buttons">
                                <div class="clear-all" @click="clearAllFilters">
                                    CLEAR ALL
                                </div>
                                <div @click="showFilters = !showFilters" v-bind:class="[ 'arrow', showFilters ? 'reverse' : '']"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div v-bind:class="[ 'filters-selectors-row', showFilters ? 'filters-show' : 'filters-hide']">
                            <select class="validate filterStatus" v-model="leadCollections.filterStatus" data-type="filter-status">
                                <option v-for="option in filterByStatus"
                                        :value="option.value"
                                        :disabled="option.disabled ? true : null">{{ option.text }}
                                </option>
                            </select>
                            <basic-select class="validate filterRep select-wrapper"
                                          :options="filterByRep"
                                          :selected-option="filterByRepSelectedItem"
                                          placeholder="Search by Rep Name"
                                          @select="onRepFilterChanged">
                            </basic-select>
                            <select class="validate filterAgent" v-model="leadCollections.filterAgent" data-type="filter-agent">
                                <option v-for="option in filterByAgent"
                                        :value="option.value"
                                        :disabled="option.disabled ? true : null">{{ option.text }}
                                </option>
                            </select>
                            <select class="validate filterTag" v-model="leadCollections.filterTag" data-type="filter-tag">
                                <option v-for="option in filterByTag"
                                        :value="option.value"
                                        :disabled="option.disabled ? true : null">{{ option.text }}
                                </option>
                            </select>
                            <select class="validate filterRepTier" v-model="leadCollections.filterRepTier" data-type="filter-rep-tier">
                                <option v-for="option in filterByRepTier"
                                        :value="option.value"
                                        :disabled="option.disabled ? true : null">{{ option.text }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <table class="striped">
                <thead class="leads-table-header">
                <tr>
                    <th class="sortable"
                        @click="sort('name')"
                        :class="{ desc: desc('name'), asc: asc('name') }">
                        <span>Lead name</span>
                    </th>
                    <th class="sortable"
                        @click="sort('tag')"
                        :class="{ desc: desc('tag'), asc: asc('tag') }">
                        <span>Lead tag</span>
                    </th>
                    <th class="sortable"
                        @click="sort('currentRep')"
                        :class="{ desc: desc('currentRep'), asc: asc('currentRep') }"
                        style="width: 200px;">Current rep</th>
                    <th class="sortable"
                        @click="sort('status')"
                        :class="{ desc: desc('status'), asc: asc('status') }">Status</th>
                    <th class="sortable"
                        @click="sort('agent')"
                        :class="{ desc: desc('agent'), asc: asc('agent') }">Agent</th>
                    <th class="sortable"
                        @click="sort('activity')"
                        :class="{ desc: desc('activity'), asc: asc('activity') }">
                        <span>Wait time</span>
                    </th>
                    <th class="sortable"
                        @click="sort('createdAt')"
                        :class="{ desc: desc('createdAt'), asc: asc('createdAt') }">
                        <span>Submitted</span>
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr v-if="!leadCollections.isEmpty()"
                    v-for="lead in leadCollections.computedList">
                    <router-link tag="td" :to="{name: 'chat', params: {id: lead.id}}">
                        <span class="lead-name">{{ fullName(lead) }}</span>
                    </router-link>
                    <td>
                        <span>{{ lead.tag }}</span>
                    </td>
                    <td style="width: 200px;">
                        <span>
                            <select class="validate filterRep"
                                    v-model="lead.conciergeId"
                                    data-type="table-rep"
                                    :data-lead="lead.id">
                                <option v-for="option in repOptions"
                                        :value="option.value"
                                        :disabled="option.disabled ? true : null">{{ option.text }}</option>
                            </select>
                        </span>
                    </td>
                    <td>
                        <span>{{ lead.status }}</span>
                    </td>
                    <td>
                        <span>{{ fullName(lead.agent) }}</span>
                    </td>
                    <td>
                        <span>{{ lead.activity() }}</span>
                    </td>
                    <td>
                        <span>{{ formatSubmittedDate(lead.createdAt) }}</span>
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="pagination" v-show="showPagination">
                <span @click="prev()" :class="{ disabled: activePrev() }" v-show="pages > items">
                    <i class="material-icons">&#xE314;</i>
                </span>
                <span v-for="n in items"
                      @click="itemClick(n)"
                      :class="{ active: itemActive(n) }"
                      v-show="pages > (items - n)">
                    {{ itemContent(n) }}
                </span>
                <span @click="next()" :class="{ disabled: activeNext() }" v-show="pages > items">
                    <i class="material-icons">&#xE315;</i>
                </span>
            </div>
        </div>
    </layout>
</template>

<script type="text/ecmascript-6">
    import moment from 'moment';
    import DatePicker from 'vue-md-date-picker';
    import { BasicSelect } from 'vue-search-select';
    import socket from '../../../mixins/socket';
    import laroute from '../../../router/laroute';
    import Concierge from '../../../objects/concierge';
    import ConciergeCollection from '../../../collections/conciergeCollection';
    import Lead from '../../../objects/lead';
    import LeadCollection from '../../../collections/leadCollection';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     page: number,
         *     pages: number,
         *     perPage: number,
         *     items: number,
         *     leadCollections: LeadCollection,
         *     conciergeCollections: ConciergeCollection,
         *     subPage: string,
         *     intervalActivity: null,
         *     filterStatus: string,
         *     filterRep: string,
         *     repOptions: object,
         *     filterByStatus: [*,*,*,*,*,*,*],
         *     filterByRep: [*],
         *     filterByRepSelectedItem: object,
         *     filterByAgent: [*],
         *     filterByTag: [*],
         *     filterByRepTier: [*],
         *     dateValue: string,
         *     dateValueTo: string,
         *     showDatePickerFrom: boolean,
         *     showDatePickerTo: boolean,
         *     filtersSumUp: object,
         *     agentList: [*],
         *     showFilters: boolean
         * }} - Component data
         */
        data() {
            const blockTopOffset = 96;
            const blockTopPadding = 24;
            const blockTitle = 40;
            const blockNavigation = 66;
            const blockPagination = 104;

            const blockOthers = $(document).height()
                - blockTopOffset
                - blockTopPadding
                - blockTitle
                - blockNavigation
                - blockPagination;
            const blockRow = 48;
            const rowsFreeSpace = 2;

            const perPage = Math.floor(blockOthers / blockRow) - rowsFreeSpace;

            const leadCollections = new LeadCollection();
            const conciergeCollections = new ConciergeCollection();

            let subPage = '';

            switch (this.$route.name) {
                case 'leads_archive':
                    subPage = 'archive';
                    break;
                default:
                    subPage = 'active';
                    break;
            }

            const repOptions = [{
                text: 'Select Rep',
                value: '-',
                disabled: true,
            }];
            const filterByRep = [{
                text: 'All Reps',
                value: '-',
            }];
            const filterByRepSelectedItem = {
                text: 'All Reps',
                value: '-',
            };
            const filterByAgent = [{
                text: 'All Agents',
                value: '-',
            }];
            const filterByTag = [
                {
                    text: 'All Lead Tags',
                    value: '-',
                },
                {
                    text: 'Action Required',
                    value: 'Action Required',
                },
                {
                    text: 'Archive',
                    value: 'Archive',
                },
                {
                    text: 'Automation',
                    value: 'Automation',
                },
                {
                    text: 'Awaiting Response',
                    value: 'Awaiting Response',
                },
                {
                    text: 'Ongoing Chat',
                    value: 'Ongoing Chat',
                },
                {
                    text: 'Urgent',
                    value: 'Urgent',
                },
            ];
            const filterByRepTier = [
                {
                    text: 'All Rep Tiers',
                    value: '-',
                },
                {
                    text: this.getTierTitle(1),
                    value: '1',
                },
                {
                    text: this.getTierTitle(2),
                    value: '2',
                },
            ];
            const filtersSumUp = {
                status: 'All',
                rep: 'All',
                agent: 'All',
                tag: 'All',
                tier: 'All',
            };
            const agentList = [];
            leadCollections.orderColumn = 'activity';
            leadCollections.orderDirectionUp = true;

            return {
                page: 1,
                pages: 1,
                perPage,
                items: 5,
                leadCollections,
                conciergeCollections,
                subPage,
                intervalActivity: null,
                filterStatus: '-',
                filterRep: '-',
                repOptions,
                filterByStatus: [],
                filterByRep,
                filterByRepSelectedItem,
                filterByAgent,
                filterByTag,
                filterByRepTier,
                dateValue: null,
                dateValueTo: null,
                showDatePickerFrom: false,
                showDatePickerTo: false,
                filtersSumUp,
                agentList,
                showFilters: false,
            };
        },
        /**
         * Computed.
         *
         * @link https://vuejs.org/v2/api/#computed
         */
        computed: {
            /**
             * Show pagination flag
             *
             * @returns {boolean} - Show or not pagination panel
             */
            showPagination() {
                return this.pages !== 1;
            },
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            const vm = this;

            this.updateSubPage(this.subPage);

            vm.$children[0].$children[0].renderTitle = 'Lead chats';

            $(document).ready(() => {
            // TODO: Check if code below is working code. Maybe it should be removed
                $('select').on('change', function () {
                    let id = $(this).attr('data-id');

                    if (typeof id == 'undefined') {
                        id = null;
                    }

                    const conciergeBase = vm.leadCollections.getLead(id);

                    conciergeBase.permission = $(this).val();
                    vm.leadCollections.updateCollection();
                });

                vm.tryInitWebSocket(() => {
                    if (vm.$root.role === this.$role.ADMIN) {
                        vm.$socket.emit(
                            'subscribeAdminLeads',
                            vm.$root.id,
                            vm.$root.token,
                            vm.perPage,
                            vm.page,
                            '',
                            null,
                            null,
                            vm.subPage === 'archive',
                            null,
                            null,
                            null,
                            null,
                            null
                        );
                    }
                });

                clearInterval(vm.intervalActivity);

                vm.intervalActivity = setInterval(() => {
                    vm.updateActivity();
                }, 1000);
            });
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Process rep filter change
             *
             * @param {Object} item - rep filter change handler
             *
             * @returns {void}
             */
            onRepFilterChanged(item) {
                this.filterByRepSelectedItem = item;
                let temRep = item.value;

                if (temRep === '-') {
                    this.filtersSumUp.rep = 'All';
                } else {
                    temRep = parseInt(temRep, 10);
                    this.filtersSumUp.rep = item.text;
                }
                this.leadCollections.filterRep = temRep;
                this.updateCollection();
                this.sendUpdateCollectionRequest();
            },
            /**
             * Clear all filters
             *
             * @returns {void}
             */
            clearAllFilters() {
                const filtersDefaultValue = '-';

                this.leadCollections.filterStatus = filtersDefaultValue;
                this.leadCollections.filterRep = filtersDefaultValue;
                this.leadCollections.filterAgent = filtersDefaultValue;
                this.leadCollections.filterTag = filtersDefaultValue;
                this.leadCollections.filterRepTier = filtersDefaultValue;
                this.leadCollections.filterCreatedAtFrom = '';
                this.leadCollections.filterCreatedAtTo = '';
                this.leadCollections.search = '';

                this.filterByRepSelectedItem = {
                    text: 'All Reps',
                    value: '-',
                };

                this.filtersSumUp = {
                    status: 'All',
                    rep: 'All',
                    agent: 'All',
                    tag: 'All',
                    tier: 'All',
                };

                this.updateCollection();
                this.sendUpdateCollectionRequest();
            },
            /**
             * Get tier title by id
             *
             * @param {number} id - tier id
             *
             * @returns {string} tier title
             */
            getTierTitle(id) {
                let title = null;

                switch (id) {
                    case '-':
                        title = 'All';
                        break;
                    case 1:
                        title = 'Tier 1';
                        break;
                    case 2:
                        title = 'Tier 2';
                        break;
                    case 3:
                        title = 'Admin';
                        break;
                    default:
                        break;
                }
                return title;
            },
            /**
             * Calls each second.
             *
             * @returns {void}
             */
            updateActivity() {
                this.leadCollections.updateCollection();
            },
            /**
             * Format lead submitted date
             *
             * @param {string}  createdAt lead createAt field
             *
             * @returns {string} formatted date
             */
            formatSubmittedDate(createdAt) {
                const formattedDate = moment(createdAt).format('MM/DD/YYYY');

                return formattedDate;
            },
            /**
             * When we click a lot of times at pagination buttons - it can be with selection.
             * Prevent it.
             *
             * @returns {void}
             */
            clearSelection() {
                if (document.selection && document.selection.empty) {
                    document.selection.empty();
                } else if (window.getSelection) {
                    const sel = window.getSelection();

                    sel.removeAllRanges();
                }
            },
            /**
             * Send to WB update subscribe information.
             * WS also should send update for visible part of collection.
             *
             * @returns {void}
             */
            sendUpdateCollectionRequest() {
                this.$socket.emit(
                    'resubscribeAdminLeads',
                    this.perPage,
                    this.page,
                    this.leadCollections.search,
                    this.leadCollections.filterStatus === '-' ? null : this.leadCollections.filterStatus,
                    this.leadCollections.filterRep === '-' ? null : this.leadCollections.filterRep,
                    this.subPage === 'archive',
                    this.leadCollections.orderColumn,
                    this.leadCollections.orderDirectionUp ? 'up' : 'down',
                    this.leadCollections.filterAgent === '-' ? null : this.leadCollections.filterAgent,
                    this.leadCollections.filterTag === '-' ? null : this.leadCollections.filterTag,
                    this.leadCollections.filterRepTier === '-' ? null : this.leadCollections.filterRepTier,
                    this.leadCollections.filterCreatedAtFrom === '' ? null : this.leadCollections.filterCreatedAtFrom,
                    this.leadCollections.filterCreatedAtTo === '' ? null : this.leadCollections.filterCreatedAtTo

                );
            },
            /**
             * Returns content if pagination item.
             *
             * @param {number} item item index
             *
             * @returns {string|number} text inside item-pagination circle
             */
            itemContent(item) {
                const offsetItems = 1;

                if (this.pages - (this.items - offsetItems) > this.page) {
                    return this.page + item - offsetItems + (item === this.items ? '+' : '');
                }

                return this.pages - (this.items - offsetItems) + (item - offsetItems);
            },
            /**
             * It should be used at render.
             * Show/hide class 'active' at item pagination.
             *
             * @param {number} item item index
             *
             * @returns {boolean} is we should show this item as 'active'
             */
            itemActive(item) {
                const offsetItems = 1;

                if (this.pages - (this.items - offsetItems) > this.page) {
                    return item === 1;
                }

                return this.pages - (this.items - offsetItems) + (item - offsetItems) === this.page;
            },
            /**
             * Pagination item click handler.
             *
             * @param {number} item item index
             *
             * @returns {void}
             */
            itemClick(item) {
                const offsetItems = 1;

                if (this.pages - (this.items - offsetItems) <= this.page) {
                    this.page = this.pages - (this.items - offsetItems) + (item - offsetItems);
                } else {
                    this.page += item - offsetItems;
                }

                this.sendUpdateCollectionRequest();
                this.clearSelection();
            },
            /**
             * 'Prev' pagination item click handler.
             *
             * @returns {void}
             */
            prev() {
                this.clearSelection();

                if (this.page <= 1) {
                    return;
                }

                this.page--;
                this.sendUpdateCollectionRequest();
            },
            /**
             * 'Next' pagination item click handler.
             *
             * @returns {void}
             */
            next() {
                this.clearSelection();

                if (this.page >= this.pages) {
                    return;
                }

                this.page++;
                this.sendUpdateCollectionRequest();
            },
            /**
             * It should be used at render.
             * Show/hide class 'active' at 'prev' item pagination.
             *
             * @returns {boolean} is we should show 'prev' item as enabled
             */
            activePrev() {
                return this.page <= 1;
            },
            /**
             * It should be used at render.
             * Show/hide class 'active' at 'next' item pagination.
             *
             * @returns {boolean} is we should show 'next' item as enabled
             */
            activeNext() {
                return this.page >= this.pages;
            },
            /**
             * Calls when search string was changed.
             *
             * @returns {void}
             */
            updateCollection() {
                const vm = this;

                vm.leadCollections.updateCollection();
                vm.conciergeCollections.updateCollection();

                setTimeout(() => {
                    const $select = $('select');

                    $select.material_select();
                    $select.each(function () {
                        const type = $(this).attr('data-type');

                        $(this).off('change');
                        switch (type) {
                            case 'table-rep':
                                $(this).on('change', function () {
                                    const conciergeId = $(this).val();

                                    if (conciergeId === null) {
                                        return;
                                    }

                                    const leadId = $(this).attr('data-lead');
                                    const lead = vm.leadCollections.getLead(leadId);

                                    if (conciergeId === lead.conciergeId) {
                                        return;
                                    }

                                    lead.conciergeId = conciergeId;

                                    vm.leadCollections.updateCollection();

                                    $select.material_select();
                                    $select.each(function () {
                                        $(this)
                                            .parent()
                                            .find('span.caret')
                                            .html(
                                                '<img src="/assets/images/grey.png" '
                                                + 'srcset="/assets/images/grey@2x.png 2x, /assets/images/grey@3x.png 3x">'
                                            );
                                    });

                                    vm.$socket.emit('leadUpdateRep', vm.$root.id, vm.$root.token, leadId, conciergeId);
                                });
                                break;
                            case 'filter-status':
                                $(this).on('change', function () {
                                    vm.leadCollections.filterStatus = $(this).val();
                                    const isDefaultStatus = vm.leadCollections.filterStatus === '-';

                                    vm.filtersSumUp.status = isDefaultStatus ? 'All' : vm.leadCollections.filterStatus;
                                    vm.updateCollection();
                                    vm.sendUpdateCollectionRequest();
                                });
                                break;
                            case 'filter-agent':
                                $(this).on('change', function () {
                                    const tempAgent = $(this).val();

                                    vm.leadCollections.filterAgent = tempAgent === '-' ? '-' : parseInt(tempAgent, 10);
                                    vm.filtersSumUp.agent = vm.agentList[vm.leadCollections.filterAgent];
                                    vm.updateCollection();
                                    vm.sendUpdateCollectionRequest();
                                });
                                break;
                            case 'filter-tag':
                                $(this).on('change', function () {
                                    vm.leadCollections.filterTag = $(this).val();
                                    const isDefaultTag = vm.leadCollections.filterTag === '-';

                                    vm.filtersSumUp.tag = isDefaultTag ? 'All' : vm.leadCollections.filterTag;
                                    vm.updateCollection();
                                    vm.sendUpdateCollectionRequest();
                                });
                                break;
                            case 'filter-rep-tier':
                                $(this).on('change', function () {
                                    const temRepTier = $(this).val();
                                    const isDefaultTier = temRepTier === '-';

                                    vm.leadCollections.filterRepTier = isDefaultTier ? '-' : parseInt(temRepTier, 10);
                                    vm.filtersSumUp.tier = vm.getTierTitle(vm.leadCollections.filterRepTier);
                                    vm.updateCollection();
                                    vm.sendUpdateCollectionRequest();
                                });
                                break;
                            default:
                                break;
                        }
                        $(this)
                            .parent()
                            .find('span.caret')
                            .html(
                                '<img src="/assets/images/grey.png" '
                                + 'srcset="/assets/images/grey@2x.png 2x, /assets/images/grey@3x.png 3x">'
                            );
                    });
                }, 0);
            },
            /**
             * Recreate Rep dropdown lists.
             *
             * @returns {void}
             */
            updateRepOptions() {
                const concierges = this.conciergeCollections.getConcierges();
                const repOptions = [{
                    text: 'Please select Rep',
                    value: '-',
                    disabled: true,
                }];
                const filterByRep = [];

                for (const index in concierges) {
                    const concierge = concierges[index];

                    if (parseInt(concierge.role, 10) !== this.$role.ADMIN) {
                        let name = concierge.name;

                        if (name === null || name === '') {
                            name = concierge.email;
                        }

                        repOptions.push({
                            text: name,
                            value: `${concierge.id }`,
                        });

                        filterByRep.push({
                            text: name,
                            value: `${concierge.id }`,
                        });
                    }
                }
                filterByRep.sort(this.filterSortCompare);

                filterByRep.unshift({
                    text: 'All Rep',
                    value: '-',
                });
                this.repOptions = repOptions;
                this.filterByRep = filterByRep;
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {Array} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                switch (message) {
                    case 'leadBlock':
                        this.listenLeadBlock(data.leads, data.totalPages);
                        break;
                    case 'leadCreate':
                        this.listenLeadCreate(data);
                        break;
                    case 'leadUpdate':
                        this.listenLeadUpdate(data);
                        break;
                    case 'leadUpdateStatus':
                        this.listenLeadUpdateStatus(data);
                        break;
                    case 'leadUpdateRep':
                        this.listenLeadUpdateRep(data);
                        break;
                    case 'leadUpdateTime':
                        this.listenLeadUpdateTime(data);
                        break;
                    case 'leadDelete':
                        this.listenLeadDelete(data);
                        break;
                    case 'conciergeAll':
                        this.listenConciergeAll(data);
                        break;
                    case 'conciergeCreate':
                        this.listenConciergeCreate(data);
                        break;
                    case 'conciergeUpdate':
                        this.listenConciergeUpdate(data);
                        break;
                    case 'conciergeDelete':
                        this.listenConciergeDelete(data);
                        break;
                    case 'leadRefer':
                        this.listenLeadRefer(data);
                        break;
                    case 'agentGet':
                        this.listenAgentGet(data);
                        break;
                    case 'leadUnassignRep':
                        this.listenLeadUnassignRep(data);
                        break;
                    case 'agentAll':
                        this.listenAgentAll(data);
                        break;
                    default:
                        break;
                }
            },
            /**
             * Listen agentAll.
             *
             * @param {Array[]} agents - array with agents
             *
             * @returns {void}
             */
            listenAgentAll(agents) {
                const filterByAgent = [];
                const agentList = {
                    '-': 'All',
                };
                for (const index in agents) {
                    const agent = agents[index];
                    if (agent === null) {
                        continue;
                    }
                    const fullName = this.fullName(agent);

                    filterByAgent.push({
                        text: fullName,
                        value: `${agent.id }`,
                    });
                    agentList[agent.id] = fullName;
                }
                filterByAgent.sort(this.filterSortCompare);

                filterByAgent.unshift({
                    text: 'All Agents',
                    value: '-',
                });
                this.agentList = agentList;
                this.filterByAgent = filterByAgent;
            },
            /**
             * Listen unassign lead.
             *
             * @param {Array[]|Object} data - Lead id
             *
             * @returns {void}
             */
            listenLeadUnassignRep(data) {
                const lead = this.leadCollections.getLead(data.leadId);

                if (lead) {
                    lead.conciergeId = null;
                    this.leadCollections.updateCollection();

                    const timeout = 0;

                    setTimeout(() => {
                        const $select = $('select');

                        $select.material_select();
                    }, timeout);
                }
            },
            /**
             * Listen leads.
             *
             * @param {Array[]} leads - Leads
             * @param {number} totalPages total pages
             *
             * @returns {void}
             */
            listenLeadBlock(leads, totalPages) {
                this.pages = totalPages;
                if (this.pages < 1) {
                    this.pages = 1;
                }

                this.leadCollections.cleanCollection();

                for (const index in leads) {
                    const newLead = new Lead();

                    /** @type {Object} */
                    const dataObj = leads[index];

                    newLead.addDataRecursively(dataObj);
                    this.leadCollections.addLead(newLead);
                }

                if (this.pages < this.page) {
                    this.page = this.pages;
                    this.sendUpdateCollectionRequest();
                }

                this.updateCollection();
            },
            /**
             * Listen create lead.
             *
             * @param {Array[]|Object} data - Lead
             *
             * @returns {void}
             */
            listenLeadCreate(data) {
                this.sendUpdateCollectionRequest();
            },
            /**
             * Listen update lead data
             *
             * @param {Object} data - lead data
             *
             * @return {void}
             */
            listenLeadUpdate(data) {
                if (data === null) {
                    return;
                }

                this.leadCollections.updateLead(data);
            },
            /**
             * Listen lead update status
             *
             * @param {Object} data - {leadId: int, note:null|Note, status: string}
             *
             * @return {void}
             */
            listenLeadUpdateStatus(data) {
                const lead = this.leadCollections.getLead(data.leadId);

                if (lead.id === null) {
                    return;
                }

                lead.status = data.status;
                this.updateCollection();
            },
            /**
             * Listen delete lead.
             *
             * @param {Number} leadId - Lead Id
             *
             * @returns {void}
             */
            listenLeadDelete(leadId) {
                this.leadCollections.deleteLead(leadId);
                this.updateCollection();
            },
            /**
             * Listen update Rep.
             *
             * @param {Object} data - Lead
             *
             * @returns {void}
             */
            listenLeadUpdateRep(data) {
                const leadUpdateRep = this.leadCollections.getLead(data.leadId);

                if (leadUpdateRep.id === null) {
                    return;
                }

                leadUpdateRep.conciergeId = data.repId;
                leadUpdateRep.updatedAt = data.updatedAt.date;

                this.updateCollection();
            },
            /**
             * Listen update lead time.
             *
             * @param {Object} data - Lead data
             *
             * @returns {void}
             */
            listenLeadUpdateTime(data) {
                const leadUpdateTime = this.leadCollections.getLead(data.leadId);

                if (leadUpdateTime.id === null) {
                    return;
                }

                leadUpdateTime.updatedAt = data.updatedAt.date;
            },
            /**
             * Listen concierges all.
             *
             * @param {Array} data - Concierges
             *
             * @returns {void}
             */
            listenConciergeAll(data) {
                this.conciergeCollections.cleanCollection();

                for (const index in data) {
                    const concierge = data[index];

                    if (concierge === null) {
                        continue;
                    }

                    const newConcierge = new Concierge(
                        concierge.id, concierge.name, concierge.email, `${concierge.role }`
                    );

                    this.conciergeCollections.addConcierge(newConcierge);
                }

                this.updateRepOptions();
                this.updateCollection();
            },
            /**
             * Listen concierge create.
             *
             * @param {Object} data - Concierge
             *
             * @returns {void}
             */
            listenConciergeCreate(data) {
                const newConcierge = new Concierge(data.id, data.name, data.email, `${data.permission }`);

                this.conciergeCollections.addConcierge(newConcierge);

                this.updateRepOptions();
                this.updateCollection();
            },
            /**
             * Listen concierge update.
             *
             * @param {Object} data - Concierge
             *
             * @returns {void}
             */
            listenConciergeUpdate(data) {
                const concierge = this.conciergeCollections.getConcierge(data.id);

                concierge.name = data.name;
                concierge.email = data.email;
                concierge.permission = `${data.permission }`;

                this.updateRepOptions();
                this.updateCollection();
            },
            /**
             * Listen concierge delete.
             *
             * @param {Number} data - Concierge id
             *
             * @returns {void}
             */
            listenConciergeDelete(data) {
                if (data !== this.$root.id) {
                    this.conciergeCollections.deleteConcierge(data);

                    this.updateRepOptions();
                    this.updateCollection();
                }
            },
            /**
             * Listen refer lead.
             *
             * @param {Number} leadId - LeadId
             *
             * @returns {void}
             */
            listenLeadRefer(leadId) {
                const leadRefer = this.leadCollections.getLead(leadId);

                if (leadRefer.id === null) {
                    return;
                }

                leadRefer.status = 'Referred';

                this.updateCollection();
            },
            /**
             * Listen agent get
             *
             * @param {Object} data - Agent data
             *
             * @returns {void}
             */
            listenAgentGet(data) {
                const lead = this.leadCollections.getLead(data.leadId);

                if (lead.id === null) {
                    return;
                }

                lead.agent.addDataRecursively(data.agent);

                this.updateCollection();
            },
            /**
             * Set new tab.
             *
             * @param {'active'|'archive'|null} newSubPage - Tab
             *
             * @returns {void}
             */
            updateSubPage(newSubPage) {
                const statuses = [];

                this.subPage = newSubPage;
                if (this.subPage === 'active') {
                    this.filterByStatus = [
                        {
                            text: 'All Status',
                            value: '-',
                        },
                        {
                            text: 'New lead',
                            value: 'New lead',
                        },
                        {
                            text: 'Escalated',
                            value: 'Escalated',
                        },
                        {
                            text: 'Call Requested',
                            value: 'Call Requested',
                        },
                    ];
                } else {
                    this.filterByStatus = [
                        {
                            text: 'All Status',
                            value: '-',
                        },
                        {
                            text: 'Qualified',
                            value: 'Qualified',
                        },
                        {
                            text: 'Unqualified',
                            value: 'Unqualified',
                        },
                        {
                            text: 'Referred',
                            value: 'Referred',
                        },
                        {
                            text: 'Not a lead',
                            value: 'Not a lead',
                        },
                    ];
                }

                for (const index in this.filterByStatus) {
                    statuses.push(this.filterByStatus[index].value);
                }

                this.leadCollections.search = '';
                this.leadCollections.subPage = newSubPage;
                this.leadCollections.subPageStatuses = statuses;
                this.leadCollections.filterStatus = '-';

                this.updateCollection();
                this.sendUpdateCollectionRequest();
            },
            /**
             * Sort columns.
             *
             * @param {string} column - Column name
             *
             * @returns {void}
             */
            sort(column) {
                if (this.leadCollections.orderColumn === column) {
                    this.leadCollections.orderDirectionUp = !this.leadCollections.orderDirectionUp;
                } else {
                    this.leadCollections.orderColumn = column;
                    this.leadCollections.orderDirectionUp = true;
                }

                this.leadCollections.updateCollection();

                this.sendUpdateCollectionRequest();
            },
            /**
             * Makes ascending column.
             *
             * @param {string} column - Column name
             *
             * @returns {boolean} - Apply 'asc' class for column or not
             */
            asc(column) {
                return this.leadCollections.orderColumn === column && this.leadCollections.orderDirectionUp;
            },
            /**
             * Makes descending column.
             *
             * @param {string} column - Column name
             *
             * @returns {boolean} - Apply 'desc' class for column or not
             */
            desc(column) {
                return this.leadCollections.orderColumn === column && !this.leadCollections.orderDirectionUp;
            },
            /**
             * Redirect to chat page.
             *
             * @param {Number} leadId - Lead id
             *
             * @returns {void}
             */
            goToChatPage(leadId) {
                this.$router.push(laroute.route('messaging', { id: leadId }));
            },
            /**
             * Get lead full name.
             *
             * @param {Object} obj - current object
             *
             * @returns {string} - Full name of active object
             */
            fullName(obj) {
                const firstName = obj.firstName === null ? '' : obj.firstName;
                const lastName = obj.lastName === null ? '' : obj.lastName;

                return `${firstName } ${ lastName}`;
            },
            /**
             * Format date for date-picker
             *
             * @param {string} date - date
             *
             * @returns {string} - formatted date
             */
            formatDate(date) {
                return moment(date, 'YYYY-MM-DD').format('MM/DD/YYYY');
            },
            /**
             * Sort filters compare function
             *
             * @param {object} filterOptionA - filter option a
             * @param {object} filterOptionB - filter option b
             *
             * @returns {number} - order direction
             */
            filterSortCompare(filterOptionA, filterOptionB) {
                const orderUp = 1;
                const orderDown = -1;
                const textA = filterOptionA.text.toLowerCase();
                const textB = filterOptionB.text.toLowerCase();

                if (textA < textB) {
                    return orderDown;
                }

                return orderUp;
            },
        },
        /**
         * Components.
         * @link https://vuejs.org/v2/guide/components.html
         */
        components: {
            'date-picker': DatePicker,
            BasicSelect,
        },
        /**
         * Watch.
         *
         * @link https://vuejs.org/v2/api/#watch22
         */
        watch: {
            /**
             * Watcher handler.
             *
             * @param {string} val - New filter createAt from value
             *
             * @returns {void}
             */
            'leadCollections.filterCreatedAtFrom'(val) {
                this.leadCollections.filterCreatedAtFrom = val;
                this.sendUpdateCollectionRequest();
            },
            /**
             * Watcher handler.
             *
             * @param {string} val - New filter createAt to value
             *
             * @returns {void}
             */
            'leadCollections.filterCreatedAtTo'(val) {
                this.leadCollections.filterCreatedAtTo = val;
                this.sendUpdateCollectionRequest();
            },
        },
    };
</script>
