<style lang="scss" rel="stylesheet/scss">
    @import "../../../../sass/components/console/admin/permission";
</style>

<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <layout class="page-permission" page="permission" title="Permissions">
        <div slot="content">
            <div id="modalDelete" class="modal">
                <div class="modal-content">
                    <h4>Remove</h4>
                    <p>
                        Are you sure you want to remove
                        {{ conciergeCollections.getConcierge(selectedConcierge.id).getName() }}'s
                        account?
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="#"
                       class=" modal-action modal-close waves-effect waves-green btn-flat custom-green"
                       @click.prevent="deleteConcierge(selectedConcierge.id)">Remove</a>
                    <a href="#"
                       class=" modal-action modal-close waves-effect waves-green btn-flat"
                       @click.prevent>Cancel</a>
                </div>
            </div>

            <div class="content-navigation">
                <div class="title-row">
                    <h2>Rep Accounts</h2>
                </div>
                <div class="filters-row">
                    <label for="search">
                        <i class="material-icons" v-show="conciergeCollections.search === ''">&#xE8B6;</i>
                        <i class="material-icons"
                           v-show="conciergeCollections.search !== ''"
                           @click="conciergeCollections.search = ''; updateCollection();">&#xE14C;</i>
                    </label>
                    <input placeholder="Search name"
                           name="search"
                           id="search"
                           v-model="conciergeCollections.search"
                           @keyup="updateCollection()">
                    <button class="btn waves-effect waves-light custom-green" :disabled="disableCreateButton" @click.prevent="prepareCreateConcierge">
                        Create Rep Account
                    </button>
                </div>
            </div>
            <table class="striped concierges-table">
                <thead>
                <tr>
                    <th style="width: 33.33333333%;"
                        class="sortable"
                        @click="disableCreateButton? '':sort('name')"
                        :class="{ desc: desc('name'), asc: asc('name') }">
                        <span>Name</span>
                    </th>
                    <th style="width: 33.33333333%;"
                        class="sortable"
                        @click="disableCreateButton? '':sort('email')"
                        :class="{ desc: desc('email'), asc: asc('email') }">
                        <span>Email</span>
                    </th>
                    <th style="width: 16.66666667%;"
                        class="sortable"
                        @click="disableCreateButton? '':sort('permissions')"
                        :class="{ desc: desc('permissions'), asc: asc('permissions') }">
                        <span>Permissions</span>
                    </th>
                    <th style="width: 16.66666667%;">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="concierge in conciergeCollections.computedList" v-if="!concierge.isDeleted">
                    <td>
                        <span v-show="!concierge.stateEdit">{{ concierge.name }}</span>
                        <input :class="{invalid: !concierge.validateName()}"
                               type="text"
                               placeholder="Enter name"
                               v-model="concierge.name"
                               v-show="concierge.stateEdit">
                    </td>
                    <td :class="{'new-concierge-td' : concierge.id === null}" >
                        <span v-show="!concierge.stateEdit">{{ concierge.email }}</span>
                        <input :class="{invalid: !concierge.validateEmail() ||
                            (emailErrorMessage.length > 0 && concierge.id === null)}"
                               type="email"
                               id="email"
                               placeholder="Enter email"
                               v-model="concierge.email"
                               v-show="concierge.stateEdit"
                               v-on:click="emailErrorMessage=''">
                        <label v-if="concierge.id === null" :data-error="emailErrorMessage" for="email"></label>
                    </td>
                    <td>
                        <span v-show="!concierge.stateEdit">{{ concierge.getPermission() }}</span>
                        <div v-show="concierge.stateEdit">
                            <select class="validate" v-model="concierge.role" :data-id="concierge.id">
                                <option v-for="option in permissionOptions"
                                        :value="option.value"
                                        :disabled="option.disabled ? true : null">{{ option.text }}</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <span class="container-icon" v-show="!concierge.stateEdit">
                            <i class="material-icons" @click="concierge.stateEdit = true">&#xE3C9;</i>
                        </span>
                        <span class="container-icon" v-show="!concierge.stateEdit">
                                <i class="material-icons"
                                   data-target="modalDelete"
                                   @click="selectedConcierge = concierge">&#xE872;</i>
                        </span>
                        <span class="action-item"
                              v-show="concierge.stateEdit && concierge.id !== null"
                              @click="updateConcierge(concierge)"
                              :class="{ 'disallow-update': !concierge.validateEmail() || !concierge.name }">Save</span>
                        <span class="action-item create"
                              v-show="concierge.stateEdit && concierge.id === null"
                              @click="createConcierge(concierge)"
                              :class="{ 'disallow-create': (!concierge.allowToCreate() ||
                                 (conciergeCollections.waitForSyncId !== null && emailErrorMessage.length === 0))}">
                            CREATE
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </layout>
</template>

<script type="text/ecmascript-6">
    import socket from '../../../mixins/socket';
    import Concierge from '../../../objects/concierge';
    import ConciergeCollection from '../../../collections/conciergeCollection';
    import { isEmail } from '../../../helpers/link';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     selectedConcierge: {Concierge},
         *     conciergeCollections: ConciergeCollection,
         *     permissionOptions: [*,*,*,*,*],
         *     disableCreateButton: boolean,
         * }} - Component Data
         */
        data() {
            const conciergeCollections = new ConciergeCollection();

            return {
                emailErrorMessage: '',
                tmpConcierge: {},
                selectedConciergeId: null,
                selectedConcierge: {},
                conciergeCollections,
                permissionOptions: [
                    {
                        text: 'Select Tier',
                        value: '-',
                        disabled: true,
                    },
                    {
                        text: 'Suspended',
                        value: '0',
                    },
                    {
                        text: 'Tier 1',
                        value: '1',
                    },
                    {
                        text: 'Tier 2',
                        value: '2',
                    },
                    {
                        text: 'Admin',
                        value: '3',
                    },
                ],
                disableCreateButton: false,
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            const vm = this;

            vm.$children[0].$children[0].renderTitle = 'Permissions';

            $(document).ready(() => {
                $('select').on('change', function () {
                    let id = $(this).attr('data-id');

                    if (typeof id == 'undefined') {
                        id = null;
                    }

                    const conciergeBase = vm.conciergeCollections.getConcierge(id);

                    conciergeBase.permission = $(this).val();
                    vm.conciergeCollections.updateCollection();
                });

                vm.tryInitWebSocket(() => {
                    if (vm.$root.role === this.$role.ADMIN) {
                        vm.$socket.emit('subscribeAdminConcierges', vm.$root.id, vm.$root.token);
                    }
                });
            });
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Sort.
             *
             * @param {string} column - Column name
             *
             * @returns {void}
             */
            sort(column) {
                if (this.conciergeCollections.orderColumn === column) {
                    this.conciergeCollections.orderDirectionUp = !this.conciergeCollections.orderDirectionUp;
                } else {
                    this.conciergeCollections.orderColumn = column;
                    this.conciergeCollections.orderDirectionUp = true;
                }

                this.conciergeCollections.updateCollection();
            },
            /**
             * Ascending.
             *
             * @param {string} column - Column name
             *
             * @returns {boolean} - Apply 'asc' class for column or not
             */
            asc(column) {
                return this.conciergeCollections.orderColumn === column && this.conciergeCollections.orderDirectionUp;
            },
            /**
             * Descending.
             *
             * @param {string} column - Column name
             *
             * @returns {boolean} - Apply 'desc' class for column or not
             */
            desc(column) {
                return this.conciergeCollections.orderColumn === column && !this.conciergeCollections.orderDirectionUp;
            },
            /**
             * Delete concierge.
             *
             * @param {number} id - Concierge id
             *
             * @returns {void}
             */
            deleteConcierge(id) {
                // 10 seconds delay
                const toastDelay = 10000;

                if (this.$root.id === id) {
                    Materialize.toast('User cannot delete their own account', toastDelay);

                    return;
                }

                const concierge = this.conciergeCollections.getConcierge(id);
                const name = concierge.getName();

                Materialize.toast(`${name }’s account has been removed.`, toastDelay);
                this.$socket.emit('conciergeDelete', this.$root.id, this.$root.token, id);
                concierge.isDeleted = true;

                this.updateCollection();
            },
            /**
             * Switch edit mode to view mode.
             *
             * @param {Concierge} concierge - Concierge
             *
             * @returns {void}
             */
            updateConcierge(concierge) {
                let newPermission = null;

                if (!concierge.name || !concierge.email || !isEmail(concierge.email)) {
                    return;
                }

                newPermission = $(`select[data-id="${concierge.id}"]`).val();
                if (this.$root.id === parseInt(concierge.id, 10) && parseInt(newPermission, 10) !== this.$role.ADMIN) {
                    // Toast with 10 seconds delay
                    Materialize.toast('User cannot revoke Admin permissions', 10000);

                    return;
                }

                concierge.role = newPermission;
                concierge.stateEdit = false;

                this.$socket.emit(
                    'conciergeUpdate',
                    this.$root.id,
                    this.$root.token,
                    concierge.id,
                    concierge.name,
                    concierge.email,
                    concierge.role
                );

                this.updateCollection();
            },
            /**
             * Prepare system for create concierge.
             *
             * @returns {void}
             */
            prepareCreateConcierge() {
                this.conciergeCollections.prepareAddConcierge();
                this.disableCreateButton = true;

                setTimeout(() => {
                    $('select').material_select();
                }, 0);
            },
            /**
             * Calls when search string was changed.
             *
             * @returns {void}
             */
            updateCollection() {
                this.conciergeCollections.updateCollection();

                setTimeout(() => {
                    $('select').material_select();
                }, 0);
            },
            /**
             * Switch edit mode to view mode.
             *
             * @param {Concierge} concierge - Concierge
             *
             * @returns {void}
             */
            createConcierge(concierge) {
                if (!concierge.allowToCreate()) {
                    return;
                }

                if (this.conciergeCollections.waitForSyncId !== null) {
                    return;
                }

                $('select').each(function () {
                    if (typeof $(this).attr('data-id') == 'undefined') {
                        concierge.role = $(this).val();
                    }
                });

                this.tmpConcierge = {
                    name: concierge.name,
                    email: concierge.email,
                    role: concierge.role,
                };

                this.$socket.emit(
                    'conciergeCreate',
                    this.$root.id,
                    this.$root.token,
                    concierge.name,
                    concierge.email,
                    concierge.role
                );
                this.disableCreateButton = false;
                this.updateCollection();
            },
            /**
             * Switch edit mode to view mode.
             * @param {Concierge} concierge - Concierge
             * @returns {void}
             */
            createConciergeSuccess() {
                const newConcierge = new Concierge();

                newConcierge.name = this.tmpConcierge.name;
                newConcierge.email = this.tmpConcierge.email;
                newConcierge.role = this.tmpConcierge.role;
                newConcierge.stateEdit = false;
                this.conciergeCollections.addConcierge(newConcierge);

                const toastDelay = 10000;

                Materialize.toast(`${this.tmpConcierge.name}’s account has been created.`, toastDelay);

                this.updateCollection();
                this.tmpConcierge = {};
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {Array} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                switch (message) {
                    case 'conciergeAll':
                        this.listenConciergeAll(data);
                        break;
                    case 'conciergeCreate':
                        this.listenConciergeCreate(data);
                        break;
                    case 'conciergeCreateReport':
                        this.listenConciergeCreateReport(data);
                        break;
                    case 'conciergeUpdate':
                        this.listenConciergeUpdate(data);
                        break;
                    case 'conciergeDelete':
                        this.listenConciergeDelete(data);
                        break;
                    default:
                        break;
                }
            },
            /**
             * Listen concierges all.
             *
             * @param {Array} data - Concierges
             *
             * @returns {void}
             */
            listenConciergeAll(data) {
                this.conciergeCollections.cleanCollection();

                for (const index in data) {
                    const concierge = data[index];

                    if (concierge === null) {
                        continue;
                    }

                    const newConcierge = new Concierge();

                    newConcierge.addDataRecursively(concierge);
                    this.conciergeCollections.addConcierge(newConcierge);
                }

                this.updateCollection();
            },
            /**
             * Listen concierge create.
             *
             * @param {Object} data - Concierge
             *
             * @returns {void}
             */
            listenConciergeCreate(data) {
                const newConcierge = new Concierge(data.id, data.name, data.email, `${data.role }`);

                this.conciergeCollections.addConcierge(newConcierge);
                this.updateCollection();
            },
            /**
             * Listen concierge create report.
             *
             * @param {Number} data - id
             *
             * @returns {void}
             */
            listenConciergeCreateReport(data) {
                const emailAlreadyUsed = -1;

                if (data === emailAlreadyUsed) {
                    this.emailErrorMessage = 'Email address already in use';
                } else {
                    this.createConciergeSuccess(this.conciergeCollections.getConcierge(data));
                    this.conciergeCollections.syncConcierge(data);
                }
            },
            /**
             * Listen concierge update.
             *
             * @param {Object} data - Concierge
             *
             * @returns {void}
             */
            listenConciergeUpdate(data) {
                const concierge = this.conciergeCollections.getConcierge(data.id);

                concierge.name = data.name;
                concierge.email = data.email;
                concierge.role = `${data.role }`;

                this.updateCollection();
            },
            /**
             * Listen concierge delete.
             * @param {Number} data - Concierge id
             * @returns {void}
             */
            listenConciergeDelete(data) {
                if (data !== this.$root.id) {
                    this.conciergeCollections.deleteConcierge(data);
                    this.updateCollection();
                }
            },
        },
    };
</script>
