@import '../../../variables';
@import '../../../mixins';

.page-setup {
  background-color: $pp-grey-lighten;

  .container {
    background-color: $pp-white;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 48px 64px 0 48px;
    margin-top: 24px;
    margin-bottom: 178px;
    max-width: 928px;
    position: relative;

    h2 {
      @include font($pp-dark, 1.18, 34px, 300);
      text-align: center;
      margin-top: 0;
      margin-bottom: 32px;
    }

    .progress-setup {
      text-align: center;

      div.step {
        @include size(48px);
        border-radius: 50%;
        display: inline-block;
        border: 1px solid $pp-grey-light;
        color: $pp-grey-light;

        &.active {
          border: 1px solid $pp-orange;
          background-color: $pp-orange;
          color: $pp-white;
        }

        i.material-icons {
          margin: 11px;
        }
      }

      div.hr {
        width: 144px;
        display: inline-block;
        border-bottom: 1px solid $pp-grey-light;
        vertical-align: top;
        margin: 24px;
      }
    }

    .progress-names {
      display: flex;
      justify-content: space-around;
      margin: 5px 33px 65px;

      .step-name {
        @include font($pp-grey-light, 1.54, 13px);

        &.active {
          color: $pp-dark;
        }
      }
    }

    .main-content {
      display: flex;
      justify-content: space-between;
      position: relative;

      .final-step {
        width: 100%;
      }

      .phone-picture {
        position: relative;
        @include size(327px, 497px);

        .phone-content {
          position: absolute;
          left: 22.5px;
          top: 84px;
        }

        .user-phone-number {
          position: absolute;
          top: 125px;
          width: 100%;
          text-align: center;

          .phone-number {
            @include font(null, null, 10px, 500);
          }
        }

        .user-personal-text {
          position: absolute;
          top: 190px;
          left: 110px;
          text-align: left;
          width: 171px;
          @include font($pp-white, 1.3, 12px);
        }

        .phone-tooltips {
          &.phone {
            position: absolute;
            top: 122px;
            left: 90px;
            transition-property: top, left;
            transition-duration: 0.5s;

            &.step-2 {
              top: 220px;
              left: 65px;

              .text {
                top: -35px;
              }
            }
          }

          .text {
            @include font($pp-dark, 1.67, 12px);
            @include size(160px, auto);
            padding: 16px;
            background-color: $pp-white;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
            position: absolute;
            left: -170px;
            top: -20px;
          }

          @keyframes pulse {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(.6);
            }
            100% {
              transform: scale(1);
            }
          }

          .tooltip-circle {
            position: absolute;
            background-color: $pp-blue;
            border-radius: 50%;

            &.with-animation {
              opacity: 0.3;
              animation: pulse 2.5s ease-in-out 0s infinite normal none;
            }
          }

          .blue-small-circle {
            @include size(16px);
            top: 8px;
            left: 8px;

          }

          .blue-medium-circle {
            @include size(24px);
            top: 4px;
            left: 4px;

          }

          .blue-big-circle {
            @include size(32px);
          }
        }
      }

      .next-button {
        position: absolute;
        bottom: 48px;
        right: 0;

        a {
          background-color: $pp-blue;
        }
      }
    }

    .back-button {
      @include font($pp-grey, 1.14, 14px, 500);
      position: absolute;
      top: 24px;
      left: 24px;

      .back {
        display: flex;
        align-items: center;
        color: $pp-grey;
        cursor: pointer;

        span {
          vertical-align: middle;
          margin-left: 8px;
        }
      }
    }

    .hidden {
      display: none;
    }
  }
}