@import '../../../variables';
@import '../../../mixins';

.select-phone-container {
    width: 384px;

    .title {
        @include font($pp-dark, 1.17, 24px);
        margin-bottom: 16px;
    }

    .description {
        @include font($pp-dark, 1.6, 15px);
        margin-bottom: 30px;
    }

    .input-area {
        margin-bottom: 14px;

        .info {
            @include font($pp-grey-light, null, 12px);
            display: block;
            position: absolute;
            top: 45px;
            width: 100%;
        }
    }
}
