@import '../../../variables';
@import '../../../mixins';

.lead-source-container {
  .title {
    &.bottom-area {
      margin-top: 32px;
    }
    margin-bottom: 16px;
    width: 720px;
    @include font($pp-dark, 1.17, 28px);
  }
  .description {
    margin-bottom: 16px;
    width: 720px;
    @include font($pp-dark, 1.6, 15px);
  }
  .sources {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .margin-section {
    margin-bottom: 130px;
  }
  .button-section {
    margin-bottom: 32px;

    .google-success-text {
      display: flex;
      align-items: center;

      span {
        @include font($pp-green-portal, null, 14px, 500);
        margin-left: 8px;
      }

      svg {
        background-color: $pp-white;
      }
    }

    .google-button {
      .button-container {
        display: flex;
        vertical-align: middle;
        align-items: center;
        height: auto;
        background-color: $pp-cornflower-blue;
        border: 2px solid $pp-cornflower-blue;
        border-radius: 2px;
        width: 185px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
        &:hover {
          box-shadow: 0 1px 1px 0 $pp-cornflower-blue, 0 0 1px 0 $pp-cornflower-blue-transparent;
        }

        svg {
          border-radius: 1px;
          @include size(38px);
          padding: 10px;
          background-color: $pp-white;
        }
        span {
          @include font($pp-white, null, 14px, 500);
          letter-spacing: 0.2px;
          margin-left: 8px;
        }
      }
    }
  }
}