@import '../../../variables';
@import '../../../mixins';

.select-phone-container {
  width: 384px;

  .title {
    @include font($pp-dark, 1.17, 24px);
    margin-bottom: 16px;
  }

  .description {
    @include font($pp-dark, 1.6, 15px);
    margin-bottom: 30px;
  }
  .input-area {
    margin-bottom: 23px;
  }
  .generate-button {
    @include font($pp-grey, 1.14, 14px, 500);
    letter-spacing: 0.5px;
    color: $pp-blue;
    padding: 0;
    height: auto;

    &:hover {
      background-color: transparent;
    }
  }
  .phone-container {
    margin-top: 36px;

    .title {
      @include font($pp-dark, 1.2, 20px);
      margin-bottom: 16px;
    }
    .phone {
      @include font($pp-dark, 1.6, 15px);
    }
  }
}