@import '../../variables';
@import '../../mixins';

.portal-create {
  @include size(100%);
  background: $pp-white;

  @media (max-width: 700px) {
    @include size(auto);
  }

  .page-portal-login {
    padding: 127px 0 80px 0;

    .login-image {
      margin-top: 55px;
    }

    .big-text {
      @include font($pp-grey-darken, 1.29, 48px);
      font-family: 'Montserrat', sans-serif;
      margin-top: 56px;
    }

    .middle-text {
      @include font($pp-grey-darken, 1.29, 24px);
      font-family: 'Roboto', sans-serif;
      margin-top: 16px;
      @include size(496px, 62px);
    }

    #create-account {
      padding: 0 77px 0 62px;

      button {
        @include size(186px, 40px);
        @include font($pp-white, 1.14, 14px, 500);
        letter-spacing: 0.5px;
        text-align: center;
      }

      button[type=submit] {
        margin-top: 19px;
      }

      .row {
        margin-bottom: 0;
      }

      .input-field {
        margin-top: 0.4rem;
      }
    }

    .create-account-text {
      @include size(142px, 28px);
      @include font($pp-grey-darken, 1.33, 21px, 500);
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0;
      text-align: center;
    }

    .new-user-text {
      a {
        color: $pp-grey-darken;
        text-decoration: underline;
      }
      a:hover {
        color: $pp-blue;
      }
      margin-top: 24px;
    }

    .google-sign-up {
      margin-top: 16px;
    }

    .mobile-row {
      display: none;
    }

    .form-wraper {
      width: 489.5px;

      form {
        ::-webkit-input-placeholder {
          color: $pp-input-placeholder-light;
          font-size: 12px;
        }
        ::-moz-placeholder {
          color: $pp-input-placeholder-light;
          font-size: 12px;
        }
        :-moz-placeholder {
          color: $pp-input-placeholder-light;
          font-size: 12px;
        }
        :-ms-input-placeholder {
          color: $pp-input-placeholder-light;
          font-size: 12px;
        }
        .input-field {
          margin-bottom: 4px;
          label:not(.label-icon).active:after {
            top: 60px;
          }
        }
        label {
          font-size: 12px;
          margin: -25px 0 0 -10px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .portal-create {
    .page-portal-login {
      padding-top: 107px;

      .form-wraper {
        width: 245.75px;
        margin-left: 70px;
        .row {
          margin-bottom: 0;
        }
        .button-confirm.btn-blue {
          margin-top: 32px;
        }
      }

      #create-account {
        padding: inherit;
      }

      .login-image {
        width: 328px;
        margin-top: 0;
        margin-left: -10px;
      }

      .big-text, .middle-text {
        margin-left: -10px;
        font-size: 36px;
      }
      .middle-text {
        font-size: 24px;
        @include size(328px, 62px);
      }
    }
  }
}

@media (max-width: 700px) {
  .portal-create {
    .page-portal-login {
      padding-top: 80px;

      .portal-nav {
        nav {
          height: 64px;
        }
      }
      .left-column {
        display: none;
      }
      .right-column {
        width: 100%;
      }
      .right-column {
        .row {
          margin-bottom: 0;
        }
      }
      .form-wraper {
        margin-left: auto;
        margin-right: auto;
      }
      .mobile-row {
        display: block;

        .google-sign-up {
          margin-bottom: 16px;
        }
      }
      .sign-up-desktop {
        display: none;
      }
    }
  }
}