@import '../../variables';
@import '../../mixins';

.portal-forgot {
  @include size(100%);
  background: $pp-white;

  @media (max-width: 700px) {
    @include size(auto);
  }

  .page-portal-login {
    padding: 127px 0 235px 0;

    .login-image {
      margin-top: 55px;
    }

    .big-text {
      @include font($pp-grey-darken, 1.29, 48px);
      font-family: 'Montserrat', sans-serif;
      margin-top: 56px;
    }

    .middle-text {
      @include font($pp-grey-darken, 1.29, 24px);
      font-family: 'Roboto', sans-serif;
      margin-top: 16px;
      @include size(496px, 62px);
    }

    .create-account-text {
      @include size(142px, 28px);
      @include font($pp-grey-darken, 1.33, 21px, 500);
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      text-align: center;
    }

    .form-wraper {
      margin: 0px 130px;
      width: 373px;

      .forgot-password-text {
        @include font($pp-grey-darken, 1.54, 13px, normal);
        @include font(null, 1.54, 13px);
        letter-spacing: 0.5px;
      }

      form {
        .input-field {
          label:not(.label-icon).active:after {
            top: 60px;
          }
        }
        label {
          font-size: 12px;
        }
        button {
          @include size(186px, 40px);
        }
      }
    }

    .send-success-text {
      width: 328px;
      margin: 16px auto 0px auto;
      @include font(null, 1.54, 13px);
      letter-spacing: 0px;
      text-align: center;
    }
  }
}

@media (max-width: 1024px) {
  .portal-forgot {
    .page-portal-login {
      padding-top: 107px;

      .form-wraper {
        width: 266px;
        margin-left: 70px;
        .row {
          margin-bottom: 0px;
        }
        .button-confirm.btn-blue {
          margin-top: 32px;
        }
      }

      #create-account {
        padding: inherit;
      }

      .login-image {
        width: 328px;
        margin-top: 0px;
        margin-left: -10px;
      }

      .big-text, .middle-text {
        margin-left: -10px;
        font-size: 36px;
      }
      .middle-text {
        font-size: 24px;
        @include size(328px, 62px);
      }

      .send-success-text {
        width: 225px;
      }

      .send-success-image {
        margin-top: 16px
      }
    }
  }
}

@media (max-width: 700px) {
  .portal-forgot {
    .page-portal-login {
      padding-top: 90px;

      .portal-nav {
        nav {
          height: 64px;
        }
      }
      .left-column {
        display: none;
      }
      .right-column {
        width: 100%;
      }
      .right-column {
        .row {
          margin-bottom: 0px;
        }
      }
      .form-wraper {
        margin-left: auto;
        margin-right: auto;

        form {
          button {
            margin-top: 27px;
          }
        }
      }

      .send-success-text {
        margin-top: 10px;
      }
    }
  }
}