@import '../../variables';
@import '../../mixins';

.portal-login {
  @include size(100%);
  background: $pp-white;

  @media (max-width: 700px) {
    @include size(auto);
  }

  .make-visible {
    top: -2px;
    position: absolute;
    right: 10px;
    z-index: 1;
  }

  .page-portal-login {
    padding: 127px 0;

    .login-image {
      margin-top: 55px;
    }

    .big-text {
      @include font($pp-grey-darken, 1.29, 48px);
      font-family: 'Montserrat', sans-serif;
      margin-top: 56px;
    }

    .middle-text {
      @include font($pp-grey-darken, 1.29, 24px);
      font-family: 'Roboto', sans-serif;
      margin-top: 16px;
      @include size(496px, 62px);
    }

    .create-account-text {
      @include font($pp-grey-darken, 1.33, 21px, 500);
      @include size(142px, 28px);
      letter-spacing: 0;
      text-align: center;
    }

    .form-wraper {
      width: 373px;

      form {
        ::-webkit-input-placeholder {
          color: #aaa;
          font-size: 12px;
        }
        ::-moz-placeholder {
          color: #aaa;
          font-size: 12px;
        }
        :-moz-placeholder {
          color: #aaa;
          font-size: 12px;
        }
        :-ms-input-placeholder {
          color: #aaa;
          font-size: 12px;
        }
        .input-field {
          label:not(.label-icon).active:after {
            top: 60px;
          }
        }
        label {
          font-size: 12px;
          margin: -25px 0 0 -10px;
        }
        input[type=password] + label:after {
          top: 34px;
        }
        input[type=password]:focus.invalid + label:after {
          top: 60px;
        }
      }

      .google-error {
        @include font(null, 1.54);
        letter-spacing: 0;
      }

      .forgot-password {
        @include font(null, 1.17, 12px);
        letter-spacing: 0;
        margin-top: -12px;

        a {
          position: relative;
          z-index: 1;
        }
      }
    }

    .google-sign-up {
      margin-top: 16px;
    }

    .new-user-text {
      margin-top: 24px;
      font-size: 13px;

      a {
        color: $pp-grey-darken;
        text-decoration: underline;

        &:hover {
          color: $pp-blue;
        }
      }
    }

    .button-confirm {
      width: 186px;
    }
  }
}

@media (max-width: 1024px) {
  .portal-login {
    .page-portal-login {
      padding-top: 107px;

      .portal-nav {
        .nav-wrapper {
          .brand-logo {
            margin-left: 0px !important;
          }
        }
      }
      .form-wraper {
        width: 266px;
        margin-left: 72px;
        .row {
          margin-bottom: 0px;
        }
        .button-confirm.btn-blue {
          margin-top: 32px;
        }
      }

      .login-image {
        width: 328px;
        margin-top: 0px;
        margin-left: -10px;
      }

      .big-text, .middle-text {
        margin-left: -10px;
      }
      .big-text {
        font-size: 36px;
      }
      .middle-text {
        font-size: 24px;
        @include size(328px, 62px);
      }
      .form-wraper {
        margin: 0px auto;
      }
    }
  }
}

@media (max-width: 700px) {
  .portal-login {
    .page-portal-login {
      padding-top: 80px;

      .portal-nav {
        nav {
          height: 64px;
        }
      }
      .left-column {
        display: none;
      }
      .right-column {
        width: 100%;
      }
      .right-column {
        .row {
          margin-bottom: 0px;
        }
      }
    }
  }
}