@import '../../variables';
@import '../../mixins';

nav {
  .nav-wrapper {

    .brand-logo {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 2.5rem;
    }

    .vertical-line {
      border-left: 1px solid $pp-white-alpha;
      height: 24px;
      margin-left: 152px;
      margin-top: 20px;
      position: absolute;
    }

    ul {
      &#nav-mobile {
        margin-left: 153px;

        li {
          a {
            position: relative;
            opacity: 0.7;
          }

          a.active {
            opacity: 1;

            &.triangle:after {
              content: '';
              display: block;
              position: absolute;
              @include size(20px);
              background-color: $pp-white;
              top: 57px;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
              transform: rotate(45deg);
            }
          }
        }
      }

      li {
        a {
          @include font($pp-white, 64px, 15px, 500);
        }
        .drop-down-image {
          top: 7px;
          position: relative;
        }
      }
    }

    .profile-drop-down {
      min-width: 256px;
      border-radius: 2px;
      top: 50px !important;

      .active {
        top: 54px;
      }

      li {
        min-height: 32px;

        a {
          padding: 5px 16px;
          line-height: 22px;

          span {
            margin-left: 8px;
            @include font($pp-dark-alpha, 1.33, 15px);
          }
        }
      }
      .username {
        @include font($pp-dark, 1.17, 24px, 500);
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 24px;
        display: block;
      }

      .user-email {
        display: block;
        @include font($pp-dark, 1.54, 13px);
        margin-left: 24px;
        margin-bottom: 24px;
      }
    }
  }
  .nav-content {
    background-color: $pp-white;

    .low-level-menu {

      li, li.disabled {
        a, a.active, a:hover {
          @include font($pp-dark, 48px, 14px, 500);
          letter-spacing: 0.5px;
          text-transform: capitalize;
        }
      }
    }
  }

  .tabs.tabs-transparent {
    .indicator {
      background-color: $pp-blue;
    }
  }

  .modal {
    width: 490px;
    height: 270px;
    color: $pp-black;

    .modal-footer {
      height: 90px;
      padding: 24px;
      color: $pp-black;

      .modal-action {
        margin-left: 24px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.5px;
        text-align: center;

        &.custom-green {
          background-color: $pp-green;
          color: $pp-black;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  #dropdown-user {
    left: auto !important;
    right: 0 !important;
  }
}