@import '../../variables';
@import '../../mixins';

.portal-reset {
  @include size(100%);
  background: $pp-white;

  @media (max-width: 700px) {
    @include size(auto);
  }

  .page-portal-login {
    padding: 127px 0px 0px 0px;
    width: 88%;
    margin: 0px auto;

    .login-image {
      margin-top: 55px;
    }

    .big-text {
      @include font($pp-grey-darken, 1.29, 48px);
      font-family: 'Montserrat', sans-serif;
      margin-top: 56px;
    }

    .middle-text {
      @include font($pp-grey-darken, 1.29, 24px);
      font-family: 'Roboto', sans-serif;
      margin-top: 16px;
      @include size(496px, 62px);
    }

    .create-account-text {
      @include size(142px, 28px);
      @include font($pp-grey-darken, 1.33, 21px, 500);
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      text-align: center;
    }

    .input-field {
      font-size: 13px;
      line-height: 1.54;
      color: $pp-dark;
    }
    .update-button {
      width: 186px;
      height: 40px;
    }
    .update-button.updating {
      opacity: 0.38;
    }

    .form-wraper {
      margin: 0px 130px;
      width: 373px;

      .forgot-password-text {
        @include font($pp-grey-darken, 1.54, 13px, normal);
        @include font(null, 1.54, 13px);
        letter-spacing: 0.5px;
      }

      form {
        .input-field {
          label:not(.label-icon).active:after {
            top: 60px;
          }
        }
        label {
          font-size: 12px;
        }
        input[type=password] + label:after {
          top: 34px;
        }
        input[type=password]:focus.invalid + label:after {
          top: 60px;
        }
        .row {
          margin-bottom: 0px;
        }
        button {
          @include size(186px, 40px);
          margin-top: 15px;
        }
        .error-messages{
          color: $pp-red-light;
          margin-left: 12px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .portal-reset {
    .page-portal-login {
      padding-top: 107px;

      .form-wraper {
        width: 266px;
        margin-left: 70px;
        .row {
          margin-bottom: 0px;
        }
        .button-confirm.btn-blue {
          margin-top: 32px;
        }
      }

      .login-image {
        width: 328px;
        margin-top: 0px;
        margin-left: -10px;
      }

      .big-text, .middle-text {
        margin-left: -10px;
        font-size: 36px;
      }
      .middle-text {
        font-size: 24px;
        @include size(328px, 62px);
      }
    }
  }
}

@media (max-width: 700px) {
  .portal-reset {
    .page-portal-login {
      padding-top: 90px;

      .portal-nav {
        nav {
          height: 64px;
        }
      }
      .left-column {
        display: none;
      }
      .right-column {
        width: 100%;
      }
      .right-column {
        .row {
          margin-bottom: 0px;
        }
      }
      .form-wraper {
        margin-left: auto;
        margin-right: auto;

        form {
          button {
            margin-top: 27px;
          }
        }
      }
    }
  }
}