html,
body {
  height: 100%;
}

body {
  @extend .grey, .lighten-3;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
  letter-spacing: normal;
  overflow: hidden;

  &.body-portal-page {
    overflow: auto;
    height: auto;
  }
  @media (max-width: 700px) {
    overflow: auto;
    background-color: $pp-white !important;
  }
}

nav {
  background: $pp-blue;
}

#app {
  @include size(100%);
}

#toast-container {
  @include font($pp-white, 1.14, 14px);
  top: auto !important;
  right: auto !important;
  bottom: 0;
  left: 50%;
  text-align: left;
}

.login {
  background: $pp-blue;
}

.input-field input[type=text]:focus + label,
.input-field input[type=tel]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: $pp-blue;
}

.input-field input[type=text]:focus,
.input-field input[type=tel]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid $pp-blue;
  box-shadow: 0 1px 0 0 $pp-blue;
}

.btn-blue {
  @extend .btn;
  background-color: $pp-blue;
  text-transform: capitalize;
}

.btn-blue:hover {
  @extend .btn;
  background-color: $pp-light-blue;
  text-transform: capitalize;
}

.btn-blue:focus {
  @extend .btn;
  background-color: $pp-dark-blue;
  text-transform: capitalize;
}

.low-level-menu.tabs.tabs-transparent {
  .indicator {
    background-color: $pp-blue;
  }
}

.page-chat {
  .channels,
  .lead-info {
    .iScrollVerticalScrollbar {
      right: 0 !important;
      opacity: 0.9 !important;
      background: #eee fixed;
      position: fixed;
      border-left: 1px solid #9e9e9e;
      top: 0 !important;
      z-index: 9 !important;
      bottom: 0 !important;
      width: 8px !important;
    }

    .iScrollIndicator {
      z-index: 99999;
      background: #fff !important;
      position: fixed !important;
      opacity: 1;
    }
  }

  .scripts {
    .iScrollIndicator {
      z-index: 99999;
      background: #fff !important;
      position: fixed !important;
      opacity: 1;
    }
  }
}

.leads-table {
  .all-lead-table-filters {
    .select-wrapper {
      span {
        &.caret {
          height: 26px;
        }
      }
    }
    [type="checkbox"] {
      &.filled-in:checked {
        & + label:after {
          border: 2px solid $pp-blue;
          background-color: $pp-blue;
        }
      }
    }
    .multiple-select-dropdown {
      li {
        &.disabled:first-child {
          label {
            padding-left: 0;
          }
        }
      }
    }
    .dropdown-content {
      li {
        &.disabled:first-child {
          border-bottom: 1px solid $pp-grey-lighten;
          span {
            padding-bottom: 14px;
            padding-top: 16px;
            padding-right: 0;

            &::after {
              content: '';
              background-image: url("/assets/images/grey.png");
              vertical-align: middle;
              transform: rotate(180deg);
              background-size: 24px 24px;
              @include size(24px);
              display: inline-block;
              position: relative;
              float: right;

              @media (min-resolution: 192dpi) {
                background-image: url("/assets/images/grey@3x.png");
              }
              @media (min-resolution: 144dpi) {
                background-image: url("/assets/images/grey@2x.png");
              }
            }
          }
          label {
            &::after {
              display: none;
            }
          }
        }
        min-height: 32px;

        & > a {
          color: $pp-dark;
          @include font($pp-dark-alpha, 1.33, 15px, normal);
        }

        & > span {
          color: $pp-dark;
          @include font($pp-dark-alpha, 1.33, 15px, normal);
          padding: 6px 16px 6px 16px;
        }
      }
    }
  }
}

.lead-card {
  .edit-button {
    a {
      color: $pp-white;
    }
  }
  .editable-content {
    .select-changed {
      .select-wrapper {
        input {
          &.select-dropdown {
            border-color: $pp-blue !important;
          }
        }
      }
    }
    .lead-type {
      .input-field {
        margin-top: 0;
        .select-wrapper {
          .cart {

          }
          input {
            &.select-dropdown {
              height: auto;
              @include font(null, 1.07, 16px);
              margin-bottom: 0;
              border-bottom: 2px dotted $pp-grey-light;
            }
          }
        }
      }
      .select-wrapper {
        .caret {
          img {
            top: -9px;
            position: relative;
          }
        }
      }
      .dropdown-content {
        li {
          & > a, & > span {
            color: $pp-dark;
          }
        }
      }
    }
  }
}

.call-end-box {
  .phone-icon {
    a.btn-floating.disabled {
      background-color: $pp-grey-light !important;
    }
  }
}

.lead-details {
  .details-data {
    .card {
      .editable-content {
        .select-changed {
          .select-wrapper {
            input {
              &.select-dropdown {
                border-color: $pp-blue;
              }
            }
          }
        }
        .select-wrapper {
          .caret {
            img {
              top: -9px;
              position: relative;
            }
          }

          input {
            &.select-dropdown {
              height: auto;
              @include font(null, 1.07, 16px);
              margin-bottom: 0;
              border-bottom: 2px dotted $pp-grey-light;
            }
          }
        }
        .dropdown-content {
          li {
            &.disabled:first-child {
              border-bottom: 1px solid $pp-grey-lighten;

              span {
                padding-bottom: 14px;
                padding-top: 16px;
                padding-right: 0;

                &::after {
                  content: '';
                  background-image: url("/assets/images/grey.png");
                  vertical-align: middle;
                  transform: rotate(180deg);
                  background-size: 24px 24px;
                  @include size(24px);
                  display: inline-block;
                  position: relative;
                  float: right;

                  @media (min-resolution: 192dpi) {
                    background-image: url("/assets/images/grey@3x.png");
                  }
                  @media (min-resolution: 144dpi) {
                    background-image: url("/assets/images/grey@2x.png");
                  }
                }
              }
              label {
                &::after {
                  display: none;
                }
              }
            }
            min-height: 32px;

            & > a {
              color: $pp-dark;
              @include font($pp-dark-alpha, 1.33, 15px, normal);
            }

            & > span {
              color: $pp-dark;
              @include font($pp-dark-alpha, 1.33, 15px, normal);
              padding: 6px 16px 6px 16px;
            }
          }
        }
      }
    }
  }
}

.lead-chat {
  #end-conversation-modal {
    .main-content {
      [type="radio"]:not(:checked) + label,
      [type="radio"]:checked + label {
        @include font($pp-dark, null, 14px, 500);
        margin-bottom: 8px;
      }
      [type="radio"] + label:before,
      [type="radio"] + label:after {
        @include size(20px);
      }
      [type="radio"]:not(:checked) + label:before,
      [type="radio"]:not(:checked) + label:after {
        border: 2px solid $pp-dark;
      }
      [type="radio"]:checked + label:after,
      [type="radio"].with-gap:checked + label:after {
        background-color: $pp-blue;
      }
      [type="radio"]:checked + label:after,
      [type="radio"].with-gap:checked + label:before,
      [type="radio"].with-gap:checked + label:after {
        border: 2px solid $pp-blue;
      }
    }
  }
}

.body-portal-page {
  #toast-container {
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0 !important;
    right: 0 !important;

    .toast {
      width: 768px;
      margin-right: auto;
      margin-left: auto;
      float: none;
    }
  }
}
