@mixin size($w, $h: null) {
  width: $w;
  @if $h == null {
    height: $w;
  } @else {
    height: $h;
  }
}

@mixin font($color: null, $line: normal, $size: 13px, $weight: normal) {
  @if $color != null {
    color: $color;
  }

  font-family: inherit;
  @if $size != null {
    font-size: $size;
  }
  @if $weight != null {
    font-weight: $weight;
  }
  @if $line != null {
    line-height: $line;
  }
}