@import "../../../node_modules/materialize-css/sass/components/color";

// Colors
$pp-white: color('shades', 'white'); // #fff
$pp-black: color('shades', 'black'); // #000

$pp-green: #24b89d;
$pp-green-alpha: rgba(185, 232, 135, 0.15);

$pp-blue: #4990e2;
$pp-light-blue: #36aeff;
$pp-dark-blue: #3d72b8;
$pp-cornflower-blue: #4285f4;
$pp-cornflower-blue-alpha: rgba(66, 133, 244, 0.24);
$pp-cornflower-blue-transparent: rgba(66, 133, 244, 0.12);

$pp-grey-lighten: color('grey', 'lighten-3'); // #eee
$pp-grey-light: color('grey', 'lighten-1'); // #bdbdbd
$pp-grey: color('grey', 'darken-1'); // #757575
$pp-grey-menu: #626262;
$pp-gray-table: #f4f4f4;
$pp-gray-alto: #dddddd;
$pp-gray-call: #d9d9d9;
$pp-grey-dark: #525252;
$pp-grey-darken: #444;
$pp-red-light: #e5554d;
$pp-input-placeholder: #454545;
$pp-input-placeholder-light: #aaa;
$pp-white-alpha: rgba(255, 255, 255, 0.4);
$pp-white-alpha-01: rgba(255, 255, 255, 0.1);
$pp-dark-alpha: rgba(0, 0, 0, 0.87);

$pp-dark: color('grey', 'darken-4'); // #212121
$pp-darken: #1f1f1f;

$pp-green-portal: #72d572;

$pp-urgent: #f5532d;
$pp-urgent-alpha: rgba(245, 83, 47, 0.15);

$pp-awaiting: #f6a623;
$pp-orange: #ffb647;

$pp-message-send: #fbdba7;
$pp-email-send: #dae8f9;

$pp-call-alert: #d8d8d8;
$pp-white-nine: #9e9e9e;

$pp-border: 1px solid $pp-grey-light;
$pp-form-border: 1px solid #9e9e9e;

$spinner-offset: 187;
$spinner-duration: 1.4s;

$pp-error: #F44336;