@import '../../mixins';
@import '../../variables';

.button-section {
  margin-bottom: 32px;

  .google-success-text {
    display: flex;
    align-items: center;

    .success-message {
      @include font($pp-green-portal, null, 14px, 500);
      margin-left: 8px;
    }

    svg {
      background-color: $pp-white;
    }
  }

  .disconnect-gmail {
    display: flex;
    align-items: center;
    margin-left: 48px;
    @include font($pp-grey, null, 14px, 500);

    span {
      margin-left: 8px;
    }
  }

  .google-button {
    .button-container {
      display: flex;
      vertical-align: middle;
      align-items: center;
      height: auto;
      background-color: $pp-cornflower-blue;
      border: 2px solid $pp-cornflower-blue;
      border-radius: 2px;
      width: 185px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);

      &:hover {
        box-shadow: 0 1px 1px 0 $pp-cornflower-blue, 0 0 1px 0 $pp-cornflower-blue-transparent;
      }

      svg {
        border-radius: 1px;
        @include size(38px);
        padding: 10px;
        background-color: $pp-white;
      }

      span {
        @include font($pp-white, null, 14px, 500);
        letter-spacing: 0.2px;
        margin-left: 8px;
      }
    }
  }

  #disconnect-gmail-modal {
    max-width: 432px;

    .header {
      @include font($pp-dark, null, 34px);
      margin-bottom: 16px;
    }

    .main-content {
      margin-bottom: 26px;
      @include font($pp-dark, 1.33, 15px);

      .email {
        color: $pp-blue;
      }
    }

    .modal-footer {
      a {
        @include font($pp-blue, null, 14px, 500);

        &.btn-flat:focus, &.btn-flat:hover {
          background: transparent;
        }
      }
    }
  }
}