@import '../../mixins';

.pp-modal {
  /* Modal */
  .modal {
    display: block;
    position: fixed;
    top: 30%;
    width: auto;
    max-width: 500px;
    z-index: 1003;

    &.modal-fixed-footer {
      min-height: 27%;
      height: auto;
    }
  }

  .modal-overlay {
    @include size(100%);
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0.5;
    z-index: 1002;
  }
}

/* Animation */
.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(90%);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}