@import '../../mixins';
@import '../../variables';

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;

  .nav-wrapper {
    text-align: center;
    i {
      &.right {
        margin-left: 6px;
      }
    }

    ul {
      li {
        &.profile-text {
          margin: 16px 24px;
          line-height: 33px;

          & > span {
            @include size(32px);
            display: inline-block;
            text-align: center;

            & > span {
              width: 100%;
            }
          }
        }
      }
    }

    .brand-logo {
      left: 0;
      @include font(null, 1.2, 20px, 500);
      padding: 20px 0;
      margin-left: 24px;
    }

    .dropdown-button {
      color: rgba(255, 255, 255, 0.87);
      text-transform: uppercase;
    }

    .dropdown-content {
      border-radius: 2px;
      margin-top: 5px;
      min-width: 128px;

      li {
        &:hover {
          background: none;
        }

        &.pad-top {
          padding-top: 8px;
        }

        &.pad-bot {
          padding-bottom: 8px;
        }

        &:first-child {
          @extend .pad-top;
          @extend .pad-bot;

          i {
            font-size: 19px;
            margin: 0;
          }
        }

        min-height: 32px;

        &.divider {
          min-height: 1px;
          height: 1px;
          padding: 0;
        }

        a {
          &:hover {
            background: $pp-grey-lighten;
          }

          @include font(rgba(0, 0, 0, 0.87), 1.07, 15px);
          padding: 8px 24px;
        }
      }
    }
  }
}

.custom-green {
  background-color: $pp-green;
}

.away-block {
  @include size(100%);
  position: absolute;
  z-index: 10;
  vertical-align: middle;
  text-align: center;
  background-color: $pp-white;

  h4 {
    @include font(#212121, 1.18, 34px, 300);
    font-family: 'Roboto';
    letter-spacing: 0px;
    text-align: center;
    margin-top: 224px;
    margin-bottom: 40px;
  }
}

@media (max-width: 992px) {
  nav {
    .nav-wrapper {
      .brand-logo {
        margin-left: 0;
      }
    }
  }
}