@import '../../variables';

.spinner-holder {
  position: absolute;
  margin: 5px 0 0 -30px;
  .spinner {
    width: 24px;
    height: 24px;
    animation: rotator $spinner-duration linear infinite;
  }

  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  .path {
    stroke-dasharray: $spinner-offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $spinner-duration ease-in-out infinite,
    colors ($spinner-duration*4) ease-in-out infinite;
  }

  @keyframes colors {
    0% {
      stroke: $pp-blue;
    }
    25% {
      stroke: $pp-blue;
    }
    50% {
      stroke: $pp-blue
    }
    75% {
      stroke: $pp-blue;
    }
    100% {
      stroke: $pp-blue
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: $spinner-offset;
    }
    50% {
      stroke-dashoffset: $spinner-offset/4;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: $spinner-offset;
      transform: rotate(450deg);
    }
  }
}
.spinner-holder-email {
  margin-top: 38px;
}

.spinner-holder-call {
  margin-top: 0;
}