@import '../../mixins';

/* Tooltip */
.tooltip {
  @include font(null, 1.5, 10px, 500);
  position: absolute;
  z-index: 1070;
  display: block;

  .inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: rgba(97, 97, 97, 0.9);
    border-radius: 0.25rem;

    &::before {
      @include size(0);
      position: absolute;
      border-color: transparent;
      border-style: solid;
    }
  }

  .top {
    padding: 5px 0;
    margin-top: -3px;

    .inner::before {
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      content: "";
      border-width: 5px 5px 0;
      border-top-color: #000;
    }
  }

  .right {
    padding: 0 5px;
    margin-left: 3px;

    .inner::before {
      top: 50%;
      left: 0;
      margin-top: -5px;
      content: "";
      border-width: 5px 5px 5px 0;
      border-right-color: #000;
    }
  }

  .bottom {
    padding: 5px 0;
    margin-top: 3px;

    .inner::before {
      top: 0;
      left: 50%;
      margin-left: -5px;
      content: "";
      border-width: 0 5px 5px;
      border-bottom-color: #000;
    }
  }

  .left {
    padding: 0 5px;
    margin-left: -3px;

    .inner::before {
      top: 50%;
      right: 0;
      margin-top: -5px;
      content: "";
      border-width: 5px 0 5px 5px;
      border-left-color: #000;
    }

  }

}