<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../sass/components/common/gmail.button";
</style>

<template>
    <div class="button-section">
        <a v-if="!tokenEmailScopeProvided" :href="loginLink" class="google-button">
            <div class="button-container">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="abcRioButtonSvg">
                    <g>
                        <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0
                            6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                        <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26
                            5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                        <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92
                            16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                        <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16
                            2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                        <path fill="none" d="M0 0h48v48H0z"></path>
                    </g>
                </svg>
                <span>{{ buttonText }}</span>
            </div>
        </a>
        <div v-else class="google-success-text">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24"
                 height="24" viewBox="0 0 24 24">
                <defs>
                    <path id="a"
                          d="M5.31 7.29L4.05 8.55 8.1 12.6l9-9-1.26-1.26-7.74 7.74-2.79-2.79zM16.2 9c0 3.96-3.24
                                 7.2-7.2 7.2S1.8 12.96 1.8 9 5.04 1.8 9 1.8c.72 0 1.35.09 1.98.27L12.42.63C11.34.27 10.17
                                 0 9 0 4.05 0 0 4.05 0 9s4.05 9 9 9 9-4.05 9-9h-1.8z">
                    </path>
                </defs>
                <g fill="none" fill-rule="evenodd" transform="translate(3 3)">
                    <mask id="b" fill="#72d572">
                        <use xlink:href="#a"/>
                    </mask>
                    <use fill="#72d572" xlink:href="#a"/>
                    <g fill="#72d572" mask="url(#b)">
                        <path d="M-36-36h24v24h-24z"/>
                    </g>
                </g>
            </svg>
            <span class="success-message">{{ successMessage }}</span>
            <a v-if="showDisconnectButton" href="#disconnect-gmail-modal" class="disconnect-gmail">
                <i class="material-icons">&#xE5C9;</i>
                <span>Disconnect your Gmail account</span>
            </a>
        </div>
        <div id="disconnect-gmail-modal" class="modal">
            <div class="modal-content">
                <div class="header">
                    Disconnect Gmail
                </div>
                <div class="main-content">
                    Are you sure you want to disconnect your Gmail?
                    This will stop leads from being synced from your Gmail:
                    <span class="email">{{ agentEmail }}</span>.
                </div>
                <div class="modal-footer">
                    <a href="#"
                       class="modal-button modal-action waves-effect waves-green btn-flat"
                       @click.prevent="disconnectGmailViking">
                        DISCONNECT
                    </a>
                    <a href="#"
                       class="cancel modal-button modal-action modal-close waves-effect waves-green btn-flat"
                       @click.prevent>
                        CANCEL
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import laroute from '../../router/laroute';

    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            loginLink: {
                type: String,
                default: laroute.route('viking_google_auth'),
            },
            tokenEmailScopeProvided: {
                type: Boolean,
                default: false,
            },
            buttonText: {
                type: String,
                default: 'Connect with Gmail',
            },
            successMessage: {
                type: String,
                default: 'Your Gmail was successfully connected',
            },
            showDisconnectButton: {
                type: Boolean,
                default: false,
            },
            agentEmail: {
                type: String,
                default: '',
            },
        },
        methods: {
            /**
             * Method to call disconnect gmail
             *
             * @returns {void}
             */
            disconnectGmailViking() {
                this.$socket.emit('disconnectGmailViking', this.$root.id, this.$root.token);
                $('#disconnect-gmail-modal').modal('close');
            },
        },
        /**
         * Mounted hook.
         * Modal initialization.
         *
         * @link https://vuejs.org/v2/api/#mounted
         *
         * @returns {void}
         */
        mounted() {
            $(document).ready(() => {
                $('.modal').modal();
            });
        },
    };
</script>