<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../sass/components/common/modal";
</style>

<template>
    <div class="pp-modal">
        <transition name="slide-fade">
            <div class="modal modal-fixed-footer" :style="styles" v-show="opened">
                <div class="modal-content">
                    <h4>{{ title }}</h4>
                    <slot></slot>
                </div>
                <div class="modal-footer">
                    <slot name="footer"></slot>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div class="modal-overlay" v-show="opened" @click.stop.prevent="close"></div>
        </transition>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     opened: boolean
         * }} - Component Data
         */
        data() {
            return {
                opened: false,
            };
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            /**
             * Title.
             * @type String
             */
            title: {
                type: String,
                required: true,
            },
            /**
             * Styles.
             * @type Object
             */
            styles: {
                type: Object,
                /**
                 * Default callback.
                 * @returns {Object} - Empty obj
                 */
                default() {
                    return {};
                },
                required: false,
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Open modal.
             * @returns {void}
             */
            open() {
                this.opened = true;
            },
            /**
             * Close modal.
             * @returns {void}
             */
            close() {
                this.opened = false;
                this.closed();
            },
            /**
             * Closed hook.
             * @returns {void}
             */
            closed() {
                this.$emit('closed');
            },
        },
    };
</script>