<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../sass/components/common/navbar";
</style>

<template>
    <div>
        <div id="modalPause" class="modal">
            <div class="modal-content">
                <h4>Pause New Leads?</h4>
                <p>
                    Changing your status to Pause will keep your current leads but hold all new leads from being sent to you. Are you sure you want
                    to change your status to Pause?
                </p>
            </div>
            <div class="modal-footer">
                <a href="#"
                   class="modal-action modal-close waves-effect waves-green btn-flat custom-green"
                   @click.prevent="goingPause">Yes, pause</a>
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" @click.prevent>Cancel</a>
            </div>
        </div>
        <div id="modalAway" class="modal">
            <div class="modal-content">
                <h4>Going away?</h4>
                <p>
                    Changing your status to away will send all your leads back into the system, are you sure you want
                    to change your status to away?
                </p>
            </div>
            <div class="modal-footer">
                <a href="#"
                   class="modal-action modal-close waves-effect waves-green btn-flat custom-green"
                   @click.prevent="goingAway">Yes, away</a>
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" @click.prevent>Cancel</a>
            </div>
        </div>
        <div id="modalAwayNow" class="modal">
            <div class="modal-content">
                <h4>You are now away</h4>
                <p>Hey {{ concierge.name }}, we have changed your status from active to away.</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" @click.prevent>Okay</a>
            </div>
        </div>
        <div id="modalAwayAfk" class="modal">
            <div class="modal-content">
                <h4>Hello there?</h4>
                <p>
                    Hey {{ concierge.name }}, it seems you have been inactive for a while, please confirm that you are
                    still currently active.
                </p>
            </div>
            <div class="modal-footer">
                <a href="#"
                   class="modal-action modal-close waves-effect waves-green btn-flat custom-green"
                   @click.prevent="goingAwayAfk">I'M AWAY</a>
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" @click.prevent>
                    I'M ACTIVE
                </a>
            </div>
        </div>
        <ul id="drop" class="dropdown-content">
            <li><a href="#" @click.prevent>{{ status }} <i class="right material-icons">&#xE5C7;</i></a></li>
            <li class="divider"></li>
            <li class="pad-top" v-if="checkAvailableStatus('Active')">
                <a href="#" @click.prevent="close" data-status="active">Active</a>
            </li>
            <li v-if="checkAvailableStatus('Away')">
                <a href="#" @click.prevent="close" data-status="away">Away</a>
            </li>
            <li v-if="checkAvailableStatus('Pause')">
                <a href="#" @click.prevent="close" data-status="pause">Pause</a>
            </li>
            <li class="pad-bot"><a href="#" @click.prevent="logout">Sign Out</a></li>
        </ul>
        <nav :style="navStyle">
            <div class="nav-wrapper">
                <router-link :to="linkTo" class="brand-logo" :style="logoStyles" v-html="title"></router-link>
                <router-link :to="linkTo" v-if="isAdmin && parentPageName == messagingPageName">
                    <i class="left material-icons">&#xE5C4;</i>
                </router-link>
                <navbar-search v-if="isAdmin && parentPageName == leadsPageName"
                               :subPage="parentSubPageName"></navbar-search>
                <ul class="nav-menu right hide-on-med-and-down" v-if="navs.length">
                    <li v-for="nav in navs" :class="{ 'profile-text': nav.type === 'profile-text' }">
                        <router-link :to="nav.route" v-if="nav.type === 'route-link'">{{ nav.name }}</router-link>
                        <a :href="nav.route" v-if="nav.type === 'link'">{{ nav.name }}</a>
                        <a :href="nav.route" v-if="nav.type === 'icon-link'">
                            <i class="material-icons">{{ nav.icon }}</i>
                        </a>
                        <a href="#"
                           class="dropdown-button drop-btn"
                           @click.prevent="open"
                           :data-activates="onCall? false:'drop'"
                           v-if="nav.type === 'status-link'">
                            {{ status }} <i class="right material-icons">&#xE5C5;</i>
                        </a>
                        <span class="circle grey lighten-1 grey-text text-darken-1" v-if="nav.type === 'profile-text'">
                            <span>{{ concierge.getShortName() }}</span>
                        </span>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </nav>
        <div class="away-block" v-show="showStatus === 'away'">
            <h4>You are away</h4>
            <img class="logo"
                 src="/assets/images/agt-logo-test.png"
                 srcset="/assets/images/agt-logo-test@2x.png 2x, /assets/images/agt-logo-test@3x.png 3x">
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import socket from '../../mixins/socket';
    import laroute from '../../router/laroute';
    import Concierge from '../../objects/concierge';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     status: string,
         *     concierge: Concierge,
         *     showStatus: string,
         *     awayAfkTimeout: number,
         *     awayAfkTimeoutShow: number,
         *     lastAfkActivity: number,
         *     lastAfkActivityAtServer: number,
         *     intervalSecondTime: number,
         *     intervalMinuteTime: number,
         *     intervalSecond: function,
         *     intervalMinute: function,
         *     messagingPageName: string,
         *     leadsPageName: string,
         * }} Component Data
         */
        data() {
            const now = new Date().getTime();

            return {
                status: 'Active',
                concierge: new Concierge(),
                showStatus: 'active',
                // 1000 * 60 * 10
                awayAfkTimeout: 600000,
                // 1000 * 15
                awayAfkTimeoutShow: 15000,
                lastAfkActivity: now,
                lastAfkActivityAtServer: now,
                // 1000
                intervalSecondTime: 1000,
                // 1000 * 60
                intervalMinuteTime: 60000,
                intervalSecond: null,
                intervalMinute: null,
                messagingPageName: 'Messaging',
                leadsPageName: 'leads',
            };
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            /**
             * Nav-bar title.
             * @type String
             */
            title: String,
            /**
             * Admin status.
             * @type Boolean
             */
            isAdmin: Boolean,
            /**
             * Navigation list.
             * @type Array
             */
            navs: Array,
            /**
             * Styles for logo.
             * @type Object
             */
            logoStyles: Object,
            /**
             * Styles for nav-bar.
             * @type Object
             */
            navStyle: Object,
            /**
             * Step-back link.
             * @type Object
             */
            linkTo: {
                String,
                /**
                 * Default callback.
                 * @returns {string} Default Route
                 */
                default() {
                    return laroute.route('messaging');
                },
            },
            /**
             * Flag - disable or not Menu during call
             * @type Boolean
             */
            onCall: Boolean,
            /**
             * Parent page name
             * @type String
             */
            parentPageName: String,
            /**
             * Parent sub-page name
             * @type String
             */
            parentSubPageName: String,
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            $(document).ready(() => {
                $('.modal').modal();
            });

            this.$root.$on('conciergeIsPaused', val => {
                if (val) {
                    this.goingPause();
                } else {
                    this.status = 'Active';
                    this.switchLeadDistribution(false);
                }
            });

            this.mountDrop();

            if (this.$root.role === this.$role.ADMIN || !this.$root.isConcierge) {
                return;
            }

            this.intervalSecond = setInterval(() => {
                if (this.showStatus === 'away') {
                    return;
                }

                const diff = new Date().getTime() - this.lastAfkActivity;
                const $modalAwayAfk = $('#modalAwayAfk');

                if (diff > this.awayAfkTimeout && !$modalAwayAfk.hasClass('open')) {
                    $modalAwayAfk.modal('open');
                } else if (diff > this.awayAfkTimeout + this.awayAfkTimeoutShow && !this.onCall) {
                    $modalAwayAfk.modal('close');
                    this.goingAwayAfk();
                }
            }, this.intervalSecondTime);

            this.intervalMinute = setInterval(() => {
                if (this.onCall) {
                    this.updateAfkTimeout();
                }
                // TODO: need to synchronize lastAfkActivityAtServer with  server
                if (this.lastAfkActivityAtServer < this.lastAfkActivity) {
                    this.$socket.emit('conciergeSetLastAfk', this.$root.id, this.$root.token, this.lastAfkActivity);
                    this.lastAfkActivityAtServer = this.lastAfkActivity;
                }
            }, this.intervalMinuteTime);
        },
        /**
         * Before destroy hook (unmounted).
         * @link https://vuejs.org/v2/api/#beforeDestroy
         * @returns {void}
         */
        beforeDestroy() {
            clearTimeout(this.intervalSecond);
            clearTimeout(this.intervalMinute);
        },
        /**
         * Enable listeners.
         * @returns {void}
         */
        created() {
            window.addEventListener('mousemove', this.updateAfkTimeout);
            window.addEventListener('keydown', this.updateAfkTimeout);
            window.addEventListener('keyup', this.updateAfkTimeout);
        },
        /**
         * Disable listeners.
         * @returns {void}
         */
        destroyed() {
            window.removeEventListener('mousemove', this.updateAfkTimeout);
            window.removeEventListener('keydown', this.updateAfkTimeout);
            window.removeEventListener('keyup', this.updateAfkTimeout);
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Mount default dropdown.
             * @returns {void}
             */
            mountDrop() {
                $(document).ready(() => {
                    $('.drop-btn').dropdown();
                });
            },
            /**
             * Mouse/keyboard/touch event update afk timeout.
             * @returns {void}
             */
            updateAfkTimeout() {
                this.lastAfkActivity = new Date().getTime();
            },
            /**
             * Open drop-down callback.
             * @returns {void}
             */
            open() {
                // Open callback
            },
            /**
             * Close drop-down callback.
             * @param {MouseEvent} event - Onclick event
             * @returns {void}
             */
            close(event) {
                $('.drop-btn').dropdown('close');
                this.activate(event);
            },
            /**
             * Activate status.
             * @param {MouseEvent} event - Onclick event
             * @returns {void}
             */
            activate(event) {
                if ($(event.target).attr('data-status') === 'pause') {
                    if (this.status === 'Pause') {
                        return;
                    }

                    $('#modalPause').modal('open');
                } else {
                    if (this.status === 'Pause') {
                        this.switchLeadDistribution(false);
                    }
                    if ($(event.target).attr('data-status') === 'away') {
                        if (this.status === 'Away') {
                            return;
                        }

                        $('#modalAway').modal('open');
                    } else {
                        if (this.status === 'Active') {
                            return;
                        }

                        this.status = 'Active';
                        this.switchToActive();
                        this.$socket.emit('conciergeSetAway', this.$root.id, this.$root.token, false);
                    }
                }
            },
            /**
             * Switch lead distribution.
             *
             * @param {boolean} isPaused - is paused lead distribution.
             *
             * @returns {void}
             */
            switchLeadDistribution(isPaused) {
                this.displayPausedNotice(isPaused);
                this.concierge.isPaused = isPaused;

                this.$socket.emit(
                    'conciergeSwitchDistribution',
                    this.$root.id,
                    this.$root.token,
                    this.concierge.id,
                    isPaused
                );
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {Array} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                switch (message) {
                    case 'conciergeSetAway':
                        this.listenConciergeSetAway(data);
                        break;
                    case 'conciergeSetLastAfk':
                        this.listenConciergeSetLastAfk(data);
                        break;
                    case 'conciergeAll':
                        this.listenConciergeAll(data);
                        break;
                    case 'subscribeMessaging':
                        this.listenConciergeAll(data.concierges);
                        break;
                    default:
                        break;
                }
            },
            /**
             * Listen concierges all.
             * @param {Array} data - Concierges
             * @returns {void}
             */
            listenConciergeAll(data) {
                for (const index in data) {
                    const concierge = data[index];

                    if (concierge === null) {
                        continue;
                    }

                    if (concierge.id !== this.$root.id) {
                        continue;
                    }

                    this.concierge = new Concierge(
                        concierge.id,
                        concierge.name,
                        concierge.email,
                        `${concierge.role }`,
                        '', '', '', '',
                        [],
                        false,
                        concierge.isPaused
                    );

                    if (concierge.isPaused) {
                        this.goingPause();
                    } else {
                        this.status = 'Active';
                        this.switchLeadDistribution(false);
                    }
                }
            },
            /**
             * Listen set away status.
             * @param {boolean} data - Is away?
             * @returns {void}
             */
            listenConciergeSetAway(data) {
                if (data) {
                    this.status = 'Away';
                    this.switchToAway();
                } else {
                    this.status = 'Active';
                    this.switchToActive();
                }

                $('#modalAwayAfk').modal('close');
            },
            /**
             * Listen to update last afk marker.
             * @param {Array} data - Timestamp value
             * @returns {void}
             */
            listenConciergeSetLastAfk(data) {
                if (this.lastAfkActivity < data) {
                    this.lastAfkActivity = data;
                    this.lastAfkActivityAtServer = data;
                }
            },
            /**
             * Set 'away' status for Concierge.
             * @returns {void}
             */
            goingPause() {
                this.status = 'Pause';
                this.switchToPause();
                this.switchLeadDistribution(true);
            },
            /**
             * Display paused lead distribution notice.
             *
             * @param {Boolean} needDisplay - Display or not lead distribution notice.
             *
             * @returns {void}
             */
            displayPausedNotice(needDisplay) {
                if (needDisplay) {
                    $('#paused-status').css('display', 'list-item');
                } else {
                    $('#paused-status').css('display', 'none');
                }
            },
            /**
             * Set 'away' status for Concierge.
             * @returns {void}
             */
            goingAway() {
                const $modalAwayNow = $('#modalAwayNow');
                const vm = this;

                $modalAwayNow.modal({
                    complete() {
                        vm.switchToAway();
                    },
                });
                $modalAwayNow.modal('open');

                this.status = 'Away';
                this.$socket.emit('conciergeSetAway', this.$root.id, this.$root.token, true);
                this.$parent.leads.cleanCollection();
            },
            /**
             * Set 'away' status for Concierge at 'afk' window.
             * @returns {void}
             */
            goingAwayAfk() {
                this.status = 'Away';
                this.switchToAway();
                this.$socket.emit('conciergeSetAway', this.$root.id, this.$root.token, true);
            },
            /**
             * Set visible background of away.
             * @returns {void}
             */
            switchToAway() {
                this.showStatus = 'away';
            },
            /**
             * Set `pause` show status.
             * @returns {void}
             */
            switchToPause() {
                this.showStatus = 'pause';
            },
            /**
             * Set `active` show status.
             * @returns {void}
             */
            switchToActive() {
                this.showStatus = 'active';
            },
            /**
             * Makes sign out.
             * @returns {void}
             */
            logout() {
                window.location.href = laroute.route('logout');
            },
            /**
             * Check possibility for concierge to see such menu li
             *
             * @param {String} status - current concierge status
             *
             * @returns {boolean} - flag
             */
            checkAvailableStatus(status) {
                return this.$root.role <= 2 && this.status !== status;
            },
        },
    };
</script>
