<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../sass/components/common/source.row";
</style>

<template>
    <div class="sources">
        <div class="source-image">
            <img class="login-image" src="/assets/images/btown-ylw.png"
                 srcset="/assets/images/btown-ylw@2x.png 2x,
                     /assets/images/btown-ylw@3x.png 3x">
        </div>
        <div class="source-image">
            <img class="login-image" src="/assets/images/homes-ylw.png"
                 srcset="/assets/images/homes-ylw@2x.png 2x,
                     /assets/images/homes-ylw@3x.png 3x">
        </div>
        <div class="source-image">
            <img class="login-image" src="/assets/images/trulia-ylw.png"
                 srcset="/assets/images/trulia-ylw@2x.png 2x,
                     /assets/images/trulia-ylw@3x.png 3x">
        </div>
        <div class="source-image">
            <img class="login-image" src="/assets/images/followup-boss-ylw.png"
                 srcset="/assets/images/followup-boss-ylw@2x.png 2x,
                     /assets/images/followup-boss-ylw@3x.png 3x">
        </div>
        <div class="source-image">
            <img class="login-image" src="/assets/images/zillow-ylw.png"
                 srcset="/assets/images/zillow-ylw@2x.png 2x,
                     /assets/images/zillow-ylw@3x.png 3x">
        </div>
        <div class="source-image">
            <img class="login-image" src="/assets/images/realtor-ylw.png"
                 srcset="/assets/images/realtor-ylw@2x.png 2x,
                     /assets/images/realtor-ylw@3x.png 3x">
        </div>
    </div>
</template>