<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../sass/components/common/spinner";
</style>
<template>
    <div class="spinner-holder" :class="{'spinner-holder-email': isEmail}">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
             xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                    r="30"></circle>
        </svg>
    </div>
</template>
<script type="text/ecmascript-6">

    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            isEmail: {
                type: Boolean,
                default: false,
            },
        },
    };
</script>