<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../sass/components/common/tooltip";
</style>

<template>
    <div :class="['tooltip', position]" v-show="opened">
        <div class="inner">
            {{ message }}
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     opened: boolean
         * }} - Component Data
         */
        data() {
            return {
                opened: false,
            };
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            /**
             * Position.
             * @type {{
             *     type: String,
             *     default: String,
             *     required: boolean
             * }}
             */
            position: {
                type: String,
                default: 'bottom',
                required: false,
            },
            /**
             * Message.
             * @type {{
             *     type: String,
             *     required: boolean
             * }}
             */
            message: {
                type: String,
                required: true,
            },
            /**
             * Delay.
             * @type {{
             *     type: Number,
             *     default: Number,
             *     required: boolean
             * }}
             */
            delay: {
                type: Number,
                default: 3,
                required: false,
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Show tooltip.
             * @param {boolean} auto - Auto hide
             * @returns {void}
             */
            show(auto = true) {
                this.opened = true;

                if (auto) {
                    setTimeout(() => {
                        this.hide();
                    }, this.delay * 1000);
                }
            },
            /**
             * Hide tooltip.
             * @returns {void}
             */
            hide() {
                this.opened = false;
            },
        },
    };
</script>