@import '../../../../variables';
@import '../../../../mixins';

.messages {
  position: absolute;
  width: 100%;
  top: 49px;
  bottom: 56px;
  overflow: hidden;
  background: $pp-grey-lighten;

  pre {
    white-space: pre-wrap;
  }

  ul {
    margin: 0;
    padding: 24px 24px 5rem;

    li {
      .message {
        font-size: 13px;

        .failed {
          color: $pp-error;
          position: absolute;
          margin: 38px 0 0 -25px;
        }
        p {
          margin: 0;
          padding: 8px;
        }

        .client {
          background: $pp-message-send;
        }

        .meta {
          @include font($pp-grey, normal, 12px);
          padding-top: 8px;
          padding-bottom: 16px;
        }

        span {
          @include size(40px !important);
          font-size: 15px;
          font-weight: normal;
          line-height: normal;
          letter-spacing: 0.3px;
          padding: 12px 0 0;
        }

        .host {
          p:first-child {
            background: $pp-white;
          }
        }
      }

      .email {
        @extend .message;
        max-width: 960px;

        .client {
          background: $pp-email-send;
        }

        .host {
          background: $pp-white;
        }
      }
    }
  }

  .btn-floating {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}