@import '../../../variables';
@import '../../../mixins';

.page-settings {
  background: $pp-grey-lighten;

  .custom-card {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 32px 64px;
    margin-bottom: 40px;
    margin-top: 40px;

    .row {
      margin-bottom: 0;
    }
  }

  h6 {
    @include font($pp-grey-darken, null, 20px, null);
  }

  .checkbox-container {
    margin-bottom: 20px;

    input {
      + label {
        @include  font($pp-dark-alpha, null, 14px, 500);
      }

      &:checked + label:after {
        border: 2px solid $pp-blue;
        background-color: $pp-blue;
      }
    }
  }

  .btn-container {
    text-align: right;
    margin-top: 20px;

    .btn {
      @include font($pp-white, null, 14px, 500);
      letter-spacing: 0.5px;
      text-align: center;
      background-color: $pp-blue;

      &.btn-active {
        color: $pp-grey;
        background: transparent;
        box-shadow: none;
      }

      &[disabled="disabled"] {
        background-color: $pp-grey-light !important;
        color: $pp-grey !important;
      }
    }
  }

  label.input-field {
    @include font($pp-grey, null, 15px, null);
    letter-spacing: 0;
  }
}