@import '../../../variables';
@import '../../../mixins';

.btn {
  @include font($pp-blue, null, 14px, 500);
  letter-spacing: 0.5px;
  text-align: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
}