@import '../../../variables';
@import '../../../mixins';

.page-settings{
  background: $pp-grey-lighten;

  .custom-card {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 32px 64px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  h6 {
    @include font($pp-grey-darken, null, 20px, null);
  }

  p {
    margin-bottom: 15px;
    @include  font($pp-dark, 1.2, 15px);
    display: block;
  }

  .explain-text {
    position: absolute;
    bottom: 0;
    left: 0.75rem;
    @include  font($pp-white-nine, 1.2, 12px);
  }

  .checkbox-container {
    margin-bottom: 20px;

    input {
      + label {
        @include  font($pp-dark-alpha, null, 14px, 500);
      }

      &:checked + label:after {
        border: 2px solid $pp-blue;
        background-color: $pp-blue;
      }
    }
  }

  .textarea-container {
    padding: 0 10px;
    border: solid 1px $pp-white-nine;
    margin-bottom: 30px;

    textarea {
      margin-bottom: 0;
      min-height: 120px;
      color: $pp-grey;
      box-shadow: none;
      border: none;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $pp-grey;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $pp-grey;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $pp-grey;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $pp-grey;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  .btn-container {
    text-align: right;
    margin-top: 20px;

    .btn {
      @include font($pp-white, null, 14px, 500);
      letter-spacing: 0.5px;
      text-align: center;
      background-color: $pp-blue;

      &.btn-active {
        color: $pp-grey;
        background: transparent;
        box-shadow: none;
      }

      &[disabled="disabled"] {
        background-color: $pp-grey-light !important;
        color: $pp-grey !important;
      }
    }
  }

  label.input-field {
    @include font($pp-grey, null, 15px, null);
    letter-spacing: 0;
  }
}