@import '../../../variables';
@import '../../../mixins';

.page-settings{
  background: $pp-grey-lighten;

  .custom-card {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 32px 64px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  h6 {
    @include font($pp-grey-darken, null, 20px, null);
  }

  .example-container {
    margin-bottom: 20px;

    h6 {
      @include font($pp-dark, null, 15px, null);
    }

    p {
      @include  font($pp-dark, 30px, 15px);
      font-style: italic;
    }
  }

  .assistant-contact-info {
    margin-top: 30px;
    .subheader {
      @include  font($pp-grey, 1.54, 13px);
    }

    .title {
      @include  font($pp-grey, 18px, 12px);
      display: block;
    }

    .contact {
      @include  font($pp-dark, 26px, 14px);
      display: block;
    }
  }

  .btn-container {
    text-align: right;
    margin-top: 20px;

    .btn {
      @include font($pp-white, null, 14px, 500);
      letter-spacing: 0.5px;
      text-align: center;
      background-color: $pp-blue;

      &.btn-active {
        color: $pp-grey;
        background: transparent;
        box-shadow: none;
      }

      &[disabled="disabled"] {
        background-color: $pp-grey-light !important;
        color: $pp-grey !important;
      }
    }
  }

  label.input-field {
    @include font($pp-grey, null, 15px, null);
    letter-spacing: 0;
  }
}