<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../../sass/components/portal/lead/chat/alien.chat.message";
</style>

<template>
    <div class="alien-message-body">
        <div class="user-name">
            {{ shortName }}
        </div>
        <div class="message-content">
            <div class="message-text">
                {{ text }}
            </div>
            <div class="message-date">
                {{ date }}
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            shortName: String,
            text: String,
            date: String,
        },
    };
</script>