<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../../sass/components/portal/lead/chat/chat.call.end";
</style>

<template>
    <div class="call-wrapper">
        <div class="call-end-box">
            <div class="phone-icon">
                <a class="btn-floating btn-large disabled"><i class="material-icons">&#xE0B1;</i></a>
            </div>
            <div class="call-info">
                <div class="call-username">
                    Call with {{ leadFullName }}
                </div>
                <div class="call-time">
                    {{ callDuration }}
                </div>
                <div v-if="showCallNotes" class="call-notes">
                    <a href="#show-call-notes" @click="setNotes">See Notes</a>
                </div>
            </div>
            <div class="created-time">
                {{ call.createdAt }}
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import moment from 'moment';
    import leadFullName from '../../../../mixins/lead-full-name';
    import Lead from '../../../../objects/lead';
    import Call from '../../../../objects/call';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [leadFullName],
        /**
         * Props
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            lead: Lead,
            call: Call,
        },
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      callDuration: string,
         *      intervalActivity: integer,
         *      activityTimeout: number
         * }} - Component Data
         */
        data() {
            return {
                callDuration: '',
                intervalActivity: null,
                activityTimeout: 1000,
            };
        },
        /**
         * Computed properties.
         * @link https://vuejs.org/v2/guide/computed.html
         */
        computed: {
            /**
             * Set flag show or not call notes
             *
             * @returns {boolean} - flag
             */
            showCallNotes() {
                return !!this.call.notes.computedList.length;
            },
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         *
         * @returns {void}
         */
        mounted() {
            this.updateTimeCall();
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Set notes to modal for see notes button.
             *
             * @returns {void}
             */
            setNotes() {
                if (this.call.notes.computedList.length) {
                    this.$parent.$parent.callNotes = this.call.notes.computedList;
                }
            },
            /**
             * Set or update call time for call.
             *
             * @returns {void}
             */
            updateTimeCall() {
                if (this.call.originalFinishedAt) {
                    this.updateTimer();
                } else {
                    this.intervalActivity = setInterval(() => {
                        this.updateTimer();
                    }, this.activityTimeout);
                }
            },
            /**
             * Update current call time.
             *
             * @returns {void}
             */
            updateTimer() {
                let finishedDate = this.call.originalFinishedAt;

                if (finishedDate) {
                    this.stopTimer();
                } else {
                    finishedDate = moment().format('YYYY-MM-DD HH:mm:ss');
                }

                const diffDate = moment(finishedDate).diff(moment(this.call.originalCreatedAt));

                this.callDuration = `${moment(diffDate).format('mm') }min ${ moment(diffDate).format('ss') }secs`;
            },
            /**
             * Stop timer after call end.
             *
             * @returns {void}
             */
            stopTimer() {
                clearInterval(this.intervalActivity);
            },
            /**
             * Set time of finishing call.
             *
             * @param {string} time - End call time
             *
             * @returns {void}
             */
            setFinishedAtTime(time) {
                this.call.originalFinishedAt = time;
                this.updateTimer();
            },
        },
        /**
         * Before destroy hook (unmounted).
         * @link https://vuejs.org/v2/api/#beforeDestroy
         * @returns {void}
         */
        beforeDestroy() {
            this.stopTimer();
        },
    };
</script>
