<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../../sass/components/portal/lead/chat/chat.email";
</style>

<template>
    <div class="email-wrapper">
        <div :class="{'email-content': true, alien: alien === 1}">
            <div v-html="text" class="email-body"></div>
            <div class="email-info">
                <span class="email">
                    {{ alien === 1 ? 'From' : 'To' }}
                    {{ alien === 1 ? emailFromEmail : emailTargetEmail }}
                </span>
                <span class="date">{{ date }}</span>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            text: String,
            date: String,
            emailTargetEmail: String,
            emailFromEmail: String,
            alien: Number,
        },
    };
</script>
