<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../../sass/components/portal/lead/chat/lead.chat";
</style>

<template>
    <div :class="{'lead-chat': true, 'empty-chat': !chat.computedList.length}">
        <div class="chat-info">
            <div class="conversation-lead-name">
                {{ leadFullName }}
            </div>
            <div class="stop-button" v-if="false">
                <a href="#end-conversation-modal">END CONVERSATION</a>
            </div>
        </div>
        <div id="chat-content" class="chat-content">
            <div class="scroller">
                    <div v-if="!chat.computedList.length" class="empty-chat-history">
                        No messages have been sent
                    </div>
                    <div v-for="object in chat.computedList" :key="object.uid">
                        <portalAlienChatMessage v-if="(object instanceof messageInstance) && object.incoming === 1"
                                                :shortName="lead.getShortName()"
                                                :text="object.text"
                                                :date="object.createdAt">
                        </portalAlienChatMessage>
                        <portalOwnChatMessage v-if="object instanceof messageInstance && object.incoming === 0"
                                              :text="object.text"
                                              :date="object.createdAt">
                        </portalOwnChatMessage>
                        <portalChatCallEnd v-if="object instanceof callInstance"
                                           :call="object"
                                           :lead="lead"
                                           :ref="'callEnd' + object.id">
                        </portalChatCallEnd>
                        <portalChatEmail v-if="object instanceof emailInstance"
                                         :text="object.text"
                                         :date="object.createdAt"
                                         :alien="object.incoming"
                                         :emailTargetEmail="object.to"
                                         :emailFromEmail="object.from">
                        </portalChatEmail>
                    </div>
            </div>
        </div>
        <div v-if="false" class="chat-footer">
            <div class="text">
                Rate This conversation
            </div>
            <div class="rate-icons">
                <a href="#up-vote-conversation-modal" class="happy-face">
                    <img class="login-image"
                         src="/assets/images/happy-face.png"
                         srcset="/assets/images/happy-face@2x.png 2x, /assets/images/happy-face@3x.png 3x"></a>
                <a href="#down-vote-conversation-modal" class="sad-face">
                    <img class="login-image"
                         src="/assets/images/sad-face.png"
                         srcset="/assets/images/sad-face@2x.png 2x, /assets/images/sad-face@3x.png 3x"></a>
            </div>
        </div>
        <div id="up-vote-conversation-modal" class="modal">
            <div class="modal-content">
                <div class="header">
                    <img class="login-image"
                         src="/assets/images/happy-face@2x.png"
                         srcset="/assets/images/happy-face@2x.png 2x, /assets/images/happy-face@3x.png 3x">
                    Rate Conversation
                </div>
                <div class="main-content">
                    <p>Please tell us why this was a positive experience.</p>
                    <p>
                        <div class="input-field">
                            <textarea placeholder="What did we do well?" rows="6"></textarea>
                        </div>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#"
                   @click.prevent="rateConversation"
                   class="refer modal-button modal-close modal-action waves-effect waves-green btn-flat">Rate</a>
                <a href="#"
                   class="cancel modal-button modal-action modal-close waves-effect waves-green btn-flat"
                   @click.prevent>Cancel</a>
            </div>
        </div>
        <div id="down-vote-conversation-modal" class="modal">
            <div class="modal-content">
                <div class="header">
                    <img class="login-image"
                         src="/assets/images/sad-face@2x.png"
                         srcset="/assets/images/sad-face@2x.png 2x, /assets/images/sad-face@3x.png 3x">
                    Rate Conversation
                </div>
                <div class="main-content">
                    <p>Please tell us what went wrong.</p>
                    <p>
                        <div class="input-field">
                            <textarea :placeholder="'We take negative feedback seriously.'+
                                      'Please give us as much detail as possible. How can we improve?'"
                                      rows="6">
                            </textarea>
                        </div>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#"
                   @click.prevent="rateConversation"
                   class="refer modal-button modal-action modal-close waves-effect waves-green btn-flat">Rate</a>
                <a href="#"
                   class="cancel modal-button modal-action modal-close waves-effect waves-green btn-flat"
                   @click.prevent>Cancel</a>
            </div>
        </div>
        <div id="end-conversation-modal" class="modal">
            <div class="modal-content">
                <div class="header">
                    <div class="end-conversation-image">
                        <i class="material-icons">&#xE5C9;</i>
                    </div>
                    End Conversation
                </div>
                <div class="main-content">
                    <p>Please tell us why you want Agentology to end communication with {{ lead.firstName }}:</p>
                    <p class="radio-input">
                        <div>
                            <input name="rate" type="radio" id="rate-qualified">
                            <label for="rate-qualified">Lead is Qualified</label>
                        </div>
                        <div>
                            <input name="rate" type="radio" id="rate-unqualified">
                            <label for="rate-unqualified">Lead is Unqualified</label>
                        </div>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#"
                   @click.prevent="endConversationToast"
                   class="refer modal-close modal-button modal-action waves-effect waves-green btn-flat">Rate</a>
                <a href="#"
                   class="cancel modal-button modal-action modal-close waves-effect waves-green btn-flat"
                   @click.prevent>Cancel</a>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import IScroll from 'iscroll';
    import iscroll from '../../../../mixins/iscroll';
    import leadFullName from '../../../../mixins/lead-full-name';
    import Lead from '../../../../objects/lead';
    import Message from '../../../../objects/message';
    import Email from '../../../../objects/email';
    import Call from '../../../../objects/call';
    import ChatCollection from '../../../../collections/chatCollection';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [iscroll, leadFullName],
        /**
         * Props
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            lead: Lead,
            chat: ChatCollection,
        },
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      messageInstance: Message,
         *      emailInstance: Email,
         *      callInstance: Call,
         *      scroll: null,
         *      toastTimeout: number
         * }} - Component data
         */
        data() {
            return {
                messageInstance: Message,
                emailInstance: Email,
                callInstance: Call,
                scroll: null,
                // 4 sec delay for toast
                toastTimeout: 4000,
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            this.scrollToEnd();
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Mount IScroll.
             *
             * @returns {void}
             */
            mountIScroll() {
                this.scroll = new IScroll('#chat-content', {
                    scrollbars: true,
                    mouseWheel: true,
                    interactiveScrollbars: true,
                    shrinkScrollbars: 'scale',
                    fadeScrollbars: true,
                });
            },
            /**
             * Scroll Chat History to the end.
             *
             * @returns {void}
             */
            scrollToEnd() {
                this.scroll.scrollTo(0, this.scroll.maxScrollY, 0);
            },
            /**
             * Method for message after end conversation.
             *
             * @returns {void}
             */
            endConversationToast() {
                const text = `Conversation between ${ this.lead.firstName } and Agentology ended.`;

                Materialize.toast(text, this.toastTimeout);
            },
            /**
             * Method for message after rate conversation.
             *
             * @returns {void}
             */
            rateConversation() {
                const text = `Thank you for rating our conversation with ${ this.lead.firstName }.`;

                Materialize.toast(text, this.toastTimeout);
            },
        },
    };
</script>
