<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../../sass/components/portal/lead/chat/own.chat.message";
</style>

<template>
    <div class="own-message-body">
        <div class="message-text" v-html="messageText(text)"></div>
        <div class="message-date">
            {{ date }}
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Props
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            text: String,
            date: String,
        },
        methods: {
            /**
             * Return message text with correct line break
             *
             * @param {string} message - text
             *
             * @returns {string} - message text
             */
            messageText(message) {
                return message.replace(/(\r\n|\n)/g, '<br>');
            },
        },
    };
</script>