<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../sass/components/portal/create.account.portal";
</style>

<template>
    <div id="portal-create" class="portal-create">
        <div class="page-portal-login">
            <navbar :title="title" :navs="navbar" :linkTo="linkTo" class="portal-nav"></navbar>
            <div class="row" style="width: 88%">
                <div class="col s6 valign-wrapper left-column">
                    <div class="row">
                        <div class="col s12">
                            <img class="login-image"
                                 src="/assets/images/illustration.png"
                                 srcset="/assets/images/illustration@2x.png 2x,/assets/images/illustration@3x.png 3x">
                        </div>
                        <div class="col s12">
                            <div class="big-text left-align">
                                READY. SET. GO.
                            </div>
                            <div class="middle-text left-align">
                                Engage more leads. Save more time. Make more money.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6 right-column">
                    <div class="row mobile-row" v-if="!registrationForm.providerId">
                        <div class="col s12">
                            <div class="row center-align google-sign-up">
                                <div class="col s12">
                                    <a :href="portalGoogleAuth" class="waves-effect waves-light">
                                        <img src="/assets/images/google-signup-button-white.png"
                                             srcset="/assets/images/google-signup-button-white@2x.png 2x,
                                             /assets/images/google-signup-button-white@3x.png 3x">
                                    </a>
                                </div>
                            </div>
                            <div class="row center-align google-sign-up">
                                <div class="col s12">
                                    or
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row center-align">
                        <div class="col s12">
                            <span v-if="registrationForm.providerId" class="create-account-text">
                                Create account with Google
                            </span>
                            <span v-else class="create-account-text">Create account</span>
                        </div>
                    </div>
                    <div class="row form-wraper">
                        <form v-model="registrationForm" id="create-account" class="col s12">

                            <div class="row">
                                <div class="input-field col s12">
                                    <float-label>
                                        <input placeholder="Email"
                                               id="email"
                                               v-model="registrationForm.email"
                                               type="email"
                                               :class="{invalid: registrationForm.errors.email, 'validate': true}"
                                               required
                                               aria-required="true"
                                               readonly
                                               onfocus="this.removeAttribute('readonly')">
                                        <label :data-error="registrationForm.errors.email[0]" for="email"></label>
                                    </float-label>
                                </div>
                            </div>
                            <div v-if="!registrationForm.providerId" class="row">
                                <div class="input-field col s12">
                                    <float-label>
                                        <input placeholder="Password"
                                               v-model="registrationForm.password"
                                               :class="{invalid: registrationForm.errors.password, 'validate': true}"
                                               id="password"
                                               type="password"
                                               minlength="6"
                                               required
                                               aria-required="true"
                                               readonly
                                               onfocus="this.removeAttribute('readonly')">
                                        <label data-error="Password should contain at least 6 characters"
                                               for="password"></label>
                                    </float-label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <float-label>
                                        <input placeholder="First name"
                                               id="first_name"
                                               v-model="registrationForm.firstName"
                                               type="text"
                                               :class="{invalid: registrationForm.errors.firstName, 'validate': true}"
                                               required
                                               aria-required="true">
                                        <label :data-error="registrationForm.errors.firstName[0]" for="first_name"></label>
                                    </float-label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <float-label>
                                        <input placeholder="Last name"
                                               id="last_name"
                                               v-model="registrationForm.lastName"
                                               type="text"
                                               :class="{invalid: registrationForm.errors.lastName, 'validate': true}"
                                               required
                                               aria-required="true">
                                        <label :data-error="[registrationForm.errors.lastName
                                                ? registrationForm.errors.lastName[0]
                                                : 'We need your last name']" for="last_name"></label>
                                    </float-label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <float-label>
                                        <input placeholder="Phone number"
                                               v-model="registrationForm.phone"
                                               id="telephone" type="tel"
                                               v-mask="'(###) ###-####'"
                                               :class="{invalid: registrationForm.errors.phone, 'validate': true}"
                                               required
                                               aria-required="true">
                                        <label :data-error="[registrationForm.errors.phone
                                                ? registrationForm.errors.phone[0]
                                                :'Numbers only']"
                                               for="telephone"></label>
                                    </float-label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 center-align">
                                    <button class="btn-blue waves-effect waves-light"
                                            type="submit"
                                            name="action"
                                            @click="submitForm($event)">
                                        Create Account
                                    </button>
                                </div>
                            </div>
                            <div v-if="!registrationForm.providerId" class="sign-up-desktop">
                                <div class="row center-align google-sign-up">
                                    <div class="col s12">
                                        or
                                    </div>
                                </div>
                                <div class="row center-align google-sign-up">
                                    <div class="col s12">
                                        <a :href="portalGoogleAuth" class="waves-effect waves-light">
                                            <img src="/assets/images/google-signup-button-white.png"
                                                 srcset="/assets/images/google-signup-button-white@2x.png 2x,
                                                 /assets/images/google-signup-button-white@3x.png 3x">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row center-align new-user-text">
                                <div class="col s12">
                                    Already have an account?
                                    <router-link :to="{ name: 'loginPortal'}">Sign in</router-link>
                                </div>
                            </div>
                            <input type="hidden" name="_token" v-model="registrationForm._token">
                            <input type="hidden" name="provider" v-model="registrationForm.provider">
                            <input type="hidden" name="provider_id" v-model="registrationForm.providerId">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import IScroll from 'iscroll';
    import iscroll from '../../mixins/iscroll';
    import laroute from '../../router/laroute';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [iscroll],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     navbar: Array,
         *     title: string,
         *     portalGoogleAuth,
         *     linkTo,
         *     registrationForm: {
         *         email: string,
         *         firstName: string,
         *         lastName: string,
         *         phone: string,
         *         password: string,
         *         _token: string,
         *         provider: null,
         *         providerId: null,
         *         errors: {
         *             phone: string,
         *             email: string,
         *             firstName: string,
         *             lastName: string,
         *             password: string
         *         }
         *     },
         *     scroll: null
         * }} - Component Data
         */
        data() {
            return {
                navbar: [],
                title: '<img v-html="rawHtml" src="/assets/images/agt-logo-test-white.png" '
            + 'srcset="/assets/images/agt-logo-test-white@2x.png 2x, '
            + '/assets/images/agt-logo-test-white@3x.png 3x">',
                portalGoogleAuth: laroute.route('portal_google_auth'),
                linkTo: laroute.route('index_portal'),
                registrationForm: {
                    email: '',
                    firstName: '',
                    lastName: '',
                    phone: '',
                    password: '',
                    _token: window.Laravel.csrfToken,
                    provider: null,
                    providerId: null,
                    errors: {
                        phone: '',
                        email: '',
                        firstName: '',
                        lastName: '',
                        password: '',
                    },
                },
                scroll: null,
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            this.setFormData();
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Mount IScroll.
             *
             * @returns {void}
             */
            mountIScroll() {
                this.scroll = new IScroll('#portal-create', {
                    scrollbars: true,
                    mouseWheel: true,
                    interactiveScrollbars: true,
                    shrinkScrollbars: 'scale',
                    fadeScrollbars: true,
                });
            },
            /**
             * Set form data.
             * @returns {void}
             */
            setFormData() {
                if (typeof googleData.email !== 'undefined') {
                    this.registrationForm.email = googleData.email;
                }
                if (typeof googleData.firstName !== 'undefined') {
                    this.registrationForm.firstName = googleData.firstName;
                }
                if (typeof googleData.lastName !== 'undefined') {
                    this.registrationForm.lastName = googleData.lastName;
                }
                if (typeof googleData.provider !== 'undefined') {
                    this.registrationForm.provider = googleData.provider;
                }
                if (typeof googleData.providerId !== 'undefined') {
                    this.registrationForm.providerId = googleData.providerId;
                }
            },
            /**
             * Submit form event.
             *
             * @param {Event} event - Event data
             *
             * @returns {void}
             */
            submitForm(event) {
                this.registrationForm.errors = {
                    phone: '',
                    email: '',
                    firstName: '',
                    lastName: '',
                    password: '',
                };

                event.preventDefault();

                this.$http
                    .post(laroute.route('portal_user_register'), this.registrationForm)
                    .then(resp => {
                        if (resp.data.errors) {
                            this.registrationForm.errors = Object.assign(
                                this.registrationForm.errors,
                                resp.data.errors
                            );
                        } else {
                            window.location.href = laroute.route('portal_user');
                        }
                    })
                    .catch(error => {
                        // TODO: Add failed response handler
                    });
            },
        },
    };
</script>
