<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../sass/components/portal/forgot.password.portal";
</style>

<template>
    <div id="portal-forgot" class="portal-forgot">
        <div class="page-portal-login">
            <navbar :title="title" :navs="navbar" :linkTo="linkTo" class="portal-nav"></navbar>
            <div class="row">
                <div class="col s6 valign-wrapper left-column">
                    <div class="row" style="width: 88%">
                        <div class="col s12">
                            <img class="login-image"
                                 src="/assets/images/illustration.png"
                                 srcset="/assets/images/illustration@2x.png 2x, /assets/images/illustration@3x.png 3x">
                        </div>
                        <div class="col s12">
                            <div class="big-text left-align">
                                WELCOME BACK
                            </div>
                            <div class="middle-text left-align">
                                Engage more leads. Save more time. Make
                                more money.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6 right-column">
                    <div class="form-wraper">
                        <div class="row center-align">
                            <div class="col s12">
                                <span v-if="notSend" class="create-account-text">Forgot your password?</span>
                                <span v-else class="create-account-text">Reset link sent!</span>
                            </div>
                        </div>
                        <div v-if="notSend" class="row">
                            <form name="forgotPassword"
                                  id="portal-login"
                                  @submit.prevent="onSubmit"
                                  class="col s12"
                                  autocomplete="off">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <span class="forgot-password-text">
                                            Enter your email below, and we’ll send you a link to reset your password.
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input name="forgotPassword[email]"
                                               id="email"
                                               v-model="email"
                                               type="email"
                                               required
                                               :class="{invalid: !valid, valid: valid, validate: true}">
                                        <label for="email" :data-error="errors.email">Email</label>
                                    </div>
                                </div>
                                <input type="hidden" name="_token" v-model="signInForm._token">
                                <div class="row">
                                    <div class="col s12 center-align">
                                        <button class="btn-blue waves-effect waves-light" type="submit" name="action">
                                            Send reset link
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row center-align" v-else>
                            <div class="col s12">
                                <div class="send-success-image">
                                    <img src="/assets/images/group-2.png"
                                         srcset="/assets/images/group-2@2x.png 2x, /assets/images/group-2@3x.png 3x">
                                </div>
                                <div class="send-success-text">
                                    <span>We’ve sent you an email with password reset instructions.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import IScroll from 'iscroll';
    import iscroll from '../../mixins/iscroll';
    import laroute from '../../router/laroute';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [iscroll],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     navbar: Array,
         *     title: string,
         *     signInForm: {_token: string},
         *     valid: boolean,
         *     googleLoginPath: string,
         *     linkTo: string,
         *     notSend: boolean,
         *     email: string,
         *     errors: Object,
         *     scroll: null
         * }} - Component Data
         */
        data() {
            return {
                navbar: [],
                title: '<img v-html="rawHtml" src="/assets/images/agt-logo-test-white.png" '
                    + 'srcset="/assets/images/agt-logo-test-white@2x.png 2x, '
                    + '/assets/images/agt-logo-test-white@3x.png 3x">',
                signInForm: {
                    _token: window.Laravel.csrfToken,
                },
                valid: false,
                googleLoginPath: laroute.route('portal_google_auth_login'),
                linkTo: laroute.route('index_portal'),
                notSend: true,
                email: '',
                errors: {},
                scroll: null,
            };
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Mount IScroll.
             *
             * @returns {void}
             */
            mountIScroll() {
                this.scroll = new IScroll('#portal-forgot', {
                    scrollbars: true,
                    mouseWheel: true,
                    interactiveScrollbars: true,
                    shrinkScrollbars: 'scale',
                    fadeScrollbars: true,
                });
            },
            /**
             * Submit.
             *
             * @returns {void}
             */
            onSubmit() {
                const url = laroute.route('portal_send_new_password');
                const data = {
                    email: this.email,
                    _token: this.signInForm._token,
                };

                this.valid = true;

                this.$http.post(url, data)
                    .then(resp => {
                        if (!resp.data.success) {
                            this.errors = resp.data.errors;
                            this.valid = false;
                        }

                        this.notSend = !resp.data.success;
                    })
                    .catch(error => {
                        this.notSend = true;
                        this.valid = false;

                        console.error(error);
                    });
            },
        },
    };
</script>
