<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../sass/components/portal/login.portal";
</style>

<template>
    <div id="portal-sign-in" class="portal-login">
        <div class="page-portal-login">
            <navbar :title="title" :navs="navbar" :linkTo="linkTo" class="portal-nav" :navStyle="navStyle"></navbar>
            <div class="row" style="width: 88%">
                <div class="col s6 valign-wrapper left-column">
                    <div class="row">
                        <div class="col s12">
                            <img class="login-image"
                                 src="/assets/images/illustration.png"
                                 srcset="/assets/images/illustration@2x.png 2x, /assets/images/illustration@3x.png 3x">
                        </div>
                        <div class="col s12">
                            <div class="big-text left-align">
                                WELCOME BACK
                            </div>
                            <div class="middle-text left-align">
                                Engage more leads. Save more time. Make
                                more money.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6 right-column">
                    <div class="row center-align">
                        <div class="col s12">
                            <span v-if="googleError.googleError" class="create-account-text">Sign in failed</span>
                            <span v-else class="create-account-text">Sign in</span>
                        </div>
                    </div>
                    <div v-if="googleError.googleError" class="row form-wraper">
                        <div class="col s12 google-error">
                            {{googleError.googleError[0][0]}}
                        </div>
                    </div>
                    <div class="row form-wraper">
                        <form name="loginForm"
                              id="portal-login"
                              @submit.prevent="onSubmit"
                              class="col s12"
                              autocomplete="off">
                            <div class="row">
                                <div class="input-field col s12">
                                    <float-label>
                                        <input placeholder="Email"
                                               name="loginForm[email]"
                                               v-model="email"
                                               id="email"
                                               type="email"
                                               :class="{invalid: invalidEmail, validate: true}">
                                        <label :data-error="invalidEmailMessage" for="email"></label>
                                    </float-label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div class="right-align forgot-password make-visible">
                                        <a :href="forgotPasswordLink">Forgot your password?</a>
                                    </div>
                                    <float-label>
                                        <input placeholder="Password"
                                               name="loginForm[password]"
                                               id="password"
                                               type="password"
                                               :class="{invalid: invalidPassword, validate: true}">
                                        <label data-error="Password doesn't match email" for="password"></label>
                                    </float-label>
                                </div>
                            </div>
                            <input type="hidden" name="_token" v-model="signInForm._token">
                            <div class="row">
                                <div class="col s12 center-align">
                                    <button class="button-confirm btn-blue waves-effect waves-light"
                                            type="submit"
                                            name="action">Sign in
                                    </button>
                                </div>
                            </div>
                            <div class="row center-align google-sign-up">
                                <div class="col s12">or</div>
                            </div>
                            <div class="row center-align google-sign-up">
                                <div class="col s12">
                                    <a :href="googleLoginPath" class="waves-effect waves-light">
                                        <img src="/assets/images/google-signin-button-white.png"
                                             srcset="/assets/images/google-signin-button-white@2x.png 2x,
                                                     /assets/images/google-signin-button-white@3x.png 3x">
                                    </a>
                                </div>
                            </div>
                            <div class="row center-align new-user-text">
                                <div class="col s12">
                                    New to Agentology?
                                    <router-link :to="{ name: 'createAccountPortal'}">Create account</router-link>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import IScroll from 'iscroll';
    import iscroll from '../../mixins/iscroll';
    import laroute from '../../router/laroute';
    import { isEmail } from '../../helpers/link';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [iscroll],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     navbar: [],
         *     title: string,
         *     signInForm: {},
         *     invalidEmail: boolean,
         *     invalidPassword: boolean,
         *     googleLoginPath: string,
         *     linkTo: string,
         *     forgotPasswordLink: string,
         *     googleError: string,
         *     scroll: null,
         *     invalidEmailMessage: string,
         *     email: string
         * }} - Component Data
         */
        data() {
            return {
                navbar: [],
                title: '<img v-html="rawHtml" '
                    + 'src="/assets/images/agt-logo-test-white.png" '
                    + 'srcset="/assets/images/agt-logo-test-white@2x.png 2x, '
                    + '/assets/images/agt-logo-test-white@3x.png 3x">',
                signInForm: {
                    _token: window.Laravel.csrfToken,
                },
                navStyle: {
                    height: '64px',
                },
                invalidEmail: false,
                invalidPassword: false,
                googleLoginPath: laroute.route('portal_google_auth_login'),
                linkTo: laroute.route('index_portal'),
                forgotPasswordLink: laroute.route('forgot_password_portal'),
                googleError,
                scroll: null,
                invalidEmailMessage: '',
                email: '',
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            // TODO: PAT-569 Delete this Timeout and check/fix labels with a closed developer panel
            setTimeout(function () {
                if (this.email.value.length > 0) {
                    $('#password').prev()
                        .addClass('vfl-label-on-input');
                }
            }, 300);
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Mount IScroll.
             *
             * @returns {void}
             */
            mountIScroll() {
                this.scroll = new IScroll('#portal-sign-in', {
                    scrollbars: true,
                    mouseWheel: true,
                    interactiveScrollbars: true,
                    shrinkScrollbars: 'scale',
                    fadeScrollbars: true,
                });
            },
            /**
             * Submit login form.
             *
             * @returns {void}
             */
            onSubmit() {
                this.valid = false;
                this.invalidPassword = false;
                this.invalidEmail = false;

                if (isEmail(this.email)) {
                    const url = laroute.route('portal_user_login');
                    const data = $('#portal-login').serialize();

                    this.$http.post(url, data)
                        .then(resp => {
                            if (resp.data.success) {
                                window.location.href = laroute.route('portal_user');
                            } else if (resp.data.reason === 'email') {
                                this.invalidEmailMessage = 'Could not find email in our system';
                                this.invalidEmail = true;
                            } else if (resp.data.reason === 'provider') {
                                this.invalidEmailMessage = 'Please click on the "Sign in with Google"';
                                this.invalidEmail = true;
                            } else {
                                this.invalidPassword = true;
                            }
                        })
                        .catch(err => {
                            console.error(err);
                        });
                } else {
                    setTimeout(() => {
                        this.invalidEmailMessage = 'Invalid email';
                        this.invalidEmail = true;
                    });
                }
            },
        },
    };
</script>
