<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../sass/components/portal/portal.navbar";
</style>

<template>
    <nav class="nav-extended">
        <div id="modalLogout" class="modal">
            <div class="modal-content">
                <h4>Your token has been expired</h4>
                <p>Please refresh page.</p>
            </div>
            <div class="modal-footer">
                <a href="#"
                   class=" modal-action modal-close waves-effect waves-green btn-flat custom-green"
                   @click.prevent="logout()">OK</a>
            </div>
        </div>
        <div class="nav-wrapper container">
            <span @click="updateSubMenu()">
                <router-link :to="{ name: 'portalMainPage', params: { tab: 'all'} }"
                             class="brand-logo"
                             v-html="title"
                             replace></router-link>
            </span>
            <div class="vertical-line" v-if="!disableMenu"></div>
            <ul id="nav-mobile" class="left hide-on-med-and-down" v-if="!disableMenu" @click="updateSubMenu()">
                <li v-for="nav in navs">
                    <router-link :to="nav.linkRoot"
                                 :class="{ active: !$route.fullPath.indexOf(nav.link), triangle: showTriangle }">
                        {{ nav.text }}
                    </router-link>
                </li>
                <li>
                    <a target="_blank" :href="supportPath">
                        Support
                    </a>
                </li>
            </ul>
            <ul id="mobile-demo" class="right hide-on-med-and-down" v-if="!disableDropDown">
                <li>
                    <a href="#"
                       @click.prevent
                       data-gutter="-320"
                       data-belowOrigin="true"
                       data-constrainWidth="256"
                       class="dropdown-button"
                       data-activates="dropdown-user">
                        <span>{{ agent.getFullName() }}</span>
                        <img class="drop-down-image"
                             src="/assets/images/white.png"
                             srcset="/assets/images/white@2x.png 2x, /assets/images/white@3x.png 3x">
                    </a>
                    <ul id="dropdown-user" class="dropdown-content profile-drop-down">
                        <span class="username">{{ agent.getFullName() }}</span>
                        <span class="user-email">{{ agent.email }}</span>
                        <li><router-link :to="profilePath"><span>Profile</span></router-link></li>
                        <li v-if="false"><router-link :to="billingPath"><span>Billing</span></router-link></li>
                        <li><a :href="logoutPath"><span>Sign Out</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <slot name="subContent"></slot>
    </nav>
</template>

<script type="text/ecmascript-6">
    import socket from '../../mixins/socket';
    import dropdown from '../../mixins/dropdown';
    import laroute from '../../router/laroute';
    import Agent from '../../objects/agent';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket, dropdown],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     navs: [*,*,*,*],
         *     agent: Agent,
         *     rootPath: string,
         *     settingsPath: string,
         *     profilePath: string,
         *     billingPath: string,
         *     logoutPath: string,
         *     supportPath: string
         * }} - Component data
         */
        data() {
            const navs = [
                {
                    text: 'My Leads',
                    linkRoot: laroute.route('portal_myleads', { tab: 'all' }),
                    link: laroute.route('portal_myleads'),
                },
                {
                    text: 'Lead Sources',
                    linkRoot: '/portal/lead-source',
                    link: laroute.route('lead_source_portal'),
                },
                {
                    text: 'Settings',
                    linkRoot: laroute.route('settings_portal', { tab: 'persona' }),
                    link: laroute.route('settings_portal'),
                },
            ];

            const agent = new Agent();

            agent.firstName = '';
            agent.lastName = '';

            return {
                navs,
                agent,
                rootPath: laroute.route('portal_myleads', { tab: 'all' }),
                settingsPath: laroute.route('settings_portal', { tab: 'persona' }),
                profilePath: laroute.route('profile_portal', { tab: 'view' }),
                billingPath: laroute.route('billing_portal'),
                logoutPath: laroute.route('logout_portal'),
                supportPath: 'http://support.agentology.com/',
            };
        },
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            showTriangle: {
                type: Boolean,
                default: true,
            },
            title: {
                String,
                default() {
                    return '<img style="width: 135px; height: 24px;" '
                        + 'class="logo-image" '
                        + 'src="/assets/images/agt-logo-test-white.png" '
                        + 'srcset="/assets/images/agt-logo-test-white@2x.png 2x, '
                        + '/assets/images/agt-logo-test-white@3x.png 3x">';
                },
            },
            subMenu: {
                Array,
                default() {
                    return [];
                },
            },
            disableMenu: {
                Boolean,
                default() {
                    return false;
                },
            },
            disableDropDown: {
                Boolean,
                default() {
                    return false;
                },
            },
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            this.initDropDown();
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Set sub page.
             *
             * @param {string} newSubPage - Sub page
             *
             * @returns {void}
             */
            setSubPage(newSubPage) {
                this.subpage = newSubPage;
                this.$slots.content[0].context.updateSubPage(newSubPage);
            },
            /**
             * Update sub page if exists.
             *
             * @returns {void}
             */
            updateSubMenu() {
                if (typeof this.$slots.subContent != 'undefined') {
                    $('#all').click();

                    if (typeof this.$parent.updateSubMenu == 'function') {
                        this.$parent.updateSubMenu();
                    }
                }
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {Array} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                const vm = this;

                switch (message) {
                    case 'agentLogout':
                        if (sessionId !== data.senderSessionId) {
                            const modalLogout = $('#modalLogout');

                            modalLogout.modal({
                                complete() {
                                    vm.logout();
                                },
                            });
                            modalLogout.modal('open');
                        }

                        break;
                    case 'agentGet':
                        vm.agent.addDataRecursively(data);
                        break;
                    case 'agentUpdate':
                        vm.agent.addDataRecursively(data);
                        break;
                    default:
                        break;
                }
            },
            /**
             * Makes sign out.
             *
             * @returns {void}
             */
            logout() {
                window.location.href = laroute.route('logout_portal');
            },
        },
    };
</script>
