<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../sass/components/portal/reset.password.portal";
</style>

<template>
    <div class="portal-reset">
        <div class="page-portal-login">
            <navbar :title="title" :navs="navbar" :linkTo="linkTo" class="portal-nav"></navbar>
            <div class="row">
                <div class="col s6 valign-wrapper left-column">
                    <div class="row">
                        <div class="col s12">
                            <img class="login-image"
                                 src="/assets/images/illustration.png"
                                 srcset="/assets/images/illustration@2x.png 2x, /assets/images/illustration@3x.png 3x">
                        </div>
                        <div class="col s12">
                            <div class="big-text left-align">
                                WELCOME BACK
                            </div>
                            <div class="middle-text left-align">
                                Engage more leads. Save more time. Make
                                more money.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6 right-column">
                    <div class="form-wraper">
                        <div class="row center-align">
                            <div class="col s12">
                                <span class="create-account-text">Reset password</span>
                            </div>
                        </div>
                        <div class="row">
                            <form id="portal-login" @submit.prevent="onSubmit" class="col s12" autocomplete="off">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <span class="forgot-password-text">Enter in your new password below.</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input v-model="password"
                                               name="password"
                                               id="password"
                                               type="password"
                                               class="validate">
                                        <label for="password">New password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input v-model="confirmPassword"
                                               name="password_confirmation"
                                               id="confirm-password"
                                               type="password"
                                               :class="{'invalid': valid, 'validate': true}">
                                        <label data-error="Passwords doesn't match." for="confirm-password">
                                            Confirm password
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="error-messages"></div>
                                </div>
                                <div class="row">
                                    <div class="col s12 center-align">
                                        <input type="hidden" name="email" v-model="email">
                                        <input type="hidden" name="token" v-model="resetToken">
                                        <input type="hidden" name="_token" v-model="signInForm._token">
                                        <button v-if="updating"
                                                class="update-button btn-blue waves-effect waves-light"
                                                type="submit"
                                                name="action">
                                            Update password
                                        </button>
                                        <button class="update-button updating btn-blue waves-effect waves-light"
                                                type="submit"
                                                name="action"
                                                v-else>
                                            Updating...
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import laroute from '../../router/laroute';

    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     navbar: [],
         *     title: string,
         *     signInForm: {
         *         _token: string
         *     },
         *     password: string,
         *     confirmPassword: string,
         *     valid: boolean,
         *     updating: boolean,
         *     resetToken: string,
         *     email: string,
         *     googleLoginPath: string,
         *     linkTo: string
         * }} - Component Data
         */
        data() {
            return {
                navbar: [],
                title: '<img v-html="rawHtml" src="/assets/images/agt-logo-test-white.png" '
                    + 'srcset="/assets/images/agt-logo-test-white@2x.png 2x, '
                    + '/assets/images/agt-logo-test-white@3x.png 3x">',
                signInForm: {
                    _token: window.Laravel.csrfToken,
                },
                password: '',
                confirmPassword: '',
                valid: false,
                updating: true,
                resetToken: resetData.token,
                email: resetData.email,
                googleLoginPath: laroute.route('portal_google_auth_login'),
                linkTo: laroute.route('index_portal'),
            };
        },
        /**
         * Watch.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            /**
             * ConfirmPassword watcher.
             * @param {string} val - New value
             * @returns {void}
             */
            confirmPassword(val) {
                this.valid = val !== this.password;
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Submit.
             * @returns {void}
             */
            onSubmit() {
                const vm = this;

                $('.error-messages').text('');
                // TODO: Rewrite by using Axios
                $.ajax({
                    url: laroute.route('set_new_password'),
                    type: 'POST',
                    data: $('#portal-login').serialize(),
                    beforeSend() {
                        vm.updating = false;
                    },
                    success(data) {
                        if (data.success) {
                            window.location.href = laroute.route('portal_user');
                        } else {
                            vm.updating = true;
                            vm.password = '';
                            vm.confirmPassword = '';
                            if (data.message !== '') {
                                $('.error-messages').text(data.message);
                            }
                        }
                    },
                    error(data) {
                        for (const errorField in data.responseJSON) {
                            const error= data.responseJSON[errorField];

                            for (let index = 0; index < error.length; index++) {
                                $('.error-messages').append(`<div class="single-error">${ error[index] }</div>`);
                            }
                        }
                        vm.updating = true;
                    },
                });
            },
        },
    };
</script>
