@import '../../../../mixins';
@import '../../../../variables';

.alien-message-body {
  margin-left: 24px;
  padding-top: 16px;

  .user-name {
    @include size(40px);
    @include font($pp-grey, 1.3, 15px);
    border-radius: 50%;
    text-align: center;
    background-color: $pp-grey-light;
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 11px;
    vertical-align: top;
  }

  .message-content {
    display: inline-block;
    width: 320px;
    margin-left: 16px;

    .message-text {
      @include font($pp-dark, 1.54, 13px);
      background-color: $pp-white;
      border-radius: 2px;
      padding: 8px;
    }

    .message-date {
      @include font($pp-grey, 1.17, 12px);
      margin-top: 8px;
    }
  }
}