@import '../../../../mixins';
@import '../../../../variables';

.call-wrapper {
  padding-top: 16px;
  padding-bottom: 14px;

  .call-end-box {
    margin: 0 auto;
    width: 320px;
    background-color: $pp-gray-alto;
    border-radius: 2px;

    .phone-icon {
      margin: 24px 16px 16px 24px;
      display: inline-block;
      vertical-align: middle;
    }

    .call-info {
      display: inline-block;
      vertical-align: middle;

      .call-username {
        @include font($pp-dark, 1.07, 15px);
      }

      .call-time {
        @include font($pp-dark, 1.23, 13px, 500);
        letter-spacing: 0;
        margin-top: 6px;
      }

      .call-notes {
        margin-top: 4px;

        a {
          @include font($pp-blue, 1.17, 12px);
        }
      }
    }

    .created-time {
      text-align: right;
      padding-bottom: 8px;
      padding-right: 8px;
      @include font($pp-grey, 1.17, 12px);
    }
  }
}