@import '../../../../mixins';
@import '../../../../variables';

.email-wrapper {
  padding-top: 16px;
  padding-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;

  .email-content {

    &.alien {
      .email-body {
        background-color: $pp-white;
      }

      .email-info {
        text-align: left;
      }
    }

    .email-body {
      @include font($pp-dark, 1.54, 13px);
      white-space: pre-line;
      padding: 8px;
      height: auto;
      border-radius: 2px;
      background-color: $pp-email-send;
    }

    .email-info {
      @include font($pp-grey, 1.17, 12px);
      text-align: right;
      margin-top: 8px;

      .email {
        &:after {
          @include size(2px);
          content: '';
          display: inline-block;
          border-radius: 50%;
          background: $pp-grey;
          vertical-align: middle;
          margin-left: 4px;
          margin-right: 4px;
        }
      }
    }
  }
}