@import '../../../../mixins';
@import '../../../../variables';

.lead-chat {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #e8e8e8;
  border-radius: 4px;
  max-width: 448px;
  height: 765px;

  &.empty-chat {
    height: 480px;

    .chat-content {
      height: 432px;

      .empty-chat-history {
        @include font($pp-white-nine, 1.6, 15px, 500);
        margin: 32px auto;
        width: 160px;
        text-align: center;
      }
    }
  }

  .chat-info {
    background-color: $pp-white;
    border-bottom: $pp-border;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 48px;
    width: 448px;

    .conversation-lead-name {
      display: inline-block;
      float: left;
      margin-left: 16px;
      margin-top: 16px;
      @include font($pp-dark, 1.07, 15px, 500);
    }

    .stop-button {
      @include font($pp-blue, 1.14, 14px, 500);
      display: inline-block;
      float: right;
      margin-right: 24px;
      margin-top: 16px;
    }
  }

  .chat-content {
    position: relative;
    height: 687px;
    overflow: hidden;
  }

  .chat-footer {
    height: 65px;
    width: 448px;
    border-top: $pp-border;
    background-color: $pp-white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    .text {
      @include font($pp-grey-light, 1.14, 14px, 500);
      margin-top: 8px;
      text-align: center;
      text-transform: uppercase;
    }

    .rate-icons {
      text-align: center;
      margin-top: 6px;

      a {
        display: inline-block;

        &.sad-face {
          margin-left: 8px;
          vertical-align: middle;
          margin-bottom: 10px;

          img {
            height: 21px
          }
        }

        img {
          height: 24px;
        }
      }
    }
  }
  #up-vote-conversation-modal,
  #down-vote-conversation-modal,
  #end-conversation-modal {
    width: 432px;

    .header {
      @include font($pp-dark, null, 34px);

      img {
        @include size(40px);
        object-fit: cover;
        margin-right: 10px;
        vertical-align: middle;
        margin-bottom: 4px;
      }

      .end-conversation-image {
        @include size(40px);
        background-color: $pp-grey;
        display: inline-block;
        margin-right: 16px;

        i {
          color: $pp-white;
          font-size: 24px;
          padding: 8px;
          display: block;
        }
      }
    }

    .modal-content {
      padding-bottom: 0;
    }

    .main-content {
      @include font($pp-dark, 1.33, 15px);
      letter-spacing: 0;

      textarea {
        height: auto;
        resize: none;
        padding: 8px;
      }
    }

    .modal-footer {
      margin-bottom: 5px;
      padding-top: 0;

      .modal-button {
        @include font($pp-grey, null, 14px, 500);
        letter-spacing: 0.5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 8px;

        &.refer {
          margin-right: 16px;
          color: $pp-blue
        }
      }
    }
  }

  .toast-chat-end {
    width: 768px;
  }
}