@import '../../../../mixins';
@import '../../../../variables';

.own-message-body {
  padding-top: 24px;

  .message-text {
    margin-left: auto;
    margin-right: 24px;
    width: 320px;
    border-radius: 2px;
    background-color: $pp-message-send;
    padding: 8px;
    @include font($pp-dark, 1.54, 13px);
  }

  .message-date {
    margin-left: auto;
    margin-top: 8px;
    @include font($pp-grey, 1.17, 12px);
    text-align: right;
    margin-right: 24px;
  }
}