<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../../sass/components/console/messaging/chat/chat.message";
</style>

<template>
    <div v-if="!message.incoming" class="message col l9 right">
        <i v-if="showFailIcon(message)" class="material-icons failed" title="Failed!">&#xE645;</i>
        <spinner v-if="showSpinner(message)"></spinner>
        <p class="client" v-html="messageText(message.text)"></p>
        <p class="meta right-align">
            {{ message.isAutomatic ? 'Automatic' : conciergeName }} &bullet;
            {{ message.createdAt }}
        </p>
        <div class="clearfix"></div>
    </div>
    <div class="message col l9 left" v-else>
        <span class="col l1 circle center grey lighten-1 grey-text text-darken-1">
            IP
        </span>
        <div class="host col l8">
            <p v-html="messageText(message.text)"></p>
            <p class="meta left-align">{{ message.createdAt }}</p>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script type="text/ecmascript-6">
    import Message from '../../../../objects/message';

    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            message: Message,
            conciergeName: String,
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Get concierge name by concierge id.
             *
             * @param {integer} conciergeId - Concierge id
             *
             * @returns {string} - Concierge full name
             */
            getConciergeFullName(conciergeId) {
                return this.$parent.$parent.$parent.concierges.getConcierge(conciergeId).name;
            },
            /**
             * Show fail icon
             *
             * @param {Message} message - message
             *
             * @returns {boolean} - Return true if must view spinner
             */
            showFailIcon(message) {
                return message.twilioMessageStatus === 'failed' && message.incoming === 0;
            },
            /**
             * Show spinner
             *
             * @param {Message} message - Message
             *
             * @returns {boolean} - Return true if must view spinner
             */
            showSpinner(message) {
                const status = message.twilioMessageStatus;

                return message.incoming === 0 && (status === null || status === 'sending');
            },
            /**
             * Return message text with correct line break
             *
             * @param {{string}} message text
             *
             * @returns {string} - message text
             */
            messageText(message) {
                return message.replace(/(?:\r\n|\n)/g, '<br>');
            },
        },
    };
</script>