<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../../sass/components/console/messaging/chat/chat.call";
</style>

<template>
    <div class="call-wrapper">
        <div class="call-end-box">
            <div class="phone-icon">
                <a class="btn-floating btn-large disabled"><i class="material-icons">&#xE0B1;</i></a>
            </div>
            <div class="call-info">
                <div class="call-username">
                    {{conciergeName}} Called {{ leadFullName }}
                </div>
                <div class="call-time">
                    Call Lasted {{ callDuration }}
                </div>
                <div v-if="showCallNotes" class="call-notes">
                    <a href="#show-call-notes" @click="setNotes">See Notes</a>
                </div>
            </div>
            <div class="created-time">
                {{ conciergeName }} &bullet; {{ call.createdAt }}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script type="text/ecmascript-6">
    import moment from 'moment';
    import Lead from '../../../../objects/lead';
    import Call from '../../../../objects/call';

    export default {
        /**
         * Props
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            call: Call,
            conciergeName: String,
            lead: Lead,
        },
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      intervalActivity: integer,
         *      activityTimeout: number
         * }} - Component Data
         */
        data() {
            return {
                intervalActivity: null,
                activityTimeout: 1000,
            };
        },
        /**
         * Computed properties.
         * @link https://vuejs.org/v2/guide/computed.html
         */
        computed: {
            /**
             * Get lead full name.
             *
             * @returns {string} - Lead full name
             */
            leadFullName() {
                return `${this.lead.firstName } ${ this.lead.lastName}`;
            },
            /**
             * Set call duration
             *
             * @returns {string} - flag
             */
            callDuration() {
                const finishedDate = moment().format(this.call.originalFinishedAt);
                const diffDate = moment(finishedDate).diff(moment(this.call.originalCreatedAt));

                return `${moment(diffDate).format('mm') }min ${ moment(diffDate).format('ss') }secs`;
            },
            /**
             * Set flag show or not call notes
             *
             * @returns {boolean} - flag
             */
            showCallNotes() {
                return !!this.call.notes.computedList.length;
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Set notes to modal for see notes button.
             *
             * @returns {void}
             */
            setNotes() {
                // TODO implement notes modal
            },
        },
    };
</script>