@import '../../../mixins';
@import '../../../variables';

.lead-sources-page {
  background: $pp-grey-lighten;

  #disable-gmail-modal {
    max-width: 432px;

    .header {
      @include font($pp-dark, null, 34px);
      margin-bottom: 16px;
    }

    .main-content {
      margin-bottom: 26px;
      @include font($pp-dark, 1.33, 15px);

      .email {
        color: $pp-blue;
      }
    }

    .modal-footer {
      a {
        @include font($pp-blue, null, 14px, 500);

        &.btn-flat:focus, &.btn-flat:hover {
          background: transparent;
        }
      }
    }
  }

  .container {
    max-width: 928px;

    .custom-card {
      margin-top: 24px;
      padding: 35px 64px 24px 65px;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);

      .card-title {
        @include font($pp-dark, 1.2, 24px);
        margin-bottom: 17px;
      }

      .standard-text {
        @include font($pp-dark, 1.6, 15px);
        max-width: 640px;
      }

      .switch {
        margin-bottom: 16px;

        .switcher {
          @include font($pp-grey-light, 1.33, 15px, 500);

          &.enabled {
            color: $pp-blue;
          }

          &.disabled {
            color: $pp-dark;
          }
        }

        label {
          .lever {
            &:after {
              left: 23px;
              background-color: $pp-grey-lighten;
            }
          }

          input[type=checkbox] {
            &:checked {
              & + .lever {
                &:after {
                  left: -5px;
                  background-color: $pp-blue;
                }

                background-color: $pp-cornflower-blue-alpha;
              }
            }
          }
        }
      }

      .text-title {
        @include font($pp-dark, 1.2, 20px);

        &.connected-lead-sources {
          margin-top: 27px;
          margin-bottom: 17px;
        }

        &.easy-to-connect, &.all-lead-sources {
          margin-top: 35px;
          margin-bottom: 17px;
        }

        &.not-using-gmail {
          margin-top: 35px;
          margin-bottom: 17px;
        }
      }

      .no-leads-sources {
        @include font($pp-grey-light, 1.14, 14px, 500);
        margin-top: 24px;
        margin-bottom: 35px;
      }

      .leads-sources-list {
        margin-top: 4px;
        margin-bottom: 27px;

        .source {
          margin-top: 16px;
          display: flex;
          align-items: center;
          @include font($pp-grey-darken, 1.14, 14px, 500);

          i {
            margin-right: 8px;
            color: $pp-green-portal;
          }
        }

        .notice-message {
          @include font($pp-white-nine, 1.33, 12px);
          margin-top: 16px;
          max-width: 500px;
        }
      }


      .gmail-button {
        margin-top: 16px;
        margin-bottom: 32px;
      }

      .horizontal-line {
        border: none;
        color: $pp-grey-light;
        background-color: $pp-grey-light;
        height: 1px;
      }

      .source-row {
        margin-top: 16.9px;
      }

      .source-lists {
        margin: 16px 0;

        .first-col, .second-col {
          display: inline-block;
          min-width: 240px;

          span {
            display: block;
          }
        }

        .second-col {
          margin-left: 156px;
        }
      }

      .additional-message {
        @include font($pp-white-nine, 1.6, 15px);
      }
    }
  }
}