@import '../../../mixins';
@import '../../../variables';

.qualified-lead-col {
  margin-top: 18px;
  width: 300px;
  height: 432px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  background-color: $pp-white;

  .lead-address-map {
    max-width: 300px;
    overflow: hidden;
    border-top-right-radius: 2px;

    img {
      min-height: 160px;
    }
  }

  .lead-data {
    margin-left: 15px;

    .lead-name {
      @include font($pp-dark, 1, 24px);
      margin-top: 10px;

      .qualified-image {
        height: 24px;
        width: 24px;
      }
    }
    .lead-status {
      @include font($pp-grey-light, 1.07, 15px, 500);
      text-transform: uppercase;
      color: $pp-green-portal;
      margin-top: 4px;
    }
    .lead-role {
      @include font($pp-dark, 1.07, 15px);
      margin-top: 16px;
    }
    .blue-text {
      @include font($pp-blue, 1.07, 15px);
      margin-top: 12px;
    }
    .lead-source, .lead-date {
      @include font($pp-white-nine, 1.07, 15px);
      margin-top: 24px;
    }
    .lead-date {
      margin-top: 8px;
      margin-bottom: 24px;
    }
  }
}