@import '../../../mixins';
@import '../../../variables';

.page-access-login {
  background: $pp-grey-lighten;

  .container {
    max-width: 928px;
  }
  .nav-content {
    .container {
      max-width: 1280px;

      .tab {
        &.disabled {
          a {
            color: $pp-grey-light;
            opacity: 0.7;
          }
        }
      }
    }
  }
  .qualified-cards {

    .title-and-view {
      margin-top: 22px;

      .title-text {
        @include font($pp-grey-darken, 1.2, 20px);
      }
      .view-all {
        @include font($pp-blue, 0.5, 14px);
        float: right;
        padding-top: 10px;
      }
    }

    .lead-cards {
      & > div > div {
        margin-left: auto;
        margin-right: auto;
      }
      & > div:first-child > div {
        margin-left: 0;
      }
      & > div:last-child > div {
        margin-right: 0;
      }
    }
  }

  .loading-placeholder {
    position: relative;

    .table-section, .qualified-placeholder {
      background-color: $pp-white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
      border-radius: 2px;
    }

    .qualified-section {
      margin-top: 28px;
      margin-bottom: 32px;
      display: flex;
      justify-content: space-between;

      .qualified-placeholder {
        @include size(300px, 432px);
      }
    }

    .table-section {
      @include size(928px, 240px);
      margin-bottom: 20px;
    }

    .preloader-section {
      margin-top: 28px;

      .progress {
        background-color: $pp-white;

        .indeterminate {
          background-color: $pp-blue;
        }
      }
    }
  }
  .fade-enter-active, .fade-leave-active {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transition: opacity 1s
  }
  .fade-enter, .fade-leave-to {
    opacity: 0
  }
  .data-fade-enter-active {
    transition: opacity 1s
  }
  .data-fade-enter, .data-fade-leave-to {
    opacity: 0
  }
}