@import '../../../mixins';
@import '../../../variables';

.leads-table {
  border-radius: 2px;
  background-color: $pp-white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin: 32px auto;

  & > .row {
    & > .col {
      padding: 0;
    }
  }

  .title {
    padding-top: 24px;
    padding-left: 32px;
    padding-bottom: 24px;
    @include font($pp-dark, 1.2, 20px);

    .col {
      padding-left: 0;
    }

    .btn.referred {
      @include font($pp-white, 2.64, 14px, 500);
      font-family: 'Roboto';
      letter-spacing: 0.5px;
      background-color: $pp-blue;
      text-transform: none;
      float: right;
      margin-right: 16px;
      margin-top: -8px;
    }
  }

  .leads-tables-controls {
    padding-left: 32px;

    .search-field {
      vertical-align: top;
      display: inline-block;

      input {
        width: 248px;
        border: solid 1px $pp-grey-light;
        padding-left: 40px;
        @include font($pp-dark, 1.08, 13px);

        &:focus {
          box-shadow: none;
        }
      }

      label {
        i {
          &.disabled {
            color: $pp-grey;
          }
          position: absolute;
          margin-top: 10px;
          margin-left: 8px;
          color: $pp-dark;
        }
      }
    }

    .all-lead-table-filters {
      display: inline-block;

      .filters {
        margin-left: 24px;
        display: inline-block;
      }
    }
  }

  .table {
    .no-leads {
      text-align: center;

      .title {
        padding: 0;
        margin: 20px 0 24px 0;
        @include font($pp-grey, 1.17, 24px);
      }

      .button {
        margin-bottom: 26px;

        a {
          background-color: $pp-blue;
          @include font($pp-white, null, 14px, 500);
          text-transform: none;
          padding: 0 16px;
        }
      }

      .fpo-plans {
        @include size(313px);
        margin: auto;
        background-color: $pp-call-alert;
        padding: 40px 33px 0 33px;

        .text {
          @include font($pp-grey, null, 24px);
        }
      }

      .space {
        height: 217px;
      }

      .img-no-leads {
        margin-top: 50px;
      }
    }

    thead {
      border-bottom: none;

      th {
        @include font($pp-dark, 1, 13px, 500);
        text-transform: uppercase;
        vertical-align: middle;
        position: relative;

        &.sortable {
          cursor: pointer;

          span {
            position: relative;
            top: 5px;
          }

          &:after {
            content: '';
            display: inline-block;
            float: right;
            @include size(24px);
            background-image: url('/assets/images/none.png');
            background-size: 24px 24px;

            @media (min-resolution: 192dpi) {
              background-image: url("/assets/images/none@3x.png");
            }
            @media (min-resolution: 144dpi) {
              background-image: url("/assets/images/none@2x.png");
            }
          }

          &.asc {
            &:after {
              background-image: url('/assets/images/down.png');
              transform: rotate(180deg);

              @media (min-resolution: 192dpi) {
                background-image: url("/assets/images/down@3x.png");
              }
              @media (min-resolution: 144dpi) {
                background-image: url("/assets/images/down@2x.png");
              }
            }
          }

          &.desc {
            &:after {
              background-image: url('/assets/images/down.png');

              @media (min-resolution: 192dpi) {
                background-image: url("/assets/images/grey@3x.png");
              }
              @media (min-resolution: 144dpi) {
                background-image: url("/assets/images/grey@2x.png");
              }
            }
          }
        }

        &:first-child {
          padding-left: 32px;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: $pp-gray-table;
        }

        &.lead-column {
          cursor: pointer;

          &.arrow {
            cursor: default;
          }

        }

        td {
          @include font($pp-dark, 1.54, 13px);

          &:first-child {
            padding-left: 32px;
          }

        }
      }
    }
  }

  .sortable {
    cursor: pointer;
  }
}