<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/portal/myleads/card";
</style>

<template>
    <div class="qualified-lead-col">
        <div class="lead-address-map">
            <img :src="'https://maps.googleapis.com/maps/api/staticmap?center='
            + getAddress()
            + '&zoom=14&size=300x160&key='
            + googleStaticMapsKey
            + '&'
            + googleMapsStyle"
            @error="getDefaultImage">
        </div>
        <div class="lead-data">
            <div class="lead-name">
                {{ userData.name }}
                <img class="qualified-image" src="/assets/images/qualified.png"
                     srcset="/assets/images/qualified@2x.png 2x,
                     /assets/images/qualified@3x.png 3x">
            </div>
            <div class="lead-status">
                {{ userData.status }}
            </div>
            <div class="lead-role">
                {{ userData.role }}
            </div>
            <div class="lead-email blue-text">
                {{ userData.email }}
            </div>
            <div class="lead-phone blue-text">
                {{ userData.phone }}
            </div>
            <div class="lead-address blue-text">
                {{ getAddress() }}
            </div>
            <div class="lead-source">
                {{ userData.source }}
            </div>
            <div class="lead-date">
                Date: {{ userData.date }}
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: {
            /**
             * @example {
             *      name: 'Test test',
             *      status: 'Qualified',
             *      role: 'Seller',
             *      email: 'test@test.com',
             *      phone: '(858) 653-1329',
             *      street: '1549 El Prado',
             *      city: 'San Diego',
             *      state: 'CA',
             *      postalcode: '92101',
             *      source: 'Zillow'
             *      date: '10/20/2017'
             * }
             */
            userData: Object,
        },
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      googleStaticMapsKey: string,
         *      googleMapsStyle: string
         * }} - Component Data
         */
        data() {
            return {
                googleStaticMapsKey,
                googleMapsStyle: vueData.googleStyles,
            };
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Method for default image in case if google maps return an error.
             * @param {Event} event - On error event
             * @returns {void}
             */
            getDefaultImage(event) {
                const $that = $(event.target);

                $that.attr('src', '/assets/images/map.png');
                $that.attr('srcset', '/assets/images/map@2x.png 2x, /assets/images/map@3x.png 3x');
            },
            /**
             * Returns userData address.
             * @returns {string} address string
             */
            getAddress() {
                let result = '';

                if (this.userData.street) {
                    result += `${this.userData.street }, `;
                }
                if (this.userData.city) {
                    result += `${this.userData.city }, `;
                }
                if (this.userData.state) {
                    result += `${this.userData.state }, `;
                }
                if (this.userData.postalcode) {
                    result += this.userData.postalcode;
                }

                return result;
            },
        },
    };
</script>
