<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../../sass/components/portal/myleads/layout";
</style>

<template>
    <div class="page-access-login">
        <portalNavbar>
            <div slot="subContent" class="nav-content">
                <div class="container">
                    <ul class="low-level-menu tabs tabs-transparent" v-show="subMenu.length > 0">
                        <li :class="{tab: true, disabled: (elem.tab !== 'all' && leads.isEmpty())}"
                            v-for="elem in subMenu" @click.capture="updateSubMenu($event, elem.link)">
                            <router-link :to="{ name: 'portalMainPage', params: { tab: elem.tab} }"
                                         :class="{active: (elem.tab === tab)}"
                                         :id="elem.tab"
                                         replace>{{ elem.text }}
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </portalNavbar>
        <transition name="fade">
            <div v-if="loading" class="loading-placeholder container">
                <div class="preloader-section">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>
                <div class="qualified-section">
                    <div v-for="key in 3" class="qualified-placeholder"></div>
                </div>
                <div class="table-section"></div>
            </div>
        </transition>
        <transition v-if="false" name="data-fade">
            <div v-if="!loading" class="container" v-show="tab === 'all'">
                <div v-if="!leads.isEmpty()" class="qualified-cards">
                    <div class="title-and-view">
                        <span class="title-text">
                            Recent Qualified Leads
                        </span>
                        <span class="view-all">
                            <a href="#">
                                VIEW ALL
                            </a>
                        </span>
                    </div>
                    <div class="row lead-cards">
                        <div class="col s4">
                            <portalCard class="qualified-lead-card" :userData="user"></portalCard>
                        </div>
                        <div class="col s4">
                            <portalCard class="qualified-lead-card" :userData="user"></portalCard>
                        </div>
                        <div class="col s4">
                            <portalCard class="qualified-lead-card" :userData="user"></portalCard>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="data-fade">
            <div v-if="!loading" class="container">
                <portalLeadsTable :collection="leads" :tab="tab" :tabTitle="getTabTitle(tab)" ref="leadsTable"></portalLeadsTable>
            </div>
        </transition>
    </div>
</template>

<script type="text/ecmascript-6">
    import socket from '../../../mixins/socket';
    import laroute from '../../../router/laroute';
    import Lead from '../../../objects/lead';
    import LeadCollection from '../../../collections/leadCollection';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      loading: boolean,
         *      leads: LeadCollection,
         *      user: {
         *          name: string,
         *          status: string,
         *          role: string,
         *          email: string,
         *          phone: string,
         *          address: string,
         *          source: string,
         *          date: string
         *      },
         *      subMenu: [
         *          {
         *              text: string,
         *              tab: string,
         *              link: string,
         *          }
         *      ],
         *      tab: string,
         *      intervalActivity: (function|null)
         * }} - Component data
         */
        data() {
            const leadCollections = new LeadCollection();

            return {
                loading: true,
                leads: leadCollections,
                subMenu: [
                    {
                        text: 'All Leads',
                        tab: 'all',
                        link: laroute.route('portal_myleads', { tab: 'all' }),
                    },
                    {
                        text: 'Active',
                        tab: 'active',
                        link: laroute.route('portal_myleads', { tab: 'active' }),
                    },
                    {
                        text: 'Qualified',
                        tab: 'qualified',
                        link: laroute.route('portal_myleads', { tab: 'qualified' }),
                    },
                    {
                        text: 'Unqualified',
                        tab: 'unqualified',
                        link: laroute.route('portal_myleads', { tab: 'unqualified' }),
                    },
                    {
                        text: 'Referred',
                        tab: 'referred',
                        link: laroute.route('portal_myleads', { tab: 'referred' }),
                    },
                ],
                tab: 'all',
                user: {
                    name: 'Julian R.',
                    status: 'Qualified',
                    role: 'Seller',
                    email: 'JulianRod@gmail.com',
                    phone: '(858) 653-1329',
                    address: '1549 El Prado, San Diego, CA 92101',
                    source: 'Zillow',
                    date: '10/20/2017',
                },
                intervalActivity: null,
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            const vm = this;

            $(document).ready(() => {
                $('ul.tabs').tabs();

                vm.updateSubMenu();

                vm.tryInitWebSocket(() => {
                    vm.$socket.emit('subscribePortalLeads', vm.$root.id, vm.$root.token);
                });

                clearInterval(vm.intervalActivity);

                vm.intervalActivity = setInterval(() => {
                    vm.updateActivity();
                }, 1000);
            });
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Calls each second.
             *
             * @returns {void}
             */
            updateActivity() {
                this.leads.updateCollection();
            },
            /**
             * Set animation of underscore sub-menu.
             * Update main content of tab.
             *
             * @param {Event} event - event object
             * @param {string} link - tab link
             *
             * @returns {void} - if no leads return void
             */
            updateSubMenu(event, link) {
                if (this.leads.isEmpty() && typeof event !== 'undefined') {
                    event.preventDefault();

                    return;
                }

                for (const index in this.subMenu) {
                    const item = this.subMenu[index];

                    if (item.link === link) {
                        this.tab = item.tab;
                    }
                }

                const vm = this;

                $(document).ready(() => {
                    $('ul.tabs').tabs('select_tab', vm.tab);

                    vm.leads.subPage = vm.tab;

                    switch (vm.tab) {
                        case 'all':
                            vm.leads.subPageStatuses = [
                                'Qualified',
                                'Unqualified',
                                'Referred',
                                'New lead',
                            ];
                            break;
                        case 'active':
                            vm.leads.subPageStatuses = [
                                'New lead',
                            ];
                            break;
                        case 'qualified':
                            vm.leads.subPageStatuses = ['Qualified'];
                            break;
                        case 'unqualified':
                            vm.leads.subPageStatuses = ['Unqualified'];
                            break;
                        case 'referred':
                            vm.leads.subPageStatuses = ['Referred'];
                            break;
                        default:
                            break;
                    }

                    vm.leads.updateCollection();
                });
            },
            /**
             * Returns tab title.
             *
             * @param {string} tab - Code
             *
             * @returns {string} - Tab title
             */
            getTabTitle(tab) {
                for (const index in this.subMenu) {
                    if (this.subMenu[index].tab === tab) {
                        return this.subMenu[index].text;
                    }
                }

                return 'n/a';
            },
            /**
             * Calls when search string was changed.
             *
             * @returns {void}
             */
            updateCollection() {
                this.leads.updateCollection();
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {Array} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                switch (message) {
                    case 'leadAll':
                        this.listenLeadAll(data);
                        break;
                    case 'leadCreate':
                        this.listenLeadCreate(data);
                        break;
                    case 'leadUpdateRep':
                        this.listenLeadUpdateRep(data);
                        break;
                    case 'leadUpdateStatus':
                        this.listenLeadUpdateStatus(data);
                        break;
                    case 'leadUpdateTime':
                        this.listenLeadUpdateTime(data);
                        break;
                    case 'leadUpdate':
                        this.listenLeadUpdate(data);
                        break;
                    case 'leadDelete':
                        this.listenLeadDelete(data);
                        break;
                    case 'leadRefer':
                        this.listenLeadRefer(data);
                        break;
                    default:
                        break;
                }
            },
            /**
             * Listen leads.
             *
             * @param {Array[]} data - Leads
             *
             * @returns {void}
             */
            listenLeadAll(data) {
                this.leads.cleanCollection();

                for (const index in data) {
                    const newLead = new Lead();

                    newLead.addDataRecursively(data[index]);
                    this.leads.addLead(newLead);
                }

                this.updateCollection();
                this.loading = false;
            },
            /**
             * Listen create lead.
             *
             * @param {Array[]} data - Lead
             *
             * @returns {void}
             */
            listenLeadCreate(data) {
                const newLead = new Lead();

                // TODO: newLead.agent should be instance of class `Agent`
                newLead.addDataRecursively(data.lead);
                newLead.addDataRecursively(data);

                this.leads.addLead(newLead);
                this.leads.updateCollection();
                this.$refs.leadsTable.getSources();
            },
            /**
             * Listen delete lead.
             *
             * @param {number} leadId - LeadId
             *
             * @returns {void}
             */
            listenLeadDelete(leadId) {
                this.leads.deleteLead(leadId);
                this.updateCollection();
            },
            /**
             * Listen update Rep.
             *
             * @param {Object} data - Lead
             *
             * @returns {void}
             */
            listenLeadUpdateRep(data) {
                const leadUpdateRep = this.leads.getLead(data.leadId);

                leadUpdateRep.conciergeId = data.repId;
                leadUpdateRep.updatedAt = data.updatedAt.date;

                this.updateCollection();
            },
            /**
             * Listen lead update status.
             *
             * @param {Object} data - {leadId: int, note:null|Note, status: string}
             *
             * @returns {void}
             */
            listenLeadUpdateStatus(data) {
                const lead = this.leads.getLead(data.leadId);

                lead.status = data.status;

                this.updateCollection();
            },
            /**
             * Listen update lead time.
             *
             * @param {Object} data - Lead
             *
             * @returns {void}
             */
            listenLeadUpdateTime(data) {
                const leadUpdateTime = this.leads.getLead(data.leadId);

                leadUpdateTime.updatedAt = data.updatedAt.date;
            },
            /**
             * Listen update lead data.
             *
             * @param {Object} data - Lead
             *
             * @returns {void}
             */
            listenLeadUpdate(data) {
                if (data === null) {
                    return;
                }

                this.leads.getLead(data.id).addDataRecursively(data);
            },
            /**
             * Listen lead refer.
             *
             * @param {number} leadId - Lead Id
             *
             * @returns {void}
             */
            listenLeadRefer(leadId) {
                const leadRefer = this.leads.getLead(leadId);

                leadRefer.status = 'Referred';

                this.updateCollection();
            },
        },
    };
</script>
