<style lang="scss" rel="stylesheet/scss" scoped>
    @import "../../../../sass/components/portal/myleads/table";
</style>
<style lang="scss">
    .filterSource ul {
        min-width: 200px !important;
        width: auto !important;
    }
    ul li {
        [type="checkbox"] + label {
            display: inline !important;
            font-size: 1.3rem !important;
        }
    }
</style>
<template>
    <div class="leads-table">
        <div class="title">
            <a class="btn referred" v-show="tab === 'referred'"
               target="_blank"
               :href="$root.referralNetworkUrl + '/#/my-affiliate-referrals/'" >
                Referral Network
            </a>
            <div class="col s12">
                {{ tabTitle }}
            </div>
        </div>
        <div class="leads-tables-controls">
            <div class="search-field">
                <label for="search">
                    <i :class="{'material-icons': true, disabled: collection.isEmpty()}"
                       v-show="collection.search === ''">
                        &#xE8B6;
                    </i>
                    <i class="material-icons"
                       v-show="collection.search !== ''"
                       @click="collection.search = ''; updateCollection();">&#xE14C;</i>
                </label>
                <input id="search"
                       type="text"
                       :placeholder="'Search ' + tabTitle"
                       v-model="collection.search"
                       :disabled="collection.isEmpty()"
                       @keyup="updateCollection()">
            </div>
            <div class="all-lead-table-filters">
                <div class="filters">
                    <select multiple
                            :disabled="collection.isEmpty()"
                            class="validate filterSource"
                            v-model="collection.filterSource"
                            data-type="filter-source" >
                        <option v-for="option in filterBySource"
                                :value="option.value"
                                :disabled="option.disabled ? true : null">{{ option.text }}</option>
                    </select>
                </div>
                <div class="filters">
                    <select class="validate filterType"
                            :disabled="collection.isEmpty()"
                            v-model="collection.filterType"
                            data-type="filter-type">
                        <option v-for="option in filterByType"
                                :value="option.value"
                                :disabled="option.disabled ? true : null">{{ option.text }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="table">
            <table>
                <thead v-if="!collection.isEmpty()">
                    <tr>
                        <th class="sortable"
                            @click="sort('name')"
                            :class="{ desc: desc('name'), asc: asc('name') }">
                            <span>Lead Name</span>
                        </th>
                        <th>
                            <span>Email</span>
                        </th>
                        <th>
                            <span>Phone</span>
                        </th>
                        <th class="sortable"
                            @click="sort('type')"
                            :class="{ desc: desc('type'), asc: asc('type') }">
                            <span>Type</span>
                        </th>
                        <th class="sortable"
                            @click="sort('source')"
                            :class="{ desc: desc('source'), asc: asc('source') }">
                            <span>Source</span>
                        </th>
                        <th class="sortable"
                            @click="sort('status')"
                            :class="{ desc: asc('status'), asc: desc('status') }">
                            <span>Status</span>
                        </th>
                        <th class="sortable"
                            @click="sort('activity')"
                            :class="{ desc: desc('activity'), asc: asc('activity') }">
                            <span>Last Activity</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="!collection.isEmpty()"
                        class="lead-column"
                        v-for="lead in collection.computedList"
                        @click="getLeadDetails(lead)"
                        :class="{'arrow': !isValid(lead)}">
                        <td class="lead-name">{{ lead.firstName + ' ' + lead.lastName }}</td>
                        <td>{{ lead.email }}</td>
                        <td>{{ lead.phone }}</td>
                        <td>{{ lead.leadType }}</td>
                        <td>{{ lead.source.name }}</td>
                        <td>{{ lead.status }}</td>
                        <td>{{ lead.activity() }}</td>
                    </tr>
                </tbody>
            </table>
            <div v-if="collection.isEmpty()" class="no-leads">
                <div class="img-no-leads">
                    <img src="/assets/images/portal-no-leads.png"
                         srcset="/assets/images/portal-no-leads@2x.png 2x, /assets/images/portal-no-leads@3x.png 3x">
                </div>
                <div class="title">
                    Darn! No leads yet.
                </div>
                <div class="button">
                    <router-link class="btn" :to="{name: 'lead_sources'}">
                        Check Lead Sources
                    </router-link>
                </div>
                <div class="space"></div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    const _ = require('lodash');

    export default {
        /**
         * Props.
         * @link https://vuejs.org/v2/api/#props
         */
        props: ['collection', 'tab', 'tabTitle'],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *     filterByType: [*,*,*,*],
         *     filterBySource: Array
         * }} - Component data
         */
        data() {
            return {
                filterByType: [
                    {
                        text: 'Filter by Type',
                        value: '-',
                        disabled: true,
                    },
                    {
                        text: 'All',
                        value: 'All',
                    },
                    {
                        text: 'Buyer',
                        value: 'buyer',
                    },
                    {
                        text: 'Seller',
                        value: 'seller',
                    },
                ],
                filterBySource: [],
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            this.updateCollection();
            this.getSources();
            $(document)
                .ready(() => {
                    $('select').material_select();
                    $('.select-wrapper input[type="checkbox"]').addClass('filled-in');

                    const caretImage = '<img src="/assets/images/grey.png" '
                        + 'srcset="/assets/images/grey@2x.png 2x, '
                        + '/assets/images/grey@3x.png 3x">';

                    $('.caret').html(caretImage);
                });
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Calls when search string was changed.
             *
             * @returns {void}
             */
            updateCollection() {
                this.collection.updateCollection();

                const vm = this;

                /**
                 * SetTimeout(function(){ ... }, 0) trick - runs code after all code at main thread will be executed.
                 *
                 * Code execute:
                 * 1. Processing changes of dropdowns
                 * 2. Init new dropdowns
                 */
                setTimeout(() => {
                    $('select').material_select();
                    $('select').each(function () {
                        const type = $(this).attr('data-type');

                        $(this).off('change');
                        switch (type) {
                            case 'filter-source':
                                $(this).on('change', function () {
                                    vm.collection.filterSource = $(this).val();
                                    vm.updateCollection();
                                });
                                break;
                            case 'filter-type':
                                $(this).on('change', function () {
                                    vm.collection.filterType = $(this).val();
                                    vm.updateCollection();
                                });
                                break;
                            default:
                                break;
                        }

                        $(this)
                            .parent()
                            .find('span.caret')
                            .html(
                                '<img src="/assets/images/grey.png" '
                                    + 'srcset="/assets/images/grey@2x.png 2x, /assets/images/grey@3x.png 3x">'
                            );
                        $('.select-wrapper input[type="checkbox"]:disabled').remove();
                    });
                }, 0);
            },
            /**
             * Sort.
             *
             * @param {string} column - Column name
             *
             * @returns {void}
             */
            sort(column) {
                if (this.collection.orderColumn === column) {
                    this.collection.orderDirectionUp = !this.collection.orderDirectionUp;
                } else {
                    this.collection.orderColumn = column;
                    this.collection.orderDirectionUp = true;
                }

                this.collection.updateCollection();
            },
            /**
             * Ascending.
             *
             * @param {string} column - Column name
             *
             * @returns {boolean} - Apply 'asc' class for column or not
             */
            asc(column) {
                return this.collection.orderColumn === column && this.collection.orderDirectionUp;
            },
            /**
             * Descending.
             *
             * @param {string} column - Column name
             *
             * @returns {boolean} - Apply 'desc' class for column or not
             */
            desc(column) {
                return this.collection.orderColumn === column && !this.collection.orderDirectionUp;
            },
            /**
             * Return array of sources for dropdown
             *
             * @returns {Array} - sources
             */
            getSources() {
                this.filterBySource = [
                    {
                        text: 'Filter By Sources',
                        value: '-',
                        disabled: true,
                    },
                    {
                        text: 'All',
                        value: 'All',
                    },
                ];

                for (const index in this.collection.leads) {
                    const item = this.collection.leads[index].source.name;
                    const source = {
                        text: item,
                        value: item,
                    };
                    this.filterBySource.push(source);
                }
                this.filterBySource = _.uniqBy(this.filterBySource, 'text');
                this.updateCollection();
            },
            /**
             * Get lead info.
             *
             * @param {Lead} lead - get leads detail depending on tab
             *
             * @returns {void}
             */
            getLeadDetails(lead) {
                switch (this.tab) {
                    case 'referred':
                        this.redirectToReferralNetwork(lead.opportunityId);
                        break;
                    default:
                        this.goToLeadPage(lead.id);
                        break;
                }
            },
            /**
             * Get lead info.
             *
             * @param {string} leadId - lead id
             *
             * @returns {void}
             */
            goToLeadPage(leadId) {
                const path = 'portalLeadPage';

                this.$router.push({
                    name: path,
                    params: { id: leadId },
                });
            },
            /**
             * Get referred lead info from agentology.
             *
             * @param {string} opportunityId - referred lead id from agentology
             *
             * @returns {void}
             */
            redirectToReferralNetwork(opportunityId) {
                if (opportunityId) {
                    const url = `${this.$root.referralNetworkUrl }/#/affiliate-referral-details/${ opportunityId}`;
                    window.open(url, '_blank');
                }
            },
            /**
             * Checks if lead data is valid.
             *
             * @param {Lead} lead - lead object
             *
             * @returns {boolean} - is lead can be considered valid
             */
            isValid(lead) {
                switch (this.tab) {
                    case 'referred':
                        return !!lead.opportunityId;
                    default:
                        return true;
                }
            },
        },
    };
</script>
