@import '../../../../variables';
@import '../../../../mixins';

.message {
  font-size: 13px;

  .failed {
    color: $pp-error;
    position: absolute;
    margin: 5px 0 0 -25px;
  }

  p {
    margin: 0;
    padding: 8px;
  }

  .client {
    background: $pp-message-send;
  }

  .meta {
    @include font($pp-grey, normal, 12px);
    padding-top: 8px;
    padding-bottom: 16px;
  }

  span {
    @include size(40px !important);
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    padding: 12px 0 0;
  }

  .host {
    p:first-child {
      background: $pp-white;
    }
  }
}