<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../../sass/components/portal/setup/layout";
</style>

<template>
    <div class="page-setup">
        <portalNavbar :linkTo="linkTo" :disableMenu="true" :disableDropDown="true"></portalNavbar>
        <div class="container">
            <div :class="{'back-button': true, hidden: step === 1}">
                <a class="back" @click="changeStep(-1)">
                    <i class="material-icons">&#xE5C4;</i>
                    <span>Back</span>
                </a>
            </div>
            <h2>Setup Your Profile</h2>
            <div class="progress-setup">
                <div :class="{step: true, step1: true, active: step === 1}">
                    <i class="material-icons">&#xE0B0;</i>
                </div>
                <div class="hr"></div>
                <div :class="{step: true, step2: true, active: step === 2}">
                    <i class="material-icons">&#xE7FD;</i>
                </div>
                <div class="hr"></div>
                <div :class="{step: true, step3: true, active: step === 3}">
                    <i class="material-icons">&#xE8B8;</i>
                </div>
            </div>
            <div class="progress-names">
                <div :class="{'step-name': true, active: step === 1}">Select Phone Number</div>
                <div :class="{'step-name': true, active: step === 2}">Concierge Identity</div>
                <div :class="{'step-name': true, active: step === 3}">Setup Lead Sources</div>
            </div>
            <div class="main-content">
                <div v-if="step === 1 || step === 2" class="phone-picture">
                    <img class="phone-border" src="/assets/images/apple-i-phone-7-silver.png"
                         srcset="/assets/images/apple-i-phone-7-silver@2x.png 2x,
                                 /assets/images/apple-i-phone-7-silver@3x.png 3x">
                    <img class="phone-content" src="/assets/images/iphone-screen-empty.png"
                         srcset="/assets/images/iphone-screen-empty@2x.png 2x,
                                 /assets/images/iphone-screen-empty@3x.png 3x">
                    <div class="user-phone-number">
                        <span class="phone-number">
                            {{agentData.phoneNumber ? agentData.phoneNumber : '(555) 555-5555'}}
                        </span>
                    </div>
                    <div class="user-personal-text">
                        <span class="text-content">
                            Hello! It's {{agentData.conciergeName ? agentData.conciergeName : 'Casey'}} the
                            {{agentData.conciergeTitle ? agentData.conciergeTitle : 'Client Care Specialist'}} with The
                            {{agentData.teamName ? agentData.teamName : 'James West Team' }}. Thanks for your
                            recent property inquiry, do you have any questions I could help with? :)
                        </span>
                    </div>
                    <div :class="{'phone-tooltips': true, phone: true, 'step-2': step === 2}">
                        <div class="tooltip-circle blue-small-circle"></div>
                        <div class="tooltip-circle with-animation blue-medium-circle"></div>
                        <div class="tooltip-circle with-animation blue-big-circle"></div>
                        <div v-if="step === 1" class="text">
                            Your Agentology phone number displays here.
                        </div>
                        <div v-if="step === 2" class="text">
                            Your Concierge identity will be used to greet and communicate with your leads.
                        </div>
                    </div>
                </div>
                <div :class="{'content-area': true, 'final-step': step === 3}">
                    <portalSelectPhoneStep v-if=" step === 1" ref="agentPhone"></portalSelectPhoneStep>
                    <portalConciergeIdentity v-if="step === 2"></portalConciergeIdentity>
                    <portalLeadSources v-if="step >= 3"></portalLeadSources>
                </div>
                <div class="next-button">
                    <a :class="{btn: true, disabled: !next, hidden: step >= 3}" @click="changeStep(1)">
                        NEXT
                    </a>
                    <a :class="{btn: true, hidden: (step === 1 || step === 2)}" @click="changeStep(1)">
                        FINISH
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import socket from '../../../mixins/socket';
    import laroute from '../../../router/laroute';

    export default {
        /**
         * Components mixins.
         * @link https://vuejs.org/v2/api/#mixins
         */
        mixins: [socket],
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      linkTo: string,
         *      step: int,
         *      tokenEmailScopeProvided: boolean,
         *      finalStep: int,
         *      next: boolean,
         *      generate: boolean,
         *      showPhone: boolean,
         *      agentData: {
         *          phoneNumber: string,
         *          areaCode: string,
         *          conciergeName: string,
         *          conciergeTitle: string,
         *          teamName: string
         *      }
         * }} - Component data
         */
        data() {
            return {
                linkTo: laroute.route('portal_setup'),
                step: 1,
                tokenEmailScopeProvided: 0,
                finalStep: 3,
                next: false,
                generate: false,
                showPhone: false,
                agentData: {
                    phoneNumber: '',
                    areaCode: '',
                    conciergeName: '',
                    conciergeTitle: '',
                    teamName: '',
                    emailForwarding: '',
                },
            };
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            const vm = this;

            $(document).ready(() => {
                vm.tryInitWebSocket(() => {
                    vm.$socket.emit('subscribeSetup', vm.$root.id, vm.$root.token);
                });
            });
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Method to change step
             * @param {integer} stepOffset - Plus or minus step
             * @return {void}
             */
            changeStep(stepOffset) {
                this.step += stepOffset;

                if (this.step && stepOffset > 0) {
                    this.$socket.emit('updateTutorial', this.$root.id, this.$root.token, this.agentData, this.step);
                }

                this.next = stepOffset < 0;
            },
            /**
             * Processing messages from web socket.
             *
             * @param {string} message - Type
             * @param {Array} data - Actual data
             *
             * @returns {void}
             */
            onMessageWebSocket(message, data) {
                switch (message) {
                    case 'agentSetup':
                        this.listenAgentSetup(data);
                        break;
                    case 'agentGeneratePhone':
                        this.listenAgentPhone(data);
                        break;
                    case 'agentUpdateOnBoarding':
                        this.listenUpdateOnBoarding(data);
                        break;
                    default:
                        break;
                }
            },
            /**
             * Listen generated phone number
             * @param {string|boolean} data - Agent phone number
             * @returns {void}
             */
            listenAgentPhone(data) {
                if (typeof this.$refs.agentPhone == 'undefined') {
                    return;
                }

                if (data) {
                    this.$refs.agentPhone.displayNoPhoneError = false;
                    this.agentData.phoneNumber = data;
                    this.next = true;
                } else {
                    this.$refs.agentPhone.displayNoPhoneError = true;
                    this.next = false;
                }
            },
            /**
             * Listen for step update
             * @param {integer} step - Step of tutorial
             * @returns {void}
             */
            listenUpdateOnBoarding(step) {
                if (step > this.finalStep) {
                    window.location = laroute.route('portal_user');
                }
            },
            /**
             * Listen for step data
             * @param {Object} data - Data with step and agent tutorial data
             * @returns {void}
             */
            listenAgentSetup(data) {
                this.step = data.step;
                this.tokenEmailScopeProvided = data.tokenEmailScopeProvided;
                this.agentData = data.agentData;

                if (data.step > this.finalStep) {
                    window.location = laroute.route('portal_user');
                }
            },
        },
    };
</script>
