<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../../sass/components/portal/setup/portal.concierge.identity";
</style>

<template>
    <div class="select-phone-container">
        <div class="title">
            Name Your Concierge
        </div>
        <div class="description">
            We'll use this identity when engaging and qualifying leads on your behalf.
        </div>
        <div class="input-area input-field">
            <input type="text" id="concierge-name" v-model="conciergeData.name">
            <label for="concierge-name">Concierge Name (i.e. Casey)</label>
            <span class="info">Please use a name different than your own.</span>
        </div>
        <div class="input-area input-field">
            <input type="text" id="concierge-title" v-model="conciergeData.title">
            <label for="concierge-title">Concierge Title (i.e. Client Care Specialist)</label>
        </div>
        <div class="input-area input-field">
            <input type="text" id="team-name" v-model="conciergeData.teamName">
            <label for="team-name">Team Name (i.e. James West Team)</label>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      conciergeData: {
         *          name: string,
         *          title: string,
         *          teamName: string
         *      }
         * }} - Component data
         */
        data() {
            return {
                conciergeData: {
                    name: this.$parent.agentData.conciergeName,
                    title: this.$parent.agentData.conciergeTitle,
                    teamName: this.$parent.agentData.teamName,
                },
            };
        },
        /**
         * Watchers.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            conciergeData: {
                /**
                 * Watcher for concierge data.
                 *
                 * @returns {void}
                 */
                handler() {
                    this.$parent.agentData.conciergeName = this.conciergeData.name;
                    this.$parent.agentData.conciergeTitle = this.conciergeData.title;
                    this.$parent.agentData.teamName = this.conciergeData.teamName;

                    this.checkRequiredData();
                },
                deep: true,
            },
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            this.checkRequiredData();

            $(document).ready(() => {
                if (typeof Materialize.updateTextFields != 'undefined') {
                    Materialize.updateTextFields();
                }
            });
        },
        methods: {
            /**
             * Method to check if all fields is filled and if so activate next button
             * @returns {void}
             */
            checkRequiredData() {
                const data = this.conciergeData;

                this.$parent.next = data.name && data.title && data.teamName;
            },
        },
    };
</script>
