<style lang="scss" scoped rel="stylesheet/scss">
    @import "../../../../sass/components/portal/setup/select.phone.number.step";
</style>

<template>
    <div class="select-phone-container">
        <div class="title">We’re Part of Your Team</div>
        <div class="description">
            Agentology uses your area code to generate the number it will use to text and call your leads.
        </div>
        <form class="area-code" v-on:submit.prevent="submitForm">
            <div class="input-area input-field">
                <input v-model="areaCode"
                       maxlength="3"
                       type="tel"
                       id="area-code"
                       :class="{validate: true, invalid: displayNoPhoneError}"
                       name="areaCode">
                <label for="area-code" data-error="Enter Valid Area Code">Type Area Code</label>
            </div>
        </form>
        <a :class="{'btn-flat': true, 'generate-button': true, disabled: !canGenerate}" @click="generatePhoneNumber">
            {{ $parent.agentData.phoneNumber ? 'REFRESH' : 'GENERATE' }}
        </a>
        <div v-if="$parent.agentData.phoneNumber" class="phone-container">
            <div class="title">Your Number</div>
            <div class="phone">{{ formattedPhoneForCurrentAgent }}</div>
        </div>
    </div>
</template>

<script type="text/babel">
    import { toNational } from '../../../helpers/phone';

    export default {
        /**
         * Data.
         * @link https://vuejs.org/v2/api/#data
         * @returns {{
         *      canGenerate: boolean,
         *      displayNoPhoneError: boolean,
         *      areaCode: string
         * }} - Component data
         */
        data() {
            return {
                canGenerate: false,
                displayNoPhoneError: false,
                areaCode: this.$parent.agentData.areaCode,
            };
        },
        /**
         * Computed.
         * @link https://vuejs.org/v2/api/#computed
         */
        computed: {
            /**
             * Formats phone for current agent.
             *
             * @return {string} - Formatted phone for current agent
             */
            formattedPhoneForCurrentAgent() {
                const data = this.$parent.agentData;

                return data.phoneNumber ? toNational(data.phoneNumber.slice(2)) : '';
            },
        },
        /**
         * Mounted hook.
         * @link https://vuejs.org/v2/api/#mounted
         * @returns {void}
         */
        mounted() {
            const vm = this;

            $(document).ready(() => {
                vm.validateAreaCode();

                if (typeof Materialize.updateTextFields != 'undefined') {
                    Materialize.updateTextFields();
                }


                if (vm.areaCode) {
                    const valid = $('.area-code').validate()
                        .element('#area-code');

                    vm.canGenerate = !!valid;
                }
            });
        },
        /**
         * Watchers.
         * @link https://vuejs.org/v2/api/#watch
         */
        watch: {
            /**
             * Validate areaCode and enable or disable generate or refresh button
             * @param {string} val - Area code value
             * @returns {void}
             */
            areaCode(val) {
                if (val) {
                    this.areaCode = val.replace(/[^0-9]/gim, '');
                }
                this.canGenerate = !!$('.area-code').validate()
                    .element('#area-code');
            },
        },
        /**
         * Methods.
         * @link https://vuejs.org/v2/api/#methods
         */
        methods: {
            /**
             * Method to submit form
             * @returns {void}
             */
            submitForm() {
                if (this.canGenerate) {
                    this.generatePhoneNumber();
                }
            },
            /**
             * Method to generate phone number by areaCode
             * @returns {void}
             */
            generatePhoneNumber() {
                this.displayNoPhoneError = false;
                this.$parent.agentData.areaCode = this.areaCode;
                this.$socket.emit('generatePhoneNumber', this.$root.id, this.$root.token, this.areaCode);
            },
            /**
             * Method to validate area code
             * @returns {void}
             */
            validateAreaCode() {
                $('.area-code').validate({
                    validClass: 'valid',
                    errorClass: 'invalid',
                    rules: {
                        areaCode: {
                            required: true,
                            areaCode: true,
                        },
                    },
                    errorPlacement() {
                        return true;
                    },
                });
            },
        },
    };
</script>