@import '../../../variables';
@import '../../../mixins';

.call {
  @include font($pp-white, 1.07, 15px);
  @include size(100%);
  background: $pp-darken;
  display: flex;
  flex-direction: column;
  padding-top: 49px;
  position: absolute;

  .holder {
    flex-grow: 1;
    display: flex;

    .call-container {
      background: transparent;
      flex-basis: 100%;
    }

    .content {
      position: relative;
      height: 100%;

      .call-start {
        @include size(100%, 290px);
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translateX(-50%) translateY(-50%);

        .lead-name {
          @include font($pp-grey, 1.18, 56px);
          @include size(120px);
          display: flex;
          align-items: center;
          justify-content: center;
          background: $pp-grey-light;
          border-radius: 16px;
          letter-spacing: 0.3px;
          margin: 0 auto;
        }

        .calling {
          font-size: 34px;
          line-height: 1.18;
          margin-bottom: 8px;
          margin-top: 24px;
        }

        .timer {
          margin-bottom: 24px;
          margin-top: 0;
        }

        .controls {
          div {
            @include size(56px);
            display: inline-block;
            cursor: pointer;
            padding: 15px;
            margin-right: 24px;

            &:last-child {
              margin-right: 0;
            }
          }

          .mic {
            background: #d8d8d8;
            color: #1f1f1f;
          }

          .phone {
            background: #f5532d;
          }
        }
      }

      .call-end {
        @extend .call-start;
        @include size(416px, 104px);
        background: #353535;
        border-radius: 2px;
        padding: 24px;
        display: flex;
        align-items: center;

        p {
          margin: 0;
        }

        .phone {
          @include size(56px);
          display: inline-block;
          background: #f5532d;
          padding: 15px;
        }

        .end-info {
          margin-left: 16px;
          letter-spacing: 0;

          .end-host {
            @include font(null, 1.07, 15px);
            margin-bottom: 6px;
          }

          .end-time {
            @include font(null, 1.23, 13px, 500);
          }
        }
      }
    }
  }

  .call-notes {
    height: auto;
    margin: 24px 24px 0;

    p {
      margin: 8px 0;
    }

    textarea {
      @include font($pp-grey-light, 1.54);
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(158, 158, 158, 0.1);
      height: 160px;
      margin-bottom: 24px;
      outline: none;
      padding: 16px;
      resize: none;
    }

    .btn {
      margin-bottom: 24px;

      &[disabled="disabled"] {
        background-color: $pp-grey-light !important;
        color: $pp-grey !important;
      }
    }
  }
}