@import '../../../variables';
@import '../../../mixins';

.channel {
  position: relative;
  overflow: hidden;
  padding: 0 8px 0 0;
  height: 100%;

  ul {
    margin: 0;

    li {
      padding: 16px 0 16px 16px;
      border-bottom: 1px solid $pp-grey-lighten;
      cursor: pointer;

      &.active {
        background: $pp-grey-lighten;
      }

      .card {
        background: inherit;
        margin: 0;
        padding-right: 8px;
        box-shadow: none;

        .chat-badge {
          @include size(16px);
          background: $pp-blue;
          font-size: 11px;
          padding: 1px;
          position: absolute;
          top: 0;
          left: 0;
        }

        &.call {
          p {
            font-weight: 500 !important;
          }

          .chat-badge {
            @extend .chat-badge;
          }
        }

        &.urgent > span {
          background: $pp-urgent;
          .chat-badge {
            @extend .chat-badge;
          }
        }

        &.awaiting {
          @extend .call;
          span {
            background: $pp-awaiting;
          }
          .chat-badge {
            @extend .chat-badge;
          }
        }

        &.notification {
          @extend .call;
          .chat-badge {
            @extend .chat-badge;
          }
        }

        span {
          cursor: default;
          padding: 8px;
          @include size(40px);
        }

        .card-stacked {
          margin-left: 16px;

          p {
            @include font($pp-grey-darken, 1.54);
            margin: 0;
            padding: 0;

            &.title {
              font-size: 15px;
            }
          }
        }

        .time {
          @include font($pp-urgent !important, 1.38, 500);
          position: absolute;
          top: 0;
          right: 8px;
          margin: 0;
        }
      }

      &.history {
        border-bottom: none;
      }
    }
  }
}