@import '../../../variables';

.channels {
  position: relative;
  overflow: hidden;
  padding: 0 8px 0 0;
  height: 100%;

  ul {
    margin: 0;

    li {
      padding: 16px 0 16px 16px;
      border-bottom: 1px solid $pp-grey-lighten;
      cursor: pointer;

      &.active {
        background: $pp-grey-lighten;
      }

      &.history {
        border-bottom: none;
      }

      &#paused-status {
        background: $pp-grey-lighten;
        height: auto;
        min-height: 80px;
        .paused-status-desc {
          display: inline-block;
          max-width: 60%;
          span {
            font-size: 13px;
          }
        }
        .paused-status-button {
          display: inline-block;
          text-align: right;
          width: 35%;
          min-width: 100px;
          vertical-align: top;
          a {
            margin: 6px 0 0 0;
            padding-left: 10px !important;
            padding-right: 10px !important;
          }
        }
      }
    }
  }
}