@import '../../../variables';
@import '../../../mixins';

.chat {
  border-right: $pp-border;
  padding-left: 0;
  padding-right: 0;
  height: 100%;

  .chat-container {
    height: 100%;

    .messaging {
      border-left: $pp-border;
      padding: 0;
      height: 100%;

      .navs {
        position: relative;
        padding-left: 24px;
        padding-right: 0;
        border-bottom: $pp-border;
        z-index: 9;

        .left {
          height: 48px;

          ul {
            display: inline-block;
            margin: 16px 0;
            height: 16px;

            li {
              @include font($pp-grey-dark, 1.07, 15px);
              float: left;

              &:after {
                content: '';
                margin-right: 3px;
              }

              &:before {
                content: '/ ';
                margin-left: 3px;
              }

              &:first-child:before {
                content: '';
              }

              &:first-child {
                font-weight: 500;
              }
            }
          }
        }

        .btn-flat {
          @include font($pp-green, 1.14, 14px, 500);
          margin-top: 16px;
          padding-left: 16px;
          height: 16px;

          &:active,
          &:focus,
          &:hover {
            background: none;
          }
        }
      }

      .messaging-container {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }
}