@import '../../../variables';
@import '../../../mixins';

.tab {
  position: absolute;
  line-height: 0.8;
  top: 1px;
  right: 0;
  z-index: 9;

  ul {
    @include size(auto, 48px);
    display: inline-block;
    margin: 0;

    li {
      @include size(48px, 100%);
      float: left;
      cursor: pointer;
      padding: 12px;
      position: relative;
      text-align: center;
      transition: border-left 0.5s, border-right 0.5s, background-color 0.5s, color 0.9s;

      i {
        color: $pp-grey;
      }

      i:hover {
        color: $pp-grey-dark;
      }
      div.red-circle {
        @include size(10px);
        position: absolute;
        background: $pp-urgent;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        top: 10px;
        right: 10px;
      }
    }

    li.active {
      background-color: $pp-grey-lighten;
      border-left: $pp-border;
      border-right: $pp-border;
      transition: border-left 0.1s, border-right 0.1s, background-color 1s, color 1s;

      i {
        color: $pp-blue;
      }
    }

    li:last-child.active {
      border-right: 0;
    }
  }
}