@import '../../../variables';
@import '../../../mixins';

.card {
  background: inherit;
  margin: 0;
  padding-right: 8px;
  box-shadow: none;

  .chat-badge {
    @include size(16px);
    background: $pp-blue;
    font-size: 11px;
    padding: 1px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .mainSpan {
    border-radius: 50%;
    text-align: center;
  }

  .iconClass {
    @extend .mainSpan;
    color: white;
  }

  i {
    color: white;
  }

  &.urgent {
    .mainSpan {
      background: $pp-urgent;
    }

    .iconClass {
      background: $pp-light-blue;
      @extend .chat-badge;
    }
  }

  &.awaiting-response {
    .mainSpan {
      background: $pp-awaiting;
    }

    .iconClass {
      background: $pp-light-blue;
      @extend .chat-badge;
    }
  }

  &.action-required {
    .mainSpan {
      background: $pp-light-blue;
    }

    .iconClass {
      background: $pp-green;
      @extend .chat-badge;
    }
  }

  &.ongoing-chat,
  &.automation,
  &.archive {
    .mainSpan {
      @extend .grey-text;
      @extend .text-darken-4;
      @extend .grey;
      @extend .lighten-1;
    }

    .iconClass {
      @extend .chat-badge;
      background: $pp-light-blue !important;
    }

    i {
      color: $pp-grey-darken;
    }
  }

  span {
    cursor: default;
    padding: 8px;
    @include size(40px);
  }

  .card-stacked {
    margin-left: 16px;

    p {
      @include font($pp-grey-darken, 1.54);
      margin: 0;
      padding: 0;

      &.title {
        font-size: 15px;
      }
    }

    .truncate {
      max-width: 17vw;
    }
  }

  .time {
    @include font($pp-urgent !important, 1.38, 500);
    position: absolute;
    top: 0;
    right: 8px;
    margin: 0;
  }
}