@import '../../../variables';
@import '../../../mixins';

.email-original {
  @include size(100%);
  position: absolute;
  top: 49px;
  bottom: 56px;
  overflow: hidden;
  background: $pp-grey-lighten;

  .email-original-container {
    position: relative;
    height: auto;

    .letter {
      background: $pp-white;
    }
  }
}