@import '../../../variables';
@import '../../../mixins';

.history {
  padding: 8px 24px 8px 8px;
  margin: 24px 24px;

  p {
    margin: 0;
    padding: 0;

    &.title {
      @include font(null, 1.2, 15px, 500);
      letter-spacing: 0;
    }
  }

  .node {
    padding-top: 16px;
    letter-spacing: 0;

    .head {
      @include font($pp-grey-darken, 1.07, 15px);
    }

    .log {
      @include font(null, 1.54, 13px);
      padding-top: 8px;
    }

    .meta {
      @include font(null, 1.33, 12px);
      padding-top: 8px;
    }
  }
}