@import '../../../variables';
@import '../../../mixins';

.lead-info {
  padding: 0;
  position: relative;
  height: 100%;

  .navs {
    background: $pp-white;
    height: 49px;
    padding: 0;

    .note-badge {
      @include size(6px);
      background: $pp-urgent;
      position: absolute;
      top: 12px;
      right: 12px;
    }

    p {
      @include font($pp-grey, 1.07, 15px, 500);
      margin: 0;
      padding-top: 16px;

      &.active {
        color: $pp-blue;
      }

      &.lead-info-title {
        cursor: pointer;

        i {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    #tabs-swipe-lead-info {
      .tab {
        a {
          @include font($pp-grey, null, 14px, 500);
          border-bottom: 1px solid $pp-grey;

          &:hover, &.active {
            color: $pp-blue;
          }

          &.left-tab {
            border-right: 1px solid $pp-grey;
          }

          &.right-tab {
            border-left: 1px solid $pp-grey;
          }

          &.active {
            border: none;
          }

          i {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }

    span.right {
      position: relative;
      color: $pp-grey;
      text-transform: uppercase;
      padding-top: 13px;

      &.active {
        color: $pp-blue;
      }
    }
  }

  .info-wrap,
  .info-container {
    @include size(100%);
    position: relative;
    overflow: hidden;
  }

  .info-container {
    .info-wrap {
      background: $pp-white;
      border-right: $pp-border;
      padding: 0 7px 0 16px;

      .info {
        padding-right: 7px;
        padding-bottom: 66px;
      }
    }
  }

  .update-status {
    @include size(100%, 100px);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 8px 0 0;

    .update-wrapper {
      @include size(100%);
      position: relative;
      background: $pp-white;
      border-top: $pp-form-border;
      border-right: $pp-border;
      padding: 25px 24px;

      button {
        @include font($pp-white, 1.14, 14px, 500);
        @include size(128px, 40px);
        padding: 0;
      }

      p {
        @include font($pp-dark, 1.54);
        margin: 0 0 0 10px;
      }
    }
  }
}

.slide-vertical-enter-active {
  transition: all .3s ease;
}

.slide-vertical-leave-active {
  transition: all 1s ease;
}

.slide-vertical-enter, .slide-vertical-leave-to {
  transform: translateY(100%);
}