@import '../../../variables.scss';
@import '../../../mixins.scss';
@import "chat/chat.message";

.messages {
  position: absolute;
  width: 100%;
  top: 49px;
  bottom: 56px;
  overflow: hidden;
  background: $pp-grey-lighten;

  ul {
    margin: 0;
    padding: 24px 24px 5rem;

    li {
      .email {
        @extend .message;

        .client {
          background: $pp-email-send;
        }

        .host {
          background: $pp-white;
        }
      }

      .call {
        @extend .message;
        background: $pp-call-alert;

        .call-alert {
          padding: 24px 0 8px 24px;

          p {
            margin: 0;
            padding: 0 16px;
          }

          .call-icon {
            @include size(56px);
            display: inline-block;
            background: $pp-grey;
            padding: 16px;

            i {
              color: $pp-white;
            }
          }

          .call-meta {
            .call-style {
              letter-spacing: 0;
              text-align: left;
            }

            .call-host {
              @extend .call-style;
              @include font($pp-dark, 1.07, 15px);
              padding-bottom: 6px;
            }

            .call-time {
              @extend .call-style;
              @include font($pp-dark, 1.23, 13px, 500);
              padding-bottom: 6px;
            }

            .call-notes {
              @extend .call-style;
              @include font($pp-blue, 1.17, 12px);
            }
          }
        }

        .meta {
          padding-bottom: 8px;
        }
      }
    }
  }

  .btn-floating {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}