@import '../../../variables';
@import '../../../mixins';

.input {
  width: 100%;
  min-height: 56px;
  position: absolute;
  bottom: 0;
  background: $pp-white;
  border-top: $pp-border;

  input,
  .input-field {
    width: 90%;
    margin: 0;
  }

  form {
    position: relative;
  }

  #chatInputContainer {
    position: relative;
    padding: 15px 0;

    .input-field {
      max-height: 320px;
      overflow-y: auto;
      overflow-x: hidden;

      textarea {
        @include size(100%, 24px);
        @include font(null, 24px, 13px);
        margin: 0;
        padding: 0 10px;
        min-height: 24px;
        border: none;
        outline: none;
        vertical-align: top;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }

    .error {
      color: $pp-error;
    }
    .error-text {
      position: relative;
      top: -6px;
    }
  }

  .btn-flat {
    position: absolute;
    bottom: 9px;
    right: 6px;
    padding: 0;
    margin: 0 16px;
    &:disabled {
      background: none !important;
    }
  }

  .btn-flat > i {
    font-size: 24px;
  }
}