@import '../../../variables.scss';
@import '../../../mixins.scss';

.scripts {
  @include size(100%, 46%);
  background: transparent;
  border-top: $pp-border;
  position: absolute;
  bottom: 56px;
  padding-right: 8px;
  overflow: hidden;

  .scripts-container {
    @include size(100%, auto);
    position: relative;
    background: $pp-white;
    border-right: $pp-border;
    min-height: 100%;

    .options {
      padding-left: 8px;

      .dropdown-content {
        min-width: 238px;

        li {
          &:first-child {
            a {
              i {
                position: relative;
                top: -5px;
                margin: 0;
                float: right;
              }
            }
          }
          a {
            @include font(rgba(0, 0, 0, 0.87), 1.33, 15px);
          }
        }
      }

      a.dropdown-button {
        @include font($pp-grey-darken, 1.2, 15px);
        i {
          position: relative;
          top: 6px;
          left: 8px;
          color: #000;
        }
      }
    }

    .head {
      padding: 8px;

      .close {
        i {
          cursor: pointer;
        }
      }
    }

    .content {
      .script {
        padding: 0 16px;

        .head {
          @include font($pp-grey-darken, 1.54, 13px, 500);
          margin: 0;
          padding: 16px 0 4px 0;
        }

        .message {
          @include font($pp-blue, 1.54);
          margin: 0;
          padding-bottom: 8px;
          cursor: pointer;

          &:last-child {
            padding-bottom: 0;
          }
        }

        .indent {
          padding-left:2em
        }
      }
    }
  }
}

.slide-vertical-enter-active {
  transition: all .3s ease;
}

.slide-vertical-leave-active {
  transition: all 1s ease;
}

.slide-vertical-enter, .slide-vertical-leave-to {
  transform: translateY(100%);
}